<template>
  <div ref="line" class="chart_box"></div>
</template>
<script>
import * as echarts from "echarts";
export default {
  name: "LineCharts",
  props: {
    xAxisData: Array,
  },
  data() {
    return {
      chart: null,
    };
  },
  mounted() {
    this.init();
    // 监听窗口的 resize 事件，调用图表的 resize 方法实现自适应
    window.addEventListener("resize", this.handleResize);
  },
  beforeDestroy() {
    // 在组件销毁前移除 resize 事件监听
    window.removeEventListener("resize", this.handleResize);
  },
  methods: {
    init() {
      this.chart = echarts.init(this.$refs.line);
      var option = {
        tooltip: {
          show: false,
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {},
          },
        },
        legend: {
          show: true,
          icon: "rect",
          right: 20,
          itemWidth: 6,
          itemHeight: 6,
          textStyle: {
            color: function (params) {
              return params.color; // 使用系列的颜色作为文字颜色
            },
          },
        },
        toolbox: {
          show: false,
        },
        grid: {
          left: 20,
          right: 20,
          bottom: 20,
          containLabel: true,
          top: 20,
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: false,
            splitLine: {
              show: true, // 显示竖线网格
              lineStyle: {
                color: "rgba(74, 80, 109, 1)", // 竖线网格的颜色
              },
            },
            axisLabel: {
              textStyle: {
                color: "rgba(199, 207, 243, 1)", // 设置横轴标签的颜色
              },
            },
            offset: 5,
            data: this.xAxisData
              ? this.xAxisData
              : ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
          },
        ],
        yAxis: [
          {
            type: "value",
            splitLine: {
              show: true, // 显示竖线网格
              lineStyle: {
                color: "rgba(74, 80, 109, 1)", // 竖线网格的颜色
              },
            },
            axisLabel: {
              textStyle: {
                color: "rgba(199, 207, 243, 1)", // 设置横轴标签的颜色
              },
            },
            axisLine: {
              show: false,
            },
          },
        ],
        series: [
          {
            name: "Line 1",
            type: "line",
            smooth: true,
            showSymbol: false,
            areaStyle: {
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                { offset: 0, color: "rgba(0, 237, 255, 0.50)" },
                { offset: 1, color: "rgba(0, 237, 255, 0)" },
              ]),
            },
            emphasis: {
              focus: "series",
            },
            data: [140, 232, 101, 264, 90, 340, 250],
            markLine: {
              data: [
                {
                  yAxis: 300,
                  label: {
                    position: "insideStartTop",
                    show: true,
                    color: "#FF3B4E",
                    fontWeight: 500,
                  },
                  lineStyle: { color: "red", type: "dashed", lineCap: "butt" },
                },
              ],
            },
          },
          {
            name: "Line 2",
            type: "line",
            // stack: "Total",
            smooth: true,
            showSymbol: false,
            areaStyle: {
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                {
                  offset: 0,
                  color: "rgb(0, 221, 255)",
                },
                {
                  offset: 1,
                  color: "rgb(77, 119, 255)",
                },
              ]),
            },
            emphasis: {
              focus: "series",
            },
            data: [120, 282, 111, 234, 220, 340, 310],
          },
        ],
      };
      this.chart.setOption(option);
    },
    handleResize() {
      // 在窗口大小变化时调用图表的 resize 方法
      if (this.chart) {
        this.chart.resize();
      }
    },
  },
};
</script>

<style scoped>
.chart_box {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 0.235rem;
  box-sizing: border-box;
}
</style>