<template>
  <div class="page flex-col">
    <div class="group_1 flex-col">
      <div class="group_2 flex-col">
        <div class="block_1 flex-col justify-between">
          <div class="group_3 flex-col justify-end">
            <div class="group_4 flex-row">
              <div class="image-wrapper_1 flex-col align-center">
                <img
                  class="image_1"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng26c6bc9dff4bab1214fafa9c84b91aea40326d7c93f82411c31228fe20f25fd5.png"
                />
              </div>
              <div class="image-wrapper_2 flex-col align-center">
                <img
                  class="label_1"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng30c418f404553b4ad40c0fc979d1f31cdfa0b791f81300a32e3a6c0f234c8921.png"
                />
              </div>
              <DateComponent class="text_1" />
              <WeekComponent class="text_2" />
              <TimeComponent class="text_3" />
              <!-- <span class="text_1">2023.07.03</span>
              <span class="text_2">星期一</span>
              <span class="text_3">15:21:06</span> -->
              <div class="section_1 flex-row">
                <img
                  class="label_2"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPnge3517ad951d2744c1894f48681bd5c9210c69946de29f5fb0b8931e986dac008.png"
                />
                <!-- <span class="text_4">返回</span> -->
                <GoPageComponent class="text_4" title="返回" urlStr="/shouye" />
                <img
                  class="label_3"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngfa967cc506e4ac42e52a0809cd2771253fee018790993a9637abeed85000c4b7.png"
                />
                <!-- <span class="text_5">全屏</span> -->
                <ScreenFull class="text_5" />
              </div>
            </div>
            <div class="group_5 flex-col"></div>
            <img
              class="image_2"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng079e4f4832f4306d30df25083b4f6e39c65f0734a55ba0bff4e51f0978bce2a4.png"
            />
            <div class="group_6 flex-col">
              <div class="box_1 flex-col">
                <div class="box_2 flex-col"></div>
                <div class="box_3 flex-col"></div>
                <div class="box_4 flex-col"></div>
                <div class="box_5 flex-col"></div>
              </div>
            </div>
            <div class="group_7 flex-col">
              <div class="box_6 flex-row justify-between">
                <img
                  class="label_4"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng09e3b4647d70327dd795735870a24fb6d72a24d505476af95586c7f9d582eb12.png"
                />
                <span class="text_6">数据汇聚监控</span>
              </div>
              <div class="box_7 flex-col">
                <div class="block_2 flex-col">
                  <div class="group_8 flex-col"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="group_9 flex-col">
            <div class="block_3 flex-row">
              <div class="image-wrapper_3 flex-col">
                <img
                  class="thumbnail_1"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng7ebb7b81236ea6e7894b1b21213a20bd09c64908b9cd08313b74007501e73498.png"
                />
              </div>
              <span class="text_7">工程数据库&nbsp;.&nbsp;工程信息表</span>
              <div class="box_8 flex-row justify-end">
                <!-- <span class="text_8">返回列表</span> -->
                <GoPageComponent
                  class="text_8"
                  title="返回列表"
                  urlStr="/shouye"
                />
                <img
                  class="thumbnail_2"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngea77c310f7033dafb7fe8724486e2f5c005ec26d19b880df5f97a6656bd6de0e.png"
                />
              </div>
            </div>
            <img
              class="image_3"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng9b7303c96db89883f0bd27e587a35d64f675c704e86afd38d0b71d48e4d85858.png"
            />
            <div class="block_4 flex-row justify-between">
              <div class="block_5 flex-col">
                <div class="section_2 flex-row">
                  <div class="image-text_1 flex-col justify-between">
                    <div class="text-wrapper_1 flex-col">
                      <span class="text_9">{{ taskRunNum }}</span>
                    </div>
                    <span class="text-group_1">任务运行总次数</span>
                  </div>
                  <div class="group_10 flex-col">
                    <div class="group_11 flex-col"></div>
                    <div class="group_12 flex-col">
                      <div class="image-wrapper_4 flex-col">
                        <img
                          class="image_4"
                          referrerpolicy="no-referrer"
                          src="./assets/img/SketchPnged4f024e2133359a78afe998b8ecf74dbc6e5ef740caa4972c852ca59e8ec756.png"
                        />
                      </div>
                      <img
                        class="image_5"
                        referrerpolicy="no-referrer"
                        src="./assets/img/SketchPng6212f5080d25f99367fcaca960676a120f9eb6b5cd8b077077cbf0c21e915a67.png"
                      />
                      <div class="block_6 flex-col">
                        <div class="group_13 flex-row">
                          <div class="text-group_2 flex-col justify-between">
                            <span class="text_10">81%</span>
                            <span class="text_11">对账成功率</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section_3 flex-col"></div>
                <div
                  class="section_4 flex-row"
                  :style="backgroundStyle(status_1, BgImg_1, BgImg)"
                >
                  <img
                    class="label_5"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng12fa74877f428a5d0a42c75cf88b55c14cd8a6df0bf2fdb5fb9eec2c1f8ea3f3.png"
                  />
                  <span class="text_12">汇聚任务状态</span>
                  <div class="text-wrapper_2 flex-col">
                    <span class="text_13">定时对账任务</span>
                  </div>
                  <img
                    v-if="runStatus"
                    class="thumbnail_3"
                    referrerpolicy="no-referrer"
                    :src="runStatus === 1 ? RunImg : PauseImg"
                  />
                  <span class="text_14">{{
                    runStatus === 1 ? "运行中" : runStatus === 2 ? "暂停" : ""
                  }}</span>
                  <img
                    class="thumbnail_4"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPnge8443d9033cf30d927c6980f678807d997f47012e7c8e799f4ac605cbd21deda.png"
                  />
                  <span class="text_15">对账失败</span>
                </div>
              </div>
              <div class="block_7 flex-col">
                <div
                  class="group_14 flex-row"
                  :style="backgroundStyle(status_2, BgImg_1, BgImg)"
                >
                  <img
                    class="label_6"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng5886392b2da7910b428e420051952d9d600b6e8a3adba9a7fe70ed5a365ba5ad.png"
                  />
                  <span class="text_16">汇聚对账监控</span>
                  <div class="box_9 flex-row">
                    <span class="text_17">对账发起时间&nbsp;00:00</span>
                    <img
                      class="thumbnail_5"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPngcb59b295e5b782c5f1e08e8f7ee5fec7d427ca0d1c12e06c2d5b3e62767661f5.png"
                    />
                  </div>
                  <img
                    class="thumbnail_6"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPnge8443d9033cf30d927c6980f678807d997f47012e7c8e799f4ac605cbd21deda.png"
                  />
                  <span class="text_18">异常</span>
                </div>
                <div class="group_15 flex-row justify-between">
                  <span class="text_19">24点</span>
                  <img
                    class="image_6"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng480e73dea906f3d4e504aebb0bf0b92464bb6d822b2c182599c76349f94d81c7.png"
                  />
                </div>
                <div class="group_16 flex-row justify-between">
                  <span class="text_20">18点</span>
                  <img
                    class="image_7"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng480e73dea906f3d4e504aebb0bf0b92464bb6d822b2c182599c76349f94d81c7.png"
                  />
                </div>
                <div class="group_17 flex-row justify-between">
                  <span class="text_21">12点</span>
                  <img
                    class="image_8"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng480e73dea906f3d4e504aebb0bf0b92464bb6d822b2c182599c76349f94d81c7.png"
                  />
                </div>
                <div class="group_18 flex-row justify-between">
                  <span class="text_22">6点</span>
                  <img
                    class="image_9"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng480e73dea906f3d4e504aebb0bf0b92464bb6d822b2c182599c76349f94d81c7.png"
                  />
                </div>
                <div class="group_19 flex-row justify-between">
                  <span class="text_23">0点</span>
                  <img
                    class="image_10"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng480e73dea906f3d4e504aebb0bf0b92464bb6d822b2c182599c76349f94d81c7.png"
                  />
                </div>
                <div class="text-wrapper_3 flex-row">
                  <span class="text_24">6月1日</span>
                  <span class="text_25">6月2日</span>
                  <span class="text_26">6月3日</span>
                  <span class="text_27">6月4日</span>
                  <span class="text_28">6月5日</span>
                  <span class="text_29">6月6日</span>
                  <span class="text_30">6月7日</span>
                </div>
                <div class="group_20 flex-col"></div>
                <img
                  class="image_11"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngafa8b30ba4a685118b3f82b5fe3fac76d67b567b30b5676500d3b95e7589506f.png"
                />
                <img
                  class="image_12"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngd6fe2b759b09197e616b2485d39da462a25743c71264f6ebde939fedeb8ca1e0.png"
                />
                <img
                  class="image_13"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngd6fe2b759b09197e616b2485d39da462a25743c71264f6ebde939fedeb8ca1e0.png"
                />
                <img
                  class="image_14"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngd6fe2b759b09197e616b2485d39da462a25743c71264f6ebde939fedeb8ca1e0.png"
                />
                <div class="group_21 flex-col">
                  <img
                    class="image_15"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPngc7bc8ba1129b0a69deb3d251d22bd6dc6da09fc974e497f9ad71d9d8b60fca3f.png"
                  />
                  <span class="text_31">16点</span>
                  <img
                    class="image_16"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPngfa649fa7590d581f1555d00ffd420f695bfd78bfdbc3a517e1be6587d9fbd949.png"
                  />
                  <img
                    class="image_17"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPngd6fe2b759b09197e616b2485d39da462a25743c71264f6ebde939fedeb8ca1e0.png"
                  />
                  <img
                    class="image_18"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPngd6fe2b759b09197e616b2485d39da462a25743c71264f6ebde939fedeb8ca1e0.png"
                  />
                </div>
              </div>
            </div>
            <div class="block_8 flex-row justify-between">
              <div class="box_10 flex-col">
                <div
                  class="group_22 flex-row"
                  :style="backgroundStyle(status_3, BgImg_1, BgImg)"
                >
                  <div class="image-text_2 flex-row justify-between">
                    <img
                      class="label_7"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPng69dd5bea6ef9212a0ebb27fa930c1283e962d3857d4f702b6cd3d566a491f437.png"
                    />
                    <span class="text-group_3">汇聚任务总时长</span>
                  </div>
                </div>
                <div class="group_23 flex-row justify-between">
                  <div class="text-group_4 flex-col justify-between">
                    <span class="text_32">分钟</span>
                    <span class="text_33">30</span>
                  </div>
                  <img
                    class="image_19"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng634e9f4ce03c8015c1f8171e9f8041b9ad62b9bbf2db35ccfeb6fa77cc1ebd82.png"
                  />
                </div>
                <div class="group_24 flex-row">
                  <span class="text_34">25</span>
                  <span class="text_35">23</span>
                  <img
                    class="image_20"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng480e73dea906f3d4e504aebb0bf0b92464bb6d822b2c182599c76349f94d81c7.png"
                  />
                </div>
                <div class="group_25 flex-row justify-between">
                  <span class="text_36">20</span>
                  <img
                    class="image_21"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng480e73dea906f3d4e504aebb0bf0b92464bb6d822b2c182599c76349f94d81c7.png"
                  />
                </div>
                <div class="group_26 flex-row justify-between">
                  <span class="text_37">15</span>
                  <img
                    class="image_22"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng480e73dea906f3d4e504aebb0bf0b92464bb6d822b2c182599c76349f94d81c7.png"
                  />
                </div>
                <div class="group_27 flex-row justify-between">
                  <span class="text_38">10</span>
                  <img
                    class="image_23"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng480e73dea906f3d4e504aebb0bf0b92464bb6d822b2c182599c76349f94d81c7.png"
                  />
                </div>
                <div class="group_28 flex-row justify-between">
                  <span class="text_39">05</span>
                  <img
                    class="image_24"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng480e73dea906f3d4e504aebb0bf0b92464bb6d822b2c182599c76349f94d81c7.png"
                  />
                </div>
                <div class="text-wrapper_4 flex-row">
                  <span class="text_40">6月1日</span>
                  <span class="text_41">6月2日</span>
                  <span class="text_42">6月3日</span>
                  <span class="text_43">6月4日</span>
                  <span class="text_44">6月5日</span>
                  <span class="text_45">6月6日</span>
                  <span class="text_46">6月7日</span>
                </div>
                <div class="group_29 flex-col"></div>
                <img
                  class="image_25"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng8fa12d2a993aacdf5ed3a53666caa2ac3e2cc6082faf3a97149a104085270be8.png"
                />
                <img
                  class="image_26"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng5ba37eb826df790f41bd04b56a75495932f909cf84faf649cf34b964409d93b2.png"
                />
                <img
                  class="image_27"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng5ba37eb826df790f41bd04b56a75495932f909cf84faf649cf34b964409d93b2.png"
                />
                <img
                  class="image_28"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng5ba37eb826df790f41bd04b56a75495932f909cf84faf649cf34b964409d93b2.png"
                />
                <div class="image-wrapper_5 flex-col">
                  <img
                    class="image_29"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng5ba37eb826df790f41bd04b56a75495932f909cf84faf649cf34b964409d93b2.png"
                  />
                  <img
                    class="image_30"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng5ba37eb826df790f41bd04b56a75495932f909cf84faf649cf34b964409d93b2.png"
                  />
                </div>
                <img
                  class="image_31"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngfa649fa7590d581f1555d00ffd420f695bfd78bfdbc3a517e1be6587d9fbd949.png"
                />
              </div>
              <div
                class="box_11 flex-row"
                :style="backgroundStyle(status_4, BgImg_1, BgImg)"
              >
                <div class="image-text_3 flex-row justify-between">
                  <img
                    class="label_8"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng5188df24283b194243cd39adea32c7f12fcc06e6ab69e3219627d3f26abf55a7.png"
                  />
                  <span class="text-group_5">汇聚任务完成时间</span>
                </div>
              </div>
            </div>
            <div class="block_9 flex-col">
              <div class="block_10 flex-row justify-between">
                <span class="text_47">24点</span>
                <img
                  class="image_32"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng480e73dea906f3d4e504aebb0bf0b92464bb6d822b2c182599c76349f94d81c7.png"
                />
              </div>
              <div class="block_11 flex-row justify-between">
                <span class="text_48">18点</span>
                <img
                  class="image_33"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng480e73dea906f3d4e504aebb0bf0b92464bb6d822b2c182599c76349f94d81c7.png"
                />
              </div>
              <div class="block_12 flex-row justify-between">
                <span class="text_49">12点</span>
                <img
                  class="image_34"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng480e73dea906f3d4e504aebb0bf0b92464bb6d822b2c182599c76349f94d81c7.png"
                />
              </div>
              <div class="block_13 flex-row justify-between">
                <span class="text_50">6点</span>
                <img
                  class="image_35"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng480e73dea906f3d4e504aebb0bf0b92464bb6d822b2c182599c76349f94d81c7.png"
                />
              </div>
              <div class="block_14 flex-row justify-between">
                <span class="text_51">0点</span>
                <img
                  class="image_36"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng480e73dea906f3d4e504aebb0bf0b92464bb6d822b2c182599c76349f94d81c7.png"
                />
              </div>
              <div class="text-wrapper_5 flex-row">
                <span class="text_52">6月1日</span>
                <span class="text_53">6月2日</span>
                <span class="text_54">6月3日</span>
                <span class="text_55">6月4日</span>
                <span class="text_56">6月5日</span>
                <span class="text_57">6月6日</span>
                <span class="text_58">6月7日</span>
              </div>
              <div class="block_15 flex-col"></div>
              <img
                class="image_37"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngafa8b30ba4a685118b3f82b5fe3fac76d67b567b30b5676500d3b95e7589506f.png"
              />
              <img
                class="image_38"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngd6fe2b759b09197e616b2485d39da462a25743c71264f6ebde939fedeb8ca1e0.png"
              />
              <img
                class="image_39"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngd6fe2b759b09197e616b2485d39da462a25743c71264f6ebde939fedeb8ca1e0.png"
              />
              <img
                class="image_40"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngd6fe2b759b09197e616b2485d39da462a25743c71264f6ebde939fedeb8ca1e0.png"
              />
              <div class="block_16 flex-col">
                <img
                  class="image_41"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngc7bc8ba1129b0a69deb3d251d22bd6dc6da09fc974e497f9ad71d9d8b60fca3f.png"
                />
                <span class="text_59">16点</span>
                <img
                  class="image_42"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngfa649fa7590d581f1555d00ffd420f695bfd78bfdbc3a517e1be6587d9fbd949.png"
                />
                <img
                  class="image_43"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngd6fe2b759b09197e616b2485d39da462a25743c71264f6ebde939fedeb8ca1e0.png"
                />
                <img
                  class="image_44"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngd6fe2b759b09197e616b2485d39da462a25743c71264f6ebde939fedeb8ca1e0.png"
                />
              </div>
            </div>
            <div class="block_17 flex-col"></div>
            <div class="block_18 flex-col">
              <div class="block_19 flex-col">
                <div class="group_30 flex-col">
                  <div class="image-wrapper_6 flex-col">
                    <img
                      class="thumbnail_7"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPng88197cd2b9c3dc48251be6a5c6ebf2c885b7a67ed724b9ebb5221afaddbf8dd5.png"
                    />
                  </div>
                </div>
              </div>
            </div>
            <img
              class="image_45"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng44781d68967be8424688cb5b22a32b8f68107c69835e4708f7c5fed4ed02b10d.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BgImg_1 from "./assets/img/SketchPng216df91848e7f8704bec7af636c527c49f3ef64b376166a5d265526dc99e7e21.png";
import BgImg from "./assets/img/SketchPng8868aa113dfba38c231acea60b9c028ca85645aa283085e712b7bf3f118dd01d.png";
import RunImg from "./assets/img/SketchPngef4c44b562f2c3ce9e06371f3ca5eb26458793605e85ab685659bbeeb6f677ae.png";
import PauseImg from "./assets/img/SketchPng8ce1a2885c11f465d2a0c837c3b47ef6feca318dde753049f6d5af607a02baff.png";

export default {
  data() {
    return {
      taskRunNum: 120,
      status_1: true,
      status_2: true,
      status_3: false,
      status_4: false,
      BgImg_1,
      BgImg,
      RunImg,
      PauseImg,
      runStatus: 0, //runing 1 Pause 2 没有显示 0
    };
  },
  methods: {},
};
</script>
<style scoped lang="less" src="./assets/index.rem.less" />