<template>
  <div class="block">
    <div class="box_13 flex-col block_title"></div>
  </div>
</template>
<script>
export default {
  nam: "RightBlock",
  methods: {},
};
</script>
<style lang="less" scope>
.block_title {
  height: 0.23rem;
  background: url('') 100% no-repeat;
  background-size: 100% 100%;
  width: 2.808rem;
}
</style>