<template>
  <span @click="toggleFullScreen">
    {{ isFullScreen ? "退出" : "全屏" }}
  </span>
</template>
<script>
import screenfull from "screenfull";

export default {
  name: "ScreenFull",
  data() {
    return {
      isFullScreen: false,
    };
  },
  methods: {
    toggleFullScreen() {
      if (!screenfull.isEnabled) {
        screenfull.toggle();
        this.isFullScreen = !this.isFullScreen;
      }
    },
    exitFullScreen() {
      if (this.isFullScreen) {
        screenfull.exit();
        this.isFullScreen = false;
      }
    },
  },
  mounted() {
    if (!screenfull.isEnabled) {
      screenfull.on("change", () => {
        this.isFullScreen = screenfull.isFullscreen;
      });
      // 监听按下Esc键退出全屏
      document.addEventListener("keydown", (event) => {
        if (event.key === "Escape") {
          this.exitFullScreen();
        }
      });
    }
  },
  beforeDestroy() {
    // 解绑按下Esc键退出全屏事件
    document.removeEventListener("keydown", this.exitFullScreen);
  },
};
</script>
<style scoped>
span {
  cursor: pointer !important;
}
</style>
