.page {
  position: relative;
  width: 100vw;
  height: 56.25vw;
  overflow: hidden;
  .group_1 {
    height: 56.25vw;
    background: url(./img/SketchPngbb6059bde37e68ee3ee2aa8c68602bde41d3d4a08c581290a475df0ad9cbd256.png)
      100% no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    .group_2 {
      height: 56.25vw;
      background: url(./img/SketchPng003d839e0e4f6604a62d8d019e74e6879ac55ac571dfb59c7c9299e1136667b2.png)
        100% no-repeat;
      background-size: 100% 100%;
      width: 100vw;
      .block_1 {
        background-color: rgba(8, 12, 36, 0.7);
        border-radius: 8px;
        width: 100vw;
        height: 56.25vw;
        .group_3 {
          position: relative;
          width: 100vw;
          height: 4.22vw;
          background: url(./img/SketchPng8bfb9525b04946b9ee990ba895bbbf2fe1d617ecbe0fe17f1eb1499633546d0b.png)
            100% no-repeat;
          background-size: 100% 100%;
          .group_4 {
            width: 73.23vw;
            height: 2.3vw;
            margin: 1.09vw 0 0 26.77vw;
            .image-wrapper_1 {
              height: 2.09vw;
              background: url(./img/SketchPng7c0b08efd057f8b7d0a30415e72be9e4b4bebfb50e056712e01d0502b1ce3572.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-top: 0.11vw;
              width: 11.52vw;
              .image_1 {
                width: 11.52vw;
                height: 2.09vw;
              }
            }
            .image-wrapper_2 {
              height: 1.62vw;
              background: url(./img/SketchPnge0121ad55ee7efdab67077a35865dc2d9f0d20dee6f501fc4b053bffbf3c31f7.png)
                0vw 0vw no-repeat;
              background-size: 2.44vw 1.61vw;
              width: 2.4vw;
              margin: 0.57vw 0 0 20.05vw;
              .label_1 {
                width: 2.4vw;
                height: 1.62vw;
              }
            }
            .text_1 {
              background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0,
                rgba(135, 145, 206, 1) 100%
              );
              width: 5.89vw;
              height: 1.2vw;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 1.04vw;
              font-family: Galvji;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 1.2vw;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              margin: 0.72vw 0 0 3.12vw;
            }
            .text_2 {
              background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0,
                rgba(135, 145, 206, 1) 100%
              );
              width: 2.82vw;
              height: 1.31vw;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 0.93vw;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 1.31vw;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              margin: 0.67vw 0 0 1.25vw;
            }
            .text_3 {
              width: 6.98vw;
              height: 1.98vw;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 1.66vw;
              font-family: Galvji;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 1.98vw;
              margin: 0.1vw 0 0 1.25vw;
            }
            .section_1 {
              width: 13.96vw;
              height: 2.3vw;
              background: url(./img/SketchPng1e4d73228a4b718bc3dc4e28d9c5f5c1a8fc66587312ac4e714816ee1f16709a.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-left: 4.02vw;
              .label_2 {
                width: 1.31vw;
                height: 1.15vw;
                margin: 0.62vw 0 0 2.29vw;
              }
              .text_4 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 1.88vw;
                height: 1.31vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.93vw;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 1.31vw;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0.52vw 0 0 0.78vw;
              }
              .label_3 {
                width: 1.25vw;
                height: 1.25vw;
                margin: 0.57vw 0 0 1.66vw;
              }
              .text_5 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 1.88vw;
                height: 1.31vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.93vw;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 1.31vw;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0.52vw 2.08vw 0 0.83vw;
              }
            }
          }
          .group_5 {
            background-color: rgba(138, 147, 201, 0.3);
            border-radius: 2px;
            width: 1.93vw;
            height: 0.16vw;
            margin: 0.46vw 0 0 95.98vw;
          }
          .image_2 {
            width: 100vw;
            height: 0.06vw;
            margin-top: 0.16vw;
          }
          .group_6 {
            height: 0.99vw;
            background: url(./img/SketchPng1031b39c26628ea3f673aa44e678ff5b0307d28c1fdcefc3144c79b6ad8ccf1a.png)
              0vw -0.06vw no-repeat;
            background-size: 93.9vw 1.14vw;
            width: 93.91vw;
            position: absolute;
            left: 0;
            top: 3.7vw;
            .box_1 {
              position: relative;
              width: 36.67vw;
              height: 0.47vw;
              background: url(./img/SketchPng4f3f5454a09f7b4e228e66fa142d41b47ddce486367077f069311523b769af74.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 0.26vw 0 0 33.54vw;
              .box_2 {
                background-color: rgba(138, 147, 201, 0.4);
                border-radius: 2px;
                position: absolute;
                left: 30.32vw;
                top: -0.1vw;
                width: 1.05vw;
                height: 0.16vw;
              }
              .box_3 {
                background-color: rgba(138, 147, 201, 0.2);
                border-radius: 2px;
                position: absolute;
                left: 31.88vw;
                top: -0.1vw;
                width: 1.05vw;
                height: 0.16vw;
              }
              .box_4 {
                background-color: rgba(138, 147, 201, 0.1);
                border-radius: 2px;
                position: absolute;
                left: 33.44vw;
                top: -0.1vw;
                width: 1.05vw;
                height: 0.16vw;
              }
              .box_5 {
                background-color: rgba(138, 147, 201, 0.3);
                border-radius: 2px;
                position: absolute;
                left: 5.58vw;
                top: -0.1vw;
                width: 1.93vw;
                height: 0.16vw;
              }
            }
          }
          .group_7 {
            position: absolute;
            left: -4.68vw;
            top: 0.42vw;
            width: 27.35vw;
            height: 3.75vw;
            background: url(./img/SketchPng23ac035b487469d5468183e970040279c5d221a880a47ba092820927c4face04.png)
              100% no-repeat;
            background-size: 100% 100%;
            .box_6 {
              width: 11.83vw;
              height: 2.19vw;
              margin: 0.52vw 0 0 7.18vw;
              .label_4 {
                width: 1.88vw;
                height: 2.19vw;
              }
              .text_6 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(199, 207, 243, 1) 100%
                );
                width: 8.75vw;
                height: 2.09vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 1.45vw;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 2.09vw;
                margin-top: 0.11vw;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
            .box_7 {
              height: 0.89vw;
              background: url(./img/SketchPng35d24bc1167d062a3550f34ee9a0a1ef5219ae697bd5ecfca023c5777c82e810.png)
                100% no-repeat;
              background-size: 100% 100%;
              width: 13.75vw;
              margin: 0.05vw 0 0.1vw 8.9vw;
              .block_2 {
                height: 0.58vw;
                background: url(./img/SketchPngd30118be47d2468d7af566c0316736409d70476c34f6ab8d2b5e7e9fcfdcb000.png) -0.84vw -0.84vw
                  no-repeat;
                background-size: 2.6vw 2.23vw;
                width: 0.94vw;
                margin: 0.26vw 0 0 6.35vw;
                .group_8 {
                  width: 0.53vw;
                  height: 0.32vw;
                  background: url(./img/SketchPng13a67309e5940cb64f0e9ff1bcf6ededb4c5df0a6478368b671429acdd76e31c.png) -0.32vw -0.37vw
                    no-repeat;
                  background-size: 1.14vw 1.04vw;
                  margin: 0.05vw 0 0 0.2vw;
                }
              }
            }
          }
        }
        .group_9 {
          background-color: rgba(2, 12, 59, 0.8);
          position: relative;
          width: 100vw;
          height: 51.41vw;
          margin-top: 0.63vw;
          .block_3 {
            width: 95.84vw;
            height: 2.19vw;
            margin: 1.14vw 0 0 2.08vw;
            .image-wrapper_3 {
              height: 2.09vw;
              background: url(./img/SketchPng322bb883e9b9c1c28850313a6c5119313e0651f8b468d4558a85afe360ef9738.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-top: 0.11vw;
              width: 11.52vw;
              .thumbnail_1 {
                width: 0.84vw;
                height: 0.47vw;
                margin: 1.61vw 0 0 1.51vw;
              }
            }
            .text_7 {
              width: 11.41vw;
              height: 1.46vw;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 1.04vw;
              font-family: PingFangSC-Medium;
              font-weight: 500;
              text-align: left;
              white-space: nowrap;
              line-height: 1.46vw;
              margin: 0.2vw 0 0 -7.08vw;
            }
            .box_8 {
              width: 11.52vw;
              height: 2.09vw;
              background: url(./img/SketchPng26c6bc9dff4bab1214fafa9c84b91aea40326d7c93f82411c31228fe20f25fd5.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-left: 68.49vw;
              .text_8 {
                width: 3.34vw;
                height: 1.15vw;
                overflow-wrap: break-word;
                color: rgba(0, 237, 255, 1);
                font-size: 0.83vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.15vw;
                margin: 0.41vw 0 0 6.71vw;
              }
              .thumbnail_2 {
                width: 0.84vw;
                height: 0.84vw;
                margin: 0.57vw 0 0 0.62vw;
              }
            }
          }
          .image_3 {
            width: 95.84vw;
            height: 0.06vw;
            margin-left: 2.09vw;
          }
          .block_4 {
            width: 95.84vw;
            height: 21.72vw;
            margin: 1.45vw 0 0 2.08vw;
            .block_5 {
              position: relative;
              width: 47.09vw;
              height: 21.72vw;
              background: url(./img/SketchPnge7b734e8e1d5357e027826b19bbc5a4cd63172ca19319b11d87dc64c2470eaf3.png)
                100% no-repeat;
              background-size: 100% 100%;
              .section_2 {
                width: 39.17vw;
                height: 19.33vw;
                margin: 1.25vw 0 0 3.12vw;
                .image-text_1 {
                  width: 20.16vw;
                  height: 19.33vw;
                  .text-wrapper_1 {
                    height: 17.87vw;
                    background: url(./img/SketchPng856ff74754b14f5113c10e63061aa02c2558439c5c19db089db520f7ced3576f.png) -0.06vw
                      0vw no-repeat;
                    background-size: 20.2vw 17.91vw;
                    width: 20.16vw;
                    .text_9 {
                      background-image: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 1) 0,
                        rgba(102, 244, 255, 1) 100%
                      );
                      width: 5.42vw;
                      height: 4.38vw;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 3.75vw;
                      font-family: DINAlternate-Bold;
                      font-weight: 700;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 4.38vw;
                      -webkit-background-clip: text;
                      -webkit-text-fill-color: transparent;
                      margin: 3.8vw 0 0 7.39vw;
                    }
                  }
                  .text-group_1 {
                    width: 7.3vw;
                    height: 1.46vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 1.04vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.46vw;
                    margin-left: 6.46vw;
                  }
                }
                .group_10 {
                  height: 14.9vw;
                  border: 1.18494623655914px solid;
                  background: url(./img/SketchPng79f296cfc4447096a56d5f97c5189b741cfc93bc5ecfe6cf50aad3964a859ec1.png)
                    0vw 0vw no-repeat;
                  background-size: 14.84vw 14.79vw;
                  width: 14.9vw;
                  position: relative;
                  margin: 3.33vw -0.05vw 0 4.16vw;
                  .group_11 {
                    width: 12.71vw;
                    height: 12.71vw;
                    background: url(./img/SketchPng1a828f9adaec66d0360e56c2b85370a67bb62992df55f6e01e513feef8768e3e.png)
                      0vw 0vw no-repeat;
                    background-size: 12.76vw 12.7vw;
                    margin: 1.09vw 0 0 1.14vw;
                  }
                  .group_12 {
                    height: 13.49vw;
                    background: url(./img/SketchPng6e7b46dac7667e1006719503538472235020791818cc5b69e16163db50e9f046.png)
                      0vw -0.06vw no-repeat;
                    background-size: 13.54vw 13.54vw;
                    width: 13.49vw;
                    position: absolute;
                    left: 0.68vw;
                    top: 0.58vw;
                    .image-wrapper_4 {
                      box-shadow: inset -28px -5px 48px 0px
                        rgba(0, 237, 255, 0.06);
                      background-image: url(./img/6b99471cfb6e470790dfbffa1af18942_mergeImage.png);
                      height: 10.06vw;
                      width: 14.74vw;
                      margin: 1.71vw 0 0 -0.31vw;
                      .image_4 {
                        width: 7.56vw;
                        height: 7.66vw;
                        margin: 1.25vw 0 0 3.22vw;
                      }
                    }
                    .image_5 {
                      position: absolute;
                      left: 5.63vw;
                      top: 1.72vw;
                      width: 6.31vw;
                      height: 10.16vw;
                    }
                    .block_6 {
                      border-radius: 50%;
                      height: 13.55vw;
                      border: 4.739784946236559px solid rgba(72, 83, 132, 1);
                      width: 13.55vw;
                      position: absolute;
                      left: 0.21vw;
                      top: 0.21vw;
                      .group_13 {
                        width: 12.82vw;
                        height: 12.82vw;
                        background: url(./img/SketchPng4b49c947743ad772a1ecde0e87e315c4f54c8b0e57e4ebc0cffa8518813c6f17.png) -0.27vw -0.27vw
                          no-repeat;
                        background-size: 13.38vw 13.33vw;
                        margin: 0.36vw 0 0 0.36vw;
                        .text-group_2 {
                          width: 4.85vw;
                          height: 5.16vw;
                          margin: 4.06vw 0 0 4.16vw;
                          .text_10 {
                            text-shadow: 0px 0px 7px rgba(166, 241, 245, 0.56);
                            width: 4.64vw;
                            height: 3.65vw;
                            overflow-wrap: break-word;
                            color: rgba(0, 237, 255, 1);
                            font-size: 3.07vw;
                            font-family: DINAlternate-Bold;
                            font-weight: 700;
                            text-align: left;
                            white-space: nowrap;
                            line-height: 3.65vw;
                            margin-left: 0.21vw;
                          }
                          .text_11 {
                            width: 4.69vw;
                            height: 1.31vw;
                            overflow-wrap: break-word;
                            color: rgba(255, 255, 255, 1);
                            font-size: 0.93vw;
                            font-family: PingFangSC-Medium;
                            font-weight: 500;
                            text-align: left;
                            white-space: nowrap;
                            line-height: 1.31vw;
                            margin-top: 0.21vw;
                          }
                        }
                      }
                    }
                  }
                }
              }
              .section_3 {
                background-color: rgba(69, 75, 105, 1);
                width: 1.1vw;
                height: 0.21vw;
                margin: 0.1vw 0 0.83vw 45.15vw;
              }
              .section_4 {
                position: absolute;
                left: 0;
                top: 0;
                width: 47.09vw;
                height: 2.3vw;
                background: url(./img/SketchPng216df91848e7f8704bec7af636c527c49f3ef64b376166a5d265526dc99e7e21.png)
                  0vw -0.06vw no-repeat;
                background-size: 47.08vw 2.34vw;
                .label_5 {
                  width: 1.25vw;
                  height: 1.46vw;
                  margin: 0.41vw 0 0 1.66vw;
                }
                .text_12 {
                  width: 6.25vw;
                  height: 1.46vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 1.04vw;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.46vw;
                  margin: 0.41vw 0 0 0.83vw;
                }
                .text-wrapper_2 {
                  height: 1.67vw;
                  background: url(./img/SketchPng46868e6ff35f6a77a2e3dbde52a322dfb6f1414501c44a965635200827631eaf.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 7.09vw;
                  margin: 0.31vw 0 0 0.83vw;
                  .text_13 {
                    width: 5vw;
                    height: 1.15vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.83vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.15vw;
                    margin: 0.26vw 0 0 1.04vw;
                  }
                }
                .thumbnail_3 {
                  width: 0.94vw;
                  height: 0.94vw;
                  margin: 0.57vw 0 0 1.25vw;
                }
                .text_14 {
                  width: 2.82vw;
                  height: 1.31vw;
                  overflow-wrap: break-word;
                  color: rgba(0, 237, 255, 1);
                  font-size: 0.93vw;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.31vw;
                  margin: 0.41vw 0 0 0.62vw;
                }
                .thumbnail_4 {
                  width: 0.94vw;
                  height: 0.84vw;
                  margin: 0.67vw 0 0 17.18vw;
                }
                .text_15 {
                  width: 3.75vw;
                  height: 1.31vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 0.93vw;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.31vw;
                  margin: 0.41vw 1.25vw 0 0.41vw;
                }
              }
            }
            .block_7 {
              position: relative;
              width: 47.09vw;
              height: 21.72vw;
              background: url(./img/SketchPnge7b734e8e1d5357e027826b19bbc5a4cd63172ca19319b11d87dc64c2470eaf3.png)
                100% no-repeat;
              background-size: 100% 100%;
              .group_14 {
                width: 47.09vw;
                height: 2.3vw;
                background: url(./img/SketchPng216df91848e7f8704bec7af636c527c49f3ef64b376166a5d265526dc99e7e21.png)
                  0vw -0.06vw no-repeat;
                background-size: 47.08vw 2.34vw;
                justify-content: flex-center;
                .label_6 {
                  width: 1.46vw;
                  height: 1.46vw;
                  margin: 0.46vw 0 0 1.66vw;
                }
                .text_16 {
                  width: 6.25vw;
                  height: 1.46vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 1.04vw;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.46vw;
                  margin: 0.46vw 0 0 0.83vw;
                }
                .box_9 {
                  width: 12.3vw;
                  height: 1.67vw;
                  background: url(./img/SketchPngaa4921f292b673faf47551f69d9b8e434799a4afa4dea1dfae3156cd486f7123.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  margin: 0.31vw 0 0 0.83vw;
                  .text_17 {
                    width: 7.5vw;
                    height: 1.15vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.83vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.15vw;
                    margin: 0.26vw 0 0 1.04vw;
                  }
                  .thumbnail_5 {
                    width: 0.73vw;
                    height: 0.42vw;
                    margin: 0.62vw 0.83vw 0 2.18vw;
                  }
                }
                .thumbnail_6 {
                  width: 0.94vw;
                  height: 0.84vw;
                  margin: 0.67vw 0 0 18.64vw;
                }
                .text_18 {
                  width: 1.88vw;
                  height: 1.31vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 0.93vw;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.31vw;
                  margin: 0.41vw 1.66vw 0 0.62vw;
                }
              }
              .group_15 {
                width: 43.75vw;
                height: 1.05vw;
                margin: 1.61vw 0 0 1.66vw;
                .text_19 {
                  width: 1.62vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                }
                .image_6 {
                  width: 41.31vw;
                  height: 0.06vw;
                  margin-top: 0.47vw;
                }
              }
              .group_16 {
                width: 43.65vw;
                height: 1.05vw;
                margin: 2.5vw 0 0 1.77vw;
                .text_20 {
                  width: 1.52vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                }
                .image_7 {
                  width: 41.31vw;
                  height: 0.06vw;
                  margin-top: 0.53vw;
                }
              }
              .group_17 {
                width: 43.65vw;
                height: 1.05vw;
                margin: 2.55vw 0 0 1.77vw;
                .text_21 {
                  width: 1.52vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                }
                .image_8 {
                  width: 41.31vw;
                  height: 0.06vw;
                  margin-top: 0.53vw;
                }
              }
              .group_18 {
                width: 43.34vw;
                height: 1.05vw;
                margin: 2.55vw 0 0 2.08vw;
                .text_22 {
                  width: 1.2vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                }
                .image_9 {
                  width: 41.31vw;
                  height: 0.06vw;
                  margin-top: 0.47vw;
                }
              }
              .group_19 {
                width: 43.34vw;
                height: 1.05vw;
                margin: 2.44vw 0 0 2.08vw;
                .text_23 {
                  width: 1.2vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                }
                .image_10 {
                  width: 41.31vw;
                  height: 0.06vw;
                  margin-top: 0.58vw;
                }
              }
              .text-wrapper_3 {
                width: 38.49vw;
                height: 1.05vw;
                margin: 0.26vw 0 0 3.12vw;
                .text_24 {
                  width: 2.24vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                }
                .text_25 {
                  width: 2.35vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                  margin-left: 3.44vw;
                }
                .text_26 {
                  width: 2.35vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                  margin-left: 3.75vw;
                }
                .text_27 {
                  width: 2.35vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                  margin-left: 3.75vw;
                }
                .text_28 {
                  width: 2.35vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                  margin-left: 3.75vw;
                }
                .text_29 {
                  width: 2.35vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                  margin-left: 3.7vw;
                }
                .text_30 {
                  width: 2.35vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                  margin-left: 3.81vw;
                }
              }
              .group_20 {
                background-color: rgba(69, 75, 105, 1);
                width: 1.1vw;
                height: 0.21vw;
                margin: 0.2vw 0 0.83vw 45.15vw;
              }
              .image_11 {
                position: absolute;
                left: 9.8vw;
                top: 4.43vw;
                width: 0.06vw;
                height: 14.28vw;
              }
              .image_12 {
                position: absolute;
                left: 28.08vw;
                top: 4.43vw;
                width: 0.06vw;
                height: 14.28vw;
              }
              .image_13 {
                position: absolute;
                left: 15.89vw;
                top: 4.43vw;
                width: 0.06vw;
                height: 14.28vw;
              }
              .image_14 {
                position: absolute;
                left: 34.17vw;
                top: 4.43vw;
                width: 0.06vw;
                height: 14.28vw;
              }
              .group_21 {
                position: absolute;
                left: 4.12vw;
                top: 5.73vw;
                width: 41.31vw;
                height: 12.97vw;
                background: url(./img/SketchPng713810ab1c07182be28dc9d3d89597c5720d88d5c3300a4416e6fc08eb32ae9c.png) -0.06vw
                  0vw no-repeat;
                background-size: 41.35vw 13.02vw;
                .image_15 {
                  width: 41.31vw;
                  height: 2.45vw;
                }
                .text_31 {
                  width: 1.52vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 0.72vw;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                }
                .image_16 {
                  width: 41.31vw;
                  height: 0.06vw;
                  margin: 0.2vw 0 9.21vw 0;
                }
                .image_17 {
                  position: absolute;
                  left: 17.87vw;
                  top: -1.3vw;
                  width: 0.06vw;
                  height: 14.28vw;
                }
                .image_18 {
                  position: absolute;
                  left: 36.15vw;
                  top: -1.3vw;
                  width: 0.06vw;
                  height: 14.28vw;
                }
              }
            }
          }
          .block_8 {
            width: 95.42vw;
            height: 21.72vw;
            margin: 1.66vw 0 1.45vw 2.08vw;
            .box_10 {
              position: relative;
              width: 47.09vw;
              height: 21.72vw;
              background: url(./img/SketchPnge7b734e8e1d5357e027826b19bbc5a4cd63172ca19319b11d87dc64c2470eaf3.png)
                100% no-repeat;
              background-size: 100% 100%;
              .group_22 {
                width: 47.09vw;
                height: 2.3vw;
                background: url(./img/SketchPng8868aa113dfba38c231acea60b9c028ca85645aa283085e712b7bf3f118dd01d.png)
                  0vw -0.06vw no-repeat;
                background-size: 47.08vw 2.34vw;
                .image-text_2 {
                  width: 9.38vw;
                  height: 1.46vw;
                  margin: 0.41vw 0 0 1.66vw;
                  .label_7 {
                    width: 1.46vw;
                    height: 1.46vw;
                  }
                  .text-group_3 {
                    width: 7.3vw;
                    height: 1.46vw;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 1.04vw;
                    font-family: PingFangSC-Semibold;
                    font-weight: 600;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.46vw;
                  }
                }
              }
              .group_23 {
                width: 43.75vw;
                height: 2.71vw;
                margin: 1.25vw 0 0 1.66vw;
                .text-group_4 {
                  width: 1.46vw;
                  height: 2.71vw;
                  .text_32 {
                    width: 1.46vw;
                    height: 1.05vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.72vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.05vw;
                  }
                  .text_33 {
                    width: 0.89vw;
                    height: 1.05vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.72vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.05vw;
                    margin: 0.62vw 0 0 0.57vw;
                  }
                }
                .image_19 {
                  width: 41.31vw;
                  height: 0.06vw;
                  margin-top: 2.19vw;
                }
              }
              .group_24 {
                width: 43.18vw;
                height: 1.41vw;
                margin: 1.56vw 0 0 2.23vw;
                .text_34 {
                  width: 0.89vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                }
                .text_35 {
                  width: 0.89vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 0.72vw;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                  margin: 0.36vw 0 0 0.88vw;
                }
                .image_20 {
                  width: 41.31vw;
                  height: 0.06vw;
                  margin: 0.52vw 0 0 -0.78vw;
                }
              }
              .group_25 {
                width: 43.18vw;
                height: 1.05vw;
                margin: 1.19vw 0 0 2.23vw;
                .text_36 {
                  width: 0.89vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                }
                .image_21 {
                  width: 41.31vw;
                  height: 0.06vw;
                  margin-top: 0.53vw;
                }
              }
              .group_26 {
                width: 43.18vw;
                height: 1.05vw;
                margin: 1.51vw 0 0 2.23vw;
                .text_37 {
                  width: 0.79vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                }
                .image_22 {
                  width: 41.31vw;
                  height: 0.06vw;
                  margin-top: 0.53vw;
                }
              }
              .group_27 {
                width: 43.18vw;
                height: 1.05vw;
                margin: 1.56vw 0 0 2.23vw;
                .text_38 {
                  width: 0.79vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                }
                .image_23 {
                  width: 41.31vw;
                  height: 0.06vw;
                  margin-top: 0.53vw;
                }
              }
              .group_28 {
                width: 43.18vw;
                height: 1.05vw;
                margin: 1.51vw 0 0 2.23vw;
                .text_39 {
                  width: 0.89vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                }
                .image_24 {
                  width: 41.31vw;
                  height: 0.06vw;
                  margin-top: 0.58vw;
                }
              }
              .text-wrapper_4 {
                width: 38.49vw;
                height: 1.05vw;
                margin: 0.26vw 0 0 3.12vw;
                .text_40 {
                  width: 2.24vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                }
                .text_41 {
                  width: 2.35vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                  margin-left: 3.44vw;
                }
                .text_42 {
                  width: 2.35vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                  margin-left: 3.75vw;
                }
                .text_43 {
                  width: 2.35vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                  margin-left: 3.75vw;
                }
                .text_44 {
                  width: 2.35vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                  margin-left: 3.75vw;
                }
                .text_45 {
                  width: 2.35vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                  margin-left: 3.7vw;
                }
                .text_46 {
                  width: 2.35vw;
                  height: 1.05vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.72vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.05vw;
                  margin-left: 3.81vw;
                }
              }
              .group_29 {
                background-color: rgba(69, 75, 105, 1);
                width: 1.1vw;
                height: 0.21vw;
                margin: 0.2vw 0 0.83vw 45.15vw;
              }
              .image_25 {
                position: absolute;
                left: 9.8vw;
                top: 5.73vw;
                width: 0.06vw;
                height: 12.97vw;
              }
              .image_26 {
                position: absolute;
                left: 28.08vw;
                top: 5.73vw;
                width: 0.06vw;
                height: 12.97vw;
              }
              .image_27 {
                position: absolute;
                left: 15.89vw;
                top: 5.73vw;
                width: 0.06vw;
                height: 12.97vw;
              }
              .image_28 {
                position: absolute;
                left: 34.17vw;
                top: 5.73vw;
                width: 0.06vw;
                height: 12.97vw;
              }
              .image-wrapper_5 {
                position: absolute;
                left: 4.12vw;
                top: 10.58vw;
                width: 41.31vw;
                height: 8.34vw;
                background: url(./img/SketchPng9c139e07ebd5db3e11cd9cb973f443721633ebbed77f6d24616df7ae2d4124a0.png) -0.06vw -0.06vw
                  no-repeat;
                background-size: 41.4vw 8.38vw;
                .image_29 {
                  position: absolute;
                  left: 17.87vw;
                  top: -4.84vw;
                  width: 0.06vw;
                  height: 12.97vw;
                }
                .image_30 {
                  position: absolute;
                  left: 36.15vw;
                  top: -4.84vw;
                  width: 0.06vw;
                  height: 12.97vw;
                }
              }
              .image_31 {
                position: absolute;
                left: 4.12vw;
                top: 9.43vw;
                width: 41.31vw;
                height: 0.06vw;
              }
            }
            .box_11 {
              width: 47.09vw;
              height: 2.3vw;
              background: url(./img/SketchPng8868aa113dfba38c231acea60b9c028ca85645aa283085e712b7bf3f118dd01d.png)
                0vw -0.06vw no-repeat;
              background-size: 47.08vw 2.34vw;
              .image-text_3 {
                width: 10.63vw;
                height: 1.46vw;
                margin: 0.41vw 0 0 1.66vw;
                .label_8 {
                  width: 1.46vw;
                  height: 1.46vw;
                }
                .text-group_5 {
                  width: 8.34vw;
                  height: 1.46vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 1.04vw;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.46vw;
                }
              }
            }
          }
          .block_9 {
            position: absolute;
            left: 50.84vw;
            top: 28.23vw;
            width: 47.09vw;
            height: 21.72vw;
            background: url(./img/SketchPnge7b734e8e1d5357e027826b19bbc5a4cd63172ca19319b11d87dc64c2470eaf3.png)
              100% no-repeat;
            background-size: 100% 100%;
            .block_10 {
              width: 43.75vw;
              height: 1.05vw;
              margin: 3.9vw 0 0 1.66vw;
              .text_47 {
                width: 1.62vw;
                height: 1.05vw;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.72vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.05vw;
              }
              .image_32 {
                width: 41.31vw;
                height: 0.06vw;
                margin-top: 0.47vw;
              }
            }
            .block_11 {
              width: 43.65vw;
              height: 1.05vw;
              margin: 2.5vw 0 0 1.77vw;
              .text_48 {
                width: 1.52vw;
                height: 1.05vw;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.72vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.05vw;
              }
              .image_33 {
                width: 41.31vw;
                height: 0.06vw;
                margin-top: 0.53vw;
              }
            }
            .block_12 {
              width: 43.65vw;
              height: 1.05vw;
              margin: 2.55vw 0 0 1.77vw;
              .text_49 {
                width: 1.52vw;
                height: 1.05vw;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.72vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.05vw;
              }
              .image_34 {
                width: 41.31vw;
                height: 0.06vw;
                margin-top: 0.53vw;
              }
            }
            .block_13 {
              width: 43.34vw;
              height: 1.05vw;
              margin: 2.55vw 0 0 2.08vw;
              .text_50 {
                width: 1.2vw;
                height: 1.05vw;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.72vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.05vw;
              }
              .image_35 {
                width: 41.31vw;
                height: 0.06vw;
                margin-top: 0.47vw;
              }
            }
            .block_14 {
              width: 43.34vw;
              height: 1.05vw;
              margin: 2.44vw 0 0 2.08vw;
              .text_51 {
                width: 1.2vw;
                height: 1.05vw;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.72vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.05vw;
              }
              .image_36 {
                width: 41.31vw;
                height: 0.06vw;
                margin-top: 0.58vw;
              }
            }
            .text-wrapper_5 {
              width: 38.49vw;
              height: 1.05vw;
              margin: 0.26vw 0 0 3.12vw;
              .text_52 {
                width: 2.24vw;
                height: 1.05vw;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.72vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.05vw;
              }
              .text_53 {
                width: 2.35vw;
                height: 1.05vw;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.72vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.05vw;
                margin-left: 3.44vw;
              }
              .text_54 {
                width: 2.35vw;
                height: 1.05vw;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.72vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.05vw;
                margin-left: 3.75vw;
              }
              .text_55 {
                width: 2.35vw;
                height: 1.05vw;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.72vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.05vw;
                margin-left: 3.75vw;
              }
              .text_56 {
                width: 2.35vw;
                height: 1.05vw;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.72vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.05vw;
                margin-left: 3.75vw;
              }
              .text_57 {
                width: 2.35vw;
                height: 1.05vw;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.72vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.05vw;
                margin-left: 3.7vw;
              }
              .text_58 {
                width: 2.35vw;
                height: 1.05vw;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.72vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.05vw;
                margin-left: 3.81vw;
              }
            }
            .block_15 {
              background-color: rgba(69, 75, 105, 1);
              width: 1.1vw;
              height: 0.21vw;
              margin: 0.2vw 0 0.83vw 45.15vw;
            }
            .image_37 {
              position: absolute;
              left: 9.8vw;
              top: 4.43vw;
              width: 0.06vw;
              height: 14.28vw;
            }
            .image_38 {
              position: absolute;
              left: 28.08vw;
              top: 4.43vw;
              width: 0.06vw;
              height: 14.28vw;
            }
            .image_39 {
              position: absolute;
              left: 15.89vw;
              top: 4.43vw;
              width: 0.06vw;
              height: 14.28vw;
            }
            .image_40 {
              position: absolute;
              left: 34.17vw;
              top: 4.43vw;
              width: 0.06vw;
              height: 14.28vw;
            }
            .block_16 {
              position: absolute;
              left: 4.12vw;
              top: 5.73vw;
              width: 41.31vw;
              height: 12.97vw;
              background: url(./img/SketchPng713810ab1c07182be28dc9d3d89597c5720d88d5c3300a4416e6fc08eb32ae9c.png) -0.06vw
                0vw no-repeat;
              background-size: 41.35vw 13.02vw;
              .image_41 {
                width: 41.31vw;
                height: 2.45vw;
              }
              .text_59 {
                width: 1.52vw;
                height: 1.05vw;
                overflow-wrap: break-word;
                color: rgba(255, 59, 78, 1);
                font-size: 0.72vw;
                font-family: PingFangSC-Medium;
                font-weight: 500;
                text-align: left;
                white-space: nowrap;
                line-height: 1.05vw;
              }
              .image_42 {
                width: 41.31vw;
                height: 0.06vw;
                margin: 0.2vw 0 9.21vw 0;
              }
              .image_43 {
                position: absolute;
                left: 17.87vw;
                top: -1.3vw;
                width: 0.06vw;
                height: 14.28vw;
              }
              .image_44 {
                position: absolute;
                left: 36.15vw;
                top: -1.3vw;
                width: 0.06vw;
                height: 14.28vw;
              }
            }
          }
          .block_17 {
            background-color: rgba(5, 237, 255, 1);
            position: absolute;
            left: 3.08vw;
            top: 3.23vw;
            width: 1.88vw;
            height: 0.16vw;
          }
          .block_18 {
            height: 1.98vw;
            background: url(./img/SketchPnga2730fe0b561c1b347637b932823e56089901b39a2c55a45a9705f0081188641.png)
              100% no-repeat;
            background-size: 100% 100%;
            width: 1.98vw;
            position: absolute;
            left: 3.03vw;
            top: 1.05vw;
            .block_19 {
              background-color: rgba(10, 32, 54, 1);
              border-radius: 50%;
              height: 1.25vw;
              width: 0.73vw;
              margin: 0.36vw 0 0 1.19vw;
              .group_30 {
                background-color: rgba(5, 237, 255, 1);
                border-radius: 50%;
                height: 0.94vw;
                width: 0.53vw;
                margin: 0.2vw 0 0 0.15vw;
                .image-wrapper_6 {
                  background-color: rgba(10, 32, 54, 1);
                  border-radius: 50%;
                  height: 0.63vw;
                  width: 0.37vw;
                  margin: 0.1vw 0 0 0.15vw;
                  .thumbnail_7 {
                    width: 0.27vw;
                    height: 0.27vw;
                    margin: 0.1vw 0 0 0.05vw;
                  }
                }
              }
            }
          }
          .image_45 {
            position: absolute;
            left: 4.38vw;
            top: 0.68vw;
            width: 2.77vw;
            height: 2.71vw;
          }
        }
      }
    }
  }
}
