<template>
  <div class="page flex-col">
    <div class="section_1 flex-col">
      <div class="section_2 flex-col">
        <div class="block_1 flex-col">
          <div class="section_3 flex-col">
            <div class="group_14 flex-col">
              <div class="block_8 flex-row">
                <js-tab
                  :tabs="tabs"
                  :tabIndex="tabIndex"
                  @change="changeTab"
                ></js-tab>
                <div class="text-wrapper_1 flex-col">
                  <span class="text_4">批量处理</span>
                </div>
              </div>
              <div class="block_9 flex-row">
                <span class="text_5">序号</span>
                <js-search
                  label="数据表"
                  value="请输入关键词搜索"
                  @change="changeHotKeyHandle"
                ></js-search
                ><js-select
                  label="所属平台"
                  :options="platformOptions"
                  @change="changePlatformHandle"
                  :style="{
                    marginLeft: '0.33rem',
                  }"
                ></js-select>
                <js-select
                  label="所属系统"
                  :options="systemOptions"
                  @change="changeSystemHandle"
                  :style="{ marginLeft: '0.33rem' }"
                ></js-select>
                <span class="text_12">操作</span>
              </div>
              <img
                class="image_4"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngf03b9ab5ba5b26c3c1f01cfb9e1ae320a3f8997270392ca7184f6666b7d9177b.png"
              />
              <div
                class="block_10 flex-row"
                v-for="(item, index) in list"
                :key="item.sqlname"
              >
                <span class="text_13">{{
                  `${index + 1 < 10 ? "0" + (index + 1) : index + 1}`
                }}</span>
                <img
                  class="thumbnail_5"
                  referrerpolicy="no-referrer"
                  :src="item.icon"
                />
                <span class="sqlname">{{ item.sqlname }}</span>
                <span class="onelevel">{{ item.onelevel }}</span>
                <span class="twolevel">{{ item.twolevel }}</span>
                <span class="button">处理</span>
              </div>
            </div>
            <div class="group_11 flex-col justify-end">
              <div class="section_16 flex-row">
                <div class="image-wrapper_1 flex-col align-center">
                  <img
                    class="image_8"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng75e8bc329546d73bb0ffa91c01d1421ba4001982115eded00da091e72496c4e3.png"
                  />
                </div>
                <div class="image-wrapper_2 flex-col align-center">
                  <img
                    class="label_1"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng100d5cb86d153f80caf40c341afbdc809e79166dc0d39c70f4b700313383f532.png"
                  />
                </div>
                <span class="text_50">2023.07.03</span>
                <span class="text_51">星期一</span>
                <span class="text_52">15:21:06</span>
                <div class="block_3 flex-row">
                  <img
                    class="label_2"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPngaaeb82b8b103b876905618d540f0a18209b95cbbf664a788762670f9e777fc76.png"
                  />
                  <span class="text_53">返回</span>
                  <img
                    class="label_3"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng89feeef5142021d871d0754b3886b28bac92f5aeb270d0a7a1630ac1a532c7da.png"
                  />
                  <span class="text_54">全屏</span>
                </div>
              </div>
              <div class="block_4 flex-col"></div>
              <img
                class="image_9"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng460ba4c7d05c83da5e110e9188b3c633471f910eb890d0401764c072376b90cb.png"
              />
              <div class="block_5 flex-col">
                <div class="block_6 flex-col">
                  <div class="section_8 flex-col"></div>
                  <div class="section_9 flex-col"></div>
                  <div class="section_10 flex-col"></div>
                  <div class="section_11 flex-col"></div>
                </div>
              </div>
              <div class="block_7 flex-row">
                <div class="group_15 flex-col justify-between">
                  <div class="block_11 flex-row">
                    <img
                      class="label_4"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPnge67a8d46d4bd42027bf58846af301987695f0286aa49f5ac3d94592c70c4a9bb.png"
                    />
                    <span class="text_55">数据汇聚监控</span>
                    <span class="text_56">100&nbsp;/</span>
                  </div>
                  <div class="section_13 flex-col">
                    <div class="box_5 flex-col">
                      <div class="group_13 flex-col"></div>
                    </div>
                  </div>
                </div>
                <span class="text_57">2</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import JsTab from "@/components/JsTab";
import JsSearch from "@/components/JsSearch";
import JsSelect from "@/components/JsSelect";
import errorIcon from "./assets/img/SketchPng96b60324eb281fd6586f36ae1533e4cd756e3ca008c7fd915072d4e51461f9c1.png";

export default {
  components: {
    JsTab,
    JsSearch,
    JsSelect,
  },
  data() {
    return {
      constants: {},
      tabs: ["委内", "委外"],
      tabIndex: 0,
      list: [
        {
          sqlname: "数据库名称.数据表名称据表名称最多二十个字",
          onelevel:
            "一级目录平台名称名称名称名称平台名称平台名称平台最多三十个字1",
          twolevel:
            "二级目录系统名称名称名称名称二级目录系统二级目录最多三十个字2",
          icon: errorIcon,
        },
      ],
      platformOptions: [
        { value: "", label: "全部" },
        { value: "选项1", label: "黄金糕" },
        { value: "选项2", label: "双皮奶" },
        { value: "选项3", label: "蚵仔煎" },
        { value: "选项4", label: "龙须面" },
        { value: "选项5", label: "北京烤鸭" },
      ],
      systemOptions: [
        { value: "Beijing", label: "北京" },
        { value: "Shanghai", label: "上海" },
        {
          value: "Nanjing",
          label: "南京",
        },
        { value: "Chengdu", label: "成都" },
        { value: "Shenzhen", label: "深圳" },
        { value: "Guangzhou", label: "广州" },
      ],
    };
  },
  methods: {
    changeTab(index) {
      this.tabIndex = index;
    },
    changeHotKeyHandle(e) {
      console.log(e);
    },
    changePlatformHandle(e) {
      console.log(e);
    },
    changeSystemHandle(e) {
      console.log(e);
    },
  },
};
</script>
<style scoped lang="less" src="./assets/index.rem.less" />
