<template>
  <div class="group_18 flex-col">
    <div class="text-wrapper_34 flex-row justify-between">
      <span class="text_106" v-for="item in titleList" :key="item">{{
        item
      }}</span>
    </div>
    <img class="image_96" referrerpolicy="no-referrer" :src="LineImg" />
    <div class="section_16 flex-row">
      <div class="image-text_10 flex-row justify-between">
        <div class="section_17 flex-col"></div>
        <span class="text-group_10">Vda-磁盘读</span>
      </div>
      <div class="text-wrapper_35">
        <span class="text_110">1.88</span>
        <span class="text_111"></span>
        <span class="text_112">MB/S</span>
      </div>
      <div class="text-wrapper_36">
        <span class="text_113">0</span>
        <span class="text_114"></span>
        <span class="text_115">B/S</span>
      </div>
      <div class="text-wrapper_37">
        <span class="text_116">28.4</span>
        <span class="text_117"></span>
        <span class="text_118">MB/S</span>
      </div>
      <div class="text-wrapper_38">
        <span class="text_119">0</span>
        <span class="text_120"></span>
        <span class="text_121">B/S</span>
      </div>
    </div>
    <img class="image_97" referrerpolicy="no-referrer" :src="LineImg" />
    <div class="section_18 flex-row">
      <div class="image-text_11 flex-row justify-between">
        <div class="box_25 flex-col"></div>
        <span class="text-group_11">Vda-磁盘写</span>
      </div>
      <div class="text-wrapper_39">
        <span class="text_122">519</span>
        <span class="text_123"></span>
        <span class="text_124">KB/S</span>
      </div>
      <div class="text-wrapper_40">
        <span class="text_125">400</span>
        <span class="text_126"></span>
        <span class="text_127">KB/S</span>
      </div>
      <div class="text-wrapper_41">
        <span class="text_128">1.49</span>
        <span class="text_129"></span>
        <span class="text_130">MB/S</span>
      </div>
      <div class="text-wrapper_42">
        <span class="text_131">127</span>
        <span class="text_132"></span>
        <span class="text_133">KB/S</span>
      </div>
    </div>
  </div>
</template>
<script>
import LineImg from "./img/SketchPnge3c21843a9554d43e8f1ad2a768d86413469764b2c52a68c0d5e30304166c4b2.png";
export default {
  name: "ListComponent",
  props: {
    titleList: Array,
  },
  data() {
    return {
      LineImg,
    };
  },
};
</script>
<style scope lang="less">
.group_18 {
  width: 4.412rem;
  height: 0.719rem;
  background: url(./img/SketchPng2d493c7f787a990cfe1ef27c3fa5ada2c2f3f5f492337f8507729a56f6247cdb.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.105rem 0 0.125rem 0.193rem;
  position: absolute;
  bottom: 0;
  .text-wrapper_34 {
    width: 2.959rem;
    height: 0.105rem;
    margin: 0.068rem 0 0 1.011rem;

    .text_106 {
      width: 0.188rem;
      height: 0.105rem;
      overflow-wrap: break-word;
      color: rgba(199, 207, 243, 1);
      font-size: 0.072rem;
      font-weight: NaN;
      text-align: left;
      white-space: nowrap;
      line-height: 0.105rem;
    }

    .text_107 {
      width: 0.188rem;
      height: 0.105rem;
      overflow-wrap: break-word;
      color: rgba(199, 207, 243, 1);
      font-size: 0.072rem;
      font-weight: NaN;
      text-align: left;
      white-space: nowrap;
      line-height: 0.105rem;
      margin-left: 0.771rem;
    }

    .text_108 {
      width: 0.146rem;
      height: 0.105rem;
      overflow-wrap: break-word;
      color: rgba(199, 207, 243, 1);
      font-size: 0.072rem;
      font-weight: NaN;
      text-align: left;
      white-space: nowrap;
      line-height: 0.105rem;
      margin-left: 0.771rem;
    }

    .text_109 {
      width: 0.125rem;
      height: 0.105rem;
      overflow-wrap: break-word;
      color: rgba(199, 207, 243, 1);
      font-size: 0.072rem;
      font-weight: NaN;
      text-align: left;
      white-space: nowrap;
      line-height: 0.105rem;
      margin-left: 0.771rem;
    }
  }

  .image_96 {
    width: 4.412rem;
    height: 0.006rem;
    margin-top: 0.068rem;
  }

  .section_16 {
    width: 3.907rem;
    height: 0.115rem;
    margin: 0.058rem 0 0 0.125rem;

    .image-text_10 {
      width: 0.48rem;
      height: 0.105rem;
      margin-top: 0.006rem;

      .section_17 {
        background-color: rgba(234, 184, 57, 1);
        width: 0.042rem;
        height: 0.042rem;
        margin-top: 0.032rem;
      }

      .text-group_10 {
        width: 0.396rem;
        height: 0.105rem;
        overflow-wrap: break-word;
        color: rgba(234, 184, 57, 1);
        font-size: 0.072rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.105rem;
      }
    }

    .text-wrapper_35 {
      width: 0.355rem;
      height: 0.115rem;
      overflow-wrap: break-word;
      font-size: 0;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      text-align: left;
      white-space: nowrap;
      line-height: 0.115rem;
      margin-left: 0.407rem;

      .text_110 {
        width: 0.355rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.083rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_111 {
        width: 0.355rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.072rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_112 {
        width: 0.355rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.062rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }
    }

    .text-wrapper_36 {
      width: 0.188rem;
      height: 0.115rem;
      overflow-wrap: break-word;
      font-size: 0;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      text-align: left;
      white-space: nowrap;
      line-height: 0.115rem;
      margin-left: 0.605rem;

      .text_113 {
        width: 0.188rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.083rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_114 {
        width: 0.188rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.072rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_115 {
        width: 0.188rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.062rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }
    }

    .text-wrapper_37 {
      width: 0.37rem;
      height: 0.115rem;
      overflow-wrap: break-word;
      font-size: 0;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      text-align: left;
      white-space: nowrap;
      line-height: 0.115rem;
      margin-left: 0.771rem;

      .text_116 {
        width: 0.37rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.083rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_117 {
        width: 0.37rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.072rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_118 {
        width: 0.37rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.062rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }
    }

    .text-wrapper_38 {
      width: 0.188rem;
      height: 0.115rem;
      overflow-wrap: break-word;
      font-size: 0;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      text-align: left;
      white-space: nowrap;
      line-height: 0.115rem;
      margin-left: 0.547rem;

      .text_119 {
        width: 0.188rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.083rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_120 {
        width: 0.188rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.072rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_121 {
        width: 0.188rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.062rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }
    }
  }

  .image_97 {
    width: 4.412rem;
    height: 0.006rem;
    margin-top: 0.063rem;
  }

  .section_18 {
    width: 4.032rem;
    height: 0.115rem;
    margin: 0.058rem 0 0.063rem 0.125rem;

    .image-text_11 {
      width: 0.48rem;
      height: 0.105rem;

      .box_25 {
        background-color: rgba(0, 237, 255, 1);
        width: 0.042rem;
        height: 0.042rem;
        margin-top: 0.032rem;
      }

      .text-group_11 {
        width: 0.396rem;
        height: 0.105rem;
        overflow-wrap: break-word;
        color: rgba(0, 237, 255, 1);
        font-size: 0.072rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.105rem;
      }
    }

    .text-wrapper_39 {
      width: 0.318rem;
      height: 0.115rem;
      overflow-wrap: break-word;
      font-size: 0;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      text-align: left;
      white-space: nowrap;
      line-height: 0.115rem;
      margin-left: 0.407rem;

      .text_122 {
        width: 0.318rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.083rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_123 {
        width: 0.318rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.072rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_124 {
        width: 0.318rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.062rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }
    }

    .text-wrapper_40 {
      width: 0.334rem;
      height: 0.115rem;
      overflow-wrap: break-word;
      font-size: 0;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      text-align: left;
      white-space: nowrap;
      line-height: 0.115rem;
      margin-left: 0.641rem;

      .text_125 {
        width: 0.334rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.083rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_126 {
        width: 0.334rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.072rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_127 {
        width: 0.334rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.062rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }
    }

    .text-wrapper_41 {
      width: 0.355rem;
      height: 0.115rem;
      overflow-wrap: break-word;
      font-size: 0;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      text-align: left;
      white-space: nowrap;
      line-height: 0.115rem;
      margin-left: 0.625rem;

      .text_128 {
        width: 0.355rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.083rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_129 {
        width: 0.355rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.072rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_130 {
        width: 0.355rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.062rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }
    }

    .text-wrapper_42 {
      width: 0.313rem;
      height: 0.115rem;
      overflow-wrap: break-word;
      font-size: 0;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      text-align: left;
      white-space: nowrap;
      line-height: 0.115rem;
      margin-left: 0.563rem;

      .text_131 {
        width: 0.313rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.083rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_132 {
        width: 0.313rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.072rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }

      .text_133 {
        width: 0.313rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.062rem;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }
    }
  }
}
</style>