<template>
  <div class="js-select">
    <div class="label" v-if="label">{{ label }}：</div>
    <div class="select-box">
      <el-select v-model="value" placeholder="请选择" @change="onSelectHandle">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        >
        </el-option>
      </el-select>
      <img :src="selectIcon" class="icon" />
    </div>
  </div>
</template>
<script>
import selectIcon from "./img/SketchPng40257fbd00f269fdba97dd441a1325ac11e3eeb274098ec34880ff49accb4fa9.png";

export default {
  name: "JsSelect",
  props: {
    label: { type: String, default: "" },
    defaultValue: {
      type: String,
      default: "",
    },
    options: [],
  },
  data() {
    return {
      value: "",
      selectIcon,
    };
  },
  mounted() {
    this.value = this.defaultValue;
  },
  methods: {
    onSelectHandle(event) {
      this.$emit("change", event);
    },
  },
};
</script>
<style scoped lang="less">
.js-select {
  display: flex;
  align-items: center;
  .label {
    width: 0.42rem;
    height: 0.23rem;
    color: rgba(199, 207, 243, 1);
    font-size: 0.083rem;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    line-height: 0.23rem;
    margin-right: 0.058rem;
  }
  .select-box {
    position: relative;
    width: 2.15rem;
    height: 0.23rem;
    .icon {
      width: 0.08rem;
      height: 0.05rem;
      display: block;
      position: absolute;
      right: 0.08rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }

    /deep/ .el-select {
      position: absolute;
      width: 100%;
      height: 0.23rem;
      line-height: 0.23rem;
      font-size: 0.083rem;
      .el-input__suffix {
        display: none;
      }
    }
    /deep/ .el-input.is-focus {
      .el-input__inner {
        border: 1px solid rgba(4, 209, 229, 1);
      }
    }

    /deep/ .el-input__inner {
      background-color: rgba(10, 16, 48, 0.7);
      color: #ffffff;
      border: 1px solid #3f456a;
      height: 0.23rem;
      line-height: 0.23rem;
      font-size: 0.083rem;
    }
  }
}
</style>
