<template>
  <div class="page flex-col">
    <div class="box_1 flex-col"></div>
    <div class="box_2 flex-col"><div class="group_1 flex-col"></div></div>
    <div class="box_3 flex-col">
      <div class="box_4 flex-col">
        <div class="box_5 flex-row">
          <div class="image-wrapper_1 flex-col">
            <img
              class="thumbnail_1"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng7ebb7b81236ea6e7894b1b21213a20bd09c64908b9cd08313b74007501e73498.png"
            />
          </div>
          <span class="text_1">后台服务节点/底账管理服务节点</span>
          <div class="group_2 flex-row justify-end">
            <!-- <span class="text_2">返回列表</span> -->
            <GoPageComponent class="text_2" urlStr="/shouye" title="返回列表" />
            <img
              class="thumbnail_2"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngea77c310f7033dafb7fe8724486e2f5c005ec26d19b880df5f97a6656bd6de0e.png"
            />
          </div>
        </div>
        <img
          class="image_1"
          referrerpolicy="no-referrer"
          src="./assets/img/SketchPng9b7303c96db89883f0bd27e587a35d64f675c704e86afd38d0b71d48e4d85858.png"
        />
        <div class="box_6 flex-col justify-center">
          <div class="image-wrapper_2 flex-col">
            <img
              class="image_2"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng6a7998f17581409164a4ee223495f276ca186a6c7d36848697188fbeab2e6025.png"
            />
          </div>
          <div class="box_7 flex-row">
            <img
              class="label_1"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng78ad40a6eaf236e3bb4e9de54ff9f1c9eb2c468a6ef049233515c712a4c18970.png"
            />
            <span class="text_3">主机信息</span>
          </div>
        </div>
        <div class="box_8 flex-row">
          <div
            class="section_1 flex-col"
            :style="backgroundStyle(status, OnlineTimeImg_1, OnlineTimeImg)"
          >
            <div class="group_3 flex-col">
              <div class="text-wrapper_1 flex-row">
                <span :class="{ text_4: true, text_red: status }"
                  >上线时间</span
                >
              </div>
              <div class="box_9 flex-row">
                <div class="image-wrapper_3 flex-col">
                  <img
                    class="thumbnail_3"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng4c0a95571028497bb49fc26b668b78d2c2fa5d91d0e8757e84717f8e4672d19d.png"
                  />
                  <img
                    class="thumbnail_4"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPnga3d7ffd7ba94fdb1e963a2813ce69beaa51d9360d1722d46d5e0f75ff6ce53e8.png"
                  />
                </div>
                <img
                  class="image_3"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng760272854dca252192768e70dc45f00e6f023e96e0f090a16c9f236b72cd952c.png"
                />
                <div class="image-wrapper_4 flex-col">
                  <img
                    class="thumbnail_5"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPnga3654aada832435a263da019ef2d698ce0d52b8530e7ecd20487a64d69c34ca9.png"
                  />
                  <img
                    class="thumbnail_6"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng68a66d9c21839ba052d948ebdee14f1ed30fcccbd4a4087883e19261d3272e5a.png"
                  />
                </div>
              </div>
              <div class="box_10 flex-row">
                <div class="image-wrapper_5 flex-col">
                  <img
                    class="thumbnail_7"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng9acb92ae2b383fceb733763f9da101ccb6e71b2b08bfb975f9faedc6e0a00419.png"
                  />
                  <img
                    class="image_4"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng4fbd7bec3b16f6846fb5d525f51f5800f5664ee6e59f5b7dbe7347c9ff811a16.png"
                  />
                </div>
                <div class="text-wrapper_2" v-if="!status">
                  <span class="text_5">{{ onlineTime }}</span>
                  <span class="text_6">&nbsp;YEAR</span>
                </div>
                <div class="text-wrapper_2" v-else>
                  <!-- <span class="text_5">1.3</span> -->
                  <!-- <span class="text_6">&nbsp;YEAR</span> -->
                  <span class="text_5_1">异常</span>
                </div>
                <div class="image-wrapper_6 flex-col">
                  <img
                    class="thumbnail_8"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng2a2f595c09e6c46226b2b456e9fc01dd8b41ac95f69a186cfd51bd8366ac96d2.png"
                  />
                </div>
                <img
                  class="image_5"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng4fbd7bec3b16f6846fb5d525f51f5800f5664ee6e59f5b7dbe7347c9ff811a16.png"
                />
              </div>
              <div class="image-wrapper_7 flex-row">
                <img
                  class="image_6"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngba3051253274fe3aa6d489f4d645695d359cf5e132fc4c07b03f567876acaf95.png"
                />
              </div>
              <img
                class="image_7"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngbd01999e67aa121bba63e16821cdb43fbd890bc7102fa902e9df14919b438961.png"
              />
              <img
                class="image_8"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngf1bfbc11d55b5a2f82177e79990c903840b4317659549b43981e2b5592691762.png"
              />
            </div>
          </div>
          <div class="section_2 flex-col justify-between">
            <div class="block_1 flex-col justify-end">
              <img
                class="image_9"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngf1bfbc11d55b5a2f82177e79990c903840b4317659549b43981e2b5592691762.png"
              />
              <span class="text_7">CPU核数</span>
              <!-- <span class="text_8">16</span> -->
              <span class="text_8">{{ cpuNum }}</span>
              <img
                class="image_10"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngbd01999e67aa121bba63e16821cdb43fbd890bc7102fa902e9df14919b438961.png"
              />
            </div>
            <div class="block_2 flex-col justify-end">
              <img
                class="image_11"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngf1bfbc11d55b5a2f82177e79990c903840b4317659549b43981e2b5592691762.png"
              />
              <span class="text_9">内存</span>
              <div class="text-wrapper_3">
                <span class="text_10">{{ memoryNum }}</span>
                <span class="text_11">&nbsp;GiB</span>
              </div>
              <img
                class="image_12"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngbd01999e67aa121bba63e16821cdb43fbd890bc7102fa902e9df14919b438961.png"
              />
            </div>
          </div>
          <div class="section_3 flex-col justify-between">
            <div class="section_4 flex-col justify-end">
              <img
                class="image_13"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngf1bfbc11d55b5a2f82177e79990c903840b4317659549b43981e2b5592691762.png"
              />
              <span class="text_12">磁盘vda1</span>
              <div class="text-wrapper_4">
                <span class="text_13">{{ vda1Num }}</span>
                <span class="text_14">&nbsp;Gb</span>
              </div>
              <img
                class="image_14"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngbd01999e67aa121bba63e16821cdb43fbd890bc7102fa902e9df14919b438961.png"
              />
            </div>
            <div class="section_5 flex-col justify-end">
              <img
                class="image_15"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngf1bfbc11d55b5a2f82177e79990c903840b4317659549b43981e2b5592691762.png"
              />
              <span class="text_15">磁盘vda2</span>
              <div class="text-wrapper_5">
                <span class="text_16">{{ vda2Num }}</span>
                <span class="text_17">&nbsp;Gb</span>
              </div>
              <img
                class="image_16"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngbd01999e67aa121bba63e16821cdb43fbd890bc7102fa902e9df14919b438961.png"
              />
            </div>
          </div>
          <div
            class="section_6 flex-col"
            v-for="item in gaugeList"
            :key="item.name"
          >
            <span class="text_18">{{ item.name }}</span>
            <div class="text-wrapper_6 flex-col">
              <GaugeChart :value="item.value" />
            </div>
          </div>
        </div>
        <div class="box_11 flex-col justify-center">
          <div class="image-wrapper_8 flex-col">
            <img
              class="image_18"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng6a7998f17581409164a4ee223495f276ca186a6c7d36848697188fbeab2e6025.png"
            />
          </div>
          <div class="section_8 flex-row">
            <div class="image-text_1 flex-row justify-between">
              <img
                class="label_2"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng693cb18097a346438efa7cab977b691c878b269caa77323f379aa7387c5331e5.png"
              />
              <span class="text-group_1">监控指标</span>
            </div>
          </div>
        </div>
        <div class="box_12 flex-row justify-between">
          <div
            class="block_3 flex-col"
            :style="
              backgroundStyle(cpuStatus, BackgroundYellow, BackgroundCommon)
            "
          >
            <div class="section_9 flex-row">
              <span class="text_23">CPU利用率</span>
              <img
                v-if="cpuStatus"
                class="thumbnail_9"
                referrerpolicy="no-referrer"
                :src="IconYellow"
              />
              <span class="text_31" v-if="cpuStatus">异常</span>
            </div>

            <div class="section_15 flex-row justify-between">
              <LineCharts :xAxisData="xAxisData" />
            </div>
          </div>
        </div>
        <div class="box_15 flex-col">
          <div
            class="group_6 flex-col"
            :style="
              backgroundStyle(vdaStatus, BackgroundYellow, BackgroundCommon)
            "
          >
            <div class="text-wrapper_9 flex-row">
              <span class="text_44">磁盘读写宽带/vda</span>
              <img
                v-if="vdaStatus"
                class="thumbnail_9"
                referrerpolicy="no-referrer"
                :src="IconYellow"
              />
              <span class="text_31" v-if="vdaStatus">异常</span>
            </div>
            <LineCharts
              :xAxisData="xAxisData"
              style="height: 1.74rem !important"
            />
            <ListComponent :titleList="titleList" />
          </div>
          <div
            class="group_10 flex-col"
            :style="
              backgroundStyle(vdbStatus, BackgroundYellow, BackgroundCommon)
            "
          >
            <div class="text-wrapper_26 flex-row">
              <span class="text_89">磁盘读写宽带/vdb</span>
              <img
                v-if="vdbStatus"
                class="thumbnail_9"
                referrerpolicy="no-referrer"
                :src="IconYellow"
              />
              <span class="text_31" v-if="vdbStatus">异常</span>
            </div>
            <LineCharts
              :xAxisData="xAxisData"
              style="height: 1.74rem !important"
            />
            <ListComponent :titleList="titleList" />
            <!-- <div class="group_18 flex-col box_23">
              <div class="text-wrapper_34 flex-row justify-between">
                <span class="text_106">Mean</span>
                <span class="text_106">Mean</span>
                <span class="text_106">Mean</span>
                <span class="text_106">Mean</span>
              </div>
              <img
                class="image_96"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPnge3c21843a9554d43e8f1ad2a768d86413469764b2c52a68c0d5e30304166c4b2.png"
              />
              <div class="section_16 flex-row">
                <div class="image-text_10 flex-row justify-between">
                  <div class="section_17 flex-col"></div>
                  <span class="text-group_10">Vda-磁盘读</span>
                </div>
                <div class="text-wrapper_35">
                  <span class="text_110">1.88</span>
                  <span class="text_111"></span>
                  <span class="text_112">MB/S</span>
                </div>
                <div class="text-wrapper_36">
                  <span class="text_113">0</span>
                  <span class="text_114"></span>
                  <span class="text_115">B/S</span>
                </div>
                <div class="text-wrapper_37">
                  <span class="text_116">28.4</span>
                  <span class="text_117"></span>
                  <span class="text_118">MB/S</span>
                </div>
                <div class="text-wrapper_38">
                  <span class="text_119">0</span>
                  <span class="text_120"></span>
                  <span class="text_121">B/S</span>
                </div>
              </div>
              <img
                class="image_97"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPnge3c21843a9554d43e8f1ad2a768d86413469764b2c52a68c0d5e30304166c4b2.png"
              />
              <div class="section_18 flex-row">
                <div class="image-text_11 flex-row justify-between">
                  <div class="box_25 flex-col"></div>
                  <span class="text-group_11">Vda-磁盘写</span>
                </div>
                <div class="text-wrapper_39">
                  <span class="text_122">519</span>
                  <span class="text_123"></span>
                  <span class="text_124">KB/S</span>
                </div>
                <div class="text-wrapper_40">
                  <span class="text_125">400</span>
                  <span class="text_126"></span>
                  <span class="text_127">KB/S</span>
                </div>
                <div class="text-wrapper_41">
                  <span class="text_128">1.49</span>
                  <span class="text_129"></span>
                  <span class="text_130">MB/S</span>
                </div>
                <div class="text-wrapper_42">
                  <span class="text_131">127</span>
                  <span class="text_132"></span>
                  <span class="text_133">KB/S</span>
                </div>
              </div>
            </div> -->
          </div>
          <div
            class="group_20 flex-col"
            :style="
              backgroundStyle(
                diskUsageStatus,
                BackgroundYellow,
                BackgroundCommon
              )
            "
          >
            <div class="box_26 flex-row">
              <span class="text_134">磁盘使用率</span>
              <img
                v-if="diskUsageStatus"
                class="thumbnail_9"
                referrerpolicy="no-referrer"
                :src="IconYellow"
              />
              <span class="text_31" v-if="diskUsageStatus">异常</span>
            </div>
            <LineCharts :xAxisData="xAxisData" />
          </div>
        </div>
        <div
          class="box_29 flex-col"
          :style="
            backgroundStyle(memoryStatus, BackgroundYellow, BackgroundCommon)
          "
        >
          <div class="group_22 flex-row">
            <span class="text_155">内存使用率</span>
            <img
              v-if="memoryStatus"
              class="thumbnail_9"
              referrerpolicy="no-referrer"
              :src="IconYellow"
            />
            <span class="text_31" v-if="memoryStatus">异常</span>
          </div>
          <LineCharts :xAxisData="xAxisData" />
        </div>
        <div class="box_33 flex-col"></div>
        <div class="box_34 flex-col">
          <div class="block_9 flex-col">
            <div class="section_20 flex-col">
              <div class="image-wrapper_16 flex-col">
                <img
                  class="thumbnail_9"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng88197cd2b9c3dc48251be6a5c6ebf2c885b7a67ed724b9ebb5221afaddbf8dd5.png"
                />
              </div>
            </div>
          </div>
        </div>
        <img
          class="image_108"
          referrerpolicy="no-referrer"
          src="./assets/img/SketchPng44781d68967be8424688cb5b22a32b8f68107c69835e4708f7c5fed4ed02b10d.png"
        />
      </div>
      <div class="box_35 flex-col justify-end">
        <div class="box_36 flex-row">
          <div class="image-wrapper_17 flex-col align-center">
            <img
              class="image_109"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng26c6bc9dff4bab1214fafa9c84b91aea40326d7c93f82411c31228fe20f25fd5.png"
            />
          </div>
          <div class="image-wrapper_18 flex-col align-center">
            <img
              class="label_3"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng30c418f404553b4ad40c0fc979d1f31cdfa0b791f81300a32e3a6c0f234c8921.png"
            />
          </div>
          <DateComponent class="text_179" />
          <WeekComponent class="text_180" />
          <TimeComponent class="text_181" />
          <div class="group_26 flex-row">
            <img
              class="label_4"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPnge3517ad951d2744c1894f48681bd5c9210c69946de29f5fb0b8931e986dac008.png"
            />
            <GoPageComponent class="text_182" urlStr="/shouye" title="返回" />
            <img
              class="label_5"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngfa967cc506e4ac42e52a0809cd2771253fee018790993a9637abeed85000c4b7.png"
            />
            <!-- <span class="text_183">全屏</span> -->
            <ScreenFull class="text_183" />
          </div>
        </div>
        <div class="box_37 flex-col"></div>
        <img
          class="image_110"
          referrerpolicy="no-referrer"
          src="./assets/img/SketchPng079e4f4832f4306d30df25083b4f6e39c65f0734a55ba0bff4e51f0978bce2a4.png"
        />
        <div class="box_38 flex-col">
          <div class="box_39 flex-col">
            <div class="box_40 flex-col"></div>
            <div class="box_41 flex-col"></div>
            <div class="box_42 flex-col"></div>
            <div class="box_43 flex-col"></div>
          </div>
        </div>
        <div class="box_44 flex-col">
          <div class="group_27 flex-row justify-between">
            <img
              class="label_6"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng1dd50500eb86e17ecf4dfd273561ac17f5232442031f06f48d09c4fa0061fdda.png"
            />
            <span class="text_184">服务器监控</span>
          </div>
          <div class="group_28 flex-col">
            <div class="group_29 flex-col">
              <div class="box_45 flex-col"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BackgroundYellow from "./assets/img/SketchPng9775c84e35b4889bce0b1b0ccbf4d24460df252bd5dc3d0c9c807f1d2422cce0.png";
import BackgroundRed from "./assets/img/SketchPng0d0008c78bbc6d6a34a27e8c70af3af7b252480c40229b70b9066679b2423634.png";
import BackgroundCommon from "./assets/img/SketchPng83c252a0f6162f915f4e760161b7a2c9a0bc6ccc3552ec199338c7da45276e99.png";
import IconYellow from "./assets/img/SketchPng096381d2b74cb01ebc888823b896533a70919c6ca86f9b09a2c2dab5364f8757.png";
import OnlineTimeImg from "./assets/img/SketchPngdb802169328636623646a0074d7bc9a64fb6281fcfe77b44e2b0ff438c8d52bb.png";
import OnlineTimeImg_1 from "./assets/img/SketchPng3a843942ff55c4c0eb6b8b7663428f97f171dec0dfd8e976c91d30a73d2a5a04.png";

export default {
  data() {
    return {
      constants: {},
      cpuNum: 16,
      memoryNum: 63,
      vda1Num: 106,
      vda2Num: 211,
      status: true, //false正常
      cpuStatus: true,
      memoryStatus: true,
      vdaStatus: false,
      vdbStatus: true,
      diskUsageStatus: false,
      onlineTime: 1.2,
      IconYellow,
      BackgroundYellow,
      BackgroundRed,
      BackgroundCommon,
      OnlineTimeImg,
      OnlineTimeImg_1,
      xAxisData: ["周一", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
      gaugeList: [
        {
          name: "CPU利用率",
          value: 80,
        },
        {
          name: "内存使用率",
          value: 20,
        },
        {
          name: "磁盘vda1使用率",
          value: 96,
        },
        {
          name: "磁盘vda2使用率",
          value: 79,
        },
      ],
      titleList: ["Mean", "Min", "MAx", "Last"],
    };
  },
  methods: {},
};
</script>
<style scoped lang="less" src="./assets/index.rem.less" />
<style scope>
.text-wrapper_6 {
  position: relative;
}
.text_18 {
  width: 100% !important;
  text-align: center !important;
  margin: 0.105rem 0 0 0 !important;
}
.text_red {
  color: rgba(255, 53, 89, 1);
}
.text_5_1 {
  width: 1.474rem;
  height: 0.292rem;
  overflow-wrap: break-word;
  color: rgba(255, 53, 89, 1);
  font-size: 0.208rem;
  font-weight: 600;
  text-align: center;
  line-height: 0.292rem;
}
.box_23 {
  position: absolute;
  bottom: 0;
}
.thumbnail_9 {
  width: 0.094rem;
  height: 0.084rem;
  margin: 0.027rem 0 0 0.084rem;
}
.text_31 {
  width: 0.188rem;
  height: 0.131rem;
  overflow-wrap: break-word;
  color: rgba(255, 126, 44, 1);
  font-size: 0.093rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.131rem;
  margin-left: 0.063rem;
}
</style>
