<template>
  <div class="page flex-col">
    <div class="box_1 flex-col">
      <div class="section_1 flex-col">
        <div class="box_2 flex-col">
          <div class="group_1 flex-col">
            <div class="box_29 flex-col">
              <div class="box_30 flex-row">
                <span class="text_1">当前数据服务任务｜共享批次：</span>
                <span class="text_50"
                  >{{ date_1 }}&nbsp;&nbsp;{{ time_1 }}</span
                >
                <img
                  class="label_11"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngc1124dc4e9056b197f37a594e598bdfe7db9e42c5c31a329d90f91ec28090174.png"
                />
                <div class="group_3 flex-row justify-end">
                  <!-- <span class="text_2">返回列表</span> -->
                  <GoPageComponent
                    class="text_2"
                    urlStr="/shouye"
                    title="返回列表"
                  />
                  <img
                    class="thumbnail_2"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPngea77c310f7033dafb7fe8724486e2f5c005ec26d19b880df5f97a6656bd6de0e.png"
                  />
                </div>
              </div>
              <img
                class="image_1"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng9b7303c96db89883f0bd27e587a35d64f675c704e86afd38d0b71d48e4d85858.png"
              />
              <div class="box_31 flex-row">
                <div class="group_4 flex-col">
                  <div class="block_17 flex-row justify-between">
                    <div class="section_2 flex-col"></div>
                    <img
                      class="image_2"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPng62cb5f49823e1ebd3c521c5f14f6085a4d51cb2b8928c0ad9198969dccceae9a.png"
                    />
                  </div>
                  <div class="block_18 flex-row">
                    <div class="section_6 flex-col justify-between">
                      <img
                        class="image_3"
                        referrerpolicy="no-referrer"
                        src="./assets/img/SketchPngd05c2a460716fe4d3fa6adad7f8d2fe09173ce66e029f920e184a36fc7cf7109.png"
                      />
                      <div class="group_7 flex-col"></div>
                    </div>
                    <div class="section_7 flex-col">
                      <div
                        class="text-wrapper_10 flex-row"
                        :class="{
                          hidden: reconciliationStatus || huijuStatus,
                        }"
                      >
                        <span class="text_3">汇聚数据量：</span>
                        <span class="text_4">1234</span>
                        <span class="text_5">条</span>
                      </div>
                      <div class="image-text_7 flex-row justify-between">
                        <div
                          class="box_5 flex-col"
                          v-if="!reconciliationStatus && !huijuStatus"
                        ></div>
                        <img
                          v-if="!reconciliationStatus && huijuStatus"
                          style="
                             {
                              width: 0.094rem;
                              height: 0.084rem;
                              margin-top: 0.016rem;
                              margin-right: 6px;
                            }
                          "
                          referrerpolicy="no-referrer"
                          :src="Thumbnail9Icon_1"
                        />
                        <span
                          :class="{
                            'text-group_1': true,
                            text_red: huijuStatus,
                            hidden: reconciliationStatus,
                          }"
                          >{{
                            huijuStatus ? "数据汇聚异常" : "数据汇聚成功"
                          }}</span
                        >
                      </div>
                      <div class="image-text_8 flex-col justify-between">
                        <img
                          class="image_4"
                          referrerpolicy="no-referrer"
                          :src="
                            huijuStatus
                              ? ErrorArrowImg
                              : reconciliationStatus
                              ? FailArrowImg
                              : SuccessArrowImg
                          "
                        />
                        <div class="text-group_8 flex-col justify-between">
                          <span class="text_6" v-if="!reconciliationStatus"
                            >开始时间：2023-05-31&nbsp;&nbsp;05:23:33</span
                          >
                          <span
                            class="text_7"
                            v-if="!reconciliationStatus && !huijuStatus"
                            >结束时间：2023-05-31&nbsp;&nbsp;05:23:43</span
                          >
                          <span
                            class="text_8"
                            v-if="!reconciliationStatus && !huijuStatus"
                            >总耗时间：10秒</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="group_8 flex-col">
                    <img
                      class="image_5"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPngc6d389983c7b9c80ad3e48b85c9b131b2eec69f2ebe2f1f2847746cef99d1ae2.png"
                    />
                    <span class="text_9">汇聚库A</span>
                    <div class="group_9 flex-col">
                      <div class="group_10 flex-col"></div>
                    </div>
                  </div>
                  <div class="group_11 flex-row">
                    <div class="group_27 flex-col justify-between">
                      <img
                        class="image_6"
                        referrerpolicy="no-referrer"
                        src="./assets/img/SketchPng0dbaf4053b8852653c5c981fcc1af0781d3046444e21609d78e568dfa2c9f263.png"
                      />
                      <span class="text_10">流水库A</span>
                    </div>
                    <div class="group_28 flex-col">
                      <div
                        class="text-wrapper_11 flex-row"
                        :class="{ hidden: reconciliationStatus }"
                      >
                        <span class="text_11">写入数据量：</span>
                        <span class="text_12">1234</span>
                        <span class="text_13">条</span>
                      </div>
                      <div
                        class="image-text_9 flex-row justify-between"
                        :class="{ hidden: reconciliationStatus }"
                      >
                        <div class="section_3 flex-col"></div>
                        <span class="text-group_3">数据写入成功</span>
                      </div>
                      <img
                        class="image_7"
                        referrerpolicy="no-referrer"
                        :src="
                          reconciliationStatus ? FailArrowImg : SuccessArrowImg
                        "
                      />
                      <!-- <img
                        class="image_7"
                        referrerpolicy="no-referrer"
                        src="./assets/img/SketchPng30e312e7037fcd4ce29aa519a658ca8bdb1415e51fda4c38b3b7f291d65d3102.png"
                      /> -->
                      <div
                        class="text-group_9 flex-col justify-between"
                        :class="{ hidden: reconciliationStatus }"
                      >
                        <span class="text_14"
                          >开始时间：2023-05-31&nbsp;&nbsp;05:23:33</span
                        >
                        <span class="text_15"
                          >结束时间：2023-05-31&nbsp;&nbsp;05:23:43</span
                        >
                        <span class="text_16">总耗时间：10秒</span>
                      </div>
                    </div>
                    <div class="group_29 flex-col justify-between">
                      <img
                        class="image_8"
                        referrerpolicy="no-referrer"
                        src="./assets/img/SketchPng29611a3e4bb33179f6b9fd5af3080ac01e9f57c82ea31d2a9c5219cb0d0bb67e.png"
                      />
                      <span class="text_17">汇聚结果库A</span>
                    </div>
                    <div class="group_15 flex-col"></div>
                  </div>
                  <div class="image-wrapper_2 flex-col">
                    <img
                      class="image_9"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPngd0a42314ccbc80192a736cddccb5036de8797f918228eea12abff202fa2f3f7e.png"
                    />
                  </div>
                  <img
                    class="image_10"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng341f19547ba0a23f42eadd383883d8aa92d1e4567e236c5512c725ecabb327c9.png"
                  />
                  <img
                    class="image_11"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPnge8da644c6c476e436920a68c6916aeadca258a84a080a5608ab6388cfd4f27d9.png"
                  />
                  <div class="group_16 flex-row">
                    <div class="box_7 flex-col"></div>
                    <div class="box_8 flex-row">
                      <img
                        class="thumbnail_3"
                        referrerpolicy="no-referrer"
                        src="./assets/img/SketchPng3162b5519282ad5a4d6dc3da99f8c4b6cf6d629c28286c0282cf083fc4f4c0e8.png"
                      />
                      <span class="text_18">业务系统A</span>
                    </div>
                    <div class="box_9 flex-col">
                      <div class="box_10 flex-col"></div>
                    </div>
                  </div>
                  <img
                    class="label_1"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng0ec12573a6e094d85fac814414147fdcb43aeeb80b32dbc21177829a44490da3.png"
                  />
                  <div class="group_17 flex-row justify-between">
                    <div class="box_11 flex-col">
                      <div class="block_4 flex-col"></div>
                    </div>
                    <img
                      class="label_2"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPngbc1707d70a7dc6496784d142fe8001e70da1776ba52ca1c31df3c4f669423a52.png"
                    />
                    <div class="box_12 flex-row">
                      <img
                        class="thumbnail_4"
                        referrerpolicy="no-referrer"
                        src="./assets/img/SketchPng3162b5519282ad5a4d6dc3da99f8c4b6cf6d629c28286c0282cf083fc4f4c0e8.png"
                      />
                      <span class="text_19">数据中台</span>
                    </div>
                  </div>
                  <img
                    class="label_3"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng0ec12573a6e094d85fac814414147fdcb43aeeb80b32dbc21177829a44490da3.png"
                  />
                  <div
                    class="group_18 flex-row margin_0"
                    :style="
                      backgroundStyle(
                        reconciliationStatus,
                        ReconciliationImg_1,
                        ReconciliationImg
                      )
                    "
                  >
                    <img
                      class="thumbnail_5"
                      referrerpolicy="no-referrer"
                      :src="
                        !reconciliationStatus
                          ? ReconciliationIcon
                          : Thumbnail9Icon_1
                      "
                    />
                    <span
                      :class="{
                        text_20: true,
                        text_red: reconciliationStatus,
                      }"
                      >{{
                        !reconciliationStatus ? "对账成功" : "对账失败"
                      }}</span
                    >
                    <span class="text_21">{{ date_3 }}</span>
                    <span class="text_22">{{ time_3 }}</span>
                  </div>
                </div>
                <div class="group_30 flex-col">
                  <div
                    class="text-wrapper_12 flex-row"
                    :class="{ hidden: reconciliationStatus }"
                  >
                    <span class="text_23">写入数据量：</span>
                    <span class="text_24">1234</span>
                    <span class="text_25">条</span>
                  </div>
                  <div
                    class="image-text_10 flex-row justify-between"
                    :class="{ hidden: reconciliationStatus }"
                  >
                    <div class="group_20 flex-col"></div>
                    <span class="text-group_5">数据共享成功</span>
                  </div>
                  <div class="image-text_11 flex-col justify-between">
                    <!-- <img
                      class="image_12"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPng30e312e7037fcd4ce29aa519a658ca8bdb1415e51fda4c38b3b7f291d65d3102.png"
                    /> -->
                    <img
                      class="image_12"
                      referrerpolicy="no-referrer"
                      :src="
                        reconciliationStatus ? FailArrowImg : SuccessArrowImg
                      "
                    />
                    <div
                      class="text-group_10 flex-col justify-between"
                      :class="{ hidden: reconciliationStatus }"
                    >
                      <span class="text_26"
                        >开始时间：2023-05-31&nbsp;&nbsp;05:23:33</span
                      >
                      <span class="text_27"
                        >结束时间：2023-05-31&nbsp;&nbsp;05:23:43</span
                      >
                      <span class="text_28">总耗时间：10秒</span>
                    </div>
                  </div>
                </div>
                <div class="group_21 flex-col">
                  <img
                    class="image_13"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng7c47403624eb4480db903a7b7684ffba65ef3d16d8ec502aeab989be4d173b55.png"
                  />
                  <img
                    class="image_14"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng56b71420882fa2b099507303817b616bfa3467f6433c8fc5d9658a5b590ad4df.png"
                  />
                  <div class="block_5 flex-col"></div>
                  <div class="block_6 flex-col">
                    <div class="text-wrapper_5">
                      <span class="text_29">表英文名称：</span>
                      <span class="text_30">sjdklfagj</span>
                    </div>
                    <div class="text-wrapper_6">
                      <span class="text_31">表中文名称：</span>
                      <span class="text_32">xxxx表</span>
                    </div>
                    <div class="box_13 flex-row">
                      <div class="image-text_12 flex-col justify-between">
                        <img
                          class="image_15"
                          referrerpolicy="no-referrer"
                          src="./assets/img/SketchPnge974585d84788ac9aa3c02c5a08d52041242f34eb9528bc36483bf491917d1c2.png"
                        />
                        <span class="text-group_7">前置库C</span>
                      </div>
                    </div>
                  </div>
                  <div class="block_7 flex-col">
                    <div class="group_22 flex-col"></div>
                  </div>
                  <img
                    class="image_16"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng5d77ce44a835397d3f9290aca46fe007e899c0ba90d8cf03b394bd013c39408a.png"
                  />
                  <div class="block_8 flex-col">
                    <img
                      class="label_4"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPng49a26082b36c4bced371330651a512ac300c41804e8bdb803dc2c82cc69fd47f.png"
                    />
                    <div class="box_14 flex-row">
                      <img
                        class="thumbnail_6"
                        referrerpolicy="no-referrer"
                        src="./assets/img/SketchPng3162b5519282ad5a4d6dc3da99f8c4b6cf6d629c28286c0282cf083fc4f4c0e8.png"
                      />
                      <span class="text_33">业务系统C</span>
                    </div>
                  </div>
                  <img
                    class="label_5"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng0ec12573a6e094d85fac814414147fdcb43aeeb80b32dbc21177829a44490da3.png"
                  />
                </div>
              </div>
              <div class="group_2 flex-col">
                <img
                  class="thumbnail_1"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng7ebb7b81236ea6e7894b1b21213a20bd09c64908b9cd08313b74007501e73498.png"
                />
              </div>
              <div class="block_10 flex-col"></div>
              <div
                class="block_11 flex-row"
                :style="backgroundStyle(huijuStatus, Block11Img_1, Block11Img)"
              >
                <div class="box_16 flex-col"></div>
                <span class="text_36">数据汇聚</span>
                <img
                  class="thumbnail_9"
                  referrerpolicy="no-referrer"
                  :src="huijuStatus ? Thumbnail9Icon_1 : Thumbnail9Icon"
                />
                <span :class="{ text_37: true, text_red: huijuStatus }">{{
                  !huijuStatus ? "正常" : "异常"
                }}</span>
                <div class="box_32 flex-row">
                  <span class="text_51">汇聚批次｜</span>
                  <span class="text_52"
                    >{{ date_2 }}&nbsp;&nbsp;{{ time_2 }}</span
                  >
                  <img
                    class="thumbnail_14"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPnge1d5ce687a2f02720b3cd5540fb81c009eef0abecc7e0f67b53a6cc905898c05.png"
                  />
                </div>
                <div class="text-wrapper_8 flex-col">
                  <!-- <span class="text_40">数据查询</span> -->
                  <GoPageComponent
                    title="数据查询"
                    class="text_40"
                    urlStr="/shouye"
                  />
                </div>
              </div>
              <div
                class="block_12 flex-row"
                :style="
                  backgroundStyle(serviceStatus, Block11Img_1, Block11Img)
                "
              >
                <img
                  class="label_6"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngdef4cf0009e6ec927841734ff96bc8aa2957271a1be3aeb326c8253737675534.png"
                />
                <span class="text_41">数据服务</span>
                <!-- <img
                  class="thumbnail_12"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngc028208439efc2480cab29c80e88fcbe73df0e1fcc74338c0977e7bd8ee15376.png"
                /> -->
                <!-- <span class="text_42">正常</span> -->
                <img
                  class="thumbnail_12"
                  referrerpolicy="no-referrer"
                  :src="serviceStatus ? Thumbnail9Icon_1 : Thumbnail9Icon"
                />
                <span :class="{ text_42: true, text_red: serviceStatus }">{{
                  !serviceStatus ? "正常" : "异常"
                }}</span>
                <div class="text-wrapper_9 flex-col">
                  <!-- <span class="text_43">数据查询</span> -->
                  <GoPageComponent
                    title="数据查询"
                    class="text_43"
                    urlStr="/shouye"
                  />
                </div>
              </div>
              <div class="block_13 flex-col">
                <div class="box_19 flex-col">
                  <div class="block_14 flex-col">
                    <div class="image-wrapper_4 flex-col">
                      <img
                        class="thumbnail_13"
                        referrerpolicy="no-referrer"
                        src="./assets/img/SketchPng88197cd2b9c3dc48251be6a5c6ebf2c885b7a67ed724b9ebb5221afaddbf8dd5.png"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <img
                class="image_19"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng44781d68967be8424688cb5b22a32b8f68107c69835e4708f7c5fed4ed02b10d.png"
              />
            </div>
            <div class="block_15 flex-col justify-end">
              <div class="group_31 flex-row">
                <div class="image-wrapper_5 flex-col align-center">
                  <img
                    class="image_20"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng26c6bc9dff4bab1214fafa9c84b91aea40326d7c93f82411c31228fe20f25fd5.png"
                  />
                </div>
                <div class="image-wrapper_6 flex-col align-center">
                  <img
                    class="label_7"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng30c418f404553b4ad40c0fc979d1f31cdfa0b791f81300a32e3a6c0f234c8921.png"
                  />
                </div>
                <DateComponent class="text_44" />
                <WeekComponent class="text_45" />
                <TimeComponent class="text_46" />
                <!-- <span class="text_44">2023.07.03</span>
                <span class="text_45">星期一</span>
                <span class="text_46">15:21:06</span> -->
                <div class="box_21 flex-row">
                  <img
                    class="label_8"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPnge3517ad951d2744c1894f48681bd5c9210c69946de29f5fb0b8931e986dac008.png"
                  />
                  <!-- <span class="text_47">返回</span> -->
                  <GoPageComponent
                    class="text_47"
                    title="返回"
                    urlStr="/shouye"
                  />
                  <img
                    class="label_9"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPngfa967cc506e4ac42e52a0809cd2771253fee018790993a9637abeed85000c4b7.png"
                  />
                  <!-- <span class="text_48">全屏</span> -->
                  <ScreenFull class="text_48" />
                </div>
              </div>
              <div class="box_22 flex-col"></div>
              <img
                class="image_21"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng079e4f4832f4306d30df25083b4f6e39c65f0734a55ba0bff4e51f0978bce2a4.png"
              />
              <div class="box_23 flex-col">
                <div class="group_24 flex-col">
                  <div class="box_24 flex-col"></div>
                  <div class="box_25 flex-col"></div>
                  <div class="box_26 flex-col"></div>
                  <div class="box_27 flex-col"></div>
                </div>
              </div>
              <div class="box_28 flex-row">
                <img
                  class="label_10"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng42a5128f665b42f841ee569e1fc51693945ac7db521e7254d0febd08d7a68c7a.png"
                />
                <div class="group_32 flex-col justify-between">
                  <span class="text_49">数据服务监控</span>
                  <div class="section_5 flex-col">
                    <div class="group_25 flex-col">
                      <div class="group_26 flex-col"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Block11Img from "./assets/img/SketchPng4511a8bcfe723b0cdc11c126c79ba36f272447c188fafb38da99b0bff8cea4ca.png";
import Block11Img_1 from "./assets/img/SketchPng0994d95084c2f80dcd874c2758cf9f146f72a1e5e97dfb6f8507d32fd6b66ab0.png";
import Thumbnail9Icon_1 from "./assets/img/SketchPnge8443d9033cf30d927c6980f678807d997f47012e7c8e799f4ac605cbd21deda.png";
import Thumbnail9Icon from "./assets/img/SketchPngc028208439efc2480cab29c80e88fcbe73df0e1fcc74338c0977e7bd8ee15376.png";
import ReconciliationIcon from "./assets/img/SketchPng0cf33719842b8fc7260eb730626c95b5cd5c47b3f857a911fb27d541cef134e4.png";
import ReconciliationImg from "./assets/img/SketchPng0f9e77e944ee60dcd603c30a56151e72bf7e983581d45c4705821732629bd13a.png";
import ReconciliationImg_1 from "./assets/img/SketchPng252510c68151a40c09b7a5e021e2452583479fd4b71e88e5e98117654190b00f.png";
import FailArrowImg from "./assets/img/SketchPng4778661966cdcb6467f422f1d8ab06dfa5df8b13f43c1ad9873abaf5ddadf02c.png";
import SuccessArrowImg from "./assets/img/SketchPngc6691f9a5455be8b10c547839f8d22ead3e5c89e81af75fae2e5d05ea8444709.png";
import ErrorArrowImg from "./assets/img/SketchPngbb6db59727aefa6d5a079e490627edc8e001a7bf48166b7ee3bbbdb0830cac90.png";

export default {
  data() {
    return {
      constants: {},
      date_1: "2016-08-16",
      time_1: "12:23:13",
      date_2: "2023-08-16",
      time_2: "18:23:13",
      huijuStatus: true,
      serviceStatus: true,
      reconciliationStatus: false, //对账结果 flase 成功
      writeInStatus: false, //数据写入 flase 成功
      shareStatus: false, //数据共享 flase 成功
      ReconciliationIcon,
      ReconciliationImg,
      ReconciliationImg_1,
      FailArrowImg,
      SuccessArrowImg,
      ErrorArrowImg,
      date_3: "2023-08-21",
      time_3: "12:23:13",
      Block11Img,
      Block11Img_1,
      Thumbnail9Icon_1,
      Thumbnail9Icon,
    };
  },
  methods: {},
};
</script>
<style scoped lang="less" src="./assets/index.rem.less" />
<style scoped>
.text_red {
  color: #ff3b4e !important;
}
.margin_0 {
  margin: 0 !important;
}

.hidden {
  visibility: hidden !important;
}
/* .image_10 {
  width: 1.25rem !important;
  height: 0.105rem !important;
  margin: 0.766rem 0 0 0.021rem !important;
} */
</style>