<template>
  <div class="page flex-col">
    <div class="box_1 flex-col">
      <div class="group_1 flex-col">
        <div class="section_1 flex-col">
          <div class="block_1 flex-col">
            <div class="block_2 flex-col">
              <div class="box_2 flex-col">
                <div class="section_2 flex-col">
                  <div class="image-wrapper_1 flex-row">
                    <img
                      class="image_1"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPngf1bfbc11d55b5a2f82177e79990c903840b4317659549b43981e2b5592691762.png"
                    />
                  </div>
                  <div class="section_3 flex-row">
                    <img
                      class="label_1"
                      referrerpolicy="no-referrer"
                      :src="levelInfo.iconImg"
                    />
                    <span class="text_1" :style="{ color: levelInfo.color }">{{
                      levelInfo.title
                    }}</span>
                    <span class="text_2" :style="{ color: levelInfo.color }">
                      {{ levelInfo.desc }}
                    </span>
                  </div>
                  <img
                    class="image_2"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng9532bd606203596f82519e75a064be7f748daa627e30415b9d9e47c9f5c614e7.png"
                  />
                  <img
                    class="image_3"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng98ffec274c0a1cfce07fa02807ad9d7bf99fe426cf6fb5367ab4051d5f1542b7.png"
                  />
                </div>
                <img
                  class="image_4"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng2d2dee641c5854f9f218631d59f8fba7681092274dc496ffa101d86bdfb1e3d0.png"
                />
                <div class="section_4 flex-col"></div>
                <js-tab
                  :tabs="tabs"
                  :tabIndex="tabIndex"
                  @change="changeTab"
                  :style="{
                    position: 'absolute',
                    left: '0.209rem',
                    top: '0.678rem',
                  }"
                ></js-tab>
                <img
                  class="image_5"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngb79efb9c5c7d5d1e34b859ee9a4f5f06e8345612ba45249bdefda21ce51c6fdb.png"
                />
                <div
                  class="section_5 flex-row justify-between"
                  v-if="tabIndex === 0"
                >
                  <div
                    class="group_2 flex-col"
                    v-for="(item, index) in data"
                    :key="item.name"
                    :style="{ borderColor: levelInfo.color }"
                  >
                    <div class="group_3 flex-row" :style="backgroundStyle">
                      <span
                        class="text_3"
                        :style="{ color: levelInfo.color }"
                        >{{ item.title }}</span
                      >
                      <img
                        class="image_6"
                        referrerpolicy="no-referrer"
                        :src="levelInfo.iconImg"
                      />
                      <span
                        class="text_4"
                        :style="{ color: levelInfo.color }"
                        >{{ levelInfo.title }}</span
                      >
                    </div>
                    <span class="text_5">告警阀值：</span>
                    <div class="group_4 flex-col">
                      <div
                        class="box_3 flex-col"
                        :style="thresholdBackgroundStyle"
                      >
                        <div class="text-wrapper_1 flex-row">
                          <span class="text_6"
                            >{{ item.title }}&gt;={{ item.threshold }}</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="text-wrapper_2 flex-row justify-between">
                      <span
                        :class="`tab_text ${
                          item.tabIndex === 0 ? 'current' : ''
                        }`"
                        @click="changeBlockTabIndex(index, 0)"
                        >飞书</span
                      >
                      <span
                        :class="`tab_text ${
                          item.tabIndex === 1 ? 'current' : ''
                        }`"
                        @click="changeBlockTabIndex(index, 1)"
                        >站内消息</span
                      >
                    </div>
                    <img
                      class="image_8"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPng28fb35f79c9e73783e91d4509e924be92a7748d6299a77cee5a80168c507bfcb.png"
                    />
                    <div
                      class="text-wrapper_3 flex-row"
                      v-if="item.tabIndex === 0"
                    >
                      <span class="text_9">序号</span>
                      <span class="text_10">告警接受人</span>
                      <span class="text_11">飞书群</span>
                    </div>
                    <div class="group_7 flex-col" v-if="item.tabIndex === 0">
                      <div
                        class="text-wrapper_4 flex-row"
                        v-for="(fushuItem, index) in item.fushuList"
                        :key="fushuItem.name"
                      >
                        <span class="text_12">{{ index + 1 }}</span>
                        <span class="text_13"
                          >第{{ numberToChinese(index + 1) }}责任人：</span
                        >
                        <span class="text_14">{{ fushuItem.name }}</span>
                        <span class="text_15">{{ fushuItem.group }}</span>
                      </div>
                    </div>

                    <div class="group_8 flex-row justify-between">
                      <div class="image-text_1 flex-row justify-between">
                        <div class="section_7 flex-col"></div>
                        <span class="text-group_1">状态：</span>
                      </div>
                      <span class="text_24">开启监控</span>
                    </div>
                    <div class="group_9 flex-row justify-between">
                      <div class="image-text_2 flex-row justify-between">
                        <img
                          class="image_11"
                          referrerpolicy="no-referrer"
                          src="./assets/img/SketchPng46596860c937207b78062e88175fb03a82ba2e34bacf4111ce5b73d29672f550.png"
                        />
                        <span class="text-group_2">配置人：</span>
                      </div>
                      <span class="text_25">{{ item.creator }}</span>
                    </div>
                    <div class="group_10 flex-row justify-between">
                      <div class="image-text_3 flex-row justify-between">
                        <img
                          class="label_2"
                          referrerpolicy="no-referrer"
                          src="./assets/img/SketchPnga31d2d9ee03ab6e4de5f7e8a5124bc762b0b88c17bb2f8cef2428a62d78645ed.png"
                        />
                        <span class="text-group_3">配置时间：</span>
                      </div>
                      <span class="text_26">{{ item.creator_date }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box_10 flex-col justify-end">
                <div class="box_11 flex-row">
                  <div class="image-wrapper_10 flex-col align-center">
                    <img
                      class="image_30"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPng26c6bc9dff4bab1214fafa9c84b91aea40326d7c93f82411c31228fe20f25fd5.png"
                    />
                  </div>
                  <div class="image-wrapper_11 flex-col align-center">
                    <img
                      class="label_6"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPng30c418f404553b4ad40c0fc979d1f31cdfa0b791f81300a32e3a6c0f234c8921.png"
                    />
                  </div>
                  <DateComponent class="text_102" />
                  <WeekComponent class="text_103" />
                  <TimeComponent class="text_104" />
                  <div class="box_12 flex-col">
                    <div class="block_14 flex-row">
                      <img
                        class="label_7"
                        referrerpolicy="no-referrer"
                        src="./assets/img/SketchPnge3517ad951d2744c1894f48681bd5c9210c69946de29f5fb0b8931e986dac008.png"
                      />
                      <GoPageComponent
                        class="text_105"
                        urlStr="shouye"
                        title="返回"
                      />
                      <img
                        class="label_8"
                        referrerpolicy="no-referrer"
                        src="./assets/img/SketchPngfa967cc506e4ac42e52a0809cd2771253fee018790993a9637abeed85000c4b7.png"
                      />
                      <ScreenFull class="text_106" />
                    </div>
                  </div>
                </div>
                <div class="box_13 flex-col">
                  <div class="group_24 flex-col"></div>
                </div>
                <img
                  class="image_31"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng079e4f4832f4306d30df25083b4f6e39c65f0734a55ba0bff4e51f0978bce2a4.png"
                />
                <div class="box_14 flex-col">
                  <div class="box_15 flex-col">
                    <div class="block_15 flex-col">
                      <div class="box_16 flex-col"></div>
                    </div>
                    <div class="block_16 flex-col">
                      <div class="group_25 flex-col"></div>
                    </div>
                    <div class="block_17 flex-col">
                      <div class="section_20 flex-col"></div>
                    </div>
                    <div class="block_18 flex-col"></div>
                  </div>
                </div>
                <div class="box_17 flex-row">
                  <img
                    class="label_9"
                    referrerpolicy="no-referrer"
                    :src="levelInfo.iconImg"
                  />
                  <div class="block_19 flex-col">
                    <div class="section_21 flex-col">
                      <div class="group_26 flex-col">
                        <div class="box_18 flex-col"></div>
                      </div>
                    </div>
                    <span
                      class="text_107"
                      :style="{ color: levelInfo.color }"
                      >{{ levelInfo.title }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import levelOneIcon from "./assets/img/SketchPngf285726901b613923786d214e3c47cb03a2fc93cc5279a7b95e3da534c5f1ebf.png";
import levelTwoIcon from "./assets/img/SketchPng7b6958bfb27cc5706f34fab04072b8e6fbb01257ac522f145aa494a875e6a498.png";
import levelThreeIcon from "./assets/img/SketchPnge27ba3a8e661e0cb670259095eba9a66a905520b0413394363bc90f1e0a5809b.png";
import levelFourIcon from "./assets/img/SketchPngca693916ebde629b85d8b42c1b0d639409f9e4abe2796b8cb121dfb1d6da53e4.png";
import levelTitleFourIcon from "./assets/img/SketchPng5705bfd21c5a63c0eff882e558051020e8912bbd0cdb39e5bd9d5dc51f0bdc30.png";
import levelOneBg from "./assets/img/SketchPngf6eae401ea65a6cc8475a75e2e7c5aceb09657398931d2464312e9725284ae98.png";
import levelTwoBg from "./assets/img/SketchPngf5f395448b5363d15f9c8d774bcfe00ab16f7543d77aa502d9498bf34c6ef457.png";
import levelThreeBg from "./assets/img/SketchPng480e23c47df49a20394ff3d91497df53c1ff3c9998c880ac0a48b46ac7cf94e5.png";
import levelFourBg from "./assets/img/SketchPngb50f440083e8c21d2e09ccdbcd674754c136a89804fddf33e5e6b9275062dc41.png";
import levelThresloadOneBg from "./assets/img/SketchPng3d047c1fffca54f5bd6f83845f66543795b0b0a8d2ad5f81a2e8142a46ea3be5.png";
import levelThresloadTwoBg from "./assets/img/SketchPng1cb93e29bba07c52b1810bf2d447ecd4d2fcc33aebff31d899c8fa9e011f8448.png";
import levelThresloadThreeBg from "./assets/img/SketchPng1980907d0db0951e6f18581345dcd7b687e5742f3b5affd848cc68c6709c8f0d.png";
import levelThresloadFourBg from "./assets/img/SketchPnga23c105e1615b65b040d88b2de0717e7ce700e689849afecb1bd66144f5969e9.png";
import { numberToChinese } from "@/utils";
import JsTab from "@/components/JsTab";

const levels = [
  {
    titleIcon: levelThreeIcon,
    iconImg: levelOneIcon,
    title: "一级警告",
    color: "#FF3B4E",
    desc: "该异常将导致平台运行瘫痪，需第一时间处理，监控平台将以飞书的方式通知系统运维人员，7*24小时处理红色告警",
    bgImg: levelOneBg,
    thresloadBg: levelThresloadOneBg,
  },
  {
    titleIcon: levelThreeIcon,
    iconImg: levelTwoIcon,
    title: "二级报警",
    color: "#FF7E2C",
    desc: "橙色二级告警信息表示该异常将导致业务线的业务断裂，需要第一时间处理，监控平台将以飞书的方式通知数据实施人员，需白天重点关注该报警",
    bgImg: levelTwoBg,
    thresloadBg: levelThresloadTwoBg,
  },
  {
    titleIcon: levelThreeIcon,
    iconImg: levelThreeIcon,
    title: "三级报警",
    color: "#F0CA0F",
    desc: "黄色三级告警信息表示该异常将导致汇聚、共享等相关任务异常，需第一时间处理，监控平台将以飞书的方式通知数据实施人员，任务运行时段重点关注",
    bgImg: levelThreeBg,
    thresloadBg: levelThresloadThreeBg,
  },
  {
    titleIcon: levelTitleFourIcon,
    iconImg: levelFourIcon,
    title: "四级报警",
    color: "#5DC5FF",
    desc: "蓝色四级告警信息表示相关任务有存在异常风险，数据实施人员可定时查看存在的异常风险，并进行相应处理",
    bgImg: levelFourBg,
    thresloadBg: levelThresloadFourBg,
  },
];

export default {
  components: { JsTab },
  data() {
    return {
      // 控制一级二级控制此index即可
      levelIndex: 0,
      levelInfo: {},
      data: [
        {
          title: "CPU使用率",
          threshold: "90%",
          status: "开启监控",
          creator: "财旺",
          creator_date: "2023年04月31日 15:31:21",
          fushuList: [
            {
              name: "郭金鹏",
              group: "住建委服务器监控运维群",
            },
            {
              name: "郭金鹏1",
              group: "住建委服务器监控运维群",
            },
            {
              name: "郭金鹏2",
              group: "住建委服务器监控运维群",
            },
          ],
          tabIndex: 0,
        },
        {
          title: "CPU使用率",
          threshold: "90%",
          status: "开启监控",
          creator: "财旺",
          creator_date: "2023年04月31日 15:31:21",
          fushuList: [
            { name: "郭金鹏", group: "住建委服务器监控运维群" },
            { name: "郭金鹏1", group: "住建委服务器监控运维群" },
            { name: "郭金鹏2", group: "住建委服务器监控运维群" },
          ],
          tabIndex: 0,
        },
        {
          title: "CPU2使用率",
          threshold: "80%",
          status: "开启监控",
          creator: "财旺",
          creator_date: "2023年04月31日 15:31:21",
          fushuList: [
            { name: "郭金鹏", group: "住建委服务器监控运维群" },
            { name: "金鹏1", group: "住建委服务器监控运维群" },
            { name: "郭鹏2", group: "住建委服务器监控运维群" },
          ],
          tabIndex: 0,
        },
        {
          title: "CPU3使用率",
          threshold: "70%",
          status: "开启监控",
          creator: "财旺",
          creator_date: "2023年04月31日 15:31:21",
          fushuList: [
            { name: "金鹏", group: "住建委服务器监控运维群" },
            { name: "郭金1", group: "住建委服务器监控运维群" },
            { name: "郭金2", group: "住建委服务器监控运维群" },
          ],
          tabIndex: 0,
        },
      ],
      tabIndex: 0,
      tabs: ["服务器监控", "数据库监控", "微服务监控"],
    };
  },
  computed: {
    backgroundStyle() {
      return {
        backgroundImage: `url(${this.levelInfo.bgImg})`,
      };
    },
    thresholdBackgroundStyle() {
      return { backgroundImage: `url(${this.levelInfo.thresloadBg})` };
    },
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      this.levelInfo = levels[this.levelIndex];
    },
    numberToChinese,
    changeTab(index) {
      console.log(index);
      this.tabIndex = index;
    },
    changeBlockTabIndex(blockIndex, index) {
      console.log(blockIndex, index);
      this.data[blockIndex]["tabIndex"] = index;
      console.log(this.data);
    },
  },
};
</script>
<style scoped lang="less" src="./assets/index.rem.less" />
