<template>
  <div ref="gauge" class="chart_box"></div>
</template>
<script>
import * as echarts from "echarts";
export default {
  name: "GaugeChart",
  props: {
    value: String,
  },
  data() {
    return {
      chart: null,
    };
  },
  mounted() {
    this.init();
    // 监听窗口的 resize 事件，调用图表的 resize 方法实现自适应
    window.addEventListener("resize", this.handleResize);
  },
  beforeDestroy() {
    // 在组件销毁前移除 resize 事件监听
    window.removeEventListener("resize", this.handleResize);
  },
  methods: {
    getColor(value) {
      console.log(value, typeof value);
      let color = "#00EDFF"; //00EDFF <80 蓝色  #F0CA0F//>=80黄色 red//>=90红色
      let num = +value;
      if (num >= 80) {
        color = "#F0CA0F";
      }
      if (num >= 90) {
        color = "#FF3559";
      }
      return color;
    },
    init() {
      this.chart = echarts.init(this.$refs.gauge);
      const option = {
        grid: {
          top: 0,
          bottom: 0,
          left: -100,
          right: 0,
        },
        series: [
          {
            type: "gauge",
            center: ["50%", "60%"],
            startAngle: 200,
            endAngle: -20,
            min: 0,
            max: 100,
            itemStyle: { color: this.getColor(this.value) },
            progress: {
              show: true,
              width: 6,
            },
            pointer: { show: false },
            axisLine: {
              lineStyle: {
                width: 6,
                color: [
                  [0, "#00EDFF"],
                  [1, "rgba(45, 50, 83, 1)"],
                ],
              },
            },
            axisTick: { show: false },
            splitLine: { show: false },
            axisLabel: { show: false },
            anchor: { show: false },
            title: { show: false },
            detail: {
              valueAnimation: true,
              width: "30%",
              lineHeight: 40,
              borderRadius: 8,
              offsetCenter: [0, "-15%"],
              fontSize: "0.1rem",
              fontWeight: "bolder",
              formatter: "{value} %",
              color: "inherit",
            },
            data: [{ value: this.value }],
            radius: "90%",
          },
          {
            type: "gauge",
            center: ["50%", "60%"],
            startAngle: 200,
            endAngle: -20,
            min: 0,
            max: 100,
            itemStyle: { opacity: 0 },
            progress: { show: true, width: 8 },
            pointer: { show: false },
            axisTick: { show: false },
            splitLine: {
              show: false,
            },
            axisLabel: { show: false },
            detail: { show: false },
            radius: "100%",
            axisLine: {
              lineStyle: {
                width: 3,
                color: [
                  [0, "#00EDFF"],
                  [80 / 100, "#00EDFF"],
                  [90 / 100, "#F0CA0F"],
                  [90 / 100, "#FF3559"],
                  [1, "#FF3559"],
                ],
              },
            },
          },
        ],
      };
      this.chart.setOption(option);
    },
    handleResize() {
      // 在窗口大小变化时调用图表的 resize 方法
      if (this.chart) {
        this.chart.resize();
      }
    },
  },
};
</script>
<style scoped>
.chart_box {
  height: 0.745rem;
  width: 1.068rem;
  position: absolute;
  left: 0;
  top: 0;
}
</style>