<template>
  <div class="page flex-col">
    <div class="block_1 flex-col">
      <div class="group_1 flex-col">
        <div class="group_2 flex-col">
          <div class="block_2 flex-col">
            <div class="box_1 flex-row">
              <div class="section_1 flex-row justify-between">
                <img
                  class="image_1"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngb5e2147741a8cd349afb0a645ea3856b80a90373a6a7353f08c50e1a1a818ae6.png"
                />
                <!-- <span class="text_1">一级告警</span> -->
                <GoPageComponent
                  class="text_1"
                  title="一级告警"
                  urlStr="/levelwarning
"
                />
              </div>
              <div class="section_2 flex-row justify-between">
                <img
                  class="image_2"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng28662b67f0705f2feb2c42fb5a469aee1d42b9f8a76d95b9427f3d4e33685a2f.png"
                />
                <!-- <span class="text_2">二级告警</span> -->
                <GoPageComponent
                  class="text_2"
                  title="二级告警"
                  urlStr="/levelwarning
"
                />
              </div>

              <div class="section_3 flex-col">
                <img
                  class="image_3"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng93fe8b3bac4c220031029027b2455876254b557dff134943116337731314cbf9.png"
                />
                <TitleBlock
                  title="服务器运行"
                  status="false"
                  data_1="54"
                  data_2="0"
                />
              </div>
            </div>
            <div class="box_2 flex-row">
              <div class="section_4 flex-row justify-between">
                <img
                  class="image_5"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng8ae427ca86c617ce88ce3c28b24703992fd85d6cbfa6d22f90838f5c35ce3636.png"
                />
                <!-- <span class="text_5">三级告警</span> -->
                <GoPageComponent
                  class="text_5"
                  title="三级告警"
                  urlStr="/levelwarning
"
                />
              </div>
              <div class="section_5 flex-row">
                <img
                  class="thumbnail_1"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng91017467a257d13b5240cdd4e4f2964b65422276d8c15c212476ea123ba93947.png"
                />
                <!-- <span class="text_6">四级预警</span> -->
                <GoPageComponent
                  class="text_6"
                  title="四级预警"
                  urlStr="/levelwarning"
                />
              </div>
              <div class="section_6 flex-row">
                <div class="box_3 flex-col"></div>
                <div class="box_4 flex-col justify-between">
                  <span class="text_7">微服务程序服务器</span>
                  <div class="text-wrapper_1">
                    <span class="text_8">10&nbsp;/</span>
                    <span class="text_9">2</span>
                  </div>
                </div>
              </div>
              <div class="section_7 flex-row">
                <div class="section_8 flex-col"></div>
                <div class="text-wrapper_2 flex-col justify-between">
                  <span class="text_10">数据汇聚服务器</span>
                  <span class="text_11">10</span>
                </div>
              </div>
            </div>
            <div class="box_5 flex-row">
              <div class="group_3 flex-col"></div>
              <div class="group_4 flex-row">
                <div class="box_6 flex-col"></div>
                <div class="text-wrapper_3 flex-col justify-between">
                  <span class="text_12">数据治理服务器</span>
                  <span class="text_13">24</span>
                </div>
              </div>
              <div class="group_5 flex-row">
                <div class="group_6 flex-col"></div>
                <div class="text-wrapper_4 flex-col justify-between">
                  <span class="text_14">数据服务服务器</span>
                  <span class="text_15">10</span>
                </div>
              </div>
            </div>
            <div class="image-wrapper_1 flex-row">
              <img
                class="image_6"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng2ae1bab78f34e637ce0eaf50cf5020bc7e0277e7d474f36a7228aaaf8b17cd9d.png"
              />
            </div>
            <div class="box_7 flex-row">
              <div class="group_7 flex-col justify-between">
                <div class="box_8 flex-col"></div>
                <img
                  class="image_7"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng18232f911fd27cec46b1cf70cd8d7ef4a5e319a077a0bcc89c8f42c396db426d.png"
                />
              </div>
              <div class="group_8 flex-col justify-between">
                <div class="block_4 flex-col">
                  <div class="image-wrapper_2 flex-col justify-center">
                    <img
                      class="image_8"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPng3041d0f765641918683a3af15c298e565e76d5f68e60edb3c2dd7e13b36c71a3.png"
                    />
                  </div>
                </div>
                <div class="block_5 flex-col"></div>
              </div>
              <img
                class="image_9"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng7e2d4db0b9962759358c3bb79e892450c5ae2429e31ba24cda83f63e738441af.png"
              />
              <div class="group_9 flex-col">
                <TitleBlock
                  title="数据库运行"
                  status="true"
                  data_1="100"
                  data_2="34"
                />
                <div class="box_10 flex-row justify-between">
                  <div class="block_6 flex-row">
                    <div class="image-text_3 flex-row justify-between">
                      <div class="box_11 flex-col"></div>
                      <span class="text-group_3">数据汇聚库</span>
                    </div>
                    <span class="text_18">10</span>
                  </div>
                  <div class="block_7 flex-col">
                    <div class="image-wrapper_3 flex-row">
                      <img
                        class="thumbnail_2"
                        referrerpolicy="no-referrer"
                        src="./assets/img/SketchPng570d4a1a8c5ef4d0223bef2d51c7b41f368a0e075950dc21aaed59a9efada0d3.png"
                      />
                    </div>
                    <div class="block_8 flex-row justify-between">
                      <div class="image-text_4 flex-row justify-between">
                        <img
                          class="label_2"
                          referrerpolicy="no-referrer"
                          src="./assets/img/SketchPng73e947606f8b078422b8f5dbf3f525300cde0331bd36f89e802a581ff905413f.png"
                        />
                        <span class="text-group_4">汇聚结果库</span>
                      </div>
                      <div class="text-wrapper_6">
                        <span class="text_19">10&nbsp;/</span>
                        <span class="text_20">2</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box_12 flex-row justify-between">
                  <div class="group_10 flex-row">
                    <div class="image-text_5 flex-row justify-between">
                      <div class="group_11 flex-col"></div>
                      <span class="text-group_5">数据治理库</span>
                    </div>
                    <span class="text_21">10</span>
                  </div>
                  <div class="group_12 flex-col justify-end">
                    <div class="section_10 flex-row justify-between">
                      <div class="image-text_6 flex-row justify-between">
                        <img
                          class="label_3"
                          referrerpolicy="no-referrer"
                          src="./assets/img/SketchPngcbb4221ec33e22a4e7b147fe7daf64941e8c09702c3d4e583e8e10d38296b096.png"
                        />
                        <span class="text-group_6">汇聚流水库</span>
                      </div>
                      <span class="text_22">24</span>
                    </div>
                    <div class="image-wrapper_4 flex-row">
                      <img
                        class="thumbnail_3"
                        referrerpolicy="no-referrer"
                        src="./assets/img/SketchPngfc8476f38136f47bfd105dfdebe7649cba3baab68c827a43437a96e0e2d18016.png"
                      />
                    </div>
                  </div>
                </div>
                <img
                  class="image_11"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng736d0347f13287f6e0802fc94e2c69d9a53513f7832f2eec08b73c7553386b81.png"
                />
                <!-- status false 正常 -->
                <TitleBlock
                  title="微服务运行"
                  status="false"
                  data_1="100"
                  data_2="3"
                />
                <!-- 微服务运行 -->
                <div class="scroll_box">
                  <div class="box_14 flex-row justify-between">
                    <div
                      class="block_10 flex-row"
                      v-for="(value, key) in microserviceList"
                      :key="key"
                      :style="backgroundStyle(value)"
                      @click="goPage(value.url)"
                    >
                      <span class="text_26" :style="colorStyle(value)">{{
                        value.title
                      }}</span>
                      <img
                        v-if="value.isFlag"
                        class="thumbnail_4"
                        referrerpolicy="no-referrer"
                        :src="microserviceImg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img
              class="image_12"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng26f45de36e363a0dea022d31622ca8085f30d5ad06f8fe476ebe94a1c4536556.png"
            />
            <div class="box_18 flex-col">
              <div class="group_14 flex-col">
                <img
                  class="image_13"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng580e2edca7fe8f6b6c4bf27e4a08e222e76f7c94a85a510d2cb6d26aba15a1f8.png"
                />
                <div class="box_19 flex-col">
                  <div class="image-wrapper_5 flex-row">
                    <img
                      class="image_14"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPngd2f89651b12132a2943928addc952d7f3379bc71f0aec7ea25d344342e21ba82.png"
                    />
                  </div>
                  <div class="image-wrapper_6 flex-row">
                    <img
                      class="image_15"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPng1e9126844b9a3fd9587a38c27fd7abccb42f9b7ae5e136e2938f44ef3eb1079d.png"
                    />
                  </div>
                </div>
                <img
                  class="image_16"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngba3a9f0d2507b38b45d640c6f7f6ff3cf0a70bb047a9e361c105ca28a2770d21.png"
                />
                <div class="box_20 flex-col">
                  <div class="image-wrapper_7 flex-col">
                    <img
                      class="image_17"
                      referrerpolicy="no-referrer"
                      src="./assets/img/SketchPng8450b7dae3697390b9c728dbd35bfd59da8f5581074e2bca72d15f47df4bb7ae.png"
                    />
                  </div>
                  <img
                    class="image_18"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPng624d9f5cc29158389edf4f75b073666065315a1ad3a3097cc75bc3acd4d5c6a6.png"
                  />
                  <img
                    class="image_19"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPngcfa8bbef2336779f6539e2f2bacf60cfc0f5c6a690e4936c6c92d7259cd41787.png"
                  />
                </div>
              </div>
              <div class="image-wrapper_8 flex-col">
                <img
                  class="image_20"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngf7a16d3c53cea820a295977703e5c5f611d4193ae9b383ade6b84cb4a2debbe5.png"
                />
              </div>
            </div>
            <div class="image-wrapper_9 flex-col">
              <img
                class="image_21"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng3d5a3dcfd688eb299c007020ca498e174bc6f31f86cde80a48d4aead7f320f5d.png"
              />
              <img
                class="image_22"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngefe65056510ba2a67b72add3949ec54ad2636998e56aead35db5bef06c537391.png"
              />
            </div>
            <!-- <img
              class="image_23"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngb374829ba8341ecde6dc16af9559a6418cd8f28376eebfa3a7fb5223b79155df.png"
            /> -->
            <img
              class="image_24"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngf2048a7c579a3f2d421cebb86aeba60b4237246d3f8db7276bafb88b262d75be.png"
            />
            <div class="box_21 flex-col">
              <div class="image-wrapper_10 flex-col">
                <img
                  class="image_25"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng8450b7dae3697390b9c728dbd35bfd59da8f5581074e2bca72d15f47df4bb7ae.png"
                />
              </div>
              <img
                class="image_26"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng624d9f5cc29158389edf4f75b073666065315a1ad3a3097cc75bc3acd4d5c6a6.png"
              />
              <img
                class="image_27"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngcfa8bbef2336779f6539e2f2bacf60cfc0f5c6a690e4936c6c92d7259cd41787.png"
              />
            </div>
            <div class="box_22 flex-col">
              <div class="box_23 flex-row">
                <span class="text_33">数据治理</span>
                <div class="box_24 flex-col">
                  <div class="section_11 flex-col"></div>
                </div>
                <span class="text_34">正常</span>
              </div>
              <div class="text-wrapper_13 flex-row">
                <span class="text_35">54</span>
              </div>
              <div class="text-wrapper_14 flex-row">
                <span class="text_36">任务数量</span>
              </div>
            </div>
            <div class="box_25 flex-col">
              <div class="group_15 flex-row justify-between">
                <span class="text_37">底账管理</span>
                <div class="image-text_7 flex-row justify-between">
                  <div class="group_16 flex-col">
                    <div class="section_12 flex-col"></div>
                  </div>
                  <span class="text-group_7">正常</span>
                </div>
              </div>
              <div class="group_17 flex-row">
                <div class="text-group_8 flex-col justify-between">
                  <span class="text_38">100</span>
                  <span class="text_39">系统数量</span>
                </div>
              </div>
            </div>
            <div class="box_26 flex-col">
              <img
                class="image_28"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngce40945b41f5f2abe75ad33004233ba15a3abd56d4ce114a8aa779ace687f957.png"
              />
              <div class="image-wrapper_11 flex-col">
                <img
                  class="image_29"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngf210181d1914a5a0345c395d77eed557f0698cbcca6d9eb1d0bfcd0d473f5f2f.png"
                />
              </div>
            </div>
            <div class="box_27 flex-col">
              <div class="box_28 flex-row justify-between">
                <span class="text_40">数据汇聚</span>
                <div class="image-text_8 flex-row justify-between">
                  <img
                    class="thumbnail_6"
                    referrerpolicy="no-referrer"
                    src="./assets/img/SketchPngaba078b4861c165201dbd225611c13adf66e999a6261675d13658f624da3ec03.png"
                  />
                  <span class="text-group_9">异常</span>
                </div>
              </div>
              <div class="text-group_10 flex-col justify-between">
                <div class="text-wrapper_15">
                  <span class="text_41">100&nbsp;/</span>
                  <span class="text_42">2</span>
                </div>
                <span class="text_43">任务数量</span>
              </div>
            </div>
            <img
              class="image_30"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng5ae3766d6c9ccf38255a4dccd9e4d378280595729f271ddb1920062b5c17494e.png"
            />
            <div class="box_29 flex-col">
              <div class="image-wrapper_12 flex-col">
                <img
                  class="image_31"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng8450b7dae3697390b9c728dbd35bfd59da8f5581074e2bca72d15f47df4bb7ae.png"
                />
              </div>
              <img
                class="image_32"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng624d9f5cc29158389edf4f75b073666065315a1ad3a3097cc75bc3acd4d5c6a6.png"
              />
              <img
                class="image_33"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngcfa8bbef2336779f6539e2f2bacf60cfc0f5c6a690e4936c6c92d7259cd41787.png"
              />
            </div>
            <div class="box_30 flex-col">
              <div class="group_18 flex-row">
                <span class="text_44">数据服务</span>
                <div class="block_12 flex-col">
                  <div class="group_19 flex-col"></div>
                </div>
                <span class="text_45">正常</span>
              </div>
              <div class="group_20 flex-row">
                <div class="text-group_11 flex-col justify-between">
                  <span class="text_46">54</span>
                  <span class="text_47">任务数量</span>
                </div>
              </div>
            </div>
          </div>
          <div class="block_13 flex-col justify-end">
            <div class="block_14 flex-row">
              <div class="image-wrapper_13 flex-col align-center">
                <img
                  class="image_34"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng26c6bc9dff4bab1214fafa9c84b91aea40326d7c93f82411c31228fe20f25fd5.png"
                />
              </div>
              <div class="image-wrapper_14 flex-col align-center">
                <img
                  class="label_6"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng30c418f404553b4ad40c0fc979d1f31cdfa0b791f81300a32e3a6c0f234c8921.png"
                />
              </div>
              <DateComponent class="text_48" />
              <WeekComponent class="text_49" />
              <TimeComponent class="text_50" />
              <!-- <span class="text_48">2023.07.03</span>
              <span class="text_49">星期一</span>
              <span class="text_50">15:21:06</span> -->
              <div class="section_13 flex-row">
                <img
                  class="label_7"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng9920850b7c6f2757992ff8e25e15f2e25f6cefc5cb33f5426d28f13cebc49205.png"
                />
                <span class="text_51">设置</span>
                <img
                  class="label_8"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPngfa967cc506e4ac42e52a0809cd2771253fee018790993a9637abeed85000c4b7.png"
                />
                <!-- <span class="text_52">全屏</span> -->
                <ScreenFull class="text_52" />
              </div>
            </div>
            <div class="block_15 flex-col"></div>
            <img
              class="image_35"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng079e4f4832f4306d30df25083b4f6e39c65f0734a55ba0bff4e51f0978bce2a4.png"
            />
            <div class="block_16 flex-col">
              <div class="box_31 flex-col">
                <div class="section_14 flex-col"></div>
                <div class="section_15 flex-col"></div>
                <div class="section_16 flex-col"></div>
                <div class="section_17 flex-col"></div>
              </div>
            </div>
            <div class="block_17 flex-col">
              <div class="box_32 flex-col">
                <div class="block_18 flex-col">
                  <div class="group_21 flex-col"></div>
                </div>
              </div>
              <span class="text_53">北京市住建委数据监控平台</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import MicroserviceImg from "./assets/img/SketchPngdc460ccef941e51b2587425a0c2ade64028a99454094c2ec2b268bb456b0b23b.png";
import BackgroundCommonImg from "./assets/img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png";
import BackgroundImg from "./assets/img/SketchPng1b22ac835656bd5b623db9b42a167cb2dfdbbca3cf9ad63b42074f42ced5e5b9.png";
import TitleBlock from "./title-block";

export default {
  components: {
    TitleBlock,
  },
  data() {
    return {
      constants: {},
      microserviceData: 100,
      microserviceImg: MicroserviceImg,
      backgroundImg: BackgroundImg,
      backgroundCommonImg: BackgroundCommonImg,
      microserviceList: [
        {
          title: "数据目录",
          isFlag: 0,
          url: "/shujukujiankong",
        },
        {
          title: "数据汇聚",
          // imgUrl: MicroserviceImg,
          isFlag: 1,
          url: "/shujukujiankong",
        },
        {
          title: "接口服务",
          // imgUrl: MicroserviceImg,
          isFlag: 2,
          url: "/shujukujiankong",
        },
        {
          title: "数据共享",
          // imgUrl: MicroserviceImg,
          isFlag: 2,
          url: "/shujukujiankong",
        },
        {
          title: "数据共享",
          // imgUrl: MicroserviceImg,
          isFlag: 1,
          url: "/shujukujiankong",
        },
        {
          title: "数据共享",
          // imgUrl: MicroserviceImg,
          isFlag: 2,
          url: "/shujukujiankong",
        },
        {
          title: "数据共享",
          // imgUrl: MicroserviceImg,
          isFlag: 1,
          url: "/shujukujiankong",
        },
        {
          title: "数据共享",
          // imgUrl: MicroserviceImg,
          isFlag: 1,
          url: "/shujukujiankong",
        },
        {
          title: "数据治理",
          // imgUrl: MicroserviceImg,
          isFlag: 1,
          url: "/shujukujiankong",
        },
      ],
    };
  },
  methods: {
    backgroundStyle(value) {
      return {
        backgroundImage: `url(${
          value.isFlag ? this.backgroundImg : this.backgroundCommonImg
        })`,
      };
    },
    colorStyle(value) {
      return {
        color: value.isFlag
          ? `rgba(255, 126, 44, 1)`
          : `rgba(199, 207, 243, 1)`,
      };
    },
    goPage(url) {
      this.$router.push(url);
    },
  },
};
</script>
<style scoped lang="less" src="./assets/index.rem.less" />
<style scoped>
.scroll_box {
  overflow-y: scroll;
  overflow-x: clip;
  height: 1.588rem;
  /* position: relative; */
}
.scroll_box::-webkit-scrollbar {
  width: 0.021rem; /* 设置滚动条的宽度 */
  /* position: absolute;
  top: 0;
  right: 100px; */
}

/* 滚动条轨道 */
.scroll_box::-webkit-scrollbar-track {
  background: rgba(111, 119, 167, 0.5); /* 设置滚动条轨道的背景色 */
  opacity: 0.5;
}

/* 滚动条滑块 */
.scroll_box::-webkit-scrollbar-thumb {
  width: 0.021rem;
  background: #6f77a7;
  /* 设置滚动条滑块的背景色 */
}
.box_14 {
  flex-wrap: wrap;
  margin-top: 0 !important;
}
.block_10 {
  cursor: pointer !important;
}
.text-wrapper_7 {
  margin-top: 0.084rem;
}
.block_10 {
  margin-top: 0.084rem;
}
</style>
