<template>
  <div class="box_9 flex-col justify-center" :style="backgroundStyle_1(status)">
    <div class="section_9 flex-row" :style="backgroundStyle_2(status)">
      <div class="image-text_1 flex-row justify-between">
        <img class="label_1" referrerpolicy="no-referrer" :src="imgUrl" />
        <!-- :src="status == 'true' ? IconImg_1 : IconImg_2" -->
        <span class="text-group_1">{{ title }}</span>
      </div>
      <div
        class="image-text_2 flex-row justify-between"
        :style="{ visibility: status == 'true' ? 'block' : 'hidden' }"
      >
        <img class="image_10" referrerpolicy="no-referrer" :src="IconImg_3" />
        <span class="text-group_2">异常</span>
      </div>
      <div class="text-wrapper_5">
        <span class="text_16">{{ data_1 }}&nbsp;</span>
        <span class="text_17" v-if="status == 'true'">/&nbsp;{{ data_2 }}</span>
      </div>
    </div>
  </div>
</template>
<script>
import IconImg_1 from "./assets/img/SketchPng980754498100317f4d225024555cd7f868ddaf67c9b5b474dff7615913f2944e.png";
import IconImg_2 from "./assets/img/SketchPngc5ab761d2cfc8ee6495bd1bf225ed1fa65a6df4e6e9d3674ace3b40f99fe9070.png";
import IconImg_3 from "./assets/img/SketchPng92267c7cee08e382203378b0a61fcf2567a168468400768f526f84c543548881.png";
import IconImg_4 from "./assets/img/SketchPngf77ff05031ad3ed324af1ac10fd7e3ac458a5ecdba2c2cdf9ef8b775525fb32a.png"; //服务器运行图标
import backgroundImageUrl_1_1 from "./assets/img/SketchPng7771934f95fa23735deb1f8dc27a9ccd8f7b3ab65a958b4f487de8b8e936973a.png";
import backgroundImageUrl_2_1 from "./assets/img/SketchPngd0582de62da40b74a460fbb73914adac043e5a8de8d6b49a12ba0dfded46fd55.png";
import backgroundImageUrl_1_2 from "./assets/img/SketchPng2929bb581a7f68b93635c5fe7608c12038de6d4a856907d090c80aee0f534740.png";
import backgroundImageUrl_2_2 from "./assets/img/SketchPng863157e9cd70e79d64a15951e997a6054a7ad3fb36e0b0193f08ac4a8d517f68.png";

export default {
  name: "TitleBlock",
  props: {
    title: String,
    status: String,
    data_1: String,
    data_2: String,
    iconUrl: String,
  },
  computed: {
    imgUrl: function () {
      return this.title === "服务器运行"
        ? IconImg_4
        : this.title === "数据库运行"
        ? IconImg_1
        : IconImg_2;
    },
  },
  data() {
    return {
      IconImg_1,
      IconImg_2,
      IconImg_3,
    };
  },
  methods: {
    backgroundStyle_1(status) {
      return {
        backgroundImage: `url(${
          status == "true" ? backgroundImageUrl_2_1 : backgroundImageUrl_1_1
        })`,
      };
    },
    backgroundStyle_2(status) {
      return {
        backgroundImage: `url(${
          status == "true" ? backgroundImageUrl_2_2 : backgroundImageUrl_1_2
        })`,
      };
    },
  },
};
</script>
<style  scope lang="less">
.box_9 {
  height: 0.23rem;
  background: url(./assets/img/SketchPngd0582de62da40b74a460fbb73914adac043e5a8de8d6b49a12ba0dfded46fd55.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 2.808rem;

  .section_9 {
    width: 2.808rem;
    height: 0.23rem;
    background: url(./assets/img/SketchPng863157e9cd70e79d64a15951e997a6054a7ad3fb36e0b0193f08ac4a8d517f68.png)
      100% no-repeat;
    background-size: 100% 100%;

    .image-text_1 {
      width: 0.75rem;
      height: 0.146rem;
      margin: 0.042rem 0 0 0.084rem;

      .label_1 {
        width: 0.141rem;
        height: 0.141rem;
        margin-top: 0.006rem;
      }

      .text-group_1 {
        width: 0.521rem;
        height: 0.146rem;
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 0.104rem;
        font-family: PingFangSC-Semibold;
        font-weight: 600;
        text-align: left;
        white-space: nowrap;
        line-height: 0.146rem;
      }
    }

    .image-text_2 {
      width: 0.339rem;
      height: 0.115rem;
      margin: 0.058rem 0 0 0.12rem;

      .image_10 {
        width: 0.125rem;
        height: 0.105rem;
        margin-top: 0.006rem;
      }

      .text-group_2 {
        width: 0.167rem;
        height: 0.115rem;
        overflow-wrap: break-word;
        color: rgba(255, 60, 77, 1);
        font-size: 0.083rem;
        font-family: PingFangSC-Semibold;
        font-weight: 600;
        text-align: left;
        white-space: nowrap;
        line-height: 0.115rem;
      }
    }

    .text-wrapper_5 {
      width: 0.402rem;
      height: 0.167rem;
      overflow-wrap: break-word;
      font-size: 0;
      font-family: DINAlternate-Bold;
      font-weight: 700;
      text-align: left;
      white-space: nowrap;
      line-height: 0.167rem;
      margin: 0.032rem 0.105rem 0 1.011rem;

      .text_16 {
        width: 0.402rem;
        height: 0.167rem;
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 0.145rem;
        font-family: DINAlternate-Bold;
        font-weight: 700;
        // text-align: left;
        text-align: right;
        white-space: nowrap;
        line-height: 0.167rem;
      }

      .text_17 {
        width: 0.402rem;
        height: 0.167rem;
        overflow-wrap: break-word;
        color: rgba(255, 60, 77, 1);
        font-size: 0.145rem;
        font-family: DINAlternate-Bold;
        font-weight: 700;
        text-align: left;
        white-space: nowrap;
        line-height: 0.167rem;
      }
    }
  }
}
</style>