<template>
  <span>{{ weekFormat(date) }}</span>
</template>

<script>
export default {
  name: "WeekComponent",
  data() {
    return {
      date: new Date(),
    };
  },
  methods: {
    weekFormat(time) {
      var date = new Date(time);
      var wk = date.getDay();
      let weeks = [
        "星期日",
        "星期一",
        "星期二",
        "星期三",
        "星期四",
        "星期五",
        "星期六",
      ];
      let week = weeks[wk];
      return week;
    },
  },
};
</script>
