<template>
  <div ref="bar"></div>
</template>
<script>
import * as echarts from "echarts";
export default {
  name: "BarChart",
  data() {
    return {
      isFullScreen: false,
    };
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      const myChart = echarts.init(this.$refs.bar);
      const colorArray = [
        { top: "rgba(234, 184, 57, 1)", bottom: "rgba(234, 184, 57, 0)" },
        { top: "rgba(4, 237, 255, 1)", bottom: "rgba(4, 237, 255, 0)" },
        { top: "rgba(219, 92, 202, 1)", bottom: "rgba(219, 92, 202, 0)" },
        { top: "rgba(246,126, 41, 1)", bottom: "rgba(246, 126, 41, 0)" },
        { top: "rgba(199, 207, 243,1)", bottom: "rgba(199, 207, 243, 0)" },
        { top: "rgba(255, 59, 78, 1)", bottom: "rgba(255, 59, 78, 0)" },
      ];
      const option = {
        backgroundColor: "#031647",
        grid: {
          containLabel: true,
          left: 10,
          right: 20,
          bottom: 10,
          top: 70,
        },
        xAxis: {
          data: ["业绩表", "系统表", "临时表", "备份表", "作废表", "未确定"],
          type: "category",
          axisLabel: {
            fontFamily: "PingFangSC-Regular, PingFang SC",
            color: "#C7CFF3",
            fontSize: 16,
          },
          axisTick: { show: false },
        },
        yAxis: {
          type: "value",
          axisLabel: {
            textStyle: { color: "rgba(255, 255, 255, 0.9)" },
          },
          axisLine: { show: true },
          splitLine: { show: false },
        },
        series: [
          {
            data: [50, 40, 30, 20, 10, 87],
            type: "bar",
            barWidth: 20,
            itemStyle: {
              color: function (params) {
                let num = colorArray.length;
                return {
                  type: "linear",
                  x: 0,
                  y: 1,
                  x2: 1,
                  y2: 0,
                  colorStops: [
                    {
                      offset: 0,
                      color: colorArray[params.dataIndex % num].bottom,
                    },
                    {
                      offset: 1,
                      color: colorArray[params.dataIndex % num].top,
                    },
                    {
                      offset: 0,
                      color: colorArray[params.dataIndex % num].bottom,
                    },
                    {
                      offset: 1,
                      color: colorArray[params.dataIndex % num].top,
                    },
                    {
                      offset: 0,
                      color: colorArray[params.dataIndex % num].bottom,
                    },
                    {
                      offset: 1,
                      color: colorArray[params.dataIndex % num].top,
                    },
                  ],
                };
              },
              borderRadius: [10, 10, 0, 0],
            },
            label: {
              show: true,
              position: "top",
              distance: 10,
              fontFamily: "serif",
              color: "#C7CFF3",
              fontWeight: 600,
              lineHeight: 28,
              fontSize: 30,
              width: 28,
              height: 28,
            },
          },
        ],
      };

      myChart.setOption(option);
    },
  },
};
</script>
