<template>
  <div class="js-search">
    <div class="label" v-if="label">{{ label }}：</div>
    <div class="search-box">
      <img :src="searchIcon" class="icon" />
      <el-input
        v-model="input"
        :placeholder="placeholder"
        @input="onChange"
        class="search"
      ></el-input>
    </div>
  </div>
</template>
<script>
import searchIcon from "./img/SketchPnge7687aa6b6527310cabdacd5cf810f60ec603ebadc926453f02a65dd98ea8015.png";

export default {
  name: "JsSearch",
  props: {
    label: { type: String, default: "" },
    placeholder: {
      type: String,
      default: "请输入内容",
    },
    defaultValue: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      input: "",
      searchIcon,
    };
  },
  mounted() {
    this.input = this.defaultValue;
  },
  methods: {
    onChange(event) {
      this.$emit("change", event);
    },
  },
};
</script>
<style scoped lang="less">
.js-search {
  display: flex;
  align-items: center;
  .label {
    width: 0.334rem;
    height: 0.23rem;
    color: rgba(199, 207, 243, 1);
    font-size: 0.083rem;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    line-height: 0.23rem;
    margin-right: 0.058rem;
  }
  .search-box {
    position: relative;
    width: 2.15rem;
    height: 0.23rem;
    .icon {
      width: 0.1rem;
      height: 0.1rem;
      display: block;
      position: absolute;
      left: 0.08rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }

    .search {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      /deep/ .el-input__inner {
        background-color: rgba(10, 16, 48, 0.7);
        color: #ffffff;
        border: 1px solid #3f456a;
        height: 0.23rem;
        line-height: 0.23rem;
        font-size: 0.083rem;
        padding-left: 0.26rem;
        &:focus {
          border: 1px solid rgba(4, 209, 229, 1);
        }
      }
    }
  }
}
</style>
