.page {
  position: relative;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  .block_1 {
    height: 1080px;
    background: url(./img/SketchPngbb6059bde37e68ee3ee2aa8c68602bde41d3d4a08c581290a475df0ad9cbd256.png)
      100% no-repeat;
    background-size: 100% 100%;
    width: 1920px;
    .group_1 {
      height: 1080px;
      background: url(./img/SketchPng2af6a7581b8e7b5f99306d5bc682c895fa39d4ca7c3f42bba5edb1fac0e12bc1.png)
        100% no-repeat;
      background-size: 100% 100%;
      width: 1920px;
      .group_2 {
        height: 1080px;
        background: url(./img/SketchPng4501a867cfd2d83504a6e8c9c01fe4e1a366392de74c7fb0a77e7cb896df1528.png) -150px -150px
          no-repeat;
        background-size: 2220px 1380px;
        width: 1920px;
        position: relative;
        .block_2 {
          position: relative;
          width: 1920px;
          height: 1000px;
          margin-top: 81px;
          .box_1 {
            width: 1842px;
            height: 45px;
            margin: 35px 0 0 40px;
            .section_1 {
              width: 142px;
              height: 44px;
              background: url(./img/SketchPngd90a76d2ead7770932b6a7ecf177ab447b25115f8212105496fecf8ecb2b420c.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-top: 1px;
              .image_1 {
                width: 22px;
                height: 20px;
                margin: 14px 0 0 20px;
              }
              .text_1 {
                width: 64px;
                height: 22px;
                overflow-wrap: break-word;
                color: rgba(255, 59, 78, 1);
                font-size: 16px;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 22px;
                margin: 13px 20px 0 0;
              }
            }
            .section_2 {
              width: 142px;
              height: 44px;
              background: url(./img/SketchPngd90a76d2ead7770932b6a7ecf177ab447b25115f8212105496fecf8ecb2b420c.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 1px 0 0 8px;
              .image_2 {
                width: 22px;
                height: 20px;
                margin: 14px 0 0 20px;
              }
              .text_2 {
                width: 64px;
                height: 22px;
                overflow-wrap: break-word;
                color: rgba(255, 126, 44, 1);
                font-size: 16px;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 22px;
                margin: 13px 20px 0 0;
              }
            }
            .section_3 {
              width: 539px;
              height: 44px;
              background: url(./img/SketchPngc0a46eabee260e275a6481203ec0c5fcc6145acb71106956fe9ed9494e59836f.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-left: 1011px;
              .image_3 {
                width: 539px;
                height: 1px;
              }
              .block_3 {
                width: 539px;
                height: 44px;
                background: url(./img/SketchPng2929bb581a7f68b93635c5fe7608c12038de6d4a856907d090c80aee0f534740.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-bottom: 1px;
                .image_4 {
                  width: 16px;
                  height: 32px;
                  margin: 6px 0 0 20px;
                }
                .text_3 {
                  width: 100px;
                  height: 28px;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 20px;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 28px;
                  margin: 7px 0 0 24px;
                }
                .text_4 {
                  width: 27px;
                  height: 32px;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 28px;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 32px;
                  margin: 8px 18px 0 334px;
                }
              }
            }
          }
          .box_2 {
            width: 1840px;
            height: 95px;
            margin: 12px 0 0 40px;
            .section_4 {
              width: 142px;
              height: 44px;
              background: url(./img/SketchPngd90a76d2ead7770932b6a7ecf177ab447b25115f8212105496fecf8ecb2b420c.png)
                100% no-repeat;
              background-size: 100% 100%;
              .image_5 {
                width: 22px;
                height: 20px;
                margin: 14px 0 0 20px;
              }
              .text_5 {
                width: 64px;
                height: 22px;
                overflow-wrap: break-word;
                color: rgba(240, 202, 15, 1);
                font-size: 16px;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 22px;
                margin: 13px 20px 0 0;
              }
            }
            .section_5 {
              width: 142px;
              height: 44px;
              background: url(./img/SketchPngd90a76d2ead7770932b6a7ecf177ab447b25115f8212105496fecf8ecb2b420c.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-left: 8px;
              .thumbnail_1 {
                width: 20px;
                height: 20px;
                margin: 12px 0 0 21px;
              }
              .text_6 {
                width: 64px;
                height: 22px;
                overflow-wrap: break-word;
                color: rgba(0, 189, 255, 1);
                font-size: 16px;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 22px;
                margin: 12px 20px 0 17px;
              }
            }
            .section_6 {
              width: 260px;
              height: 91px;
              background: url(./img/SketchPngb2883fc34281cff9ae227f4a8596e339b188ecace17bc1b2f22c4e993a9fd50f.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 4px 0 0 1011px;
              .box_3 {
                width: 51px;
                height: 51px;
                background: url(./img/SketchPng5eec300fab2abef6bb3a7bdf0a915679f7b7a17aa47bc389ee16f452508e204b.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin: 20px 0 0 21px;
              }
              .box_4 {
                width: 128px;
                height: 58px;
                margin: 16px 40px 0 20px;
                .text_7 {
                  width: 128px;
                  height: 22px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 16px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 22px;
                }
                .text-wrapper_1 {
                  width: 55px;
                  height: 28px;
                  overflow-wrap: break-word;
                  font-size: 0;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 28px;
                  margin-top: 8px;
                  .text_8 {
                    width: 55px;
                    height: 28px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 24px;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 28px;
                  }
                  .text_9 {
                    width: 55px;
                    height: 28px;
                    overflow-wrap: break-word;
                    color: rgba(255, 126, 44, 1);
                    font-size: 24px;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 28px;
                  }
                }
              }
            }
            .section_7 {
              width: 260px;
              height: 91px;
              background: url(./img/SketchPngb2883fc34281cff9ae227f4a8596e339b188ecace17bc1b2f22c4e993a9fd50f.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 4px 0 0 17px;
              .section_8 {
                width: 51px;
                height: 51px;
                background: url(./img/SketchPng5eec300fab2abef6bb3a7bdf0a915679f7b7a17aa47bc389ee16f452508e204b.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin: 20px 0 0 21px;
              }
              .text-wrapper_2 {
                width: 112px;
                height: 58px;
                margin: 16px 56px 0 20px;
                .text_10 {
                  width: 112px;
                  height: 22px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 16px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 22px;
                }
                .text_11 {
                  width: 24px;
                  height: 28px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 24px;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 28px;
                  margin-top: 8px;
                }
              }
            }
          }
          .box_5 {
            width: 1298px;
            height: 141px;
            margin: 12px 0 0 582px;
            .group_3 {
              width: 141px;
              height: 141px;
              background: url(./img/SketchPng4aeb49457ddeca0759c7f52597178ee9794790477d770556b01415997eb9d284.png) -7px
                17px no-repeat;
              background-size: 155px 106px;
            }
            .group_4 {
              width: 260px;
              height: 91px;
              background: url(./img/SketchPngb2883fc34281cff9ae227f4a8596e339b188ecace17bc1b2f22c4e993a9fd50f.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 4px 0 0 620px;
              .box_6 {
                width: 51px;
                height: 51px;
                background: url(./img/SketchPng5eec300fab2abef6bb3a7bdf0a915679f7b7a17aa47bc389ee16f452508e204b.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin: 20px 0 0 21px;
              }
              .text-wrapper_3 {
                width: 112px;
                height: 54px;
                margin: 20px 56px 0 20px;
                .text_12 {
                  width: 112px;
                  height: 22px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 16px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 22px;
                }
                .text_13 {
                  width: 24px;
                  height: 28px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 24px;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 28px;
                  margin-top: 4px;
                }
              }
            }
            .group_5 {
              width: 260px;
              height: 91px;
              background: url(./img/SketchPngb2883fc34281cff9ae227f4a8596e339b188ecace17bc1b2f22c4e993a9fd50f.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 4px 0 0 17px;
              .group_6 {
                width: 51px;
                height: 51px;
                background: url(./img/SketchPng5eec300fab2abef6bb3a7bdf0a915679f7b7a17aa47bc389ee16f452508e204b.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin: 20px 0 0 21px;
              }
              .text-wrapper_4 {
                width: 112px;
                height: 56px;
                margin: 20px 56px 0 20px;
                .text_14 {
                  width: 112px;
                  height: 22px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 16px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 22px;
                }
                .text_15 {
                  width: 24px;
                  height: 28px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 24px;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 28px;
                  margin-top: 6px;
                }
              }
            }
          }
          .image-wrapper_1 {
            width: 539px;
            height: 1px;
            margin-left: 1343px;
            .image_6 {
              width: 539px;
              height: 1px;
            }
          }
          .box_7 {
            width: 1861px;
            height: 649px;
            margin: 0 0 10px 38px;
            .group_7 {
              width: 288px;
              height: 431px;
              margin-top: 178px;
              .box_8 {
                width: 187px;
                height: 187px;
                background: url(./img/SketchPnge9beb8d81dfbeae95af71af4ccf7f4b0cc19ed8efe1daf31c3c23ceffea73e5b.png) -19px
                  15px no-repeat;
                background-size: 227px 162px;
                margin-left: 61px;
              }
              .image_7 {
                width: 288px;
                height: 52px;
                margin-top: 192px;
              }
            }
            .group_8 {
              width: 424px;
              height: 629px;
              margin: 20px 0 0 85px;
              .block_4 {
                height: 424px;
                background: url(./img/SketchPnga55d045ba781f1a67c34b0cbd9831c3d989bbb29810e15bdf2bb6a34db9fe98d.png) -19px
                  69px no-repeat;
                background-size: 463px 283px;
                width: 424px;
                .image-wrapper_2 {
                  height: 250px;
                  background: url(./img/SketchPng140272b597ace813a5f7c30b273a7f5d50b5eff5e8821966fdf9c2d413d44cbd.png) -2px -1px
                    no-repeat;
                  background-size: 240px 252px;
                  width: 237px;
                  margin: 176px 0 0 -74px;
                  .image_8 {
                    width: 237px;
                    height: 250px;
                  }
                }
              }
              .block_5 {
                width: 191px;
                height: 191px;
                background: url(./img/SketchPngd048dcb7002ac417be43ea80e0371939404392aa2194ad5e944fc8556d468d55.png) -3px
                  31px no-repeat;
                background-size: 199px 123px;
                margin: 14px 0 0 115px;
              }
            }
            .image_9 {
              width: 69px;
              height: 67px;
              margin: 118px 0 0 181px;
            }
            .group_9 {
              width: 539px;
              height: 624px;
              margin-left: 258px;
              .box_9 {
                height: 44px;
                background: url(./img/SketchPngd0582de62da40b74a460fbb73914adac043e5a8de8d6b49a12ba0dfded46fd55.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 539px;
                .section_9 {
                  width: 539px;
                  height: 44px;
                  background: url(./img/SketchPng863157e9cd70e79d64a15951e997a6054a7ad3fb36e0b0193f08ac4a8d517f68.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .image-text_1 {
                    width: 144px;
                    height: 28px;
                    margin: 8px 0 0 16px;
                    .label_1 {
                      width: 27px;
                      height: 27px;
                      margin-top: 1px;
                    }
                    .text-group_1 {
                      width: 100px;
                      height: 28px;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 20px;
                      font-family: PingFangSC-Semibold;
                      font-weight: 600;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 28px;
                    }
                  }
                  .image-text_2 {
                    width: 65px;
                    height: 22px;
                    margin: 11px 0 0 23px;
                    .image_10 {
                      width: 24px;
                      height: 20px;
                      margin-top: 1px;
                    }
                    .text-group_2 {
                      width: 32px;
                      height: 22px;
                      overflow-wrap: break-word;
                      color: rgba(255, 60, 77, 1);
                      font-size: 16px;
                      font-family: PingFangSC-Semibold;
                      font-weight: 600;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 22px;
                    }
                  }
                  .text-wrapper_5 {
                    width: 77px;
                    height: 32px;
                    overflow-wrap: break-word;
                    font-size: 0;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 32px;
                    margin: 6px 20px 0 194px;
                    .text_16 {
                      width: 77px;
                      height: 32px;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 28px;
                      font-family: DINAlternate-Bold;
                      font-weight: 700;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 32px;
                    }
                    .text_17 {
                      width: 77px;
                      height: 32px;
                      overflow-wrap: break-word;
                      color: rgba(255, 60, 77, 1);
                      font-size: 28px;
                      font-family: DINAlternate-Bold;
                      font-weight: 700;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 32px;
                    }
                  }
                }
              }
              .box_10 {
                width: 537px;
                height: 69px;
                margin-top: 17px;
                .block_6 {
                  width: 260px;
                  height: 69px;
                  background: url(./img/SketchPng9fef58087d17d305e85388277837d17c420a0ada2a4fced3fb4d9ad90429536b.png) -5px -5px
                    no-repeat;
                  background-size: 265px 74px;
                  .image-text_3 {
                    width: 121px;
                    height: 28px;
                    margin: 21px 0 0 19px;
                    .box_11 {
                      width: 28px;
                      height: 28px;
                      background: url(./img/SketchPng4d6198231818116a3dfe940aeca2ee0975a7263483a52a2771ed4bc22ac9a19e.png)
                        100% no-repeat;
                      background-size: 100% 100%;
                    }
                    .text-group_3 {
                      width: 80px;
                      height: 22px;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 16px;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 22px;
                      margin-top: 3px;
                    }
                  }
                  .text_18 {
                    width: 24px;
                    height: 28px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 24px;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 28px;
                    margin: 21px 22px 0 74px;
                  }
                }
                .block_7 {
                  height: 69px;
                  background: url(./img/SketchPngf39a9f6685ec4b9dfb1c6f9dc8f0fe65d221b39fc66575fc5f87ef66c3a540f1.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 260px;
                  .image-wrapper_3 {
                    width: 8px;
                    height: 8px;
                    .thumbnail_2 {
                      width: 8px;
                      height: 8px;
                    }
                  }
                  .block_8 {
                    width: 223px;
                    height: 28px;
                    margin: 13px 0 20px 17px;
                    .image-text_4 {
                      width: 125px;
                      height: 25px;
                      margin-top: 3px;
                      .label_2 {
                        width: 32px;
                        height: 25px;
                      }
                      .text-group_4 {
                        width: 80px;
                        height: 22px;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 16px;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 22px;
                      }
                    }
                    .text-wrapper_6 {
                      width: 55px;
                      height: 28px;
                      overflow-wrap: break-word;
                      font-size: 0;
                      font-family: DINAlternate-Bold;
                      font-weight: 700;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 28px;
                      .text_19 {
                        width: 55px;
                        height: 28px;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 24px;
                        font-family: DINAlternate-Bold;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 28px;
                      }
                      .text_20 {
                        width: 55px;
                        height: 28px;
                        overflow-wrap: break-word;
                        color: rgba(255, 60, 77, 1);
                        font-size: 24px;
                        font-family: DINAlternate-Bold;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 28px;
                      }
                    }
                  }
                }
              }
              .box_12 {
                width: 537px;
                height: 69px;
                margin-top: 16px;
                .group_10 {
                  width: 260px;
                  height: 69px;
                  background: url(./img/SketchPng9fef58087d17d305e85388277837d17c420a0ada2a4fced3fb4d9ad90429536b.png) -5px -5px
                    no-repeat;
                  background-size: 265px 74px;
                  .image-text_5 {
                    width: 126px;
                    height: 27px;
                    margin: 22px 0 0 16px;
                    .group_11 {
                      width: 31px;
                      height: 27px;
                      background: url(./img/SketchPngf3595e172396eabd8d2552b62470f1ec27f87c37b6c480e1c6f6f60f2c6d8343.png)
                        100% no-repeat;
                      background-size: 100% 100%;
                    }
                    .text-group_5 {
                      width: 80px;
                      height: 22px;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 16px;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 22px;
                      margin-top: 2px;
                    }
                  }
                  .text_21 {
                    width: 24px;
                    height: 28px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 24px;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 28px;
                    margin: 21px 20px 0 74px;
                  }
                }
                .group_12 {
                  height: 69px;
                  background: url(./img/SketchPngc435448ded094a74b971876fedb521a1982ece02493212116ccfec17204b6a64.png) -5px -5px
                    no-repeat;
                  background-size: 265px 74px;
                  width: 260px;
                  .section_10 {
                    width: 222px;
                    height: 30px;
                    margin: 20px 0 0 18px;
                    .image-text_6 {
                      width: 122px;
                      height: 30px;
                      .label_3 {
                        width: 30px;
                        height: 30px;
                      }
                      .text-group_6 {
                        width: 80px;
                        height: 22px;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 16px;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 22px;
                        margin-top: 4px;
                      }
                    }
                    .text_22 {
                      width: 24px;
                      height: 28px;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 24px;
                      font-family: DINAlternate-Bold;
                      font-weight: 700;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 28px;
                      margin-top: 1px;
                    }
                  }
                  .image-wrapper_4 {
                    width: 9px;
                    height: 9px;
                    margin: 10px 0 0 251px;
                    .thumbnail_3 {
                      width: 9px;
                      height: 9px;
                    }
                  }
                }
              }
              .image_11 {
                width: 539px;
                height: 1px;
                margin-top: 47px;
              }
              .box_13 {
                height: 44px;
                background: url(./img/SketchPng7771934f95fa23735deb1f8dc27a9ccd8f7b3ab65a958b4f487de8b8e936973a.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 539px;
                .block_9 {
                  position: relative;
                  width: 539px;
                  height: 44px;
                  background: url(./img/SketchPng2929bb581a7f68b93635c5fe7608c12038de6d4a856907d090c80aee0f534740.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .label_4 {
                    width: 28px;
                    height: 28px;
                    margin: 8px 0 0 17px;
                  }
                  .text_23 {
                    width: 100px;
                    height: 28px;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 20px;
                    font-family: PingFangSC-Semibold;
                    font-weight: 600;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 28px;
                    margin: 8px 0 0 15px;
                  }
                  .text_24 {
                    width: 41px;
                    height: 32px;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 28px;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 32px;
                    margin: 4px 20px 0 318px;
                  }
                  .label_5 {
                    position: absolute;
                    left: 14px;
                    top: 5px;
                    width: 34px;
                    height: 34px;
                  }
                }
              }
              .box_14 {
                width: 537px;
                height: 64px;
                margin-top: 16px;
                .text-wrapper_7 {
                  height: 64px;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 260px;
                  .text_25 {
                    width: 64px;
                    height: 22px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 16px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22px;
                    margin: 21px 0 0 68px;
                  }
                }
                .block_10 {
                  width: 260px;
                  height: 64px;
                  background: url(./img/SketchPng1b22ac835656bd5b623db9b42a167cb2dfdbbca3cf9ad63b42074f42ced5e5b9.png)
                    0px 0px no-repeat;
                  background-size: 261px 65px;
                  .text_26 {
                    width: 64px;
                    height: 22px;
                    overflow-wrap: break-word;
                    color: rgba(255, 126, 44, 1);
                    font-size: 16px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22px;
                    margin: 21px 0 0 68px;
                  }
                  .thumbnail_4 {
                    width: 20px;
                    height: 18px;
                    margin: 23px 18px 0 90px;
                  }
                }
              }
              .box_15 {
                width: 537px;
                height: 64px;
                margin-top: 14px;
                .text-wrapper_8 {
                  height: 64px;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 260px;
                  .text_27 {
                    width: 64px;
                    height: 22px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 16px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22px;
                    margin: 21px 0 0 68px;
                  }
                }
                .text-wrapper_9 {
                  height: 64px;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 260px;
                  .text_28 {
                    width: 64px;
                    height: 22px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 16px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22px;
                    margin: 21px 0 0 68px;
                  }
                }
              }
              .box_16 {
                width: 537px;
                height: 64px;
                margin-top: 15px;
                .block_11 {
                  width: 260px;
                  height: 64px;
                  background: url(./img/SketchPng4ecf7a3d3751a7937aee739d214be8abdb0631f929b45cd30c47d8eaaa014905.png)
                    0px 0px no-repeat;
                  background-size: 261px 65px;
                  .text_29 {
                    width: 64px;
                    height: 22px;
                    overflow-wrap: break-word;
                    color: rgba(240, 202, 15, 1);
                    font-size: 16px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22px;
                    margin: 21px 0 0 68px;
                  }
                  .thumbnail_5 {
                    width: 20px;
                    height: 18px;
                    margin: 23px 18px 0 90px;
                  }
                }
                .text-wrapper_10 {
                  height: 64px;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 260px;
                  .text_30 {
                    width: 64px;
                    height: 22px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 16px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22px;
                    margin: 21px 0 0 68px;
                  }
                }
              }
              .box_17 {
                width: 537px;
                height: 64px;
                margin-top: 16px;
                .text-wrapper_11 {
                  height: 64px;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 260px;
                  .text_31 {
                    width: 64px;
                    height: 22px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 16px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22px;
                    margin: 21px 0 0 68px;
                  }
                }
                .text-wrapper_12 {
                  height: 64px;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 260px;
                  .text_32 {
                    width: 64px;
                    height: 22px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 16px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22px;
                    margin: 21px 0 0 68px;
                  }
                }
              }
            }
            .group_13 {
              background-color: rgba(111, 119, 167, 1);
              width: 4px;
              height: 72px;
              margin: 323px 0 0 13px;
            }
          }
          .image_12 {
            position: absolute;
            left: 592px;
            top: 83px;
            width: 131px;
            height: 204px;
          }
          .box_18 {
            position: absolute;
            left: 1043px;
            top: 520px;
            width: 181px;
            height: 181px;
            background: url(./img/SketchPng995a3f8722347d8c50c9c6d88b3dd232afb377c8fb493eec1cafd0b713e49dc7.png) -20px
              13px no-repeat;
            background-size: 221px 154px;
            .group_14 {
              position: absolute;
              left: -332px;
              top: 11px;
              width: 369px;
              height: 136px;
              background: url(./img/SketchPng22b3575029ec1cfb31c07b07deae386f51344b3ef980181fa6dac73166a72f19.png)
                0px -2px no-repeat;
              background-size: 371px 139px;
              .image_13 {
                position: absolute;
                left: -17px;
                top: -284px;
                width: 126px;
                height: 188px;
              }
              .box_19 {
                height: 397px;
                background: url(./img/SketchPng95c405742685d3c8cf558a18b9d15efcebe4382c6e8c3db48dd762a45cecfb7f.png)
                  0px 0px no-repeat;
                background-size: 442px 398px;
                width: 441px;
                position: absolute;
                left: -310px;
                top: -279px;
                .image-wrapper_5 {
                  width: 85px;
                  height: 52px;
                  margin: 193px 0 0 176px;
                  .image_14 {
                    width: 85px;
                    height: 52px;
                  }
                }
                .image-wrapper_6 {
                  width: 66px;
                  height: 40px;
                  margin: 33px 0 79px 87px;
                  .image_15 {
                    width: 66px;
                    height: 40px;
                  }
                }
              }
              .image_16 {
                position: absolute;
                left: -178px;
                top: 165px;
                width: 176px;
                height: 215px;
              }
              .box_20 {
                height: 191px;
                background: url(./img/SketchPng48cd2805a63545ef5d98a10a3ac21247e17c55600a68e5be79544874ebd08aad.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 240px;
                position: absolute;
                left: -17px;
                top: 112px;
                .image-wrapper_7 {
                  box-shadow: inset -24px -4px 40px 0px rgba(0, 237, 255, 0.06);
                  background-image: url(./img/4001517967484118b168500086fdfb10_mergeImage.png);
                  height: 163px;
                  width: 239px;
                  margin: 27px 0 0 1px;
                  .image_17 {
                    width: 265px;
                    height: 40px;
                    margin: -17px 0 0 -1px;
                  }
                }
                .image_18 {
                  position: absolute;
                  left: 1px;
                  top: -2px;
                  width: 110px;
                  height: 4px;
                }
                .image_19 {
                  position: absolute;
                  left: 1px;
                  top: 0;
                  width: 239px;
                  height: 7px;
                }
              }
            }
            .image-wrapper_8 {
              height: 145px;
              background: url(./img/SketchPng92d247aac4fb520ab41abb2f16231c96e63e509b95c798a257c2dfce5a07c045.png) -2px
                1px no-repeat;
              background-size: 181px 147px;
              width: 177px;
              position: absolute;
              left: -3px;
              top: -35px;
              .image_20 {
                width: 135px;
                height: 128px;
                margin: -75px 0 0 21px;
              }
            }
          }
          .image-wrapper_9 {
            height: 164px;
            background: url(./img/SketchPngc4e77653f05910997dc55fa288a9e2c1a73327b32585130ec330b66a532246be.png) -1px
              0px no-repeat;
            background-size: 254px 164px;
            width: 253px;
            position: absolute;
            left: 60px;
            top: 462px;
            .image_21 {
              width: 55px;
              height: 39px;
              margin: 98px 0 0 152px;
            }
            .image_22 {
              position: absolute;
              left: 161px;
              top: -89px;
              width: 316px;
              height: 241px;
            }
          }
          .image_23 {
            position: absolute;
            left: 1897px;
            top: 723px;
            width: 2px;
            height: 243px;
          }
          .image_24 {
            position: absolute;
            left: 690px;
            top: 240px;
            width: 60px;
            height: 38px;
          }
          .box_21 {
            height: 191px;
            background: url(./img/SketchPng48cd2805a63545ef5d98a10a3ac21247e17c55600a68e5be79544874ebd08aad.png)
              100% no-repeat;
            background-size: 100% 100%;
            width: 240px;
            position: absolute;
            left: 727px;
            top: 60px;
            .image-wrapper_10 {
              box-shadow: inset -24px -4px 40px 0px rgba(0, 237, 255, 0.06);
              background-image: url(./img/9aa8ea8539b446ba88988dfd35f5bac7_mergeImage.png);
              height: 163px;
              width: 239px;
              margin: 27px 0 0 1px;
              .image_25 {
                width: 265px;
                height: 40px;
                margin: -17px 0 0 -1px;
              }
            }
            .image_26 {
              position: absolute;
              left: 1px;
              top: -2px;
              width: 110px;
              height: 4px;
            }
            .image_27 {
              position: absolute;
              left: 1px;
              top: 0;
              width: 239px;
              height: 7px;
            }
          }
          .box_22 {
            height: 207px;
            background: url(./img/SketchPngd01a3e59c0feef4e531b12a971f4923daf0847d2d8006479ef9ad8f5dd9b603e.png)
              100% no-repeat;
            background-size: 100% 100%;
            width: 253px;
            position: absolute;
            left: 714px;
            top: 50px;
            .box_23 {
              width: 208px;
              height: 28px;
              margin: 23px 0 0 30px;
              .text_33 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(199, 207, 243, 1) 100%
                );
                width: 80px;
                height: 28px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 20px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 28px;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .box_24 {
                background-color: rgba(4, 210, 102, 0.3);
                border-radius: 50%;
                height: 18px;
                width: 18px;
                margin: 8px 0 0 72px;
                .section_11 {
                  background-color: rgba(18, 224, 116, 1);
                  border-radius: 50%;
                  width: 14px;
                  height: 14px;
                  margin: 2px 0 0 2px;
                }
              }
              .text_34 {
                width: 32px;
                height: 22px;
                overflow-wrap: break-word;
                color: rgba(18, 224, 116, 1);
                font-size: 16px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 22px;
                margin: 6px 0 0 6px;
              }
            }
            .text-wrapper_13 {
              width: 47px;
              height: 56px;
              margin: 32px 0 0 111px;
              .text_35 {
                width: 47px;
                height: 56px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 48px;
                font-family: DINAlternate-Bold;
                font-weight: 700;
                text-align: left;
                white-space: nowrap;
                line-height: 56px;
              }
            }
            .text-wrapper_14 {
              width: 64px;
              height: 22px;
              margin: 8px 0 38px 103px;
              .text_36 {
                width: 64px;
                height: 22px;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 16px;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 22px;
              }
            }
          }
          .box_25 {
            height: 207px;
            background: url(./img/SketchPngd01a3e59c0feef4e531b12a971f4923daf0847d2d8006479ef9ad8f5dd9b603e.png)
              100% no-repeat;
            background-size: 100% 100%;
            width: 253px;
            position: absolute;
            left: 681px;
            top: 633px;
            .group_15 {
              width: 208px;
              height: 28px;
              margin: 22px 0 0 29px;
              .text_37 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(199, 207, 243, 1) 100%
                );
                width: 80px;
                height: 28px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 20px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 28px;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .image-text_7 {
                width: 56px;
                height: 22px;
                margin-top: 6px;
                .group_16 {
                  background-color: rgba(4, 210, 102, 0.3);
                  border-radius: 50%;
                  height: 18px;
                  margin-top: 2px;
                  width: 18px;
                  .section_12 {
                    background-color: rgba(18, 224, 116, 1);
                    border-radius: 50%;
                    width: 14px;
                    height: 14px;
                    margin: 2px 0 0 2px;
                  }
                }
                .text-group_7 {
                  width: 32px;
                  height: 22px;
                  overflow-wrap: break-word;
                  color: rgba(18, 224, 116, 1);
                  font-size: 16px;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 22px;
                }
              }
            }
            .group_17 {
              width: 70px;
              height: 86px;
              margin: 32px 0 39px 98px;
              .text-group_8 {
                width: 70px;
                height: 86px;
                .text_38 {
                  width: 70px;
                  height: 56px;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 48px;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 56px;
                }
                .text_39 {
                  width: 64px;
                  height: 22px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 16px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 22px;
                  margin: 8px 0 0 4px;
                }
              }
            }
          }
          .box_26 {
            position: absolute;
            left: 61px;
            top: 275px;
            width: 240px;
            height: 191px;
            background: url(./img/SketchPng20593af35bc3162a0de18ec4b25f091c9195592692c78216d05d151191a5d409.png)
              100% no-repeat;
            background-size: 100% 100%;
            .image_28 {
              width: 240px;
              height: 7px;
            }
            .image-wrapper_11 {
              box-shadow: inset -24px -4px 40px 0px rgba(0, 237, 255, 0.06);
              background-image: url(./img/afe40aea66d84a3bb462b0d3b2da7b8d_mergeImage.png);
              height: 163px;
              width: 239px;
              margin: 20px 0 1px 0;
              .image_29 {
                width: 265px;
                height: 40px;
                margin-top: -17px;
              }
            }
          }
          .box_27 {
            position: absolute;
            left: 57px;
            top: 266px;
            width: 253px;
            height: 207px;
            background: url(./img/SketchPng24793a3383da61c2f8f1fa32ced603760b71c8a4b121e0db91d92c821dbf2849.png)
              100% no-repeat;
            background-size: 100% 100%;
            .box_28 {
              width: 204px;
              height: 28px;
              margin: 21px 0 0 22px;
              .text_40 {
                width: 80px;
                height: 28px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 20px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 28px;
              }
              .image-text_8 {
                width: 61px;
                height: 22px;
                margin-top: 3px;
                .thumbnail_6 {
                  width: 20px;
                  height: 18px;
                  margin-top: 2px;
                }
                .text-group_9 {
                  width: 32px;
                  height: 22px;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 16px;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 22px;
                }
              }
            }
            .text-group_10 {
              width: 110px;
              height: 82px;
              margin: 39px 0 37px 75px;
              .text-wrapper_15 {
                width: 110px;
                height: 47px;
                overflow-wrap: break-word;
                font-size: 0;
                font-family: DINAlternate-Bold;
                font-weight: 700;
                text-align: left;
                white-space: nowrap;
                line-height: 47px;
                .text_41 {
                  width: 110px;
                  height: 47px;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 40px;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 47px;
                }
                .text_42 {
                  width: 110px;
                  height: 47px;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 40px;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 47px;
                }
              }
              .text_43 {
                width: 64px;
                height: 22px;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 16px;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 22px;
                margin: 13px 0 0 23px;
              }
            }
          }
          .image_30 {
            position: absolute;
            left: 1029px;
            top: 569px;
            width: 60px;
            height: 45px;
          }
          .box_29 {
            height: 191px;
            background: url(./img/SketchPng48cd2805a63545ef5d98a10a3ac21247e17c55600a68e5be79544874ebd08aad.png)
              100% no-repeat;
            background-size: 100% 100%;
            width: 240px;
            position: absolute;
            left: 1003px;
            top: 256px;
            .image-wrapper_12 {
              box-shadow: inset -24px -4px 40px 0px rgba(0, 237, 255, 0.06);
              background-image: url(./img/50b46729fca34f64957a69df29bd9fd8_mergeImage.png);
              height: 163px;
              width: 239px;
              margin: 27px 0 0 1px;
              .image_31 {
                width: 265px;
                height: 40px;
                margin: -17px 0 0 -1px;
              }
            }
            .image_32 {
              position: absolute;
              left: 1px;
              top: -2px;
              width: 110px;
              height: 4px;
            }
            .image_33 {
              position: absolute;
              left: 1px;
              top: 0;
              width: 239px;
              height: 7px;
            }
          }
          .box_30 {
            height: 207px;
            background: url(./img/SketchPngd01a3e59c0feef4e531b12a971f4923daf0847d2d8006479ef9ad8f5dd9b603e.png)
              100% no-repeat;
            background-size: 100% 100%;
            width: 253px;
            position: absolute;
            left: 990px;
            top: 246px;
            .group_18 {
              width: 208px;
              height: 28px;
              margin: 22px 0 0 30px;
              .text_44 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(199, 207, 243, 1) 100%
                );
                width: 80px;
                height: 28px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 20px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 28px;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .block_12 {
                background-color: rgba(4, 210, 102, 0.3);
                border-radius: 50%;
                height: 18px;
                width: 18px;
                margin: 8px 0 0 72px;
                .group_19 {
                  background-color: rgba(18, 224, 116, 1);
                  border-radius: 50%;
                  width: 14px;
                  height: 14px;
                  margin: 2px 0 0 2px;
                }
              }
              .text_45 {
                width: 32px;
                height: 22px;
                overflow-wrap: break-word;
                color: rgba(18, 224, 116, 1);
                font-size: 16px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 22px;
                margin: 6px 0 0 6px;
              }
            }
            .group_20 {
              width: 64px;
              height: 86px;
              margin: 32px 0 39px 103px;
              .text-group_11 {
                width: 64px;
                height: 86px;
                .text_46 {
                  width: 47px;
                  height: 56px;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 48px;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 56px;
                  margin-left: 8px;
                }
                .text_47 {
                  width: 64px;
                  height: 22px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 16px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 22px;
                  margin-top: 8px;
                }
              }
            }
          }
        }
        .block_13 {
          position: absolute;
          left: 0;
          top: 0;
          width: 1920px;
          height: 81px;
          background: url(./img/SketchPng8c7f60758ffb8a760f12c197791a4008cd8763363c61ddeb9440bb99d24b57e2.png)
            100% no-repeat;
          background-size: 100% 100%;
          .block_14 {
            width: 1406px;
            height: 44px;
            margin: 21px 0 0 514px;
            .image-wrapper_13 {
              height: 40px;
              background: url(./img/SketchPng7c0b08efd057f8b7d0a30415e72be9e4b4bebfb50e056712e01d0502b1ce3572.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-top: 2px;
              width: 221px;
              .image_34 {
                width: 221px;
                height: 40px;
              }
            }
            .image-wrapper_14 {
              height: 31px;
              background: url(./img/SketchPnge0121ad55ee7efdab67077a35865dc2d9f0d20dee6f501fc4b053bffbf3c31f7.png)
                0px 0px no-repeat;
              background-size: 47px 31px;
              width: 46px;
              margin: 11px 0 0 385px;
              .label_6 {
                width: 46px;
                height: 31px;
              }
            }
            .text_48 {
              background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0,
                rgba(135, 145, 206, 1) 100%
              );
              width: 113px;
              height: 23px;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 20px;
              font-family: Galvji;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 23px;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              margin: 14px 0 0 60px;
            }
            .text_49 {
              background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0,
                rgba(135, 145, 206, 1) 100%
              );
              width: 54px;
              height: 25px;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 18px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 25px;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              margin: 13px 0 0 24px;
            }
            .text_50 {
              width: 134px;
              height: 38px;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 32px;
              font-family: Galvji;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 38px;
              margin: 2px 0 0 24px;
            }
            .section_13 {
              width: 268px;
              height: 44px;
              background: url(./img/SketchPng1e4d73228a4b718bc3dc4e28d9c5f5c1a8fc66587312ac4e714816ee1f16709a.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-left: 77px;
              .label_7 {
                width: 23px;
                height: 22px;
                margin: 12px 0 0 45px;
              }
              .text_51 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 36px;
                height: 25px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 18px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 25px;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 10px 0 0 16px;
              }
              .label_8 {
                width: 24px;
                height: 24px;
                margin: 11px 0 0 32px;
              }
              .text_52 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 36px;
                height: 25px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 18px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 25px;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 10px 40px 0 16px;
              }
            }
          }
          .block_15 {
            background-color: rgba(138, 147, 201, 0.3);
            border-radius: 2px;
            width: 37px;
            height: 3px;
            margin: 9px 0 0 1843px;
          }
          .image_35 {
            width: 1920px;
            height: 1px;
            margin-top: 3px;
          }
          .block_16 {
            height: 19px;
            background: url(./img/SketchPng1031b39c26628ea3f673aa44e678ff5b0307d28c1fdcefc3144c79b6ad8ccf1a.png)
              0px -1px no-repeat;
            background-size: 1803px 22px;
            width: 1803px;
            position: absolute;
            left: 0;
            top: 71px;
            .box_31 {
              position: relative;
              width: 704px;
              height: 9px;
              background: url(./img/SketchPng4f3f5454a09f7b4e228e66fa142d41b47ddce486367077f069311523b769af74.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 5px 0 0 644px;
              .section_14 {
                background-color: rgba(138, 147, 201, 0.4);
                border-radius: 2px;
                position: absolute;
                left: 582px;
                top: -2px;
                width: 20px;
                height: 3px;
              }
              .section_15 {
                background-color: rgba(138, 147, 201, 0.2);
                border-radius: 2px;
                position: absolute;
                left: 612px;
                top: -2px;
                width: 20px;
                height: 3px;
              }
              .section_16 {
                background-color: rgba(138, 147, 201, 0.1);
                border-radius: 2px;
                position: absolute;
                left: 642px;
                top: -2px;
                width: 20px;
                height: 3px;
              }
              .section_17 {
                background-color: rgba(138, 147, 201, 0.3);
                border-radius: 2px;
                position: absolute;
                left: 107px;
                top: -2px;
                width: 37px;
                height: 3px;
              }
            }
          }
          .block_17 {
            position: absolute;
            left: -90px;
            top: 8px;
            width: 525px;
            height: 72px;
            background: url(./img/SketchPng23ac035b487469d5468183e970040279c5d221a880a47ba092820927c4face04.png)
              100% no-repeat;
            background-size: 100% 100%;
            .box_32 {
              height: 17px;
              background: url(./img/SketchPng35d24bc1167d062a3550f34ee9a0a1ef5219ae697bd5ecfca023c5777c82e810.png)
                100% no-repeat;
              background-size: 100% 100%;
              width: 264px;
              margin: 53px 0 0 171px;
              .block_18 {
                height: 11px;
                background: url(./img/SketchPngd30118be47d2468d7af566c0316736409d70476c34f6ab8d2b5e7e9fcfdcb000.png) -16px -16px
                  no-repeat;
                background-size: 50px 43px;
                width: 18px;
                margin: 5px 0 0 122px;
                .group_21 {
                  width: 10px;
                  height: 6px;
                  background: url(./img/SketchPng13a67309e5940cb64f0e9ff1bcf6ededb4c5df0a6478368b671429acdd76e31c.png) -6px -7px
                    no-repeat;
                  background-size: 22px 20px;
                  margin: 1px 0 0 4px;
                }
              }
            }
            .text_53 {
              background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0,
                rgba(136, 145, 198, 1) 100%
              );
              position: absolute;
              left: 138px;
              top: 9px;
              width: 432px;
              height: 50px;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 36px;
              font-family: PingFangSC-Semibold;
              font-weight: 600;
              text-align: left;
              white-space: nowrap;
              line-height: 50px;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }
}
