.page {
  position: relative;
  width: 100vw;
  height: 56.25vw;
  overflow: hidden;
  .block_1 {
    height: 56.25vw;
    background: url(./img/SketchPngbb6059bde37e68ee3ee2aa8c68602bde41d3d4a08c581290a475df0ad9cbd256.png)
      100% no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    .group_1 {
      height: 56.25vw;
      background: url(./img/SketchPng2af6a7581b8e7b5f99306d5bc682c895fa39d4ca7c3f42bba5edb1fac0e12bc1.png)
        100% no-repeat;
      background-size: 100% 100%;
      width: 100vw;
      .group_2 {
        height: 56.25vw;
        background: url(./img/SketchPng4501a867cfd2d83504a6e8c9c01fe4e1a366392de74c7fb0a77e7cb896df1528.png) -7.82vw -7.82vw
          no-repeat;
        background-size: 115.62vw 71.87vw;
        width: 100vw;
        position: relative;
        .block_2 {
          position: relative;
          width: 100vw;
          height: 52.09vw;
          margin-top: 4.22vw;
          .box_1 {
            width: 95.94vw;
            height: 2.35vw;
            margin: 1.82vw 0 0 2.08vw;
            .section_1 {
              width: 7.4vw;
              height: 2.3vw;
              background: url(./img/SketchPngd90a76d2ead7770932b6a7ecf177ab447b25115f8212105496fecf8ecb2b420c.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-top: 0.06vw;
              .image_1 {
                width: 1.15vw;
                height: 1.05vw;
                margin: 0.72vw 0 0 1.04vw;
              }
              .text_1 {
                width: 3.34vw;
                height: 1.15vw;
                overflow-wrap: break-word;
                color: rgba(255, 59, 78, 1);
                font-size: 0.83vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.15vw;
                margin: 0.67vw 1.04vw 0 0;
              }
            }
            .section_2 {
              width: 7.4vw;
              height: 2.3vw;
              background: url(./img/SketchPngd90a76d2ead7770932b6a7ecf177ab447b25115f8212105496fecf8ecb2b420c.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 0.05vw 0 0 0.41vw;
              .image_2 {
                width: 1.15vw;
                height: 1.05vw;
                margin: 0.72vw 0 0 1.04vw;
              }
              .text_2 {
                width: 3.34vw;
                height: 1.15vw;
                overflow-wrap: break-word;
                color: rgba(255, 126, 44, 1);
                font-size: 0.83vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.15vw;
                margin: 0.67vw 1.04vw 0 0;
              }
            }
            .section_3 {
              width: 28.08vw;
              height: 2.3vw;
              background: url(./img/SketchPngc0a46eabee260e275a6481203ec0c5fcc6145acb71106956fe9ed9494e59836f.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-left: 52.66vw;
              .image_3 {
                width: 28.08vw;
                height: 0.06vw;
              }
              .block_3 {
                width: 28.08vw;
                height: 2.3vw;
                background: url(./img/SketchPng2929bb581a7f68b93635c5fe7608c12038de6d4a856907d090c80aee0f534740.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-bottom: 0.06vw;
                .image_4 {
                  width: 0.84vw;
                  height: 1.67vw;
                  margin: 0.31vw 0 0 1.04vw;
                }
                .text_3 {
                  width: 5.21vw;
                  height: 1.46vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 1.04vw;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.46vw;
                  margin: 0.36vw 0 0 1.25vw;
                }
                .text_4 {
                  width: 1.41vw;
                  height: 1.67vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 1.45vw;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.67vw;
                  margin: 0.41vw 0.93vw 0 17.39vw;
                }
              }
            }
          }
          .box_2 {
            width: 95.84vw;
            height: 4.95vw;
            margin: 0.62vw 0 0 2.08vw;
            .section_4 {
              width: 7.4vw;
              height: 2.3vw;
              background: url(./img/SketchPngd90a76d2ead7770932b6a7ecf177ab447b25115f8212105496fecf8ecb2b420c.png)
                100% no-repeat;
              background-size: 100% 100%;
              .image_5 {
                width: 1.15vw;
                height: 1.05vw;
                margin: 0.72vw 0 0 1.04vw;
              }
              .text_5 {
                width: 3.34vw;
                height: 1.15vw;
                overflow-wrap: break-word;
                color: rgba(240, 202, 15, 1);
                font-size: 0.83vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.15vw;
                margin: 0.67vw 1.04vw 0 0;
              }
            }
            .section_5 {
              width: 7.4vw;
              height: 2.3vw;
              background: url(./img/SketchPngd90a76d2ead7770932b6a7ecf177ab447b25115f8212105496fecf8ecb2b420c.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-left: 0.42vw;
              .thumbnail_1 {
                width: 1.05vw;
                height: 1.05vw;
                margin: 0.62vw 0 0 1.09vw;
              }
              .text_6 {
                width: 3.34vw;
                height: 1.15vw;
                overflow-wrap: break-word;
                color: rgba(0, 189, 255, 1);
                font-size: 0.83vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.15vw;
                margin: 0.62vw 1.04vw 0 0.88vw;
              }
            }
            .section_6 {
              width: 13.55vw;
              height: 4.74vw;
              background: url(./img/SketchPngb2883fc34281cff9ae227f4a8596e339b188ecace17bc1b2f22c4e993a9fd50f.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 0.2vw 0 0 52.65vw;
              .box_3 {
                width: 2.66vw;
                height: 2.66vw;
                background: url(./img/SketchPng5eec300fab2abef6bb3a7bdf0a915679f7b7a17aa47bc389ee16f452508e204b.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin: 1.04vw 0 0 1.09vw;
              }
              .box_4 {
                width: 6.67vw;
                height: 3.03vw;
                margin: 0.83vw 2.08vw 0 1.04vw;
                .text_7 {
                  width: 6.67vw;
                  height: 1.15vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.83vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.15vw;
                }
                .text-wrapper_1 {
                  width: 2.87vw;
                  height: 1.46vw;
                  overflow-wrap: break-word;
                  font-size: 0;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.46vw;
                  margin-top: 0.42vw;
                  .text_8 {
                    width: 2.87vw;
                    height: 1.46vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 1.25vw;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.46vw;
                  }
                  .text_9 {
                    width: 2.87vw;
                    height: 1.46vw;
                    overflow-wrap: break-word;
                    color: rgba(255, 126, 44, 1);
                    font-size: 1.25vw;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.46vw;
                  }
                }
              }
            }
            .section_7 {
              width: 13.55vw;
              height: 4.74vw;
              background: url(./img/SketchPngb2883fc34281cff9ae227f4a8596e339b188ecace17bc1b2f22c4e993a9fd50f.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 0.2vw 0 0 0.88vw;
              .section_8 {
                width: 2.66vw;
                height: 2.66vw;
                background: url(./img/SketchPng5eec300fab2abef6bb3a7bdf0a915679f7b7a17aa47bc389ee16f452508e204b.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin: 1.04vw 0 0 1.09vw;
              }
              .text-wrapper_2 {
                width: 5.84vw;
                height: 3.03vw;
                margin: 0.83vw 2.91vw 0 1.04vw;
                .text_10 {
                  width: 5.84vw;
                  height: 1.15vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.83vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.15vw;
                }
                .text_11 {
                  width: 1.25vw;
                  height: 1.46vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 1.25vw;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.46vw;
                  margin-top: 0.42vw;
                }
              }
            }
          }
          .box_5 {
            width: 67.61vw;
            height: 7.35vw;
            margin: 0.62vw 0 0 30.31vw;
            .group_3 {
              width: 7.35vw;
              height: 7.35vw;
              background: url(./img/SketchPng4aeb49457ddeca0759c7f52597178ee9794790477d770556b01415997eb9d284.png) -0.37vw
                0.89vw no-repeat;
              background-size: 8.07vw 5.52vw;
            }
            .group_4 {
              width: 13.55vw;
              height: 4.74vw;
              background: url(./img/SketchPngb2883fc34281cff9ae227f4a8596e339b188ecace17bc1b2f22c4e993a9fd50f.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 0.2vw 0 0 32.29vw;
              .box_6 {
                width: 2.66vw;
                height: 2.66vw;
                background: url(./img/SketchPng5eec300fab2abef6bb3a7bdf0a915679f7b7a17aa47bc389ee16f452508e204b.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin: 1.04vw 0 0 1.09vw;
              }
              .text-wrapper_3 {
                width: 5.84vw;
                height: 2.82vw;
                margin: 1.04vw 2.91vw 0 1.04vw;
                .text_12 {
                  width: 5.84vw;
                  height: 1.15vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.83vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.15vw;
                }
                .text_13 {
                  width: 1.25vw;
                  height: 1.46vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 1.25vw;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.46vw;
                  margin-top: 0.21vw;
                }
              }
            }
            .group_5 {
              width: 13.55vw;
              height: 4.74vw;
              background: url(./img/SketchPngb2883fc34281cff9ae227f4a8596e339b188ecace17bc1b2f22c4e993a9fd50f.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 0.2vw 0 0 0.88vw;
              .group_6 {
                width: 2.66vw;
                height: 2.66vw;
                background: url(./img/SketchPng5eec300fab2abef6bb3a7bdf0a915679f7b7a17aa47bc389ee16f452508e204b.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin: 1.04vw 0 0 1.09vw;
              }
              .text-wrapper_4 {
                width: 5.84vw;
                height: 2.92vw;
                margin: 1.04vw 2.91vw 0 1.04vw;
                .text_14 {
                  width: 5.84vw;
                  height: 1.15vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.83vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.15vw;
                }
                .text_15 {
                  width: 1.25vw;
                  height: 1.46vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 1.25vw;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.46vw;
                  margin-top: 0.32vw;
                }
              }
            }
          }
          .image-wrapper_1 {
            width: 28.08vw;
            height: 0.06vw;
            margin-left: 69.95vw;
            .image_6 {
              width: 28.08vw;
              height: 0.06vw;
            }
          }
          .box_7 {
            width: 96.93vw;
            height: 33.81vw;
            margin: 0 0 0.52vw 1.97vw;
            .group_7 {
              width: 15vw;
              height: 22.45vw;
              margin-top: 9.28vw;
              .box_8 {
                width: 9.74vw;
                height: 9.74vw;
                background: url(./img/SketchPnge9beb8d81dfbeae95af71af4ccf7f4b0cc19ed8efe1daf31c3c23ceffea73e5b.png) -0.99vw
                  0.79vw no-repeat;
                background-size: 11.82vw 8.43vw;
                margin-left: 3.18vw;
              }
              .image_7 {
                width: 15vw;
                height: 2.71vw;
                margin-top: 10vw;
              }
            }
            .group_8 {
              width: 22.09vw;
              height: 32.77vw;
              margin: 1.04vw 0 0 4.42vw;
              .block_4 {
                height: 22.09vw;
                background: url(./img/SketchPnga55d045ba781f1a67c34b0cbd9831c3d989bbb29810e15bdf2bb6a34db9fe98d.png) -0.99vw
                  3.6vw no-repeat;
                background-size: 24.11vw 14.73vw;
                width: 22.09vw;
                .image-wrapper_2 {
                  height: 13.03vw;
                  background: url(./img/SketchPng140272b597ace813a5f7c30b273a7f5d50b5eff5e8821966fdf9c2d413d44cbd.png) -0.11vw -0.06vw
                    no-repeat;
                  background-size: 12.5vw 13.12vw;
                  width: 12.35vw;
                  margin: 9.16vw 0 0 -3.85vw;
                  .image_8 {
                    width: 12.35vw;
                    height: 13.03vw;
                  }
                }
              }
              .block_5 {
                width: 9.95vw;
                height: 9.95vw;
                background: url(./img/SketchPngd048dcb7002ac417be43ea80e0371939404392aa2194ad5e944fc8556d468d55.png) -0.16vw
                  1.62vw no-repeat;
                background-size: 10.36vw 6.4vw;
                margin: 0.72vw 0 0 5.98vw;
              }
            }
            .image_9 {
              width: 3.6vw;
              height: 3.49vw;
              margin: 6.14vw 0 0 9.42vw;
            }
            .group_9 {
              width: 28.08vw;
              height: 32.5vw;
              margin-left: 13.44vw;
              .box_9 {
                height: 2.3vw;
                background: url(./img/SketchPngd0582de62da40b74a460fbb73914adac043e5a8de8d6b49a12ba0dfded46fd55.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 28.08vw;
                .section_9 {
                  width: 28.08vw;
                  height: 2.3vw;
                  background: url(./img/SketchPng863157e9cd70e79d64a15951e997a6054a7ad3fb36e0b0193f08ac4a8d517f68.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .image-text_1 {
                    width: 7.5vw;
                    height: 1.46vw;
                    margin: 0.41vw 0 0 0.83vw;
                    .label_1 {
                      width: 1.41vw;
                      height: 1.41vw;
                      margin-top: 0.06vw;
                    }
                    .text-group_1 {
                      width: 5.21vw;
                      height: 1.46vw;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 1.04vw;
                      font-family: PingFangSC-Semibold;
                      font-weight: 600;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.46vw;
                    }
                  }
                  .image-text_2 {
                    width: 3.39vw;
                    height: 1.15vw;
                    margin: 0.57vw 0 0 1.19vw;
                    .image_10 {
                      width: 1.25vw;
                      height: 1.05vw;
                      margin-top: 0.06vw;
                    }
                    .text-group_2 {
                      width: 1.67vw;
                      height: 1.15vw;
                      overflow-wrap: break-word;
                      color: rgba(255, 60, 77, 1);
                      font-size: 0.83vw;
                      font-family: PingFangSC-Semibold;
                      font-weight: 600;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.15vw;
                    }
                  }
                  .text-wrapper_5 {
                    width: 4.02vw;
                    height: 1.67vw;
                    overflow-wrap: break-word;
                    font-size: 0;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.67vw;
                    margin: 0.31vw 1.04vw 0 10.1vw;
                    .text_16 {
                      width: 4.02vw;
                      height: 1.67vw;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 1.45vw;
                      font-family: DINAlternate-Bold;
                      font-weight: 700;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.67vw;
                    }
                    .text_17 {
                      width: 4.02vw;
                      height: 1.67vw;
                      overflow-wrap: break-word;
                      color: rgba(255, 60, 77, 1);
                      font-size: 1.45vw;
                      font-family: DINAlternate-Bold;
                      font-weight: 700;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.67vw;
                    }
                  }
                }
              }
              .box_10 {
                width: 27.97vw;
                height: 3.6vw;
                margin-top: 0.89vw;
                .block_6 {
                  width: 13.55vw;
                  height: 3.6vw;
                  background: url(./img/SketchPng9fef58087d17d305e85388277837d17c420a0ada2a4fced3fb4d9ad90429536b.png) -0.27vw -0.27vw
                    no-repeat;
                  background-size: 13.8vw 3.85vw;
                  .image-text_3 {
                    width: 6.31vw;
                    height: 1.46vw;
                    margin: 1.09vw 0 0 0.98vw;
                    .box_11 {
                      width: 1.46vw;
                      height: 1.46vw;
                      background: url(./img/SketchPng4d6198231818116a3dfe940aeca2ee0975a7263483a52a2771ed4bc22ac9a19e.png)
                        100% no-repeat;
                      background-size: 100% 100%;
                    }
                    .text-group_3 {
                      width: 4.17vw;
                      height: 1.15vw;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 0.83vw;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.15vw;
                      margin-top: 0.16vw;
                    }
                  }
                  .text_18 {
                    width: 1.25vw;
                    height: 1.46vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 1.25vw;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.46vw;
                    margin: 1.09vw 1.14vw 0 3.85vw;
                  }
                }
                .block_7 {
                  height: 3.6vw;
                  background: url(./img/SketchPngf39a9f6685ec4b9dfb1c6f9dc8f0fe65d221b39fc66575fc5f87ef66c3a540f1.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 13.55vw;
                  .image-wrapper_3 {
                    width: 0.42vw;
                    height: 0.42vw;
                    .thumbnail_2 {
                      width: 0.42vw;
                      height: 0.42vw;
                    }
                  }
                  .block_8 {
                    width: 11.62vw;
                    height: 1.46vw;
                    margin: 0.67vw 0 1.04vw 0.88vw;
                    .image-text_4 {
                      width: 6.52vw;
                      height: 1.31vw;
                      margin-top: 0.16vw;
                      .label_2 {
                        width: 1.67vw;
                        height: 1.31vw;
                      }
                      .text-group_4 {
                        width: 4.17vw;
                        height: 1.15vw;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.83vw;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.15vw;
                      }
                    }
                    .text-wrapper_6 {
                      width: 2.87vw;
                      height: 1.46vw;
                      overflow-wrap: break-word;
                      font-size: 0;
                      font-family: DINAlternate-Bold;
                      font-weight: 700;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.46vw;
                      .text_19 {
                        width: 2.87vw;
                        height: 1.46vw;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 1.25vw;
                        font-family: DINAlternate-Bold;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.46vw;
                      }
                      .text_20 {
                        width: 2.87vw;
                        height: 1.46vw;
                        overflow-wrap: break-word;
                        color: rgba(255, 60, 77, 1);
                        font-size: 1.25vw;
                        font-family: DINAlternate-Bold;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.46vw;
                      }
                    }
                  }
                }
              }
              .box_12 {
                width: 27.97vw;
                height: 3.6vw;
                margin-top: 0.84vw;
                .group_10 {
                  width: 13.55vw;
                  height: 3.6vw;
                  background: url(./img/SketchPng9fef58087d17d305e85388277837d17c420a0ada2a4fced3fb4d9ad90429536b.png) -0.27vw -0.27vw
                    no-repeat;
                  background-size: 13.8vw 3.85vw;
                  .image-text_5 {
                    width: 6.57vw;
                    height: 1.41vw;
                    margin: 1.14vw 0 0 0.83vw;
                    .group_11 {
                      width: 1.62vw;
                      height: 1.41vw;
                      background: url(./img/SketchPngf3595e172396eabd8d2552b62470f1ec27f87c37b6c480e1c6f6f60f2c6d8343.png)
                        100% no-repeat;
                      background-size: 100% 100%;
                    }
                    .text-group_5 {
                      width: 4.17vw;
                      height: 1.15vw;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 0.83vw;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.15vw;
                      margin-top: 0.11vw;
                    }
                  }
                  .text_21 {
                    width: 1.25vw;
                    height: 1.46vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 1.25vw;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.46vw;
                    margin: 1.09vw 1.04vw 0 3.85vw;
                  }
                }
                .group_12 {
                  height: 3.6vw;
                  background: url(./img/SketchPngc435448ded094a74b971876fedb521a1982ece02493212116ccfec17204b6a64.png) -0.27vw -0.27vw
                    no-repeat;
                  background-size: 13.8vw 3.85vw;
                  width: 13.55vw;
                  .section_10 {
                    width: 11.57vw;
                    height: 1.57vw;
                    margin: 1.04vw 0 0 0.93vw;
                    .image-text_6 {
                      width: 6.36vw;
                      height: 1.57vw;
                      .label_3 {
                        width: 1.57vw;
                        height: 1.57vw;
                      }
                      .text-group_6 {
                        width: 4.17vw;
                        height: 1.15vw;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.83vw;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.15vw;
                        margin-top: 0.21vw;
                      }
                    }
                    .text_22 {
                      width: 1.25vw;
                      height: 1.46vw;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 1.25vw;
                      font-family: DINAlternate-Bold;
                      font-weight: 700;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.46vw;
                      margin-top: 0.06vw;
                    }
                  }
                  .image-wrapper_4 {
                    width: 0.47vw;
                    height: 0.47vw;
                    margin: 0.52vw 0 0 13.07vw;
                    .thumbnail_3 {
                      width: 0.47vw;
                      height: 0.47vw;
                    }
                  }
                }
              }
              .image_11 {
                width: 28.08vw;
                height: 0.06vw;
                margin-top: 2.45vw;
              }
              .box_13 {
                height: 2.3vw;
                background: url(./img/SketchPng7771934f95fa23735deb1f8dc27a9ccd8f7b3ab65a958b4f487de8b8e936973a.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 28.08vw;
                .block_9 {
                  position: relative;
                  width: 28.08vw;
                  height: 2.3vw;
                  background: url(./img/SketchPng2929bb581a7f68b93635c5fe7608c12038de6d4a856907d090c80aee0f534740.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .label_4 {
                    width: 1.46vw;
                    height: 1.46vw;
                    margin: 0.41vw 0 0 0.88vw;
                  }
                  .text_23 {
                    width: 5.21vw;
                    height: 1.46vw;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 1.04vw;
                    font-family: PingFangSC-Semibold;
                    font-weight: 600;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.46vw;
                    margin: 0.41vw 0 0 0.78vw;
                  }
                  .text_24 {
                    width: 2.14vw;
                    height: 1.67vw;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 1.45vw;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.67vw;
                    margin: 0.2vw 1.04vw 0 16.56vw;
                  }
                  .label_5 {
                    position: absolute;
                    left: 0.73vw;
                    top: 0.27vw;
                    width: 1.78vw;
                    height: 1.78vw;
                  }
                }
              }
              .box_14 {
                width: 27.97vw;
                height: 3.34vw;
                margin-top: 0.84vw;
                .text-wrapper_7 {
                  height: 3.34vw;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 13.55vw;
                  .text_25 {
                    width: 3.34vw;
                    height: 1.15vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.83vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.15vw;
                    margin: 1.09vw 0 0 3.54vw;
                  }
                }
                .block_10 {
                  width: 13.55vw;
                  height: 3.34vw;
                  background: url(./img/SketchPng1b22ac835656bd5b623db9b42a167cb2dfdbbca3cf9ad63b42074f42ced5e5b9.png)
                    0vw 0vw no-repeat;
                  background-size: 13.59vw 3.38vw;
                  .text_26 {
                    width: 3.34vw;
                    height: 1.15vw;
                    overflow-wrap: break-word;
                    color: rgba(255, 126, 44, 1);
                    font-size: 0.83vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.15vw;
                    margin: 1.09vw 0 0 3.54vw;
                  }
                  .thumbnail_4 {
                    width: 1.05vw;
                    height: 0.94vw;
                    margin: 1.19vw 0.93vw 0 4.68vw;
                  }
                }
              }
              .box_15 {
                width: 27.97vw;
                height: 3.34vw;
                margin-top: 0.73vw;
                .text-wrapper_8 {
                  height: 3.34vw;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 13.55vw;
                  .text_27 {
                    width: 3.34vw;
                    height: 1.15vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.83vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.15vw;
                    margin: 1.09vw 0 0 3.54vw;
                  }
                }
                .text-wrapper_9 {
                  height: 3.34vw;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 13.55vw;
                  .text_28 {
                    width: 3.34vw;
                    height: 1.15vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.83vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.15vw;
                    margin: 1.09vw 0 0 3.54vw;
                  }
                }
              }
              .box_16 {
                width: 27.97vw;
                height: 3.34vw;
                margin-top: 0.79vw;
                .block_11 {
                  width: 13.55vw;
                  height: 3.34vw;
                  background: url(./img/SketchPng4ecf7a3d3751a7937aee739d214be8abdb0631f929b45cd30c47d8eaaa014905.png)
                    0vw 0vw no-repeat;
                  background-size: 13.59vw 3.38vw;
                  .text_29 {
                    width: 3.34vw;
                    height: 1.15vw;
                    overflow-wrap: break-word;
                    color: rgba(240, 202, 15, 1);
                    font-size: 0.83vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.15vw;
                    margin: 1.09vw 0 0 3.54vw;
                  }
                  .thumbnail_5 {
                    width: 1.05vw;
                    height: 0.94vw;
                    margin: 1.19vw 0.93vw 0 4.68vw;
                  }
                }
                .text-wrapper_10 {
                  height: 3.34vw;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 13.55vw;
                  .text_30 {
                    width: 3.34vw;
                    height: 1.15vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.83vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.15vw;
                    margin: 1.09vw 0 0 3.54vw;
                  }
                }
              }
              .box_17 {
                width: 27.97vw;
                height: 3.34vw;
                margin-top: 0.84vw;
                .text-wrapper_11 {
                  height: 3.34vw;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 13.55vw;
                  .text_31 {
                    width: 3.34vw;
                    height: 1.15vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.83vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.15vw;
                    margin: 1.09vw 0 0 3.54vw;
                  }
                }
                .text-wrapper_12 {
                  height: 3.34vw;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 13.55vw;
                  .text_32 {
                    width: 3.34vw;
                    height: 1.15vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.83vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.15vw;
                    margin: 1.09vw 0 0 3.54vw;
                  }
                }
              }
            }
            .group_13 {
              background-color: rgba(111, 119, 167, 1);
              width: 0.21vw;
              height: 3.75vw;
              margin: 16.82vw 0 0 0.67vw;
            }
          }
          .image_12 {
            position: absolute;
            left: 30.84vw;
            top: 4.33vw;
            width: 6.83vw;
            height: 10.63vw;
          }
          .box_18 {
            position: absolute;
            left: 54.33vw;
            top: 27.09vw;
            width: 9.43vw;
            height: 9.43vw;
            background: url(./img/SketchPng995a3f8722347d8c50c9c6d88b3dd232afb377c8fb493eec1cafd0b713e49dc7.png) -1.05vw
              0.68vw no-repeat;
            background-size: 11.51vw 8.02vw;
            .group_14 {
              position: absolute;
              left: -17.29vw;
              top: 0.58vw;
              width: 19.22vw;
              height: 7.09vw;
              background: url(./img/SketchPng22b3575029ec1cfb31c07b07deae386f51344b3ef980181fa6dac73166a72f19.png)
                0vw -0.11vw no-repeat;
              background-size: 19.32vw 7.23vw;
              .image_13 {
                position: absolute;
                left: -0.88vw;
                top: -14.79vw;
                width: 6.57vw;
                height: 9.8vw;
              }
              .box_19 {
                height: 20.68vw;
                background: url(./img/SketchPng95c405742685d3c8cf558a18b9d15efcebe4382c6e8c3db48dd762a45cecfb7f.png)
                  0vw 0vw no-repeat;
                background-size: 23.02vw 20.72vw;
                width: 22.97vw;
                position: absolute;
                left: -16.14vw;
                top: -14.53vw;
                .image-wrapper_5 {
                  width: 4.43vw;
                  height: 2.71vw;
                  margin: 10.05vw 0 0 9.16vw;
                  .image_14 {
                    width: 4.43vw;
                    height: 2.71vw;
                  }
                }
                .image-wrapper_6 {
                  width: 3.44vw;
                  height: 2.09vw;
                  margin: 1.71vw 0 4.11vw 4.53vw;
                  .image_15 {
                    width: 3.44vw;
                    height: 2.09vw;
                  }
                }
              }
              .image_16 {
                position: absolute;
                left: -9.27vw;
                top: 8.6vw;
                width: 9.17vw;
                height: 11.2vw;
              }
              .box_20 {
                height: 9.95vw;
                background: url(./img/SketchPng48cd2805a63545ef5d98a10a3ac21247e17c55600a68e5be79544874ebd08aad.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 12.5vw;
                position: absolute;
                left: -0.88vw;
                top: 5.84vw;
                .image-wrapper_7 {
                  box-shadow: inset -24px -4px 40px 0px rgba(0, 237, 255, 0.06);
                  background-image: url(./img/4001517967484118b168500086fdfb10_mergeImage.png);
                  height: 8.49vw;
                  width: 12.45vw;
                  margin: 1.4vw 0 0 0.05vw;
                  .image_17 {
                    width: 13.81vw;
                    height: 2.09vw;
                    margin: -0.88vw 0 0 -0.05vw;
                  }
                }
                .image_18 {
                  position: absolute;
                  left: 0.06vw;
                  top: -0.1vw;
                  width: 5.73vw;
                  height: 0.21vw;
                }
                .image_19 {
                  position: absolute;
                  left: 0.06vw;
                  top: 0;
                  width: 12.45vw;
                  height: 0.37vw;
                }
              }
            }
            .image-wrapper_8 {
              height: 7.56vw;
              background: url(./img/SketchPng92d247aac4fb520ab41abb2f16231c96e63e509b95c798a257c2dfce5a07c045.png) -0.11vw
                0.06vw no-repeat;
              background-size: 9.42vw 7.65vw;
              width: 9.22vw;
              position: absolute;
              left: -0.15vw;
              top: -1.82vw;
              .image_20 {
                width: 7.04vw;
                height: 6.67vw;
                margin: -3.9vw 0 0 1.09vw;
              }
            }
          }
          .image-wrapper_9 {
            height: 8.55vw;
            background: url(./img/SketchPngc4e77653f05910997dc55fa288a9e2c1a73327b32585130ec330b66a532246be.png) -0.06vw
              0vw no-repeat;
            background-size: 13.22vw 8.54vw;
            width: 13.18vw;
            position: absolute;
            left: 3.13vw;
            top: 24.07vw;
            .image_21 {
              width: 2.87vw;
              height: 2.04vw;
              margin: 5.1vw 0 0 7.91vw;
            }
            .image_22 {
              position: absolute;
              left: 8.39vw;
              top: -4.63vw;
              width: 16.46vw;
              height: 12.56vw;
            }
          }
          .image_23 {
            position: absolute;
            left: 98.81vw;
            top: 37.66vw;
            width: 0.11vw;
            height: 12.66vw;
          }
          .image_24 {
            position: absolute;
            left: 35.94vw;
            top: 12.5vw;
            width: 3.13vw;
            height: 1.98vw;
          }
          .box_21 {
            height: 9.95vw;
            background: url(./img/SketchPng48cd2805a63545ef5d98a10a3ac21247e17c55600a68e5be79544874ebd08aad.png)
              100% no-repeat;
            background-size: 100% 100%;
            width: 12.5vw;
            position: absolute;
            left: 37.87vw;
            top: 3.13vw;
            .image-wrapper_10 {
              box-shadow: inset -24px -4px 40px 0px rgba(0, 237, 255, 0.06);
              background-image: url(./img/9aa8ea8539b446ba88988dfd35f5bac7_mergeImage.png);
              height: 8.49vw;
              width: 12.45vw;
              margin: 1.4vw 0 0 0.05vw;
              .image_25 {
                width: 13.81vw;
                height: 2.09vw;
                margin: -0.88vw 0 0 -0.05vw;
              }
            }
            .image_26 {
              position: absolute;
              left: 0.06vw;
              top: -0.1vw;
              width: 5.73vw;
              height: 0.21vw;
            }
            .image_27 {
              position: absolute;
              left: 0.06vw;
              top: 0;
              width: 12.45vw;
              height: 0.37vw;
            }
          }
          .box_22 {
            height: 10.79vw;
            background: url(./img/SketchPngd01a3e59c0feef4e531b12a971f4923daf0847d2d8006479ef9ad8f5dd9b603e.png)
              100% no-repeat;
            background-size: 100% 100%;
            width: 13.18vw;
            position: absolute;
            left: 37.19vw;
            top: 2.61vw;
            .box_23 {
              width: 10.84vw;
              height: 1.46vw;
              margin: 1.19vw 0 0 1.56vw;
              .text_33 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(199, 207, 243, 1) 100%
                );
                width: 4.17vw;
                height: 1.46vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 1.04vw;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 1.46vw;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .box_24 {
                background-color: rgba(4, 210, 102, 0.3);
                border-radius: 50%;
                height: 0.94vw;
                width: 0.94vw;
                margin: 0.41vw 0 0 3.75vw;
                .section_11 {
                  background-color: rgba(18, 224, 116, 1);
                  border-radius: 50%;
                  width: 0.73vw;
                  height: 0.73vw;
                  margin: 0.1vw 0 0 0.1vw;
                }
              }
              .text_34 {
                width: 1.67vw;
                height: 1.15vw;
                overflow-wrap: break-word;
                color: rgba(18, 224, 116, 1);
                font-size: 0.83vw;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 1.15vw;
                margin: 0.31vw 0 0 0.31vw;
              }
            }
            .text-wrapper_13 {
              width: 2.45vw;
              height: 2.92vw;
              margin: 1.66vw 0 0 5.78vw;
              .text_35 {
                width: 2.45vw;
                height: 2.92vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 2.5vw;
                font-family: DINAlternate-Bold;
                font-weight: 700;
                text-align: left;
                white-space: nowrap;
                line-height: 2.92vw;
              }
            }
            .text-wrapper_14 {
              width: 3.34vw;
              height: 1.15vw;
              margin: 0.41vw 0 1.97vw 5.36vw;
              .text_36 {
                width: 3.34vw;
                height: 1.15vw;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.83vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.15vw;
              }
            }
          }
          .box_25 {
            height: 10.79vw;
            background: url(./img/SketchPngd01a3e59c0feef4e531b12a971f4923daf0847d2d8006479ef9ad8f5dd9b603e.png)
              100% no-repeat;
            background-size: 100% 100%;
            width: 13.18vw;
            position: absolute;
            left: 35.47vw;
            top: 32.97vw;
            .group_15 {
              width: 10.84vw;
              height: 1.46vw;
              margin: 1.14vw 0 0 1.51vw;
              .text_37 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(199, 207, 243, 1) 100%
                );
                width: 4.17vw;
                height: 1.46vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 1.04vw;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 1.46vw;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .image-text_7 {
                width: 2.92vw;
                height: 1.15vw;
                margin-top: 0.32vw;
                .group_16 {
                  background-color: rgba(4, 210, 102, 0.3);
                  border-radius: 50%;
                  height: 0.94vw;
                  margin-top: 0.11vw;
                  width: 0.94vw;
                  .section_12 {
                    background-color: rgba(18, 224, 116, 1);
                    border-radius: 50%;
                    width: 0.73vw;
                    height: 0.73vw;
                    margin: 0.1vw 0 0 0.1vw;
                  }
                }
                .text-group_7 {
                  width: 1.67vw;
                  height: 1.15vw;
                  overflow-wrap: break-word;
                  color: rgba(18, 224, 116, 1);
                  font-size: 0.83vw;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.15vw;
                }
              }
            }
            .group_17 {
              width: 3.65vw;
              height: 4.48vw;
              margin: 1.66vw 0 2.03vw 5.1vw;
              .text-group_8 {
                width: 3.65vw;
                height: 4.48vw;
                .text_38 {
                  width: 3.65vw;
                  height: 2.92vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 2.5vw;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 2.92vw;
                }
                .text_39 {
                  width: 3.34vw;
                  height: 1.15vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.83vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.15vw;
                  margin: 0.41vw 0 0 0.2vw;
                }
              }
            }
          }
          .box_26 {
            position: absolute;
            left: 3.18vw;
            top: 14.33vw;
            width: 12.5vw;
            height: 9.95vw;
            background: url(./img/SketchPng20593af35bc3162a0de18ec4b25f091c9195592692c78216d05d151191a5d409.png)
              100% no-repeat;
            background-size: 100% 100%;
            .image_28 {
              width: 12.5vw;
              height: 0.37vw;
            }
            .image-wrapper_11 {
              box-shadow: inset -24px -4px 40px 0px rgba(0, 237, 255, 0.06);
              background-image: url(./img/afe40aea66d84a3bb462b0d3b2da7b8d_mergeImage.png);
              height: 8.49vw;
              width: 12.45vw;
              margin: 1.04vw 0 0.05vw 0;
              .image_29 {
                width: 13.81vw;
                height: 2.09vw;
                margin-top: -0.88vw;
              }
            }
          }
          .box_27 {
            position: absolute;
            left: 2.97vw;
            top: 13.86vw;
            width: 13.18vw;
            height: 10.79vw;
            background: url(./img/SketchPng24793a3383da61c2f8f1fa32ced603760b71c8a4b121e0db91d92c821dbf2849.png)
              100% no-repeat;
            background-size: 100% 100%;
            .box_28 {
              width: 10.63vw;
              height: 1.46vw;
              margin: 1.09vw 0 0 1.14vw;
              .text_40 {
                width: 4.17vw;
                height: 1.46vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 1.04vw;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 1.46vw;
              }
              .image-text_8 {
                width: 3.18vw;
                height: 1.15vw;
                margin-top: 0.16vw;
                .thumbnail_6 {
                  width: 1.05vw;
                  height: 0.94vw;
                  margin-top: 0.11vw;
                }
                .text-group_9 {
                  width: 1.67vw;
                  height: 1.15vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 0.83vw;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.15vw;
                }
              }
            }
            .text-group_10 {
              width: 5.73vw;
              height: 4.28vw;
              margin: 2.03vw 0 1.92vw 3.9vw;
              .text-wrapper_15 {
                width: 5.73vw;
                height: 2.45vw;
                overflow-wrap: break-word;
                font-size: 0;
                font-family: DINAlternate-Bold;
                font-weight: 700;
                text-align: left;
                white-space: nowrap;
                line-height: 2.45vw;
                .text_41 {
                  width: 5.73vw;
                  height: 2.45vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 2.08vw;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 2.45vw;
                }
                .text_42 {
                  width: 5.73vw;
                  height: 2.45vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 2.08vw;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 2.45vw;
                }
              }
              .text_43 {
                width: 3.34vw;
                height: 1.15vw;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.83vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.15vw;
                margin: 0.67vw 0 0 1.19vw;
              }
            }
          }
          .image_30 {
            position: absolute;
            left: 53.6vw;
            top: 29.64vw;
            width: 3.13vw;
            height: 2.35vw;
          }
          .box_29 {
            height: 9.95vw;
            background: url(./img/SketchPng48cd2805a63545ef5d98a10a3ac21247e17c55600a68e5be79544874ebd08aad.png)
              100% no-repeat;
            background-size: 100% 100%;
            width: 12.5vw;
            position: absolute;
            left: 52.24vw;
            top: 13.34vw;
            .image-wrapper_12 {
              box-shadow: inset -24px -4px 40px 0px rgba(0, 237, 255, 0.06);
              background-image: url(./img/50b46729fca34f64957a69df29bd9fd8_mergeImage.png);
              height: 8.49vw;
              width: 12.45vw;
              margin: 1.4vw 0 0 0.05vw;
              .image_31 {
                width: 13.81vw;
                height: 2.09vw;
                margin: -0.88vw 0 0 -0.05vw;
              }
            }
            .image_32 {
              position: absolute;
              left: 0.06vw;
              top: -0.1vw;
              width: 5.73vw;
              height: 0.21vw;
            }
            .image_33 {
              position: absolute;
              left: 0.06vw;
              top: 0;
              width: 12.45vw;
              height: 0.37vw;
            }
          }
          .box_30 {
            height: 10.79vw;
            background: url(./img/SketchPngd01a3e59c0feef4e531b12a971f4923daf0847d2d8006479ef9ad8f5dd9b603e.png)
              100% no-repeat;
            background-size: 100% 100%;
            width: 13.18vw;
            position: absolute;
            left: 51.57vw;
            top: 12.82vw;
            .group_18 {
              width: 10.84vw;
              height: 1.46vw;
              margin: 1.14vw 0 0 1.56vw;
              .text_44 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(199, 207, 243, 1) 100%
                );
                width: 4.17vw;
                height: 1.46vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 1.04vw;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 1.46vw;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .block_12 {
                background-color: rgba(4, 210, 102, 0.3);
                border-radius: 50%;
                height: 0.94vw;
                width: 0.94vw;
                margin: 0.41vw 0 0 3.75vw;
                .group_19 {
                  background-color: rgba(18, 224, 116, 1);
                  border-radius: 50%;
                  width: 0.73vw;
                  height: 0.73vw;
                  margin: 0.1vw 0 0 0.1vw;
                }
              }
              .text_45 {
                width: 1.67vw;
                height: 1.15vw;
                overflow-wrap: break-word;
                color: rgba(18, 224, 116, 1);
                font-size: 0.83vw;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 1.15vw;
                margin: 0.31vw 0 0 0.31vw;
              }
            }
            .group_20 {
              width: 3.34vw;
              height: 4.48vw;
              margin: 1.66vw 0 2.03vw 5.36vw;
              .text-group_11 {
                width: 3.34vw;
                height: 4.48vw;
                .text_46 {
                  width: 2.45vw;
                  height: 2.92vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 2.5vw;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 2.92vw;
                  margin-left: 0.42vw;
                }
                .text_47 {
                  width: 3.34vw;
                  height: 1.15vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.83vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.15vw;
                  margin-top: 0.42vw;
                }
              }
            }
          }
        }
        .block_13 {
          position: absolute;
          left: 0;
          top: 0;
          width: 100vw;
          height: 4.22vw;
          background: url(./img/SketchPng8c7f60758ffb8a760f12c197791a4008cd8763363c61ddeb9440bb99d24b57e2.png)
            100% no-repeat;
          background-size: 100% 100%;
          .block_14 {
            width: 73.23vw;
            height: 2.3vw;
            margin: 1.09vw 0 0 26.77vw;
            .image-wrapper_13 {
              height: 2.09vw;
              background: url(./img/SketchPng7c0b08efd057f8b7d0a30415e72be9e4b4bebfb50e056712e01d0502b1ce3572.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-top: 0.11vw;
              width: 11.52vw;
              .image_34 {
                width: 11.52vw;
                height: 2.09vw;
              }
            }
            .image-wrapper_14 {
              height: 1.62vw;
              background: url(./img/SketchPnge0121ad55ee7efdab67077a35865dc2d9f0d20dee6f501fc4b053bffbf3c31f7.png)
                0vw 0vw no-repeat;
              background-size: 2.44vw 1.61vw;
              width: 2.4vw;
              margin: 0.57vw 0 0 20.05vw;
              .label_6 {
                width: 2.4vw;
                height: 1.62vw;
              }
            }
            .text_48 {
              background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0,
                rgba(135, 145, 206, 1) 100%
              );
              width: 5.89vw;
              height: 1.2vw;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 1.04vw;
              font-family: Galvji;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 1.2vw;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              margin: 0.72vw 0 0 3.12vw;
            }
            .text_49 {
              background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0,
                rgba(135, 145, 206, 1) 100%
              );
              width: 2.82vw;
              height: 1.31vw;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 0.93vw;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 1.31vw;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              margin: 0.67vw 0 0 1.25vw;
            }
            .text_50 {
              width: 6.98vw;
              height: 1.98vw;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 1.66vw;
              font-family: Galvji;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 1.98vw;
              margin: 0.1vw 0 0 1.25vw;
            }
            .section_13 {
              width: 13.96vw;
              height: 2.3vw;
              background: url(./img/SketchPng1e4d73228a4b718bc3dc4e28d9c5f5c1a8fc66587312ac4e714816ee1f16709a.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-left: 4.02vw;
              .label_7 {
                width: 1.2vw;
                height: 1.15vw;
                margin: 0.62vw 0 0 2.34vw;
              }
              .text_51 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 1.88vw;
                height: 1.31vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.93vw;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 1.31vw;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0.52vw 0 0 0.83vw;
              }
              .label_8 {
                width: 1.25vw;
                height: 1.25vw;
                margin: 0.57vw 0 0 1.66vw;
              }
              .text_52 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 1.88vw;
                height: 1.31vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.93vw;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 1.31vw;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0.52vw 2.08vw 0 0.83vw;
              }
            }
          }
          .block_15 {
            background-color: rgba(138, 147, 201, 0.3);
            border-radius: 2px;
            width: 1.93vw;
            height: 0.16vw;
            margin: 0.46vw 0 0 95.98vw;
          }
          .image_35 {
            width: 100vw;
            height: 0.06vw;
            margin-top: 0.16vw;
          }
          .block_16 {
            height: 0.99vw;
            background: url(./img/SketchPng1031b39c26628ea3f673aa44e678ff5b0307d28c1fdcefc3144c79b6ad8ccf1a.png)
              0vw -0.06vw no-repeat;
            background-size: 93.9vw 1.14vw;
            width: 93.91vw;
            position: absolute;
            left: 0;
            top: 3.7vw;
            .box_31 {
              position: relative;
              width: 36.67vw;
              height: 0.47vw;
              background: url(./img/SketchPng4f3f5454a09f7b4e228e66fa142d41b47ddce486367077f069311523b769af74.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 0.26vw 0 0 33.54vw;
              .section_14 {
                background-color: rgba(138, 147, 201, 0.4);
                border-radius: 2px;
                position: absolute;
                left: 30.32vw;
                top: -0.1vw;
                width: 1.05vw;
                height: 0.16vw;
              }
              .section_15 {
                background-color: rgba(138, 147, 201, 0.2);
                border-radius: 2px;
                position: absolute;
                left: 31.88vw;
                top: -0.1vw;
                width: 1.05vw;
                height: 0.16vw;
              }
              .section_16 {
                background-color: rgba(138, 147, 201, 0.1);
                border-radius: 2px;
                position: absolute;
                left: 33.44vw;
                top: -0.1vw;
                width: 1.05vw;
                height: 0.16vw;
              }
              .section_17 {
                background-color: rgba(138, 147, 201, 0.3);
                border-radius: 2px;
                position: absolute;
                left: 5.58vw;
                top: -0.1vw;
                width: 1.93vw;
                height: 0.16vw;
              }
            }
          }
          .block_17 {
            position: absolute;
            left: -4.68vw;
            top: 0.42vw;
            width: 27.35vw;
            height: 3.75vw;
            background: url(./img/SketchPng23ac035b487469d5468183e970040279c5d221a880a47ba092820927c4face04.png)
              100% no-repeat;
            background-size: 100% 100%;
            .box_32 {
              height: 0.89vw;
              background: url(./img/SketchPng35d24bc1167d062a3550f34ee9a0a1ef5219ae697bd5ecfca023c5777c82e810.png)
                100% no-repeat;
              background-size: 100% 100%;
              width: 13.75vw;
              margin: 2.76vw 0 0 8.9vw;
              .block_18 {
                height: 0.58vw;
                background: url(./img/SketchPngd30118be47d2468d7af566c0316736409d70476c34f6ab8d2b5e7e9fcfdcb000.png) -0.84vw -0.84vw
                  no-repeat;
                background-size: 2.6vw 2.23vw;
                width: 0.94vw;
                margin: 0.26vw 0 0 6.35vw;
                .group_21 {
                  width: 0.53vw;
                  height: 0.32vw;
                  background: url(./img/SketchPng13a67309e5940cb64f0e9ff1bcf6ededb4c5df0a6478368b671429acdd76e31c.png) -0.32vw -0.37vw
                    no-repeat;
                  background-size: 1.14vw 1.04vw;
                  margin: 0.05vw 0 0 0.2vw;
                }
              }
            }
            .text_53 {
              background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0,
                rgba(136, 145, 198, 1) 100%
              );
              position: absolute;
              left: 7.19vw;
              top: 0.47vw;
              width: 22.5vw;
              height: 2.61vw;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 1.87vw;
              font-family: PingFangSC-Semibold;
              font-weight: 600;
              text-align: left;
              white-space: nowrap;
              line-height: 2.61vw;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }
}
