.page {
  position: relative;
  width: 10rem;
  height: 5.625rem;
  overflow: hidden;

  .block_1 {
    height: 5.625rem;
    background: url(./img/SketchPngbb6059bde37e68ee3ee2aa8c68602bde41d3d4a08c581290a475df0ad9cbd256.png) 100% no-repeat;
    background-size: 100% 100%;
    width: 10rem;

    .group_1 {
      height: 5.625rem;
      background: url(./img/SketchPng2af6a7581b8e7b5f99306d5bc682c895fa39d4ca7c3f42bba5edb1fac0e12bc1.png) 100% no-repeat;
      background-size: 100% 100%;
      width: 10rem;

      .group_2 {
        height: 5.625rem;
        background: url(./img/SketchPng4501a867cfd2d83504a6e8c9c01fe4e1a366392de74c7fb0a77e7cb896df1528.png) -0.782rem -0.782rem no-repeat;
        background-size: 11.563rem 7.188rem;
        width: 10rem;
        position: relative;

        .block_2 {
          position: relative;
          width: 10rem;
          height: 5.209rem;
          margin-top: 0.422rem;

          .box_1 {
            width: 9.594rem;
            height: 0.235rem;
            margin: 0.183rem 0 0 0.209rem;

            .section_1 {
              width: 0.74rem;
              height: 0.23rem;
              background: url(./img/SketchPngd90a76d2ead7770932b6a7ecf177ab447b25115f8212105496fecf8ecb2b420c.png) 100% no-repeat;
              background-size: 100% 100%;
              margin-top: 0.006rem;

              .image_1 {
                width: 0.115rem;
                height: 0.105rem;
                margin: 0.073rem 0 0 0.105rem;
              }

              .text_1 {
                width: 0.334rem;
                height: 0.115rem;
                overflow-wrap: break-word;
                color: rgba(255, 59, 78, 1);
                font-size: 0.083rem;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 0.115rem;
                margin: 0.068rem 0.105rem 0 0;
              }
            }

            .section_2 {
              width: 0.74rem;
              height: 0.23rem;
              background: url(./img/SketchPngd90a76d2ead7770932b6a7ecf177ab447b25115f8212105496fecf8ecb2b420c.png) 100% no-repeat;
              background-size: 100% 100%;
              margin: 0.006rem 0 0 0.042rem;

              .image_2 {
                width: 0.115rem;
                height: 0.105rem;
                margin: 0.073rem 0 0 0.105rem;
              }

              .text_2 {
                width: 0.334rem;
                height: 0.115rem;
                overflow-wrap: break-word;
                color: rgba(255, 126, 44, 1);
                font-size: 0.083rem;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 0.115rem;
                margin: 0.068rem 0.105rem 0 0;
              }
            }

            .section_3 {
              width: 2.808rem;
              height: 0.23rem;
              background: url(./img/SketchPngc0a46eabee260e275a6481203ec0c5fcc6145acb71106956fe9ed9494e59836f.png) 100% no-repeat;
              background-size: 100% 100%;
              margin-left: 5.266rem;

              .image_3 {
                width: 2.808rem;
                height: 0.006rem;
              }

              .block_3 {
                width: 2.808rem;
                height: 0.23rem;
                background: url(./img/SketchPng2929bb581a7f68b93635c5fe7608c12038de6d4a856907d090c80aee0f534740.png) 100% no-repeat;
                background-size: 100% 100%;
                margin-bottom: 0.006rem;

                .image_4 {
                  width: 0.084rem;
                  height: 0.167rem;
                  margin: 0.032rem 0 0 0.105rem;
                }

                .text_3 {
                  width: 0.521rem;
                  height: 0.146rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.104rem;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.146rem;
                  margin: 0.037rem 0 0 0.125rem;
                }

                .text_4 {
                  width: 0.141rem;
                  height: 0.167rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.145rem;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.167rem;
                  margin: 0.042rem 0.094rem 0 1.74rem;
                }
              }
            }
          }

          .box_2 {
            width: 9.584rem;
            height: 0.495rem;
            margin: 0.063rem 0 0 0.209rem;

            .section_4 {
              width: 0.74rem;
              height: 0.23rem;
              background: url(./img/SketchPngd90a76d2ead7770932b6a7ecf177ab447b25115f8212105496fecf8ecb2b420c.png) 100% no-repeat;
              background-size: 100% 100%;

              .image_5 {
                width: 0.115rem;
                height: 0.105rem;
                margin: 0.073rem 0 0 0.105rem;
              }

              .text_5 {
                width: 0.334rem;
                height: 0.115rem;
                overflow-wrap: break-word;
                color: rgba(240, 202, 15, 1);
                font-size: 0.083rem;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 0.115rem;
                margin: 0.068rem 0.105rem 0 0;
              }
            }

            .section_5 {
              width: 0.74rem;
              height: 0.23rem;
              background: url(./img/SketchPngd90a76d2ead7770932b6a7ecf177ab447b25115f8212105496fecf8ecb2b420c.png) 100% no-repeat;
              background-size: 100% 100%;
              margin-left: 0.042rem;

              .thumbnail_1 {
                width: 0.105rem;
                height: 0.105rem;
                margin: 0.063rem 0 0 0.11rem;
              }

              .text_6 {
                width: 0.334rem;
                height: 0.115rem;
                overflow-wrap: break-word;
                color: rgba(0, 189, 255, 1);
                font-size: 0.083rem;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 0.115rem;
                margin: 0.063rem 0.105rem 0 0.089rem;
              }
            }

            .section_6 {
              width: 1.355rem;
              height: 0.474rem;
              background: url(./img/SketchPngb2883fc34281cff9ae227f4a8596e339b188ecace17bc1b2f22c4e993a9fd50f.png) 100% no-repeat;
              background-size: 100% 100%;
              margin: 0.021rem 0 0 5.266rem;

              .box_3 {
                width: 0.266rem;
                height: 0.266rem;
                background: url(./img/SketchPng5eec300fab2abef6bb3a7bdf0a915679f7b7a17aa47bc389ee16f452508e204b.png) 100% no-repeat;
                background-size: 100% 100%;
                margin: 0.105rem 0 0 0.11rem;
              }

              .box_4 {
                width: 0.667rem;
                height: 0.303rem;
                margin: 0.084rem 0.209rem 0 0.105rem;

                .text_7 {
                  width: 0.667rem;
                  height: 0.115rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.083rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.115rem;
                }

                .text-wrapper_1 {
                  width: 0.287rem;
                  height: 0.146rem;
                  overflow-wrap: break-word;
                  font-size: 0;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.146rem;
                  margin-top: 0.042rem;

                  .text_8 {
                    width: 0.287rem;
                    height: 0.146rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.125rem;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.146rem;
                  }

                  .text_9 {
                    width: 0.287rem;
                    height: 0.146rem;
                    overflow-wrap: break-word;
                    color: rgba(255, 126, 44, 1);
                    font-size: 0.125rem;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.146rem;
                  }
                }
              }
            }

            .section_7 {
              width: 1.355rem;
              height: 0.474rem;
              background: url(./img/SketchPngb2883fc34281cff9ae227f4a8596e339b188ecace17bc1b2f22c4e993a9fd50f.png) 100% no-repeat;
              background-size: 100% 100%;
              margin: 0.021rem 0 0 0.089rem;

              .section_8 {
                width: 0.266rem;
                height: 0.266rem;
                background: url(./img/SketchPng5eec300fab2abef6bb3a7bdf0a915679f7b7a17aa47bc389ee16f452508e204b.png) 100% no-repeat;
                background-size: 100% 100%;
                margin: 0.105rem 0 0 0.11rem;
              }

              .text-wrapper_2 {
                width: 0.584rem;
                height: 0.303rem;
                margin: 0.084rem 0.292rem 0 0.105rem;

                .text_10 {
                  width: 0.584rem;
                  height: 0.115rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.083rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.115rem;
                }

                .text_11 {
                  width: 0.125rem;
                  height: 0.146rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.125rem;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.146rem;
                  margin-top: 0.042rem;
                }
              }
            }
          }

          .box_5 {
            width: 6.761rem;
            height: 0.735rem;
            margin: 0.063rem 0 0 3.032rem;

            .group_3 {
              width: 0.735rem;
              height: 0.735rem;
              background: url(./img/SketchPng4aeb49457ddeca0759c7f52597178ee9794790477d770556b01415997eb9d284.png) -0.037rem 0.089rem no-repeat;
              background-size: 0.808rem 0.553rem;
            }

            .group_4 {
              width: 1.355rem;
              height: 0.474rem;
              background: url(./img/SketchPngb2883fc34281cff9ae227f4a8596e339b188ecace17bc1b2f22c4e993a9fd50f.png) 100% no-repeat;
              background-size: 100% 100%;
              margin: 0.021rem 0 0 3.23rem;

              .box_6 {
                width: 0.266rem;
                height: 0.266rem;
                background: url(./img/SketchPng5eec300fab2abef6bb3a7bdf0a915679f7b7a17aa47bc389ee16f452508e204b.png) 100% no-repeat;
                background-size: 100% 100%;
                margin: 0.105rem 0 0 0.11rem;
              }

              .text-wrapper_3 {
                width: 0.584rem;
                height: 0.282rem;
                margin: 0.105rem 0.292rem 0 0.105rem;

                .text_12 {
                  width: 0.584rem;
                  height: 0.115rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.083rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.115rem;
                }

                .text_13 {
                  width: 0.125rem;
                  height: 0.146rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.125rem;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.146rem;
                  margin-top: 0.021rem;
                }
              }
            }

            .group_5 {
              width: 1.355rem;
              height: 0.474rem;
              background: url(./img/SketchPngb2883fc34281cff9ae227f4a8596e339b188ecace17bc1b2f22c4e993a9fd50f.png) 100% no-repeat;
              background-size: 100% 100%;
              margin: 0.021rem 0 0 0.089rem;

              .group_6 {
                width: 0.266rem;
                height: 0.266rem;
                background: url(./img/SketchPng5eec300fab2abef6bb3a7bdf0a915679f7b7a17aa47bc389ee16f452508e204b.png) 100% no-repeat;
                background-size: 100% 100%;
                margin: 0.105rem 0 0 0.11rem;
              }

              .text-wrapper_4 {
                width: 0.584rem;
                height: 0.292rem;
                margin: 0.105rem 0.292rem 0 0.105rem;

                .text_14 {
                  width: 0.584rem;
                  height: 0.115rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.083rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.115rem;
                }

                .text_15 {
                  width: 0.125rem;
                  height: 0.146rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.125rem;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.146rem;
                  margin-top: 0.032rem;
                }
              }
            }
          }

          .image-wrapper_1 {
            width: 2.808rem;
            height: 0.006rem;
            margin-left: 6.995rem;

            .image_6 {
              width: 2.808rem;
              height: 0.006rem;
            }
          }

          .box_7 {
            width: 9.693rem;
            height: 3.381rem;
            margin: 0 0 0.053rem 0.198rem;

            .group_7 {
              width: 1.5rem;
              height: 2.245rem;
              margin-top: 0.928rem;

              .box_8 {
                width: 0.974rem;
                height: 0.974rem;
                background: url(./img/SketchPnge9beb8d81dfbeae95af71af4ccf7f4b0cc19ed8efe1daf31c3c23ceffea73e5b.png) -0.099rem 0.079rem no-repeat;
                background-size: 1.183rem 0.844rem;
                margin-left: 0.318rem;
              }

              .image_7 {
                width: 1.5rem;
                height: 0.271rem;
                margin-top: 1rem;
              }
            }

            .group_8 {
              width: 2.209rem;
              height: 3.277rem;
              margin: 0.105rem 0 0 0.443rem;

              .block_4 {
                height: 2.209rem;
                background: url(./img/SketchPnga55d045ba781f1a67c34b0cbd9831c3d989bbb29810e15bdf2bb6a34db9fe98d.png) -0.099rem 0.36rem no-repeat;
                background-size: 2.412rem 1.474rem;
                width: 2.209rem;

                .image-wrapper_2 {
                  height: 1.303rem;
                  background: url(./img/SketchPng140272b597ace813a5f7c30b273a7f5d50b5eff5e8821966fdf9c2d413d44cbd.png) -0.011rem -0.006rem no-repeat;
                  background-size: 1.25rem 1.313rem;
                  width: 1.235rem;
                  margin: 0.917rem 0 0 -0.386rem;

                  .image_8 {
                    width: 1.235rem;
                    height: 1.303rem;
                  }
                }
              }

              .block_5 {
                width: 0.995rem;
                height: 0.995rem;
                background: url(./img/SketchPngd048dcb7002ac417be43ea80e0371939404392aa2194ad5e944fc8556d468d55.png) -0.016rem 0.162rem no-repeat;
                background-size: 1.037rem 0.641rem;
                margin: 0.073rem 0 0 0.599rem;
              }
            }

            .image_9 {
              width: 0.36rem;
              height: 0.349rem;
              margin: 0.615rem 0 0 0.943rem;
            }

            .group_9 {
              width: 2.808rem;
              height: 3.25rem;
              margin-left: 1.344rem;

              .box_9 {
                height: 0.23rem;
                background: url(./img/SketchPngd0582de62da40b74a460fbb73914adac043e5a8de8d6b49a12ba0dfded46fd55.png) 100% no-repeat;
                background-size: 100% 100%;
                width: 2.808rem;

                .section_9 {
                  width: 2.808rem;
                  height: 0.23rem;
                  background: url(./img/SketchPng863157e9cd70e79d64a15951e997a6054a7ad3fb36e0b0193f08ac4a8d517f68.png) 100% no-repeat;
                  background-size: 100% 100%;

                  .image-text_1 {
                    width: 0.75rem;
                    height: 0.146rem;
                    margin: 0.042rem 0 0 0.084rem;

                    .label_1 {
                      width: 0.141rem;
                      height: 0.141rem;
                      margin-top: 0.006rem;
                    }

                    .text-group_1 {
                      width: 0.521rem;
                      height: 0.146rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.104rem;
                      font-family: PingFangSC-Semibold;
                      font-weight: 600;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.146rem;
                    }
                  }

                  .image-text_2 {
                    width: 0.339rem;
                    height: 0.115rem;
                    margin: 0.058rem 0 0 0.12rem;

                    .image_10 {
                      width: 0.125rem;
                      height: 0.105rem;
                      margin-top: 0.006rem;
                    }

                    .text-group_2 {
                      width: 0.167rem;
                      height: 0.115rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 60, 77, 1);
                      font-size: 0.083rem;
                      font-family: PingFangSC-Semibold;
                      font-weight: 600;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.115rem;
                    }
                  }

                  .text-wrapper_5 {
                    width: 0.402rem;
                    height: 0.167rem;
                    overflow-wrap: break-word;
                    font-size: 0;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.167rem;
                    margin: 0.032rem 0.105rem 0 1.011rem;

                    .text_16 {
                      width: 0.402rem;
                      height: 0.167rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.145rem;
                      font-family: DINAlternate-Bold;
                      font-weight: 700;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.167rem;
                    }

                    .text_17 {
                      width: 0.402rem;
                      height: 0.167rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 60, 77, 1);
                      font-size: 0.145rem;
                      font-family: DINAlternate-Bold;
                      font-weight: 700;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.167rem;
                    }
                  }
                }
              }

              .box_10 {
                width: 2.797rem;
                height: 0.36rem;
                margin-top: 0.089rem;

                .block_6 {
                  width: 1.355rem;
                  height: 0.36rem;
                  background: url(./img/SketchPng9fef58087d17d305e85388277837d17c420a0ada2a4fced3fb4d9ad90429536b.png) -0.027rem -0.027rem no-repeat;
                  background-size: 1.381rem 0.386rem;

                  .image-text_3 {
                    width: 0.631rem;
                    height: 0.146rem;
                    margin: 0.11rem 0 0 0.099rem;

                    .box_11 {
                      width: 0.146rem;
                      height: 0.146rem;
                      background: url(./img/SketchPng4d6198231818116a3dfe940aeca2ee0975a7263483a52a2771ed4bc22ac9a19e.png) 100% no-repeat;
                      background-size: 100% 100%;
                    }

                    .text-group_3 {
                      width: 0.417rem;
                      height: 0.115rem;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 0.083rem;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.115rem;
                      margin-top: 0.016rem;
                    }
                  }

                  .text_18 {
                    width: 0.125rem;
                    height: 0.146rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.125rem;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.146rem;
                    margin: 0.11rem 0.115rem 0 0.386rem;
                  }
                }

                .block_7 {
                  height: 0.36rem;
                  background: url(./img/SketchPngf39a9f6685ec4b9dfb1c6f9dc8f0fe65d221b39fc66575fc5f87ef66c3a540f1.png) 100% no-repeat;
                  background-size: 100% 100%;
                  width: 1.355rem;

                  .image-wrapper_3 {
                    width: 0.042rem;
                    height: 0.042rem;

                    .thumbnail_2 {
                      width: 0.042rem;
                      height: 0.042rem;
                    }
                  }

                  .block_8 {
                    width: 1.162rem;
                    height: 0.146rem;
                    margin: 0.068rem 0 0.105rem 0.089rem;

                    .image-text_4 {
                      width: 0.652rem;
                      height: 0.131rem;
                      margin-top: 0.016rem;

                      .label_2 {
                        width: 0.167rem;
                        height: 0.131rem;
                      }

                      .text-group_4 {
                        width: 0.417rem;
                        height: 0.115rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.083rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.115rem;
                      }
                    }

                    .text-wrapper_6 {
                      width: 0.287rem;
                      height: 0.146rem;
                      overflow-wrap: break-word;
                      font-size: 0;
                      font-family: DINAlternate-Bold;
                      font-weight: 700;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.146rem;

                      .text_19 {
                        width: 0.287rem;
                        height: 0.146rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.125rem;
                        font-family: DINAlternate-Bold;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.146rem;
                      }

                      .text_20 {
                        width: 0.287rem;
                        height: 0.146rem;
                        overflow-wrap: break-word;
                        color: rgba(255, 60, 77, 1);
                        font-size: 0.125rem;
                        font-family: DINAlternate-Bold;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.146rem;
                      }
                    }
                  }
                }
              }

              .box_12 {
                width: 2.797rem;
                height: 0.36rem;
                margin-top: 0.084rem;

                .group_10 {
                  width: 1.355rem;
                  height: 0.36rem;
                  background: url(./img/SketchPng9fef58087d17d305e85388277837d17c420a0ada2a4fced3fb4d9ad90429536b.png) -0.027rem -0.027rem no-repeat;
                  background-size: 1.381rem 0.386rem;

                  .image-text_5 {
                    width: 0.657rem;
                    height: 0.141rem;
                    margin: 0.115rem 0 0 0.084rem;

                    .group_11 {
                      width: 0.162rem;
                      height: 0.141rem;
                      background: url(./img/SketchPngf3595e172396eabd8d2552b62470f1ec27f87c37b6c480e1c6f6f60f2c6d8343.png) 100% no-repeat;
                      background-size: 100% 100%;
                    }

                    .text-group_5 {
                      width: 0.417rem;
                      height: 0.115rem;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 0.083rem;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.115rem;
                      margin-top: 0.011rem;
                    }
                  }

                  .text_21 {
                    width: 0.125rem;
                    height: 0.146rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.125rem;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.146rem;
                    margin: 0.11rem 0.105rem 0 0.386rem;
                  }
                }

                .group_12 {
                  height: 0.36rem;
                  background: url(./img/SketchPngc435448ded094a74b971876fedb521a1982ece02493212116ccfec17204b6a64.png) -0.027rem -0.027rem no-repeat;
                  background-size: 1.381rem 0.386rem;
                  width: 1.355rem;

                  .section_10 {
                    width: 1.157rem;
                    height: 0.157rem;
                    margin: 0.105rem 0 0 0.094rem;

                    .image-text_6 {
                      width: 0.636rem;
                      height: 0.157rem;

                      .label_3 {
                        width: 0.157rem;
                        height: 0.157rem;
                      }

                      .text-group_6 {
                        width: 0.417rem;
                        height: 0.115rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.083rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.115rem;
                        margin-top: 0.021rem;
                      }
                    }

                    .text_22 {
                      width: 0.125rem;
                      height: 0.146rem;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 0.125rem;
                      font-family: DINAlternate-Bold;
                      font-weight: 700;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.146rem;
                      margin-top: 0.006rem;
                    }
                  }

                  .image-wrapper_4 {
                    width: 0.047rem;
                    height: 0.047rem;
                    margin: 0.053rem 0 0 1.308rem;

                    .thumbnail_3 {
                      width: 0.047rem;
                      height: 0.047rem;
                    }
                  }
                }
              }

              .image_11 {
                width: 2.808rem;
                height: 0.006rem;
                margin-top: 0.245rem;
              }

              .box_13 {
                height: 0.23rem;
                background: url(./img/SketchPng7771934f95fa23735deb1f8dc27a9ccd8f7b3ab65a958b4f487de8b8e936973a.png) 100% no-repeat;
                background-size: 100% 100%;
                width: 2.808rem;

                .block_9 {
                  position: relative;
                  width: 2.808rem;
                  height: 0.23rem;
                  background: url(./img/SketchPng2929bb581a7f68b93635c5fe7608c12038de6d4a856907d090c80aee0f534740.png) 100% no-repeat;
                  background-size: 100% 100%;

                  .label_4 {
                    width: 0.146rem;
                    height: 0.146rem;
                    margin: 0.042rem 0 0 0.089rem;
                  }

                  .text_23 {
                    width: 0.521rem;
                    height: 0.146rem;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 0.104rem;
                    font-family: PingFangSC-Semibold;
                    font-weight: 600;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.146rem;
                    margin: 0.042rem 0 0 0.079rem;
                  }

                  .text_24 {
                    width: 0.214rem;
                    height: 0.167rem;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 0.145rem;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.167rem;
                    margin: 0.021rem 0.105rem 0 1.657rem;
                  }

                  .label_5 {
                    position: absolute;
                    left: 0.073rem;
                    top: 0.027rem;
                    width: 0.178rem;
                    height: 0.178rem;
                  }
                }
              }

              .box_14 {
                width: 2.797rem;
                height: 0.334rem;
                margin-top: 0.084rem;

                .text-wrapper_7 {
                  height: 0.334rem;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png) 100% no-repeat;
                  background-size: 100% 100%;
                  width: 1.355rem;

                  .text_25 {
                    width: 0.334rem;
                    height: 0.115rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.083rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.115rem;
                    margin: 0.11rem 0 0 0.355rem;
                  }
                }

                .block_10 {
                  width: 1.355rem;
                  height: 0.334rem;
                  background: url(./img/SketchPng1b22ac835656bd5b623db9b42a167cb2dfdbbca3cf9ad63b42074f42ced5e5b9.png) 0rem 0rem no-repeat;
                  background-size: 1.36rem 0.339rem;

                  .text_26 {
                    width: 0.334rem;
                    height: 0.115rem;
                    overflow-wrap: break-word;
                    color: rgba(255, 126, 44, 1);
                    font-size: 0.083rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.115rem;
                    margin: 0.11rem 0 0 0.355rem;
                  }

                  .thumbnail_4 {
                    width: 0.105rem;
                    height: 0.094rem;
                    margin: 0.12rem 0.094rem 0 0.469rem;
                  }
                }
              }

              .box_15 {
                width: 2.797rem;
                height: 0.334rem;
                margin-top: 0.073rem;

                .text-wrapper_8 {
                  height: 0.334rem;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png) 100% no-repeat;
                  background-size: 100% 100%;
                  width: 1.355rem;

                  .text_27 {
                    width: 0.334rem;
                    height: 0.115rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.083rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.115rem;
                    margin: 0.11rem 0 0 0.355rem;
                  }
                }

                .text-wrapper_9 {
                  height: 0.334rem;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png) 100% no-repeat;
                  background-size: 100% 100%;
                  width: 1.355rem;

                  .text_28 {
                    width: 0.334rem;
                    height: 0.115rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.083rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.115rem;
                    margin: 0.11rem 0 0 0.355rem;
                  }
                }
              }

              .box_16 {
                width: 2.797rem;
                height: 0.334rem;
                margin-top: 0.079rem;

                .block_11 {
                  width: 1.355rem;
                  height: 0.334rem;
                  background: url(./img/SketchPng4ecf7a3d3751a7937aee739d214be8abdb0631f929b45cd30c47d8eaaa014905.png) 0rem 0rem no-repeat;
                  background-size: 1.36rem 0.339rem;

                  .text_29 {
                    width: 0.334rem;
                    height: 0.115rem;
                    overflow-wrap: break-word;
                    color: rgba(240, 202, 15, 1);
                    font-size: 0.083rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.115rem;
                    margin: 0.11rem 0 0 0.355rem;
                  }

                  .thumbnail_5 {
                    width: 0.105rem;
                    height: 0.094rem;
                    margin: 0.12rem 0.094rem 0 0.469rem;
                  }
                }

                .text-wrapper_10 {
                  height: 0.334rem;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png) 100% no-repeat;
                  background-size: 100% 100%;
                  width: 1.355rem;

                  .text_30 {
                    width: 0.334rem;
                    height: 0.115rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.083rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.115rem;
                    margin: 0.11rem 0 0 0.355rem;
                  }
                }
              }

              .box_17 {
                width: 2.797rem;
                height: 0.334rem;
                margin-top: 0.084rem;

                .text-wrapper_11 {
                  height: 0.334rem;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png) 100% no-repeat;
                  background-size: 100% 100%;
                  width: 1.355rem;

                  .text_31 {
                    width: 0.334rem;
                    height: 0.115rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.083rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.115rem;
                    margin: 0.11rem 0 0 0.355rem;
                  }
                }

                .text-wrapper_12 {
                  height: 0.334rem;
                  background: url(./img/SketchPng1da4da927c8d04ab468974a4cde302cf28aed27691897314d2ab5db8931ccf81.png) 100% no-repeat;
                  background-size: 100% 100%;
                  width: 1.355rem;

                  .text_32 {
                    width: 0.334rem;
                    height: 0.115rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.083rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.115rem;
                    margin: 0.11rem 0 0 0.355rem;
                  }
                }
              }
            }

            // .group_13 {
            //   background-color: rgba(111, 119, 167, 1);
            //   width: 0.021rem;
            //   height: 0.375rem;
            //   margin: 1.683rem 0 0 0.068rem;
            // }
          }

          .image_12 {
            position: absolute;
            left: 3.084rem;
            top: 0.433rem;
            width: 0.683rem;
            height: 1.063rem;
          }

          .box_18 {
            position: absolute;
            left: 5.433rem;
            top: 2.709rem;
            width: 0.943rem;
            height: 0.943rem;
            background: url(./img/SketchPng995a3f8722347d8c50c9c6d88b3dd232afb377c8fb493eec1cafd0b713e49dc7.png) -0.105rem 0.068rem no-repeat;
            background-size: 1.152rem 0.803rem;

            .group_14 {
              position: absolute;
              left: -1.729rem;
              top: 0.058rem;
              width: 1.922rem;
              height: 0.709rem;
              background: url(./img/SketchPng22b3575029ec1cfb31c07b07deae386f51344b3ef980181fa6dac73166a72f19.png) 0rem -0.011rem no-repeat;
              background-size: 1.933rem 0.724rem;

              .image_13 {
                position: absolute;
                left: -0.088rem;
                top: -1.479rem;
                width: 0.657rem;
                height: 0.98rem;
              }

              .box_19 {
                height: 2.068rem;
                background: url(./img/SketchPng95c405742685d3c8cf558a18b9d15efcebe4382c6e8c3db48dd762a45cecfb7f.png) 0rem 0rem no-repeat;
                background-size: 2.303rem 2.073rem;
                width: 2.297rem;
                position: absolute;
                left: -1.614rem;
                top: -1.453rem;

                .image-wrapper_5 {
                  width: 0.443rem;
                  height: 0.271rem;
                  margin: 1.006rem 0 0 0.917rem;

                  .image_14 {
                    width: 0.443rem;
                    height: 0.271rem;
                  }
                }

                .image-wrapper_6 {
                  width: 0.344rem;
                  height: 0.209rem;
                  margin: 0.172rem 0 0.412rem 0.454rem;

                  .image_15 {
                    width: 0.344rem;
                    height: 0.209rem;
                  }
                }
              }

              .image_16 {
                position: absolute;
                left: -0.927rem;
                top: 0.86rem;
                width: 0.917rem;
                height: 1.12rem;
              }

              .box_20 {
                height: 0.995rem;
                background: url(./img/SketchPng48cd2805a63545ef5d98a10a3ac21247e17c55600a68e5be79544874ebd08aad.png) 100% no-repeat;
                background-size: 100% 100%;
                width: 1.25rem;
                position: absolute;
                left: -0.088rem;
                top: 0.584rem;

                .image-wrapper_7 {
                  box-shadow: inset -24px -4px 40px 0px rgba(0, 237, 255, 0.06);
                  background-image: url(./img/4001517967484118b168500086fdfb10_mergeImage.png);
                  height: 0.849rem;
                  width: 1.245rem;
                  margin: 0.141rem 0 0 0.006rem;

                  .image_17 {
                    width: 1.381rem;
                    height: 0.209rem;
                    margin: -0.089rem 0 0 -0.006rem;
                  }
                }

                .image_18 {
                  position: absolute;
                  left: 0.006rem;
                  top: -0.01rem;
                  width: 0.573rem;
                  height: 0.021rem;
                }

                .image_19 {
                  position: absolute;
                  left: 0.006rem;
                  top: 0;
                  width: 1.245rem;
                  height: 0.037rem;
                }
              }
            }

            .image-wrapper_8 {
              height: 0.756rem;
              background: url(./img/SketchPng92d247aac4fb520ab41abb2f16231c96e63e509b95c798a257c2dfce5a07c045.png) -0.011rem 0.006rem no-repeat;
              background-size: 0.943rem 0.766rem;
              width: 0.922rem;
              position: absolute;
              left: -0.015rem;
              top: -0.182rem;

              .image_20 {
                width: 0.704rem;
                height: 0.667rem;
                margin: -0.391rem 0 0 0.11rem;
              }
            }
          }

          .image-wrapper_9 {
            height: 0.855rem;
            background: url(./img/SketchPngc4e77653f05910997dc55fa288a9e2c1a73327b32585130ec330b66a532246be.png) -0.006rem 0rem no-repeat;
            background-size: 1.323rem 0.855rem;
            width: 1.318rem;
            position: absolute;
            left: 0.313rem;
            top: 2.407rem;

            .image_21 {
              width: 0.287rem;
              height: 0.204rem;
              margin: 0.511rem 0 0 0.792rem;
            }

            .image_22 {
              position: absolute;
              left: 0.839rem;
              top: -0.463rem;
              width: 1.646rem;
              height: 1.256rem;
            }
          }

          .image_23 {
            position: absolute;
            left: 9.881rem;
            top: 3.766rem;
            width: 0.011rem;
            height: 1.266rem;
          }

          .image_24 {
            position: absolute;
            left: 3.594rem;
            top: 1.25rem;
            width: 0.313rem;
            height: 0.198rem;
          }

          .box_21 {
            height: 0.995rem;
            background: url(./img/SketchPng48cd2805a63545ef5d98a10a3ac21247e17c55600a68e5be79544874ebd08aad.png) 100% no-repeat;
            background-size: 100% 100%;
            width: 1.25rem;
            position: absolute;
            left: 3.787rem;
            top: 0.313rem;

            .image-wrapper_10 {
              box-shadow: inset -24px -4px 40px 0px rgba(0, 237, 255, 0.06);
              background-image: url(./img/9aa8ea8539b446ba88988dfd35f5bac7_mergeImage.png);
              height: 0.849rem;
              width: 1.245rem;
              margin: 0.141rem 0 0 0.006rem;

              .image_25 {
                width: 1.381rem;
                height: 0.209rem;
                margin: -0.089rem 0 0 -0.006rem;
              }
            }

            .image_26 {
              position: absolute;
              left: 0.006rem;
              top: -0.01rem;
              width: 0.573rem;
              height: 0.021rem;
            }

            .image_27 {
              position: absolute;
              left: 0.006rem;
              top: 0;
              width: 1.245rem;
              height: 0.037rem;
            }
          }

          .box_22 {
            height: 1.079rem;
            background: url(./img/SketchPngd01a3e59c0feef4e531b12a971f4923daf0847d2d8006479ef9ad8f5dd9b603e.png) 100% no-repeat;
            background-size: 100% 100%;
            width: 1.318rem;
            position: absolute;
            left: 3.719rem;
            top: 0.261rem;

            .box_23 {
              width: 1.084rem;
              height: 0.146rem;
              margin: 0.12rem 0 0 0.157rem;

              .text_33 {
                background-image: linear-gradient(180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(199, 207, 243, 1) 100%);
                width: 0.417rem;
                height: 0.146rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.104rem;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 0.146rem;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }

              .box_24 {
                background-color: rgba(4, 210, 102, 0.3);
                border-radius: 50%;
                height: 0.094rem;
                width: 0.094rem;
                margin: 0.042rem 0 0 0.375rem;

                .section_11 {
                  background-color: rgba(18, 224, 116, 1);
                  border-radius: 50%;
                  width: 0.073rem;
                  height: 0.073rem;
                  margin: 0.011rem 0 0 0.011rem;
                }
              }

              .text_34 {
                width: 0.167rem;
                height: 0.115rem;
                overflow-wrap: break-word;
                color: rgba(18, 224, 116, 1);
                font-size: 0.083rem;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 0.115rem;
                margin: 0.032rem 0 0 0.032rem;
              }
            }

            .text-wrapper_13 {
              width: 0.245rem;
              height: 0.292rem;
              margin: 0.167rem 0 0 0.579rem;

              .text_35 {
                width: 0.245rem;
                height: 0.292rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.25rem;
                font-family: DINAlternate-Bold;
                font-weight: 700;
                text-align: left;
                white-space: nowrap;
                line-height: 0.292rem;
              }
            }

            .text-wrapper_14 {
              width: 0.334rem;
              height: 0.115rem;
              margin: 0.042rem 0 0.198rem 0.537rem;

              .text_36 {
                width: 0.334rem;
                height: 0.115rem;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.083rem;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 0.115rem;
              }
            }
          }

          .box_25 {
            height: 1.079rem;
            background: url(./img/SketchPngd01a3e59c0feef4e531b12a971f4923daf0847d2d8006479ef9ad8f5dd9b603e.png) 100% no-repeat;
            background-size: 100% 100%;
            width: 1.318rem;
            position: absolute;
            left: 3.547rem;
            top: 3.297rem;

            .group_15 {
              width: 1.084rem;
              height: 0.146rem;
              margin: 0.115rem 0 0 0.152rem;

              .text_37 {
                background-image: linear-gradient(180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(199, 207, 243, 1) 100%);
                width: 0.417rem;
                height: 0.146rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.104rem;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 0.146rem;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }

              .image-text_7 {
                width: 0.292rem;
                height: 0.115rem;
                margin-top: 0.032rem;

                .group_16 {
                  background-color: rgba(4, 210, 102, 0.3);
                  border-radius: 50%;
                  height: 0.094rem;
                  margin-top: 0.011rem;
                  width: 0.094rem;

                  .section_12 {
                    background-color: rgba(18, 224, 116, 1);
                    border-radius: 50%;
                    width: 0.073rem;
                    height: 0.073rem;
                    margin: 0.011rem 0 0 0.011rem;
                  }
                }

                .text-group_7 {
                  width: 0.167rem;
                  height: 0.115rem;
                  overflow-wrap: break-word;
                  color: rgba(18, 224, 116, 1);
                  font-size: 0.083rem;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.115rem;
                }
              }
            }

            .group_17 {
              width: 0.365rem;
              height: 0.448rem;
              margin: 0.167rem 0 0.204rem 0.511rem;

              .text-group_8 {
                width: 0.365rem;
                height: 0.448rem;

                .text_38 {
                  width: 0.365rem;
                  height: 0.292rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.25rem;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.292rem;
                }

                .text_39 {
                  width: 0.334rem;
                  height: 0.115rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.083rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.115rem;
                  margin: 0.042rem 0 0 0.021rem;
                }
              }
            }
          }

          .box_26 {
            position: absolute;
            left: 0.318rem;
            top: 1.433rem;
            width: 1.25rem;
            height: 0.995rem;
            background: url(./img/SketchPng20593af35bc3162a0de18ec4b25f091c9195592692c78216d05d151191a5d409.png) 100% no-repeat;
            background-size: 100% 100%;

            .image_28 {
              width: 1.25rem;
              height: 0.037rem;
            }

            .image-wrapper_11 {
              box-shadow: inset -24px -4px 40px 0px rgba(0, 237, 255, 0.06);
              background-image: url(./img/afe40aea66d84a3bb462b0d3b2da7b8d_mergeImage.png);
              height: 0.849rem;
              width: 1.245rem;
              margin: 0.105rem 0 0.006rem 0;

              .image_29 {
                width: 1.381rem;
                height: 0.209rem;
                margin-top: -0.088rem;
              }
            }
          }

          .box_27 {
            position: absolute;
            left: 0.297rem;
            top: 1.386rem;
            width: 1.318rem;
            height: 1.079rem;
            background: url(./img/SketchPng24793a3383da61c2f8f1fa32ced603760b71c8a4b121e0db91d92c821dbf2849.png) 100% no-repeat;
            background-size: 100% 100%;

            .box_28 {
              width: 1.063rem;
              height: 0.146rem;
              margin: 0.11rem 0 0 0.115rem;

              .text_40 {
                width: 0.417rem;
                height: 0.146rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.104rem;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 0.146rem;
              }

              .image-text_8 {
                width: 0.318rem;
                height: 0.115rem;
                margin-top: 0.016rem;

                .thumbnail_6 {
                  width: 0.105rem;
                  height: 0.094rem;
                  margin-top: 0.011rem;
                }

                .text-group_9 {
                  width: 0.167rem;
                  height: 0.115rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 0.083rem;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.115rem;
                }
              }
            }

            .text-group_10 {
              width: 0.573rem;
              height: 0.428rem;
              margin: 0.204rem 0 0.193rem 0.391rem;

              .text-wrapper_15 {
                width: 0.573rem;
                height: 0.245rem;
                overflow-wrap: break-word;
                font-size: 0;
                font-family: DINAlternate-Bold;
                font-weight: 700;
                text-align: left;
                white-space: nowrap;
                line-height: 0.245rem;

                .text_41 {
                  width: 0.573rem;
                  height: 0.245rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.208rem;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.245rem;
                }

                .text_42 {
                  width: 0.573rem;
                  height: 0.245rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 0.208rem;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.245rem;
                }
              }

              .text_43 {
                width: 0.334rem;
                height: 0.115rem;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.083rem;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 0.115rem;
                margin: 0.068rem 0 0 0.12rem;
              }
            }
          }

          .image_30 {
            position: absolute;
            left: 5.36rem;
            top: 2.964rem;
            width: 0.313rem;
            height: 0.235rem;
          }

          .box_29 {
            height: 0.995rem;
            background: url(./img/SketchPng48cd2805a63545ef5d98a10a3ac21247e17c55600a68e5be79544874ebd08aad.png) 100% no-repeat;
            background-size: 100% 100%;
            width: 1.25rem;
            position: absolute;
            left: 5.224rem;
            top: 1.334rem;

            .image-wrapper_12 {
              box-shadow: inset -24px -4px 40px 0px rgba(0, 237, 255, 0.06);
              background-image: url(./img/50b46729fca34f64957a69df29bd9fd8_mergeImage.png);
              height: 0.849rem;
              width: 1.245rem;
              margin: 0.141rem 0 0 0.006rem;

              .image_31 {
                width: 1.381rem;
                height: 0.209rem;
                margin: -0.089rem 0 0 -0.006rem;
              }
            }

            .image_32 {
              position: absolute;
              left: 0.006rem;
              top: -0.01rem;
              width: 0.573rem;
              height: 0.021rem;
            }

            .image_33 {
              position: absolute;
              left: 0.006rem;
              top: 0;
              width: 1.245rem;
              height: 0.037rem;
            }
          }

          .box_30 {
            height: 1.079rem;
            background: url(./img/SketchPngd01a3e59c0feef4e531b12a971f4923daf0847d2d8006479ef9ad8f5dd9b603e.png) 100% no-repeat;
            background-size: 100% 100%;
            width: 1.318rem;
            position: absolute;
            left: 5.157rem;
            top: 1.282rem;

            .group_18 {
              width: 1.084rem;
              height: 0.146rem;
              margin: 0.115rem 0 0 0.157rem;

              .text_44 {
                background-image: linear-gradient(180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(199, 207, 243, 1) 100%);
                width: 0.417rem;
                height: 0.146rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.104rem;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 0.146rem;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }

              .block_12 {
                background-color: rgba(4, 210, 102, 0.3);
                border-radius: 50%;
                height: 0.094rem;
                width: 0.094rem;
                margin: 0.042rem 0 0 0.375rem;

                .group_19 {
                  background-color: rgba(18, 224, 116, 1);
                  border-radius: 50%;
                  width: 0.073rem;
                  height: 0.073rem;
                  margin: 0.011rem 0 0 0.011rem;
                }
              }

              .text_45 {
                width: 0.167rem;
                height: 0.115rem;
                overflow-wrap: break-word;
                color: rgba(18, 224, 116, 1);
                font-size: 0.083rem;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 0.115rem;
                margin: 0.032rem 0 0 0.032rem;
              }
            }

            .group_20 {
              width: 0.334rem;
              height: 0.448rem;
              margin: 0.167rem 0 0.204rem 0.537rem;

              .text-group_11 {
                width: 0.334rem;
                height: 0.448rem;

                .text_46 {
                  width: 0.245rem;
                  height: 0.292rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.25rem;
                  font-family: DINAlternate-Bold;
                  font-weight: 700;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.292rem;
                  margin-left: 0.042rem;
                }

                .text_47 {
                  width: 0.334rem;
                  height: 0.115rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.083rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.115rem;
                  margin-top: 0.042rem;
                }
              }
            }
          }
        }

        .block_13 {
          position: absolute;
          left: 0;
          top: 0;
          width: 10rem;
          height: 0.422rem;
          background: url(./img/SketchPng8c7f60758ffb8a760f12c197791a4008cd8763363c61ddeb9440bb99d24b57e2.png) 100% no-repeat;
          background-size: 100% 100%;

          .block_14 {
            width: 7.323rem;
            height: 0.23rem;
            margin: 0.11rem 0 0 2.678rem;

            .image-wrapper_13 {
              height: 0.209rem;
              background: url(./img/SketchPng7c0b08efd057f8b7d0a30415e72be9e4b4bebfb50e056712e01d0502b1ce3572.png) 100% no-repeat;
              background-size: 100% 100%;
              margin-top: 0.011rem;
              width: 1.152rem;

              .image_34 {
                width: 1.152rem;
                height: 0.209rem;
              }
            }

            .image-wrapper_14 {
              height: 0.162rem;
              background: url(./img/SketchPnge0121ad55ee7efdab67077a35865dc2d9f0d20dee6f501fc4b053bffbf3c31f7.png) 0rem 0rem no-repeat;
              background-size: 0.245rem 0.162rem;
              width: 0.24rem;
              margin: 0.058rem 0 0 2.006rem;

              .label_6 {
                width: 0.24rem;
                height: 0.162rem;
              }
            }

            .text_48 {
              background-image: linear-gradient(180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%);
              width: 0.589rem;
              height: 0.12rem;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 0.104rem;
              font-family: Galvji;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 0.12rem;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              margin: 0.073rem 0 0 0.313rem;
            }

            .text_49 {
              background-image: linear-gradient(180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%);
              width: 0.282rem;
              height: 0.131rem;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 0.093rem;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 0.131rem;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              margin: 0.068rem 0 0 0.125rem;
            }

            .text_50 {
              width: 0.698rem;
              height: 0.198rem;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 0.166rem;
              font-family: Galvji;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 0.198rem;
              margin: 0.011rem 0 0 0.125rem;
            }

            .section_13 {
              width: 1.396rem;
              height: 0.23rem;
              background: url(./img/SketchPng1e4d73228a4b718bc3dc4e28d9c5f5c1a8fc66587312ac4e714816ee1f16709a.png) 100% no-repeat;
              background-size: 100% 100%;
              margin-left: 0.402rem;

              .label_7 {
                width: 0.12rem;
                height: 0.115rem;
                margin: 0.063rem 0 0 0.235rem;
              }

              .text_51 {
                background-image: linear-gradient(180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(135, 145, 206, 1) 100%);
                width: 0.188rem;
                height: 0.131rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.093rem;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 0.131rem;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0.053rem 0 0 0.084rem;
              }

              .label_8 {
                width: 0.125rem;
                height: 0.125rem;
                margin: 0.058rem 0 0 0.167rem;
              }

              .text_52 {
                background-image: linear-gradient(180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(135, 145, 206, 1) 100%);
                width: 0.188rem;
                height: 0.131rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.093rem;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 0.131rem;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0.053rem 0.209rem 0 0.084rem;
              }
            }
          }

          .block_15 {
            background-color: rgba(138, 147, 201, 0.3);
            border-radius: 2px;
            width: 0.193rem;
            height: 0.016rem;
            margin: 0.047rem 0 0 9.599rem;
          }

          .image_35 {
            width: 10rem;
            height: 0.006rem;
            margin-top: 0.016rem;
          }

          .block_16 {
            height: 0.099rem;
            background: url(./img/SketchPng1031b39c26628ea3f673aa44e678ff5b0307d28c1fdcefc3144c79b6ad8ccf1a.png) 0rem -0.006rem no-repeat;
            background-size: 9.391rem 0.115rem;
            width: 9.391rem;
            position: absolute;
            left: 0;
            top: 0.37rem;

            .box_31 {
              position: relative;
              width: 3.667rem;
              height: 0.047rem;
              background: url(./img/SketchPng4f3f5454a09f7b4e228e66fa142d41b47ddce486367077f069311523b769af74.png) 100% no-repeat;
              background-size: 100% 100%;
              margin: 0.027rem 0 0 3.355rem;

              .section_14 {
                background-color: rgba(138, 147, 201, 0.4);
                border-radius: 2px;
                position: absolute;
                left: 3.032rem;
                top: -0.01rem;
                width: 0.105rem;
                height: 0.016rem;
              }

              .section_15 {
                background-color: rgba(138, 147, 201, 0.2);
                border-radius: 2px;
                position: absolute;
                left: 3.188rem;
                top: -0.01rem;
                width: 0.105rem;
                height: 0.016rem;
              }

              .section_16 {
                background-color: rgba(138, 147, 201, 0.1);
                border-radius: 2px;
                position: absolute;
                left: 3.344rem;
                top: -0.01rem;
                width: 0.105rem;
                height: 0.016rem;
              }

              .section_17 {
                background-color: rgba(138, 147, 201, 0.3);
                border-radius: 2px;
                position: absolute;
                left: 0.558rem;
                top: -0.01rem;
                width: 0.193rem;
                height: 0.016rem;
              }
            }
          }

          .block_17 {
            position: absolute;
            left: -0.468rem;
            top: 0.042rem;
            width: 2.735rem;
            height: 0.375rem;
            background: url(./img/SketchPng23ac035b487469d5468183e970040279c5d221a880a47ba092820927c4face04.png) 100% no-repeat;
            background-size: 100% 100%;

            .box_32 {
              height: 0.089rem;
              background: url(./img/SketchPng35d24bc1167d062a3550f34ee9a0a1ef5219ae697bd5ecfca023c5777c82e810.png) 100% no-repeat;
              background-size: 100% 100%;
              width: 1.375rem;
              margin: 0.277rem 0 0 0.891rem;

              .block_18 {
                height: 0.058rem;
                background: url(./img/SketchPngd30118be47d2468d7af566c0316736409d70476c34f6ab8d2b5e7e9fcfdcb000.png) -0.084rem -0.084rem no-repeat;
                background-size: 0.261rem 0.224rem;
                width: 0.094rem;
                margin: 0.027rem 0 0 0.636rem;

                .group_21 {
                  width: 0.053rem;
                  height: 0.032rem;
                  background: url(./img/SketchPng13a67309e5940cb64f0e9ff1bcf6ededb4c5df0a6478368b671429acdd76e31c.png) -0.032rem -0.037rem no-repeat;
                  background-size: 0.115rem 0.105rem;
                  margin: 0.006rem 0 0 0.021rem;
                }
              }
            }

            .text_53 {
              background-image: linear-gradient(180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(136, 145, 198, 1) 100%);
              position: absolute;
              left: 0.719rem;
              top: 0.047rem;
              width: 2.25rem;
              height: 0.261rem;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 0.187rem;
              font-family: PingFangSC-Semibold;
              font-weight: 600;
              text-align: left;
              white-space: nowrap;
              line-height: 0.261rem;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }
}