.page {
  position: relative;
  width: 10rem;
  height: 5.625rem;
  overflow: hidden;
  .box_1 {
    height: 5.625rem;
    background: url(./img/SketchPngbb6059bde37e68ee3ee2aa8c68602bde41d3d4a08c581290a475df0ad9cbd256.png)
      100% no-repeat;
    background-size: 100% 100%;
    width: 10rem;
    .group_1 {
      height: 5.625rem;
      background: url(./img/SketchPng2af6a7581b8e7b5f99306d5bc682c895fa39d4ca7c3f42bba5edb1fac0e12bc1.png)
        100% no-repeat;
      background-size: 100% 100%;
      width: 10rem;
      .section_1 {
        height: 5.625rem;
        background: url(./img/SketchPngf1810b48604bf63a0263bc5361b0b0014cabf3c7d1a243aef6ba85e603a598f8.png) -0.396rem
          0rem no-repeat;
        background-size: 5.5rem 5.625rem;
        margin-left: 4.896rem;
        width: 5.105rem;
        .block_1 {
          height: 5.625rem;
          background: url(./img/SketchPngf4be9f35753b8231b7c8a3aabe81ead045cdca7f063308d9500a314cad74783a.png)
            100% no-repeat;
          background-size: 100% 100%;
          margin-left: -4.895rem;
          width: 3.474rem;
          .block_2 {
            background-color: rgba(17, 25, 68, 0.7);
            height: 5.625rem;
            border: 1px solid rgba(151, 151, 151, 0.7);
            width: 10rem;
            position: relative;
            .box_2 {
              position: relative;
              width: 10rem;
              height: 5.209rem;
              margin-top: 0.422rem;
              .section_2 {
                height: 0.292rem;
                background: url(./img/SketchPnga0169cc3dda914ff43cd5a3d3759dabdac8ea528caffef135a57242fe84a263d.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 7.589rem;
                position: relative;
                margin: 0.261rem 0 0 1.204rem;
                .image-wrapper_1 {
                  width: 0.277rem;
                  height: 0.016rem;
                  margin: 0.021rem 0 0 0.084rem;
                  .image_1 {
                    width: 0.277rem;
                    height: 0.016rem;
                  }
                }
                .section_3 {
                  width: 5.006rem;
                  height: 0.146rem;
                  margin: 0.042rem 0 0.068rem 1.256rem;
                  .label_1 {
                    width: 0.146rem;
                    height: 0.125rem;
                    margin-top: 0.006rem;
                  }
                  .text_1 {
                    width: 0.521rem;
                    height: 0.146rem;
                    overflow-wrap: break-word;
                    color: rgba(255, 59, 78, 1);
                    font-size: 0.104rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.146rem;
                    margin-left: 0.042rem;
                  }
                  .text_2 {
                    width: 4.277rem;
                    height: 0.115rem;
                    overflow-wrap: break-word;
                    color: rgba(255, 59, 78, 1);
                    font-size: 0.083rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.115rem;
                    margin: 0.016rem 0 0 0.021rem;
                  }
                }
                .image_2 {
                  position: absolute;
                  left: 0.579rem;
                  top: -0.015rem;
                  width: 3.667rem;
                  height: 0.032rem;
                }
                .image_3 {
                  position: absolute;
                  left: 0;
                  top: 0.006rem;
                  width: 1.152rem;
                  height: 0.287rem;
                }
              }
              .image_4 {
                width: 1.016rem;
                height: 0.167rem;
                margin: 0.146rem 0 0 8.777rem;
              }
              .section_4 {
                background-color: rgba(69, 75, 105, 1);
                width: 0.11rem;
                height: 0.021rem;
                margin: 0.006rem 0 0 9.683rem;
              }
              .image_5 {
                width: 9.584rem;
                height: 0.006rem;
                margin: 0.011rem 0 0 0.209rem;
              }
              .section_5 {
                width: 9.584rem;
                height: 4.006rem;
                margin: 0.125rem 0 0.172rem 0.209rem;
                .group_2 {
                  width: 2.303rem;
                  height: 4.006rem;
                  margin-right: 0.13rem;
                //   background: url(./img/SketchPng8f726f6d6f26be515d769b880936bfc9d87a25f8dd10ff61030cc537bb4172d4.png)
                    // 100% no-repeat;
                //   background-size: 100% 100%;
                  background: linear-gradient(180deg, rgba(50,55,92,0.06) 0%, rgba(24,29,58,0.81) 100%);
                  border: 1px solid transparent;
                  .group_3 {
                    width: 2.303rem;
                    height: 0.23rem;
                      background-repeat: no-repeat;

                    background-size: 100% 100%;
                    justify-content: flex-center;
                    .text_3 {
                      width: 0.537rem;
                      height: 0.146rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 59, 78, 1);
                      font-size: 0.104rem;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.146rem;
                      margin: 0.047rem 0 0 0.125rem;
                    }
                    .image_6 {
                      width: 0.115rem;
                      height: 0.105rem;
                      margin: 0.068rem 0 0 0.985rem;
                    }
                    .text_4 {
                      width: 0.334rem;
                      height: 0.115rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 59, 78, 1);
                      font-size: 0.083rem;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.115rem;
                      margin: 0.063rem 0.125rem 0 0.084rem;
                    }
                  }
                  .text_5 {
                    width: 0.469rem;
                    height: 0.131rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.093rem;
                    font-family: PingFangSC-Medium;
                    font-weight: 500;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.131rem;
                    margin: 0.105rem 0 0 0.125rem;
                  }
                  .group_4 {
                        position: relative;
                    height: 0.464rem;
                    background: url(./img/SketchPngefe22d77ddac36c00a6015469d1701d0fd9826204ad30f672826b4770d0af353.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    width: 2.053rem;
                    margin: 0.084rem 0 0 0.125rem;
                    .box_3 {
                      height: 0.464rem;
                      background-size: 100% 100%;
                      background-repeat: no-repeat;
                      width: 2.053rem;
                      .image-wrapper_2 {
                        width: 0.042rem;
                        height: 0.032rem;
                        margin-left: 2.011rem;
                        .thumbnail_1 {
                          width: 0.042rem;
                          height: 0.032rem;
                        }
                      }
                      .image-wrapper_3 {
                        width: 0.277rem;
                        height: 0.016rem;
                        margin-left: 0.042rem;
                        .image_7 {
                          width: 0.277rem;
                          height: 0.016rem;
                        }
                      }
                      .text-wrapper_1 {
                        width: 0.803rem;
                        height: 0.131rem;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        .text_6 {
                          width: 0.803rem;
                          height: 0.131rem;
                          overflow-wrap: break-word;
                          color: rgba(255, 255, 255, 1);
                          font-size: 0.093rem;
                          font-family: PingFangSC-Medium;
                          font-weight: 500;
                          text-align: left;
                          white-space: nowrap;
                          line-height: 0.131rem;
                        }
                      }
                      .section_6 {
                        width: 2.053rem;
                        height: 0.032rem;
                        margin-top: 0.141rem;
                        .thumbnail_2 {
                          width: 0.042rem;
                          height: 0.032rem;
                        }
                        .group_5 {
                          background-color: rgba(255, 59, 78, 1);
                          width: 0.063rem;
                          height: 0.011rem;
                          margin-top: 0.021rem;
                        }
                      }
                    }
                  }
                  .text-wrapper_2 {
                    width: 0.813rem;
                    height: 0.16rem;
                    margin: 0.209rem 0 0 0.125rem;
                    .tab_text {
                      cursor: pointer;
                      height: 0.16rem;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 0.093rem;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.131rem;
                      &.current {
                        color: rgba(5, 237, 255, 1);
                        border-bottom: 2px solid #05def0;
                      }
                    }
                  }
                  .group_6 {
                    background-color: rgba(5, 222, 240, 1);
                    width: 0.188rem;
                    height: 0.011rem;
                    margin: 0.053rem 0 0 0.125rem;
                  }
                  .image_8 {
                    width: 2.053rem;
                    height: 0.006rem;
                    margin-left: 0.125rem;
                  }
                  .text-wrapper_3 {
                    width: 1.25rem;
                    height: 0.105rem;
                    margin: 0.079rem 0 0 0.125rem;
                    .text_9 {
                      width: 0.146rem;
                      height: 0.105rem;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 0.072rem;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.105rem;
                    }
                    .text_10 {
                      width: 0.365rem;
                      height: 0.105rem;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 0.072rem;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.105rem;
                      margin-left: 0.125rem;
                    }
                    .text_11 {
                      width: 0.219rem;
                      height: 0.105rem;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 0.072rem;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.105rem;
                      margin-left: 0.396rem;
                    }
                  }
                  .group_7 {
                    width: 2.053rem;
                    height: 0.719rem;
                    background: url(./img/SketchPngb6db2a9fcd43c1dee78549c62d1e6118fc62dcdd9354a71118169f1212577c91.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    margin: 0.042rem 0 0 0.125rem;
                    .text-wrapper_4 {
                      width: 1.777rem;
                      height: 0.105rem;
                      margin: 0.073rem 0 0 0.058rem;
                      .text_12 {
                        width: 0.032rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                      }
                      .text_13 {
                        width: 0.438rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                        margin-left: 0.183rem;
                      }
                      .text_14 {
                        width: 0.219rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                        margin-left: -0.02rem;
                      }
                      .text_15 {
                        width: 0.803rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                        margin-left: 0.125rem;
                      }
                    }
                    .image_9 {
                      width: 2.053rem;
                      height: 0.006rem;
                      margin-top: 0.063rem;
                    }
                    .text-wrapper_5 {
                      width: 1.782rem;
                      height: 0.105rem;
                      margin: 0.063rem 0 0 0.053rem;
                      .text_16 {
                        width: 0.047rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                      }
                      .text_17 {
                        width: 0.438rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                        margin-left: 0.172rem;
                      }
                      .text_18 {
                        width: 0.146rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                        margin-left: -0.02rem;
                      }
                      .text_19 {
                        width: 0.803rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                        margin-left: 0.198rem;
                      }
                    }
                    .image_10 {
                      width: 2.053rem;
                      height: 0.006rem;
                      margin-top: 0.068rem;
                    }
                    .text-wrapper_6 {
                      width: 1.782rem;
                      height: 0.105rem;
                      margin: 0.063rem 0 0.068rem 0.053rem;
                      .text_20 {
                        width: 0.047rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                      }
                      .text_21 {
                        width: 0.438rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                        margin-left: 0.172rem;
                      }
                      .text_22 {
                        width: 0.146rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                        margin-left: -0.02rem;
                      }
                      .text_23 {
                        width: 0.803rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                        margin-left: 0.198rem;
                      }
                    }
                  }
                  .group_8 {
                    width: 0.948rem;
                    height: 0.125rem;
                    margin: 0.209rem 0 0 0.125rem;
                    .image-text_1 {
                      width: 0.448rem;
                      height: 0.125rem;
                      .section_7 {
                        width: 0.125rem;
                        height: 0.125rem;
                        background: url(./img/SketchPng9a01ae617c3a9818cb43109c1e672ee0d0abd7d547644a9043dfd55103fabf4a.png)
                          100% no-repeat;
                        background-size: 100% 100%;
                      }
                      .text-group_1 {
                        width: 0.25rem;
                        height: 0.115rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.083rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.115rem;
                      }
                    }
                    .text_24 {
                      width: 0.334rem;
                      height: 0.115rem;
                      overflow-wrap: break-word;
                      color: rgba(5, 237, 255, 1);
                      font-size: 0.083rem;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.115rem;
                    }
                  }
                  .group_9 {
                    width: 0.771rem;
                    height: 0.115rem;
                    margin: 0.084rem 0 0 0.136rem;
                    .image-text_2 {
                      width: 0.521rem;
                      height: 0.115rem;
                      .image_11 {
                        width: 0.105rem;
                        height: 0.115rem;
                      }
                      .text-group_2 {
                        width: 0.334rem;
                        height: 0.115rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.083rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.115rem;
                      }
                    }
                    .text_25 {
                      width: 0.167rem;
                      height: 0.115rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.083rem;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.115rem;
                    }
                  }
                  .group_10 {
                    width: 1.573rem;
                    height: 0.115rem;
                    margin: 0.094rem 0 0.907rem 0.131rem;
                    .image-text_3 {
                      width: 0.61rem;
                      height: 0.115rem;
                      .label_2 {
                        width: 0.115rem;
                        height: 0.115rem;
                      }
                      .text-group_3 {
                        width: 0.417rem;
                        height: 0.115rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.083rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.115rem;
                      }
                    }
                    .text_26 {
                      width: 0.964rem;
                      height: 0.115rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.083rem;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.115rem;
                    }
                  }
                }
              }
            }
            .box_10 {
              position: absolute;
              left: 0;
              top: 0;
              width: 10rem;
              height: 0.422rem;
              background: url(./img/SketchPng8c7f60758ffb8a760f12c197791a4008cd8763363c61ddeb9440bb99d24b57e2.png)
                100% no-repeat;
              background-size: 100% 100%;
              .box_11 {
                width: 7.323rem;
                height: 0.23rem;
                margin: 0.11rem 0 0 2.678rem;
                .image-wrapper_10 {
                  height: 0.209rem;
                  background: url(./img/SketchPng7c0b08efd057f8b7d0a30415e72be9e4b4bebfb50e056712e01d0502b1ce3572.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  margin-top: 0.011rem;
                  width: 1.152rem;
                  .image_30 {
                    width: 1.152rem;
                    height: 0.209rem;
                  }
                }
                .image-wrapper_11 {
                  height: 0.162rem;
                  background: url(./img/SketchPnge0121ad55ee7efdab67077a35865dc2d9f0d20dee6f501fc4b053bffbf3c31f7.png)
                    0rem 0rem no-repeat;
                  background-size: 0.245rem 0.162rem;
                  width: 0.24rem;
                  margin: 0.058rem 0 0 2.006rem;
                  .label_6 {
                    width: 0.24rem;
                    height: 0.162rem;
                  }
                }
                .text_102 {
                  background-image: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(135, 145, 206, 1) 100%
                  );
                  width: 0.589rem;
                  height: 0.12rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.104rem;
                  font-family: Galvji;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.12rem;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  margin: 0.073rem 0 0 0.313rem;
                }
                .text_103 {
                  background-image: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(135, 145, 206, 1) 100%
                  );
                  width: 0.282rem;
                  height: 0.131rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.093rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.131rem;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  margin: 0.068rem 0 0 0.125rem;
                }
                .text_104 {
                  width: 0.698rem;
                  height: 0.198rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.166rem;
                  font-family: Galvji;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.198rem;
                  margin: 0.011rem 0 0 0.125rem;
                }
                .box_12 {
                  height: 0.23rem;
                  background: url(./img/SketchPng1e4d73228a4b718bc3dc4e28d9c5f5c1a8fc66587312ac4e714816ee1f16709a.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  margin-left: 0.402rem;
                  width: 1.396rem;
                  .block_14 {
                    width: 1.396rem;
                    height: 0.23rem;
                    background: url(./img/SketchPng1e4d73228a4b718bc3dc4e28d9c5f5c1a8fc66587312ac4e714816ee1f16709a.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    .label_7 {
                      width: 0.131rem;
                      height: 0.115rem;
                      margin: 0.063rem 0 0 0.23rem;
                    }
                    .text_105 {
                      background-image: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 1) 0,
                        rgba(135, 145, 206, 1) 100%
                      );
                      width: 0.188rem;
                      height: 0.131rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.093rem;
                      font-family: PingFangSC-Semibold;
                      font-weight: 600;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.131rem;
                      -webkit-background-clip: text;
                      -webkit-text-fill-color: transparent;
                      margin: 0.053rem 0 0 0.079rem;
                    }
                    .label_8 {
                      width: 0.125rem;
                      height: 0.125rem;
                      margin: 0.058rem 0 0 0.167rem;
                    }
                    .text_106 {
                      background-image: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 1) 0,
                        rgba(135, 145, 206, 1) 100%
                      );
                      width: 0.188rem;
                      height: 0.131rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.093rem;
                      font-family: PingFangSC-Semibold;
                      font-weight: 600;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.131rem;
                      -webkit-background-clip: text;
                      -webkit-text-fill-color: transparent;
                      margin: 0.053rem 0.209rem 0 0.084rem;
                    }
                  }
                }
              }
              .box_13 {
                background-color: rgba(138, 147, 201, 0.3);
                border-radius: 2px;
                height: 0.016rem;
                width: 0.193rem;
                margin: 0.047rem 0 0 9.599rem;
                .group_24 {
                  background-color: rgba(138, 147, 201, 0.3);
                  border-radius: 2px;
                  width: 0.193rem;
                  height: 0.016rem;
                }
              }
              .image_31 {
                width: 10rem;
                height: 0.006rem;
                margin-top: 0.016rem;
              }
              .box_14 {
                height: 0.099rem;
                background: url(./img/SketchPng1031b39c26628ea3f673aa44e678ff5b0307d28c1fdcefc3144c79b6ad8ccf1a.png)
                  0rem -0.006rem no-repeat;
                background-size: 9.391rem 0.115rem;
                width: 9.391rem;
                position: absolute;
                left: 0;
                top: 0.37rem;
                .box_15 {
                  position: relative;
                  width: 3.667rem;
                  height: 0.047rem;
                  background: url(./img/SketchPng4f3f5454a09f7b4e228e66fa142d41b47ddce486367077f069311523b769af74.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  margin: 0.027rem 0 0 3.355rem;
                  .block_15 {
                    background-color: rgba(138, 147, 201, 0.4);
                    border-radius: 2px;
                    height: 0.016rem;
                    width: 0.105rem;
                    position: absolute;
                    left: 3.032rem;
                    top: -0.01rem;
                    .box_16 {
                      background-color: rgba(138, 147, 201, 0.4);
                      border-radius: 2px;
                      width: 0.105rem;
                      height: 0.016rem;
                    }
                  }
                  .block_16 {
                    background-color: rgba(138, 147, 201, 0.2);
                    border-radius: 2px;
                    height: 0.016rem;
                    width: 0.105rem;
                    position: absolute;
                    left: 3.188rem;
                    top: -0.01rem;
                    .group_25 {
                      background-color: rgba(138, 147, 201, 0.2);
                      border-radius: 2px;
                      width: 0.105rem;
                      height: 0.016rem;
                    }
                  }
                  .block_17 {
                    background-color: rgba(138, 147, 201, 0.1);
                    border-radius: 2px;
                    height: 0.016rem;
                    width: 0.105rem;
                    position: absolute;
                    left: 3.344rem;
                    top: -0.01rem;
                    .section_20 {
                      background-color: rgba(138, 147, 201, 0.1);
                      border-radius: 2px;
                      width: 0.105rem;
                      height: 0.016rem;
                    }
                  }
                  .block_18 {
                    background-color: rgba(138, 147, 201, 0.3);
                    border-radius: 2px;
                    position: absolute;
                    left: 0.558rem;
                    top: -0.01rem;
                    width: 0.193rem;
                    height: 0.016rem;
                  }
                }
              }
              .box_17 {
                position: absolute;
                left: -0.468rem;
                top: 0.042rem;
                width: 2.735rem;
                height: 0.375rem;
                background: url(./img/SketchPng23ac035b487469d5468183e970040279c5d221a880a47ba092820927c4face04.png)
                  100% no-repeat;
                background-size: 100% 100%;
                .label_9 {
                  width: 0.219rem;
                  height: 0.188rem;
                  margin: 0.094rem 0 0 0.678rem;
                }
                .block_19 {
                  position: relative;
                  width: 1.375rem;
                  height: 0.318rem;
                  margin: 0.047rem 0.469rem 0 -0.006rem;
                  .section_21 {
                    height: 0.089rem;
                    background: url(./img/SketchPng35d24bc1167d062a3550f34ee9a0a1ef5219ae697bd5ecfca023c5777c82e810.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    margin-top: 0.23rem;
                    width: 1.375rem;
                    .group_26 {
                      height: 0.058rem;
                      background: url(./img/SketchPngd30118be47d2468d7af566c0316736409d70476c34f6ab8d2b5e7e9fcfdcb000.png) -0.084rem -0.084rem
                        no-repeat;
                      background-size: 0.261rem 0.224rem;
                      width: 0.094rem;
                      margin: 0.027rem 0 0 0.636rem;
                      .box_18 {
                        width: 0.053rem;
                        height: 0.032rem;
                        background: url(./img/SketchPng13a67309e5940cb64f0e9ff1bcf6ededb4c5df0a6478368b671429acdd76e31c.png) -0.032rem -0.037rem
                          no-repeat;
                        background-size: 0.115rem 0.105rem;
                        margin: 0.006rem 0 0 0.021rem;
                      }
                    }
                  }
                  .text_107 {
                    width: 0.8rem;
                    height: 0.26rem;
                    font-size: 0.19rem;
                    font-family: PingFangSC-Semibold, PingFang SC;
                    font-weight: 600;
                    line-height: 0.26rem;
                    position: absolute;
                    left: 0.125rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
