.tab_wrapper {
    display: flex;
    .section {
        cursor: pointer;
        width: 0.938rem;
        height: 0.23rem;
        background: url(./img/SketchPng59b24ab4fb483f0059725e8f9ef5158246883e30c49b6324b215f9abd94a0af6.png)
        100% no-repeat;
        background-size: 100% 100%;
        .box {
        width: 0.084rem;
        height: 0.084rem;
        border: 0.8px solid rgba(92, 102, 139, 1);
        margin: 0.073rem 0 0 0.125rem;
        }
        .text {
        width: 0.521rem;
        height: 0.146rem;
        overflow-wrap: break-word;
        color: rgba(199, 207, 243, 1);
        font-size: 0.104rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 0.146rem;
        margin: 0.042rem 0.125rem 0 0;
        }
    }
    .current {
        background: url(./img/SketchPng3ce88b1bfb07cf6bda08c0934a5561d56b0c276c1f491b00d61cbc952f919714.png)
        100% no-repeat;
        background-size: 100% 100%;
        position: relative;
        .bg_block {
            width: 0.938rem;
            height: 0.23rem;
            background: url(./img/SketchPngd23348d6857a0b74048fff6ca57fb13e9703b0d04a427e23a3e48aa1eabbb34b.png)
                100% no-repeat;
            background-size: 100% 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        .thumbnail {
        width: 0.084rem;
        height: 0.084rem;
        margin: 0.073rem 0 0 0.125rem;
        position: absolute;
        left: 0;
        top: 0;
        }
        .text{
            color: rgba(5, 237, 255, 1) !important;
            font-weight: 600 !important;
        }
    }
    }