<template>
  <div class="tab_wrapper">
    <div
      v-for="(tab, index) in tabs"
      :class="tabClass(index)"
      :key="tab"
      @click="triggerCustomEvent(index)"
    >
      <div v-if="index === tabIndex" class="bg_block"></div>
      <img
        v-if="index === tabIndex"
        class="thumbnail"
        referrerpolicy="no-referrer"
        src="./img/SketchPngf5446fd10047692608d3ac6b52fbbaccc3b6d1af37c8be16b4f45933e6762198.png"
      />
      <div class="box flex-col"></div>
      <span class="text">{{ tab }}</span>
    </div>
  </div>
</template>
<script>
export default {
  name: "JsTab",
  props: {
    tabs: [],
    tabIndex: {
      type: Number,
      default: 0,
    },
  },
  methods: {
    tabClass(index) {
      return {
        section: true,
        "flex-row": true,
        "justify-between": true,
        current: index === this.tabIndex,
      };
    },
    triggerCustomEvent(index) {
      this.$emit("change", index);
    },
  },
};
</script>
<style scoped lang="less" src="./index.rem.less" />
