.page {
  position: relative;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  .box_1 {
    height: 1080px;
    background: url(./img/SketchPngbb6059bde37e68ee3ee2aa8c68602bde41d3d4a08c581290a475df0ad9cbd256.png)
      100% no-repeat;
    background-size: 100% 100%;
    width: 1920px;
    .section_1 {
      height: 1080px;
      background: url(./img/SketchPng003d839e0e4f6604a62d8d019e74e6879ac55ac571dfb59c7c9299e1136667b2.png)
        100% no-repeat;
      background-size: 100% 100%;
      width: 1920px;
      .box_2 {
        background-color: rgba(8, 12, 36, 0.7);
        border-radius: 8px;
        height: 1080px;
        width: 1920px;
        .group_1 {
          background-color: rgba(2, 12, 59, 0.8);
          height: 1080px;
          width: 1920px;
          position: relative;
          .box_29 {
            position: relative;
            width: 1920px;
            height: 1000px;
            margin-top: 81px;
            .box_30 {
              width: 1755px;
              height: 40px;
              margin: 34px 0 0 125px;
              .text_1 {
                width: 280px;
                height: 28px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 20px;
                font-family: PingFangSC-Medium;
                font-weight: 500;
                text-align: left;
                white-space: nowrap;
                line-height: 28px;
                margin-top: 4px;
              }
              .text_50 {
                width: 205px;
                height: 28px;
                overflow-wrap: break-word;
                color: rgba(195, 203, 239, 1);
                font-size: 20px;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 28px;
                margin-top: 5px;
              }
              .label_11 {
                width: 24px;
                height: 24px;
                margin: 7px 0 0 64px;
              }
              .group_3 {
                width: 221px;
                height: 40px;
                background: url(./img/SketchPng26c6bc9dff4bab1214fafa9c84b91aea40326d7c93f82411c31228fe20f25fd5.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-left: 961px;
                .text_2 {
                  width: 64px;
                  height: 22px;
                  overflow-wrap: break-word;
                  color: rgba(0, 237, 255, 1);
                  font-size: 16px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 22px;
                  margin: 8px 0 0 129px;
                }
                .thumbnail_2 {
                  width: 16px;
                  height: 16px;
                  margin: 11px 0 0 12px;
                }
              }
            }
            .image_1 {
              width: 1840px;
              height: 1px;
              margin: 2px 0 0 40px;
            }
            .box_31 {
              width: 1840px;
              height: 452px;
              margin: 76px 0 395px 40px;
              .group_4 {
                height: 452px;
                background: url(./img/SketchPng08f90f54e2769f41da45798210c7b2063ce59a021fdebc995368edfc0bb71fda.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 1166px;
                position: relative;
                .block_17 {
                  width: 959px;
                  height: 48px;
                  margin: 32px 0 0 19px;
                  .section_2 {
                    width: 265px;
                    height: 48px;
                    background: url(./img/SketchPng4c3a9c448571642deed7319c06f9616b73a2857addc02317002397642f5f45bf.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                  }
                  .image_2 {
                    width: 265px;
                    height: 48px;
                  }
                }
                .block_18 {
                  width: 1126px;
                  height: 256px;
                  margin: 32px 0 84px 20px;
                  .section_6 {
                    width: 257px;
                    height: 184px;
                    .image_3 {
                      width: 222px;
                      height: 9px;
                      margin-left: 18px;
                    }
                    .group_7 {
                      width: 257px;
                      height: 174px;
                      background: url(./img/SketchPngde3f09057184d63368c9f73e952f0ab2a1c514abfd3a5b488c5cff0b46c00630.png)
                        100% no-repeat;
                      background-size: 100% 100%;
                      margin-top: 1px;
                    }
                  }
                  .section_7 {
                    width: 240px;
                    height: 180px;
                    margin: 76px 0 0 4px;
                    .text-wrapper_10 {
                      width: 146px;
                      height: 28px;
                      margin-left: 20px;
                      .text_3 {
                        width: 84px;
                        height: 20px;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 14px;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 20px;
                        margin-top: 6px;
                      }
                      .text_4 {
                        width: 47px;
                        height: 28px;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 24px;
                        font-family: DINAlternate-Bold;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 28px;
                        margin-left: -3px;
                      }
                      .text_5 {
                        width: 14px;
                        height: 20px;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 14px;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 20px;
                        margin: 6px 0 0 4px;
                      }
                    }
                    .image-text_7 {
                      width: 110px;
                      height: 22px;
                      margin: 9px 0 0 21px;
                      .box_5 {
                        background-color: rgba(18, 224, 116, 1);
                        border-radius: 50%;
                        width: 8px;
                        height: 8px;
                        margin-top: 7px;
                      }
                      .text-group_1 {
                        width: 96px;
                        height: 22px;
                        overflow-wrap: break-word;
                        color: rgba(18, 224, 116, 1);
                        font-size: 16px;
                        font-family: PingFangSC-Medium;
                        font-weight: 500;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 22px;
                      }
                    }
                    .image-text_8 {
                      width: 240px;
                      height: 109px;
                      margin-top: 12px;
                      .image_4 {
                        width: 240px;
                        height: 20px;
                      }
                      .text-group_8 {
                        width: 219px;
                        height: 68px;
                        margin: 21px 0 0 18px;
                        .text_6 {
                          width: 219px;
                          height: 20px;
                          overflow-wrap: break-word;
                          color: rgba(199, 207, 243, 1);
                          font-size: 14px;
                          font-weight: NaN;
                          text-align: left;
                          white-space: nowrap;
                          line-height: 20px;
                        }
                        .text_7 {
                          width: 219px;
                          height: 20px;
                          overflow-wrap: break-word;
                          color: rgba(199, 207, 243, 1);
                          font-size: 14px;
                          font-weight: NaN;
                          text-align: left;
                          white-space: nowrap;
                          line-height: 20px;
                          margin-top: 4px;
                        }
                        .text_8 {
                          width: 99px;
                          height: 20px;
                          overflow-wrap: break-word;
                          color: rgba(199, 207, 243, 1);
                          font-size: 14px;
                          font-weight: NaN;
                          text-align: left;
                          white-space: nowrap;
                          line-height: 20px;
                          margin-top: 4px;
                        }
                      }
                    }
                  }
                  .box_6 {
                    width: 610px;
                    height: 183px;
                    background: url(./img/SketchPng26087f9f495cb55554706572ce2d275e163cb83547f1c209c7f2b467ae72bfda.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    margin: 3px 0 0 15px;
                  }
                }
                .group_8 {
                  position: absolute;
                  left: 19px;
                  top: 138px;
                  width: 259px;
                  height: 272px;
                  background: url(./img/SketchPngb054da0c7e6fe59ca5d9be9772d4c751bff67fb867ff3765e8902bf339423009.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .image_5 {
                    width: 102px;
                    height: 158px;
                    margin: 31px 0 0 78px;
                  }
                  .text_9 {
                    width: 59px;
                    height: 22px;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 16px;
                    font-family: PingFangSC-Medium;
                    font-weight: 500;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22px;
                    margin: 20px 0 41px 100px;
                  }
                  .group_9 {
                    height: 52px;
                    background: url(./img/SketchPng0ca5ae8d9b632bf7f2dd1003b644ab36ffbcc1dc0a785d5eda38240f86013ad4.png) -1px -1px
                      no-repeat;
                    background-size: 259px 53px;
                    width: 257px;
                    position: absolute;
                    left: 1px;
                    top: -16px;
                    .group_10 {
                      background-color: rgba(69, 75, 105, 1);
                      width: 21px;
                      height: 4px;
                      margin: 12px 0 0 16px;
                    }
                  }
                }
                .group_11 {
                  position: absolute;
                  left: 536px;
                  top: 138px;
                  width: 596px;
                  height: 272px;
                  background: url(./img/SketchPngf091b8f608720abbbc014cdec144a4ef1e04b66c12b512e83ae1ecf1415d6f44.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .group_27 {
                    width: 152px;
                    height: 163px;
                    margin: 68px 0 0 24px;
                    .image_6 {
                      width: 152px;
                      height: 119px;
                    }
                    .text_10 {
                      width: 59px;
                      height: 22px;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 16px;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 22px;
                      margin: 22px 0 0 44px;
                    }
                  }
                  .group_28 {
                    width: 240px;
                    height: 180px;
                    margin: 50px 0 0 12px;
                    .text-wrapper_11 {
                      width: 146px;
                      height: 28px;
                      margin-left: 24px;
                      .text_11 {
                        width: 84px;
                        height: 20px;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 14px;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 20px;
                        margin-top: 6px;
                      }
                      .text_12 {
                        width: 47px;
                        height: 28px;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 24px;
                        font-family: DINAlternate-Bold;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 28px;
                        margin-left: -3px;
                      }
                      .text_13 {
                        width: 14px;
                        height: 20px;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 14px;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 20px;
                        margin: 6px 0 0 4px;
                      }
                    }
                    .image-text_9 {
                      width: 110px;
                      height: 22px;
                      margin: 9px 0 0 25px;
                      .section_3 {
                        background-color: rgba(18, 224, 116, 1);
                        border-radius: 50%;
                        width: 8px;
                        height: 8px;
                        margin-top: 7px;
                      }
                      .text-group_3 {
                        width: 96px;
                        height: 22px;
                        overflow-wrap: break-word;
                        color: rgba(18, 224, 116, 1);
                        font-size: 16px;
                        font-family: PingFangSC-Medium;
                        font-weight: 500;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 22px;
                      }
                    }
                    .image_7 {
                      width: 240px;
                      height: 20px;
                      margin-top: 12px;
                    }
                    .text-group_9 {
                      width: 219px;
                      height: 68px;
                      margin: 21px 0 0 21px;
                      .text_14 {
                        width: 219px;
                        height: 20px;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 14px;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 20px;
                      }
                      .text_15 {
                        width: 219px;
                        height: 20px;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 14px;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 20px;
                        margin-top: 4px;
                      }
                      .text_16 {
                        width: 99px;
                        height: 20px;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 14px;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 20px;
                        margin-top: 4px;
                      }
                    }
                  }
                  .group_29 {
                    width: 161px;
                    height: 173px;
                    margin: 58px -2px 0 9px;
                    .image_8 {
                      width: 161px;
                      height: 136px;
                    }
                    .text_17 {
                      width: 91px;
                      height: 22px;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 16px;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 22px;
                      margin: 15px 0 0 34px;
                    }
                  }
                  .group_15 {
                    background-color: rgba(69, 75, 105, 1);
                    position: absolute;
                    left: 24px;
                    top: -2px;
                    width: 20px;
                    height: 4px;
                  }
                }
                .image-wrapper_2 {
                  height: 66px;
                  background: url(./img/SketchPng22756d63fba0190f627f4459a42c64872e9322db1f4884dbb6bbd14712f6f38a.png) -1px -1px
                    no-repeat;
                  background-size: 612px 67px;
                  width: 610px;
                  position: absolute;
                  left: 536px;
                  top: 115px;
                  .image_9 {
                    width: 340px;
                    height: 9px;
                    margin: -3px 0 0 130px;
                  }
                }
                .image_10 {
                  position: absolute;
                  left: 536px;
                  top: 359px;
                  width: 610px;
                  height: 66px;
                }
                .image_11 {
                  position: absolute;
                  left: 20px;
                  top: 366px;
                  width: 257px;
                  height: 52px;
                }
                .group_16 {
                  position: absolute;
                  left: 19px;
                  top: 32px;
                  width: 266px;
                  height: 48px;
                  background: url(./img/SketchPngc1131dfee6ef9b863b1a450d82a0d2c064636e1ff105e51d3c406f79d88ec4d8.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .box_7 {
                    width: 1px;
                    height: 30px;
                    background: url(./img/SketchPng5243dde6fe2743ff56d7a093dbdf084393840820114e6b623c184861d10cfa32.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    margin-top: 12px;
                  }
                  .box_8 {
                    background-image: url(./img/e74d252c729c492c9b2468b2c8035bb1_mergeImage.png);
                    width: 241px;
                    height: 47px;
                    margin-top: 1px;
                    .thumbnail_3 {
                      width: 16px;
                      height: 16px;
                      margin: 15px 0 0 64px;
                    }
                    .text_18 {
                      width: 94px;
                      height: 28px;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 20px;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 28px;
                      margin: 9px 55px 0 12px;
                    }
                  }
                  .box_9 {
                    height: 48px;
                    background: url(./img/SketchPngbc1707d70a7dc6496784d142fe8001e70da1776ba52ca1c31df3c4f669423a52.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    margin-left: -1px;
                    width: 25px;
                    .box_10 {
                      width: 224px;
                      height: 1px;
                      background: url(./img/SketchPng7ba0b55c094cd82689342276cc568312f2606fb2ec4cbfa80c7a1d09ca4c6a2f.png)
                        100% no-repeat;
                      background-size: 100% 100%;
                      margin-left: -223px;
                    }
                  }
                }
                .label_1 {
                  position: absolute;
                  left: 266px;
                  top: 32px;
                  width: 38px;
                  height: 48px;
                }
                .group_17 {
                  position: absolute;
                  left: 713px;
                  top: 32px;
                  width: 266px;
                  height: 48px;
                  background: url(./img/SketchPnge655b4f9e753d9553492f3d5a2564c9800d592c86f8c99ef07d766b659cedcb6.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .box_11 {
                    height: 48px;
                    background: url(./img/SketchPnge50cf4452d4a53332bb7eb2b933f0c0b6bb65d44e6341a4599437595767a61bc.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    width: 21px;
                    .block_4 {
                      width: 241px;
                      height: 1px;
                      background: url(./img/SketchPngc2f97d8548d9193b2a2368da0858c2a884717fa205d2f6e53e7922ad7e5ac5d8.png)
                        100% no-repeat;
                      background-size: 100% 100%;
                      margin-left: 1px;
                    }
                  }
                  .label_2 {
                    width: 25px;
                    height: 48px;
                  }
                  .box_12 {
                    position: absolute;
                    left: 0;
                    top: 1px;
                    width: 241px;
                    height: 47px;
                    background: url(./img/f1f76ec8bc0f4a9984aa43fe2527e5d2_mergeImage.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    .thumbnail_4 {
                      width: 16px;
                      height: 16px;
                      margin: 15px 0 0 75px;
                    }
                    .text_19 {
                      width: 80px;
                      height: 28px;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 20px;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 28px;
                      margin: 9px 58px 0 12px;
                    }
                  }
                }
                .label_3 {
                  position: absolute;
                  left: 960px;
                  top: 32px;
                  width: 38px;
                  height: 48px;
                }
                .group_18 {
                  position: absolute;
                  left: 308px;
                  top: 40px;
                  width: 406px;
                  height: 32px;
                  background: url(./img/SketchPng0f9e77e944ee60dcd603c30a56151e72bf7e983581d45c4705821732629bd13a.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .thumbnail_5 {
                    width: 16px;
                    height: 16px;
                    margin: 9px 0 0 71px;
                  }
                  .text_20 {
                    width: 64px;
                    height: 22px;
                    overflow-wrap: break-word;
                    color: rgba(18, 224, 116, 1);
                    font-size: 16px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22px;
                    margin: 5px 0 0 8px;
                  }
                  .text_21 {
                    width: 82px;
                    height: 20px;
                    overflow-wrap: break-word;
                    color: rgba(195, 203, 239, 1);
                    font-size: 14px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 20px;
                    margin: 7px 0 0 20px;
                  }
                  .text_22 {
                    width: 58px;
                    height: 20px;
                    overflow-wrap: break-word;
                    color: rgba(195, 203, 239, 1);
                    font-size: 14px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 20px;
                    margin: 7px 79px 0 8px;
                  }
                }
              }
              .group_30 {
                width: 240px;
                height: 180px;
                margin: 188px 0 0 10px;
                .text-wrapper_12 {
                  width: 146px;
                  height: 28px;
                  margin-left: 21px;
                  .text_23 {
                    width: 84px;
                    height: 20px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 14px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 20px;
                    margin-top: 6px;
                  }
                  .text_24 {
                    width: 47px;
                    height: 28px;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 24px;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 28px;
                    margin-left: -3px;
                  }
                  .text_25 {
                    width: 14px;
                    height: 20px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 14px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 20px;
                    margin: 6px 0 0 4px;
                  }
                }
                .image-text_10 {
                  width: 110px;
                  height: 22px;
                  margin: 9px 0 0 23px;
                  .group_20 {
                    background-color: rgba(18, 224, 116, 1);
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;
                    margin-top: 7px;
                  }
                  .text-group_5 {
                    width: 96px;
                    height: 22px;
                    overflow-wrap: break-word;
                    color: rgba(18, 224, 116, 1);
                    font-size: 16px;
                    font-family: PingFangSC-Medium;
                    font-weight: 500;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22px;
                  }
                }
                .image-text_11 {
                  width: 240px;
                  height: 109px;
                  margin-top: 12px;
                  .image_12 {
                    width: 240px;
                    height: 20px;
                  }
                  .text-group_10 {
                    width: 219px;
                    height: 68px;
                    margin: 21px 0 0 21px;
                    .text_26 {
                      width: 219px;
                      height: 20px;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 14px;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 20px;
                    }
                    .text_27 {
                      width: 219px;
                      height: 20px;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 14px;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 20px;
                      margin-top: 4px;
                    }
                    .text_28 {
                      width: 99px;
                      height: 20px;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 14px;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 20px;
                      margin-top: 4px;
                    }
                  }
                }
              }
              .group_21 {
                position: relative;
                width: 398px;
                height: 452px;
                background: url(./img/SketchPng6462907548f3e68350a26a0136e5b5c1ec9cfd4325b42bd4efa63c3970a2aa27.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-left: 26px;
                .image_13 {
                  width: 265px;
                  height: 48px;
                  margin: 32px 0 0 78px;
                }
                .image_14 {
                  width: 330px;
                  height: 9px;
                  margin: 35px 0 0 35px;
                }
                .block_5 {
                  background-color: rgba(69, 75, 105, 1);
                  width: 20px;
                  height: 4px;
                  margin: 12px 0 312px 41px;
                }
                .block_6 {
                  position: absolute;
                  left: 20px;
                  top: 125px;
                  width: 358px;
                  height: 175px;
                  background: url(./img/SketchPng87c8beca0008cac6d15f1705748fe6e76c75373546d249849b2d4defd3ba4922.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .text-wrapper_5 {
                    width: 139px;
                    height: 20px;
                    overflow-wrap: break-word;
                    font-size: 0;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 20px;
                    margin: 32px 0 0 21px;
                    .text_29 {
                      width: 139px;
                      height: 20px;
                      overflow-wrap: break-word;
                      color: rgba(189, 197, 233, 1);
                      font-size: 14px;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 20px;
                    }
                    .text_30 {
                      width: 139px;
                      height: 20px;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 14px;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 20px;
                    }
                  }
                  .text-wrapper_6 {
                    width: 127px;
                    height: 20px;
                    overflow-wrap: break-word;
                    font-size: 0;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 20px;
                    margin: 8px 0 95px 21px;
                    .text_31 {
                      width: 127px;
                      height: 20px;
                      overflow-wrap: break-word;
                      color: rgba(189, 197, 233, 1);
                      font-size: 14px;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 20px;
                    }
                    .text_32 {
                      width: 127px;
                      height: 20px;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 14px;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 20px;
                    }
                  }
                  .box_13 {
                    position: absolute;
                    left: 53px;
                    top: 21px;
                    width: 259px;
                    height: 272px;
                    background: url(./img/SketchPngb054da0c7e6fe59ca5d9be9772d4c751bff67fb867ff3765e8902bf339423009.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    .image-text_12 {
                      width: 206px;
                      height: 155px;
                      margin: 68px 0 0 37px;
                      .image_15 {
                        width: 206px;
                        height: 124px;
                      }
                      .text-group_7 {
                        width: 60px;
                        height: 22px;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 16px;
                        font-family: PingFangSC-Medium;
                        font-weight: 500;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 22px;
                        margin: 9px 0 0 73px;
                      }
                    }
                  }
                }
                .block_7 {
                  height: 52px;
                  background: url(./img/SketchPng6ad5827351cb21cce2db2ea000e6e5e74f6ecf76d674a4753b4ff088d8e04d3b.png) -1px -1px
                    no-repeat;
                  background-size: 360px 53px;
                  width: 358px;
                  position: absolute;
                  left: 20px;
                  top: 125px;
                  .group_22 {
                    background-color: rgba(69, 75, 105, 1);
                    width: 21px;
                    height: 4px;
                    margin: 39px 0 0 21px;
                  }
                }
                .image_16 {
                  position: absolute;
                  left: 20px;
                  top: 369px;
                  width: 358px;
                  height: 52px;
                }
                .block_8 {
                  height: 48px;
                  background: url(./img/SketchPng88a75f09d98824bc443fa519ba2439117299c74cb7ea1040450ee8b79989faeb.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 268px;
                  position: absolute;
                  left: 76px;
                  top: 32px;
                  .label_4 {
                    width: 23px;
                    height: 48px;
                  }
                  .box_14 {
                    position: absolute;
                    left: 1px;
                    top: 1px;
                    width: 241px;
                    height: 47px;
                    background: url(./img/b5d1487df6484918ad9f0fb11dd85b0a_mergeImage.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    .thumbnail_6 {
                      width: 16px;
                      height: 16px;
                      margin: 15px 0 0 79px;
                    }
                    .text_33 {
                      width: 95px;
                      height: 28px;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 20px;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 28px;
                      margin: 9px 39px 0 12px;
                    }
                  }
                }
                .label_5 {
                  position: absolute;
                  left: 54px;
                  top: 32px;
                  width: 38px;
                  height: 48px;
                }
              }
            }
            .group_2 {
              height: 40px;
              background: url(./img/SketchPng322bb883e9b9c1c28850313a6c5119313e0651f8b468d4558a85afe360ef9738.png)
                100% no-repeat;
              background-size: 100% 100%;
              width: 221px;
              position: absolute;
              left: 40px;
              top: 36px;
              .thumbnail_1 {
                width: 16px;
                height: 9px;
                margin: 31px 0 0 29px;
              }
            }
            .block_10 {
              background-color: rgba(5, 237, 255, 1);
              position: absolute;
              left: 59px;
              top: 74px;
              width: 36px;
              height: 3px;
            }
            .block_11 {
              position: absolute;
              left: 40px;
              top: 108px;
              width: 1167px;
              height: 46px;
              background: url(./img/SketchPng4511a8bcfe723b0cdc11c126c79ba36f272447c188fafb38da99b0bff8cea4ca.png)
                100% no-repeat;
              background-size: 100% 100%;
              .box_16 {
                width: 28px;
                height: 28px;
                background: url(./img/SketchPng4d6198231818116a3dfe940aeca2ee0975a7263483a52a2771ed4bc22ac9a19e.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin: 9px 0 0 20px;
              }
              .text_36 {
                width: 80px;
                height: 28px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 20px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 28px;
                margin: 9px 0 0 16px;
              }
              .thumbnail_9 {
                width: 18px;
                height: 18px;
                margin: 13px 0 0 24px;
              }
              .text_37 {
                width: 36px;
                height: 25px;
                overflow-wrap: break-word;
                color: rgba(18, 224, 116, 1);
                font-size: 18px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 25px;
                margin: 10px 0 0 8px;
              }
              .box_32 {
                width: 363px;
                height: 32px;
                background: url(./img/SketchPngf19c166c1647912b9525d9d8bafda5a614bad49eac92f2f60fde50ea731d0fd4.png)
                  100% no-repeat;
                background-size: 100% 100%;
                justify-content: flex-center;
                margin: 6px 0 0 20px;
                .text_51 {
                  width: 80px;
                  height: 22px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 16px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 22px;
                  margin: 5px 0 0 20px;
                }
                .text_52 {
                  width: 164px;
                  height: 22px;
                  overflow-wrap: break-word;
                  color: rgba(195, 203, 239, 1);
                  font-size: 16px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 22px;
                  margin: 5px 0 0 7px;
                }
                .thumbnail_14 {
                  width: 8px;
                  height: 14px;
                  margin: 9px 20px 0 64px;
                }
              }
              .text-wrapper_8 {
                height: 32px;
                background: url(./img/SketchPng8591d357fa3b30645c4dc313e6e1a4153fce142602e629e8fb3b346330338c7a.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 109px;
                margin: 6px 16px 0 429px;
                .text_40 {
                  width: 64px;
                  height: 22px;
                  overflow-wrap: break-word;
                  color: rgba(5, 237, 255, 1);
                  font-size: 16px;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 22px;
                  margin: 5px 0 0 23px;
                }
              }
            }
            .block_12 {
              position: absolute;
              left: 1482px;
              top: 108px;
              width: 398px;
              height: 46px;
              background: url(./img/SketchPng8b9b9af45c2ed824e37ca3cd47652b7f41a5ec5d48858a7851da9397da0243f1.png)
                100% no-repeat;
              background-size: 100% 100%;
              .label_6 {
                width: 24px;
                height: 26px;
                margin: 10px 0 0 20px;
              }
              .text_41 {
                width: 80px;
                height: 28px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 20px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 28px;
                margin: 9px 0 0 16px;
              }
              .thumbnail_12 {
                width: 18px;
                height: 18px;
                margin: 13px 0 0 20px;
              }
              .text_42 {
                width: 36px;
                height: 25px;
                overflow-wrap: break-word;
                color: rgba(18, 224, 116, 1);
                font-size: 18px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 25px;
                margin: 10px 0 0 8px;
              }
              .text-wrapper_9 {
                height: 32px;
                background: url(./img/SketchPng8591d357fa3b30645c4dc313e6e1a4153fce142602e629e8fb3b346330338c7a.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 109px;
                margin: 6px 16px 0 51px;
                .text_43 {
                  width: 64px;
                  height: 22px;
                  overflow-wrap: break-word;
                  color: rgba(5, 237, 255, 1);
                  font-size: 16px;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 22px;
                  margin: 5px 0 0 23px;
                }
              }
            }
            .block_13 {
              height: 38px;
              background: url(./img/SketchPnga2730fe0b561c1b347637b932823e56089901b39a2c55a45a9705f0081188641.png)
                100% no-repeat;
              background-size: 100% 100%;
              width: 38px;
              position: absolute;
              left: 58px;
              top: 32px;
              .box_19 {
                background-color: rgba(10, 32, 54, 1);
                border-radius: 50%;
                height: 24px;
                width: 14px;
                margin: 7px 0 0 23px;
                .block_14 {
                  background-color: rgba(5, 237, 255, 1);
                  border-radius: 50%;
                  height: 18px;
                  width: 10px;
                  margin: 4px 0 0 3px;
                  .image-wrapper_4 {
                    background-color: rgba(10, 32, 54, 1);
                    border-radius: 50%;
                    height: 12px;
                    width: 7px;
                    margin: 2px 0 0 3px;
                    .thumbnail_13 {
                      width: 5px;
                      height: 5px;
                      margin: 2px 0 0 1px;
                    }
                  }
                }
              }
            }
            .image_19 {
              position: absolute;
              left: 84px;
              top: 25px;
              width: 53px;
              height: 52px;
            }
          }
          .block_15 {
            position: absolute;
            left: 0;
            top: 0;
            width: 1920px;
            height: 81px;
            background: url(./img/SketchPng8bfb9525b04946b9ee990ba895bbbf2fe1d617ecbe0fe17f1eb1499633546d0b.png)
              100% no-repeat;
            background-size: 100% 100%;
            .group_31 {
              width: 1406px;
              height: 44px;
              margin: 21px 0 0 514px;
              .image-wrapper_5 {
                height: 40px;
                background: url(./img/SketchPng7c0b08efd057f8b7d0a30415e72be9e4b4bebfb50e056712e01d0502b1ce3572.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-top: 2px;
                width: 221px;
                .image_20 {
                  width: 221px;
                  height: 40px;
                }
              }
              .image-wrapper_6 {
                height: 31px;
                background: url(./img/SketchPnge0121ad55ee7efdab67077a35865dc2d9f0d20dee6f501fc4b053bffbf3c31f7.png)
                  0px 0px no-repeat;
                background-size: 47px 31px;
                width: 46px;
                margin: 11px 0 0 385px;
                .label_7 {
                  width: 46px;
                  height: 31px;
                }
              }
              .text_44 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 113px;
                height: 23px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 20px;
                font-family: Galvji;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 23px;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 14px 0 0 60px;
              }
              .text_45 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 54px;
                height: 25px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 18px;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 25px;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 13px 0 0 24px;
              }
              .text_46 {
                width: 134px;
                height: 38px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 32px;
                font-family: Galvji;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 38px;
                margin: 2px 0 0 24px;
              }
              .box_21 {
                width: 268px;
                height: 44px;
                background: url(./img/SketchPng1e4d73228a4b718bc3dc4e28d9c5f5c1a8fc66587312ac4e714816ee1f16709a.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-left: 77px;
                .label_8 {
                  width: 25px;
                  height: 22px;
                  margin: 12px 0 0 44px;
                }
                .text_47 {
                  background-image: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(135, 145, 206, 1) 100%
                  );
                  width: 36px;
                  height: 25px;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 18px;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 25px;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  margin: 10px 0 0 15px;
                }
                .label_9 {
                  width: 24px;
                  height: 24px;
                  margin: 11px 0 0 32px;
                }
                .text_48 {
                  background-image: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(135, 145, 206, 1) 100%
                  );
                  width: 36px;
                  height: 25px;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 18px;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 25px;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  margin: 10px 40px 0 16px;
                }
              }
            }
            .box_22 {
              background-color: rgba(138, 147, 201, 0.3);
              border-radius: 2px;
              width: 37px;
              height: 3px;
              margin: 9px 0 0 1843px;
            }
            .image_21 {
              width: 1920px;
              height: 1px;
              margin-top: 3px;
            }
            .box_23 {
              height: 19px;
              background: url(./img/SketchPng1031b39c26628ea3f673aa44e678ff5b0307d28c1fdcefc3144c79b6ad8ccf1a.png)
                0px -1px no-repeat;
              background-size: 1803px 22px;
              width: 1803px;
              position: absolute;
              left: 0;
              top: 71px;
              .group_24 {
                position: relative;
                width: 704px;
                height: 9px;
                background: url(./img/SketchPng4f3f5454a09f7b4e228e66fa142d41b47ddce486367077f069311523b769af74.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin: 5px 0 0 644px;
                .box_24 {
                  background-color: rgba(138, 147, 201, 0.4);
                  border-radius: 2px;
                  position: absolute;
                  left: 582px;
                  top: -2px;
                  width: 20px;
                  height: 3px;
                }
                .box_25 {
                  background-color: rgba(138, 147, 201, 0.2);
                  border-radius: 2px;
                  position: absolute;
                  left: 612px;
                  top: -2px;
                  width: 20px;
                  height: 3px;
                }
                .box_26 {
                  background-color: rgba(138, 147, 201, 0.1);
                  border-radius: 2px;
                  position: absolute;
                  left: 642px;
                  top: -2px;
                  width: 20px;
                  height: 3px;
                }
                .box_27 {
                  background-color: rgba(138, 147, 201, 0.3);
                  border-radius: 2px;
                  position: absolute;
                  left: 107px;
                  top: -2px;
                  width: 37px;
                  height: 3px;
                }
              }
            }
            .box_28 {
              position: absolute;
              left: -90px;
              top: 8px;
              width: 525px;
              height: 72px;
              background: url(./img/SketchPng23ac035b487469d5468183e970040279c5d221a880a47ba092820927c4face04.png)
                100% no-repeat;
              background-size: 100% 100%;
              .label_10 {
                width: 34px;
                height: 44px;
                margin: 10px 0 0 137px;
              }
              .group_32 {
                width: 264px;
                height: 58px;
                margin: 12px 90px 0 0;
                .text_49 {
                  background-image: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(199, 207, 243, 1) 100%
                  );
                  width: 168px;
                  height: 40px;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 28px;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 40px;
                  margin-left: 26px;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
                .section_5 {
                  height: 17px;
                  background: url(./img/SketchPng35d24bc1167d062a3550f34ee9a0a1ef5219ae697bd5ecfca023c5777c82e810.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  margin-top: 1px;
                  width: 264px;
                  .group_25 {
                    height: 11px;
                    background: url(./img/SketchPngd30118be47d2468d7af566c0316736409d70476c34f6ab8d2b5e7e9fcfdcb000.png) -16px -16px
                      no-repeat;
                    background-size: 50px 43px;
                    width: 18px;
                    margin: 5px 0 0 122px;
                    .group_26 {
                      width: 10px;
                      height: 6px;
                      background: url(./img/SketchPng13a67309e5940cb64f0e9ff1bcf6ededb4c5df0a6478368b671429acdd76e31c.png) -6px -7px
                        no-repeat;
                      background-size: 22px 20px;
                      margin: 1px 0 0 4px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
