.page {
  position: relative;
  width: 100vw;
  height: 56.25vw;
  overflow: hidden;
  .box_1 {
    height: 56.25vw;
    background: url(./img/SketchPngbb6059bde37e68ee3ee2aa8c68602bde41d3d4a08c581290a475df0ad9cbd256.png)
      100% no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    .section_1 {
      height: 56.25vw;
      background: url(./img/SketchPng003d839e0e4f6604a62d8d019e74e6879ac55ac571dfb59c7c9299e1136667b2.png)
        100% no-repeat;
      background-size: 100% 100%;
      width: 100vw;
      .box_2 {
        background-color: rgba(8, 12, 36, 0.7);
        border-radius: 8px;
        height: 56.25vw;
        width: 100vw;
        .group_1 {
          background-color: rgba(2, 12, 59, 0.8);
          height: 56.25vw;
          width: 100vw;
          position: relative;
          .box_29 {
            position: relative;
            width: 100vw;
            height: 52.09vw;
            margin-top: 4.22vw;
            .box_30 {
              width: 91.41vw;
              height: 2.09vw;
              margin: 1.77vw 0 0 6.51vw;
              .text_1 {
                width: 14.59vw;
                height: 1.46vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 1.04vw;
                font-family: PingFangSC-Medium;
                font-weight: 500;
                text-align: left;
                white-space: nowrap;
                line-height: 1.46vw;
                margin-top: 0.21vw;
              }
              .text_50 {
                width: 10.68vw;
                height: 1.46vw;
                overflow-wrap: break-word;
                color: rgba(195, 203, 239, 1);
                font-size: 1.04vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.46vw;
                margin-top: 0.27vw;
              }
              .label_11 {
                width: 1.25vw;
                height: 1.25vw;
                margin: 0.36vw 0 0 3.33vw;
              }
              .group_3 {
                width: 11.52vw;
                height: 2.09vw;
                background: url(./img/SketchPng26c6bc9dff4bab1214fafa9c84b91aea40326d7c93f82411c31228fe20f25fd5.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-left: 50.06vw;
                .text_2 {
                  width: 3.34vw;
                  height: 1.15vw;
                  overflow-wrap: break-word;
                  color: rgba(0, 237, 255, 1);
                  font-size: 0.83vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.15vw;
                  margin: 0.41vw 0 0 6.71vw;
                }
                .thumbnail_2 {
                  width: 0.84vw;
                  height: 0.84vw;
                  margin: 0.57vw 0 0 0.62vw;
                }
              }
            }
            .image_1 {
              width: 95.84vw;
              height: 0.06vw;
              margin: 0.1vw 0 0 2.08vw;
            }
            .box_31 {
              width: 95.84vw;
              height: 23.55vw;
              margin: 3.95vw 0 20.57vw 2.08vw;
              .group_4 {
                height: 23.55vw;
                background: url(./img/SketchPng08f90f54e2769f41da45798210c7b2063ce59a021fdebc995368edfc0bb71fda.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 60.73vw;
                position: relative;
                .block_17 {
                  width: 49.95vw;
                  height: 2.5vw;
                  margin: 1.66vw 0 0 0.98vw;
                  .section_2 {
                    width: 13.81vw;
                    height: 2.5vw;
                    background: url(./img/SketchPng4c3a9c448571642deed7319c06f9616b73a2857addc02317002397642f5f45bf.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                  }
                  .image_2 {
                    width: 13.81vw;
                    height: 2.5vw;
                  }
                }
                .block_18 {
                  width: 58.65vw;
                  height: 13.34vw;
                  margin: 1.66vw 0 4.37vw 1.04vw;
                  .section_6 {
                    width: 13.39vw;
                    height: 9.59vw;
                    .image_3 {
                      width: 11.57vw;
                      height: 0.47vw;
                      margin-left: 0.94vw;
                    }
                    .group_7 {
                      width: 13.39vw;
                      height: 9.07vw;
                      background: url(./img/SketchPngde3f09057184d63368c9f73e952f0ab2a1c514abfd3a5b488c5cff0b46c00630.png)
                        100% no-repeat;
                      background-size: 100% 100%;
                      margin-top: 0.06vw;
                    }
                  }
                  .section_7 {
                    width: 12.5vw;
                    height: 9.38vw;
                    margin: 3.95vw 0 0 0.2vw;
                    .text-wrapper_10 {
                      width: 7.61vw;
                      height: 1.46vw;
                      margin-left: 1.05vw;
                      .text_3 {
                        width: 4.38vw;
                        height: 1.05vw;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.72vw;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.05vw;
                        margin-top: 0.32vw;
                      }
                      .text_4 {
                        width: 2.45vw;
                        height: 1.46vw;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 1.25vw;
                        font-family: DINAlternate-Bold;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.46vw;
                        margin-left: -0.15vw;
                      }
                      .text_5 {
                        width: 0.73vw;
                        height: 1.05vw;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.72vw;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.05vw;
                        margin: 0.31vw 0 0 0.2vw;
                      }
                    }
                    .image-text_7 {
                      width: 5.73vw;
                      height: 1.15vw;
                      margin: 0.46vw 0 0 1.09vw;
                      .box_5 {
                        background-color: rgba(18, 224, 116, 1);
                        border-radius: 50%;
                        width: 0.42vw;
                        height: 0.42vw;
                        margin-top: 0.37vw;
                      }
                      .text-group_1 {
                        width: 5vw;
                        height: 1.15vw;
                        overflow-wrap: break-word;
                        color: rgba(18, 224, 116, 1);
                        font-size: 0.83vw;
                        font-family: PingFangSC-Medium;
                        font-weight: 500;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.15vw;
                      }
                    }
                    .image-text_8 {
                      width: 12.5vw;
                      height: 5.68vw;
                      margin-top: 0.63vw;
                      .image_4 {
                        width: 12.5vw;
                        height: 1.05vw;
                      }
                      .text-group_8 {
                        width: 11.41vw;
                        height: 3.55vw;
                        margin: 1.09vw 0 0 0.93vw;
                        .text_6 {
                          width: 11.41vw;
                          height: 1.05vw;
                          overflow-wrap: break-word;
                          color: rgba(199, 207, 243, 1);
                          font-size: 0.72vw;
                          font-weight: NaN;
                          text-align: left;
                          white-space: nowrap;
                          line-height: 1.05vw;
                        }
                        .text_7 {
                          width: 11.41vw;
                          height: 1.05vw;
                          overflow-wrap: break-word;
                          color: rgba(199, 207, 243, 1);
                          font-size: 0.72vw;
                          font-weight: NaN;
                          text-align: left;
                          white-space: nowrap;
                          line-height: 1.05vw;
                          margin-top: 0.21vw;
                        }
                        .text_8 {
                          width: 5.16vw;
                          height: 1.05vw;
                          overflow-wrap: break-word;
                          color: rgba(199, 207, 243, 1);
                          font-size: 0.72vw;
                          font-weight: NaN;
                          text-align: left;
                          white-space: nowrap;
                          line-height: 1.05vw;
                          margin-top: 0.21vw;
                        }
                      }
                    }
                  }
                  .box_6 {
                    width: 31.78vw;
                    height: 9.54vw;
                    background: url(./img/SketchPng26087f9f495cb55554706572ce2d275e163cb83547f1c209c7f2b467ae72bfda.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    margin: 0.15vw 0 0 0.78vw;
                  }
                }
                .group_8 {
                  position: absolute;
                  left: 0.99vw;
                  top: 7.19vw;
                  width: 13.49vw;
                  height: 14.17vw;
                  background: url(./img/SketchPngb054da0c7e6fe59ca5d9be9772d4c751bff67fb867ff3765e8902bf339423009.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .image_5 {
                    width: 5.32vw;
                    height: 8.23vw;
                    margin: 1.61vw 0 0 4.06vw;
                  }
                  .text_9 {
                    width: 3.08vw;
                    height: 1.15vw;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 0.83vw;
                    font-family: PingFangSC-Medium;
                    font-weight: 500;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.15vw;
                    margin: 1.04vw 0 2.13vw 5.2vw;
                  }
                  .group_9 {
                    height: 2.71vw;
                    background: url(./img/SketchPng0ca5ae8d9b632bf7f2dd1003b644ab36ffbcc1dc0a785d5eda38240f86013ad4.png) -0.06vw -0.06vw
                      no-repeat;
                    background-size: 13.48vw 2.76vw;
                    width: 13.39vw;
                    position: absolute;
                    left: 0.06vw;
                    top: -0.83vw;
                    .group_10 {
                      background-color: rgba(69, 75, 105, 1);
                      width: 1.1vw;
                      height: 0.21vw;
                      margin: 0.62vw 0 0 0.83vw;
                    }
                  }
                }
                .group_11 {
                  position: absolute;
                  left: 27.92vw;
                  top: 7.19vw;
                  width: 31.05vw;
                  height: 14.17vw;
                  background: url(./img/SketchPngf091b8f608720abbbc014cdec144a4ef1e04b66c12b512e83ae1ecf1415d6f44.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .group_27 {
                    width: 7.92vw;
                    height: 8.49vw;
                    margin: 3.54vw 0 0 1.25vw;
                    .image_6 {
                      width: 7.92vw;
                      height: 6.2vw;
                    }
                    .text_10 {
                      width: 3.08vw;
                      height: 1.15vw;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.83vw;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.15vw;
                      margin: 1.14vw 0 0 2.29vw;
                    }
                  }
                  .group_28 {
                    width: 12.5vw;
                    height: 9.38vw;
                    margin: 2.6vw 0 0 0.62vw;
                    .text-wrapper_11 {
                      width: 7.61vw;
                      height: 1.46vw;
                      margin-left: 1.25vw;
                      .text_11 {
                        width: 4.38vw;
                        height: 1.05vw;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.72vw;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.05vw;
                        margin-top: 0.32vw;
                      }
                      .text_12 {
                        width: 2.45vw;
                        height: 1.46vw;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 1.25vw;
                        font-family: DINAlternate-Bold;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.46vw;
                        margin-left: -0.15vw;
                      }
                      .text_13 {
                        width: 0.73vw;
                        height: 1.05vw;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.72vw;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.05vw;
                        margin: 0.31vw 0 0 0.2vw;
                      }
                    }
                    .image-text_9 {
                      width: 5.73vw;
                      height: 1.15vw;
                      margin: 0.46vw 0 0 1.3vw;
                      .section_3 {
                        background-color: rgba(18, 224, 116, 1);
                        border-radius: 50%;
                        width: 0.42vw;
                        height: 0.42vw;
                        margin-top: 0.37vw;
                      }
                      .text-group_3 {
                        width: 5vw;
                        height: 1.15vw;
                        overflow-wrap: break-word;
                        color: rgba(18, 224, 116, 1);
                        font-size: 0.83vw;
                        font-family: PingFangSC-Medium;
                        font-weight: 500;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.15vw;
                      }
                    }
                    .image_7 {
                      width: 12.5vw;
                      height: 1.05vw;
                      margin-top: 0.63vw;
                    }
                    .text-group_9 {
                      width: 11.41vw;
                      height: 3.55vw;
                      margin: 1.09vw 0 0 1.09vw;
                      .text_14 {
                        width: 11.41vw;
                        height: 1.05vw;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.72vw;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.05vw;
                      }
                      .text_15 {
                        width: 11.41vw;
                        height: 1.05vw;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.72vw;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.05vw;
                        margin-top: 0.21vw;
                      }
                      .text_16 {
                        width: 5.16vw;
                        height: 1.05vw;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.72vw;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.05vw;
                        margin-top: 0.21vw;
                      }
                    }
                  }
                  .group_29 {
                    width: 8.39vw;
                    height: 9.02vw;
                    margin: 3.02vw -0.1vw 0 0.46vw;
                    .image_8 {
                      width: 8.39vw;
                      height: 7.09vw;
                    }
                    .text_17 {
                      width: 4.74vw;
                      height: 1.15vw;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.83vw;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.15vw;
                      margin: 0.78vw 0 0 1.77vw;
                    }
                  }
                  .group_15 {
                    background-color: rgba(69, 75, 105, 1);
                    position: absolute;
                    left: 1.25vw;
                    top: -0.1vw;
                    width: 1.05vw;
                    height: 0.21vw;
                  }
                }
                .image-wrapper_2 {
                  height: 3.44vw;
                  background: url(./img/SketchPng22756d63fba0190f627f4459a42c64872e9322db1f4884dbb6bbd14712f6f38a.png) -0.06vw -0.06vw
                    no-repeat;
                  background-size: 31.87vw 3.48vw;
                  width: 31.78vw;
                  position: absolute;
                  left: 27.92vw;
                  top: 5.99vw;
                  .image_9 {
                    width: 17.71vw;
                    height: 0.47vw;
                    margin: -0.15vw 0 0 6.77vw;
                  }
                }
                .image_10 {
                  position: absolute;
                  left: 27.92vw;
                  top: 18.7vw;
                  width: 31.78vw;
                  height: 3.44vw;
                }
                .image_11 {
                  position: absolute;
                  left: 1.05vw;
                  top: 19.07vw;
                  width: 13.39vw;
                  height: 2.71vw;
                }
                .group_16 {
                  position: absolute;
                  left: 0.99vw;
                  top: 1.67vw;
                  width: 13.86vw;
                  height: 2.5vw;
                  background: url(./img/SketchPngc1131dfee6ef9b863b1a450d82a0d2c064636e1ff105e51d3c406f79d88ec4d8.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .box_7 {
                    width: 0.06vw;
                    height: 1.57vw;
                    background: url(./img/SketchPng5243dde6fe2743ff56d7a093dbdf084393840820114e6b623c184861d10cfa32.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    margin-top: 0.63vw;
                  }
                  .box_8 {
                    background-image: url(./img/e74d252c729c492c9b2468b2c8035bb1_mergeImage.png);
                    width: 12.56vw;
                    height: 2.45vw;
                    margin-top: 0.06vw;
                    .thumbnail_3 {
                      width: 0.84vw;
                      height: 0.84vw;
                      margin: 0.78vw 0 0 3.33vw;
                    }
                    .text_18 {
                      width: 4.9vw;
                      height: 1.46vw;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 1.04vw;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.46vw;
                      margin: 0.46vw 2.86vw 0 0.62vw;
                    }
                  }
                  .box_9 {
                    height: 2.5vw;
                    background: url(./img/SketchPngbc1707d70a7dc6496784d142fe8001e70da1776ba52ca1c31df3c4f669423a52.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    margin-left: -0.05vw;
                    width: 1.31vw;
                    .box_10 {
                      width: 11.67vw;
                      height: 0.06vw;
                      background: url(./img/SketchPng7ba0b55c094cd82689342276cc568312f2606fb2ec4cbfa80c7a1d09ca4c6a2f.png)
                        100% no-repeat;
                      background-size: 100% 100%;
                      margin-left: -11.61vw;
                    }
                  }
                }
                .label_1 {
                  position: absolute;
                  left: 13.86vw;
                  top: 1.67vw;
                  width: 1.98vw;
                  height: 2.5vw;
                }
                .group_17 {
                  position: absolute;
                  left: 37.14vw;
                  top: 1.67vw;
                  width: 13.86vw;
                  height: 2.5vw;
                  background: url(./img/SketchPnge655b4f9e753d9553492f3d5a2564c9800d592c86f8c99ef07d766b659cedcb6.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .box_11 {
                    height: 2.5vw;
                    background: url(./img/SketchPnge50cf4452d4a53332bb7eb2b933f0c0b6bb65d44e6341a4599437595767a61bc.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    width: 1.1vw;
                    .block_4 {
                      width: 12.56vw;
                      height: 0.06vw;
                      background: url(./img/SketchPngc2f97d8548d9193b2a2368da0858c2a884717fa205d2f6e53e7922ad7e5ac5d8.png)
                        100% no-repeat;
                      background-size: 100% 100%;
                      margin-left: 0.06vw;
                    }
                  }
                  .label_2 {
                    width: 1.31vw;
                    height: 2.5vw;
                  }
                  .box_12 {
                    position: absolute;
                    left: 0;
                    top: 0.06vw;
                    width: 12.56vw;
                    height: 2.45vw;
                    background: url(./img/f1f76ec8bc0f4a9984aa43fe2527e5d2_mergeImage.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    .thumbnail_4 {
                      width: 0.84vw;
                      height: 0.84vw;
                      margin: 0.78vw 0 0 3.9vw;
                    }
                    .text_19 {
                      width: 4.17vw;
                      height: 1.46vw;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 1.04vw;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.46vw;
                      margin: 0.46vw 3.02vw 0 0.62vw;
                    }
                  }
                }
                .label_3 {
                  position: absolute;
                  left: 50vw;
                  top: 1.67vw;
                  width: 1.98vw;
                  height: 2.5vw;
                }
                .group_18 {
                  position: absolute;
                  left: 16.05vw;
                  top: 2.09vw;
                  width: 21.15vw;
                  height: 1.67vw;
                  background: url(./img/SketchPng0f9e77e944ee60dcd603c30a56151e72bf7e983581d45c4705821732629bd13a.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .thumbnail_5 {
                    width: 0.84vw;
                    height: 0.84vw;
                    margin: 0.46vw 0 0 3.69vw;
                  }
                  .text_20 {
                    width: 3.34vw;
                    height: 1.15vw;
                    overflow-wrap: break-word;
                    color: rgba(18, 224, 116, 1);
                    font-size: 0.83vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.15vw;
                    margin: 0.26vw 0 0 0.41vw;
                  }
                  .text_21 {
                    width: 4.28vw;
                    height: 1.05vw;
                    overflow-wrap: break-word;
                    color: rgba(195, 203, 239, 1);
                    font-size: 0.72vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.05vw;
                    margin: 0.36vw 0 0 1.04vw;
                  }
                  .text_22 {
                    width: 3.03vw;
                    height: 1.05vw;
                    overflow-wrap: break-word;
                    color: rgba(195, 203, 239, 1);
                    font-size: 0.72vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.05vw;
                    margin: 0.36vw 4.11vw 0 0.41vw;
                  }
                }
              }
              .group_30 {
                width: 12.5vw;
                height: 9.38vw;
                margin: 9.79vw 0 0 0.52vw;
                .text-wrapper_12 {
                  width: 7.61vw;
                  height: 1.46vw;
                  margin-left: 1.1vw;
                  .text_23 {
                    width: 4.38vw;
                    height: 1.05vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.72vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.05vw;
                    margin-top: 0.32vw;
                  }
                  .text_24 {
                    width: 2.45vw;
                    height: 1.46vw;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 1.25vw;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.46vw;
                    margin-left: -0.15vw;
                  }
                  .text_25 {
                    width: 0.73vw;
                    height: 1.05vw;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.72vw;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.05vw;
                    margin: 0.31vw 0 0 0.2vw;
                  }
                }
                .image-text_10 {
                  width: 5.73vw;
                  height: 1.15vw;
                  margin: 0.46vw 0 0 1.19vw;
                  .group_20 {
                    background-color: rgba(18, 224, 116, 1);
                    border-radius: 50%;
                    width: 0.42vw;
                    height: 0.42vw;
                    margin-top: 0.37vw;
                  }
                  .text-group_5 {
                    width: 5vw;
                    height: 1.15vw;
                    overflow-wrap: break-word;
                    color: rgba(18, 224, 116, 1);
                    font-size: 0.83vw;
                    font-family: PingFangSC-Medium;
                    font-weight: 500;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.15vw;
                  }
                }
                .image-text_11 {
                  width: 12.5vw;
                  height: 5.68vw;
                  margin-top: 0.63vw;
                  .image_12 {
                    width: 12.5vw;
                    height: 1.05vw;
                  }
                  .text-group_10 {
                    width: 11.41vw;
                    height: 3.55vw;
                    margin: 1.09vw 0 0 1.09vw;
                    .text_26 {
                      width: 11.41vw;
                      height: 1.05vw;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 0.72vw;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.05vw;
                    }
                    .text_27 {
                      width: 11.41vw;
                      height: 1.05vw;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 0.72vw;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.05vw;
                      margin-top: 0.21vw;
                    }
                    .text_28 {
                      width: 5.16vw;
                      height: 1.05vw;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 0.72vw;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.05vw;
                      margin-top: 0.21vw;
                    }
                  }
                }
              }
              .group_21 {
                position: relative;
                width: 20.73vw;
                height: 23.55vw;
                background: url(./img/SketchPng6462907548f3e68350a26a0136e5b5c1ec9cfd4325b42bd4efa63c3970a2aa27.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-left: 1.36vw;
                .image_13 {
                  width: 13.81vw;
                  height: 2.5vw;
                  margin: 1.66vw 0 0 4.06vw;
                }
                .image_14 {
                  width: 17.19vw;
                  height: 0.47vw;
                  margin: 1.82vw 0 0 1.82vw;
                }
                .block_5 {
                  background-color: rgba(69, 75, 105, 1);
                  width: 1.05vw;
                  height: 0.21vw;
                  margin: 0.62vw 0 16.25vw 2.13vw;
                }
                .block_6 {
                  position: absolute;
                  left: 1.05vw;
                  top: 6.52vw;
                  width: 18.65vw;
                  height: 9.12vw;
                  background: url(./img/SketchPng87c8beca0008cac6d15f1705748fe6e76c75373546d249849b2d4defd3ba4922.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .text-wrapper_5 {
                    width: 7.24vw;
                    height: 1.05vw;
                    overflow-wrap: break-word;
                    font-size: 0;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.05vw;
                    margin: 1.66vw 0 0 1.09vw;
                    .text_29 {
                      width: 7.24vw;
                      height: 1.05vw;
                      overflow-wrap: break-word;
                      color: rgba(189, 197, 233, 1);
                      font-size: 0.72vw;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.05vw;
                    }
                    .text_30 {
                      width: 7.24vw;
                      height: 1.05vw;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.72vw;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.05vw;
                    }
                  }
                  .text-wrapper_6 {
                    width: 6.62vw;
                    height: 1.05vw;
                    overflow-wrap: break-word;
                    font-size: 0;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 1.05vw;
                    margin: 0.41vw 0 4.94vw 1.09vw;
                    .text_31 {
                      width: 6.62vw;
                      height: 1.05vw;
                      overflow-wrap: break-word;
                      color: rgba(189, 197, 233, 1);
                      font-size: 0.72vw;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.05vw;
                    }
                    .text_32 {
                      width: 6.62vw;
                      height: 1.05vw;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.72vw;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.05vw;
                    }
                  }
                  .box_13 {
                    position: absolute;
                    left: 2.77vw;
                    top: 1.1vw;
                    width: 13.49vw;
                    height: 14.17vw;
                    background: url(./img/SketchPngb054da0c7e6fe59ca5d9be9772d4c751bff67fb867ff3765e8902bf339423009.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    .image-text_12 {
                      width: 10.73vw;
                      height: 8.08vw;
                      margin: 3.54vw 0 0 1.92vw;
                      .image_15 {
                        width: 10.73vw;
                        height: 6.46vw;
                      }
                      .text-group_7 {
                        width: 3.13vw;
                        height: 1.15vw;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 0.83vw;
                        font-family: PingFangSC-Medium;
                        font-weight: 500;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 1.15vw;
                        margin: 0.46vw 0 0 3.8vw;
                      }
                    }
                  }
                }
                .block_7 {
                  height: 2.71vw;
                  background: url(./img/SketchPng6ad5827351cb21cce2db2ea000e6e5e74f6ecf76d674a4753b4ff088d8e04d3b.png) -0.06vw -0.06vw
                    no-repeat;
                  background-size: 18.75vw 2.76vw;
                  width: 18.65vw;
                  position: absolute;
                  left: 1.05vw;
                  top: 6.52vw;
                  .group_22 {
                    background-color: rgba(69, 75, 105, 1);
                    width: 1.1vw;
                    height: 0.21vw;
                    margin: 2.03vw 0 0 1.09vw;
                  }
                }
                .image_16 {
                  position: absolute;
                  left: 1.05vw;
                  top: 19.22vw;
                  width: 18.65vw;
                  height: 2.71vw;
                }
                .block_8 {
                  height: 2.5vw;
                  background: url(./img/SketchPng88a75f09d98824bc443fa519ba2439117299c74cb7ea1040450ee8b79989faeb.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 13.96vw;
                  position: absolute;
                  left: 3.96vw;
                  top: 1.67vw;
                  .label_4 {
                    width: 1.2vw;
                    height: 2.5vw;
                  }
                  .box_14 {
                    position: absolute;
                    left: 0.06vw;
                    top: 0.06vw;
                    width: 12.56vw;
                    height: 2.45vw;
                    background: url(./img/b5d1487df6484918ad9f0fb11dd85b0a_mergeImage.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    .thumbnail_6 {
                      width: 0.84vw;
                      height: 0.84vw;
                      margin: 0.78vw 0 0 4.11vw;
                    }
                    .text_33 {
                      width: 4.95vw;
                      height: 1.46vw;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 1.04vw;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 1.46vw;
                      margin: 0.46vw 2.03vw 0 0.62vw;
                    }
                  }
                }
                .label_5 {
                  position: absolute;
                  left: 2.82vw;
                  top: 1.67vw;
                  width: 1.98vw;
                  height: 2.5vw;
                }
              }
            }
            .group_2 {
              height: 2.09vw;
              background: url(./img/SketchPng322bb883e9b9c1c28850313a6c5119313e0651f8b468d4558a85afe360ef9738.png)
                100% no-repeat;
              background-size: 100% 100%;
              width: 11.52vw;
              position: absolute;
              left: 2.09vw;
              top: 1.88vw;
              .thumbnail_1 {
                width: 0.84vw;
                height: 0.47vw;
                margin: 1.61vw 0 0 1.51vw;
              }
            }
            .block_10 {
              background-color: rgba(5, 237, 255, 1);
              position: absolute;
              left: 3.08vw;
              top: 3.86vw;
              width: 1.88vw;
              height: 0.16vw;
            }
            .block_11 {
              position: absolute;
              left: 2.09vw;
              top: 5.63vw;
              width: 60.79vw;
              height: 2.4vw;
              background: url(./img/SketchPng4511a8bcfe723b0cdc11c126c79ba36f272447c188fafb38da99b0bff8cea4ca.png)
                100% no-repeat;
              background-size: 100% 100%;
              .box_16 {
                width: 1.46vw;
                height: 1.46vw;
                background: url(./img/SketchPng4d6198231818116a3dfe940aeca2ee0975a7263483a52a2771ed4bc22ac9a19e.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin: 0.46vw 0 0 1.04vw;
              }
              .text_36 {
                width: 4.17vw;
                height: 1.46vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 1.04vw;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 1.46vw;
                margin: 0.46vw 0 0 0.83vw;
              }
              .thumbnail_9 {
                width: 0.94vw;
                height: 0.94vw;
                margin: 0.67vw 0 0 1.25vw;
              }
              .text_37 {
                width: 1.88vw;
                height: 1.31vw;
                overflow-wrap: break-word;
                color: rgba(18, 224, 116, 1);
                font-size: 0.93vw;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 1.31vw;
                margin: 0.52vw 0 0 0.41vw;
              }
              .box_32 {
                width: 18.91vw;
                height: 1.67vw;
                background: url(./img/SketchPngf19c166c1647912b9525d9d8bafda5a614bad49eac92f2f60fde50ea731d0fd4.png)
                  100% no-repeat;
                background-size: 100% 100%;
                justify-content: flex-center;
                margin: 0.31vw 0 0 1.04vw;
                .text_51 {
                  width: 4.17vw;
                  height: 1.15vw;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.83vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.15vw;
                  margin: 0.26vw 0 0 1.04vw;
                }
                .text_52 {
                  width: 8.55vw;
                  height: 1.15vw;
                  overflow-wrap: break-word;
                  color: rgba(195, 203, 239, 1);
                  font-size: 0.83vw;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.15vw;
                  margin: 0.26vw 0 0 0.36vw;
                }
                .thumbnail_14 {
                  width: 0.42vw;
                  height: 0.73vw;
                  margin: 0.46vw 1.04vw 0 3.33vw;
                }
              }
              .text-wrapper_8 {
                height: 1.67vw;
                background: url(./img/SketchPng8591d357fa3b30645c4dc313e6e1a4153fce142602e629e8fb3b346330338c7a.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 5.68vw;
                margin: 0.31vw 0.83vw 0 22.34vw;
                .text_40 {
                  width: 3.34vw;
                  height: 1.15vw;
                  overflow-wrap: break-word;
                  color: rgba(5, 237, 255, 1);
                  font-size: 0.83vw;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.15vw;
                  margin: 0.26vw 0 0 1.19vw;
                }
              }
            }
            .block_12 {
              position: absolute;
              left: 77.19vw;
              top: 5.63vw;
              width: 20.73vw;
              height: 2.4vw;
              background: url(./img/SketchPng8b9b9af45c2ed824e37ca3cd47652b7f41a5ec5d48858a7851da9397da0243f1.png)
                100% no-repeat;
              background-size: 100% 100%;
              .label_6 {
                width: 1.25vw;
                height: 1.36vw;
                margin: 0.52vw 0 0 1.04vw;
              }
              .text_41 {
                width: 4.17vw;
                height: 1.46vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 1.04vw;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 1.46vw;
                margin: 0.46vw 0 0 0.83vw;
              }
              .thumbnail_12 {
                width: 0.94vw;
                height: 0.94vw;
                margin: 0.67vw 0 0 1.04vw;
              }
              .text_42 {
                width: 1.88vw;
                height: 1.31vw;
                overflow-wrap: break-word;
                color: rgba(18, 224, 116, 1);
                font-size: 0.93vw;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 1.31vw;
                margin: 0.52vw 0 0 0.41vw;
              }
              .text-wrapper_9 {
                height: 1.67vw;
                background: url(./img/SketchPng8591d357fa3b30645c4dc313e6e1a4153fce142602e629e8fb3b346330338c7a.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 5.68vw;
                margin: 0.31vw 0.83vw 0 2.65vw;
                .text_43 {
                  width: 3.34vw;
                  height: 1.15vw;
                  overflow-wrap: break-word;
                  color: rgba(5, 237, 255, 1);
                  font-size: 0.83vw;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.15vw;
                  margin: 0.26vw 0 0 1.19vw;
                }
              }
            }
            .block_13 {
              height: 1.98vw;
              background: url(./img/SketchPnga2730fe0b561c1b347637b932823e56089901b39a2c55a45a9705f0081188641.png)
                100% no-repeat;
              background-size: 100% 100%;
              width: 1.98vw;
              position: absolute;
              left: 3.03vw;
              top: 1.67vw;
              .box_19 {
                background-color: rgba(10, 32, 54, 1);
                border-radius: 50%;
                height: 1.25vw;
                width: 0.73vw;
                margin: 0.36vw 0 0 1.19vw;
                .block_14 {
                  background-color: rgba(5, 237, 255, 1);
                  border-radius: 50%;
                  height: 0.94vw;
                  width: 0.53vw;
                  margin: 0.2vw 0 0 0.15vw;
                  .image-wrapper_4 {
                    background-color: rgba(10, 32, 54, 1);
                    border-radius: 50%;
                    height: 0.63vw;
                    width: 0.37vw;
                    margin: 0.1vw 0 0 0.15vw;
                    .thumbnail_13 {
                      width: 0.27vw;
                      height: 0.27vw;
                      margin: 0.1vw 0 0 0.05vw;
                    }
                  }
                }
              }
            }
            .image_19 {
              position: absolute;
              left: 4.38vw;
              top: 1.31vw;
              width: 2.77vw;
              height: 2.71vw;
            }
          }
          .block_15 {
            position: absolute;
            left: 0;
            top: 0;
            width: 100vw;
            height: 4.22vw;
            background: url(./img/SketchPng8bfb9525b04946b9ee990ba895bbbf2fe1d617ecbe0fe17f1eb1499633546d0b.png)
              100% no-repeat;
            background-size: 100% 100%;
            .group_31 {
              width: 73.23vw;
              height: 2.3vw;
              margin: 1.09vw 0 0 26.77vw;
              .image-wrapper_5 {
                height: 2.09vw;
                background: url(./img/SketchPng7c0b08efd057f8b7d0a30415e72be9e4b4bebfb50e056712e01d0502b1ce3572.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-top: 0.11vw;
                width: 11.52vw;
                .image_20 {
                  width: 11.52vw;
                  height: 2.09vw;
                }
              }
              .image-wrapper_6 {
                height: 1.62vw;
                background: url(./img/SketchPnge0121ad55ee7efdab67077a35865dc2d9f0d20dee6f501fc4b053bffbf3c31f7.png)
                  0vw 0vw no-repeat;
                background-size: 2.44vw 1.61vw;
                width: 2.4vw;
                margin: 0.57vw 0 0 20.05vw;
                .label_7 {
                  width: 2.4vw;
                  height: 1.62vw;
                }
              }
              .text_44 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 5.89vw;
                height: 1.2vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 1.04vw;
                font-family: Galvji;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.2vw;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0.72vw 0 0 3.12vw;
              }
              .text_45 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 2.82vw;
                height: 1.31vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.93vw;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.31vw;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0.67vw 0 0 1.25vw;
              }
              .text_46 {
                width: 6.98vw;
                height: 1.98vw;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 1.66vw;
                font-family: Galvji;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 1.98vw;
                margin: 0.1vw 0 0 1.25vw;
              }
              .box_21 {
                width: 13.96vw;
                height: 2.3vw;
                background: url(./img/SketchPng1e4d73228a4b718bc3dc4e28d9c5f5c1a8fc66587312ac4e714816ee1f16709a.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-left: 4.02vw;
                .label_8 {
                  width: 1.31vw;
                  height: 1.15vw;
                  margin: 0.62vw 0 0 2.29vw;
                }
                .text_47 {
                  background-image: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(135, 145, 206, 1) 100%
                  );
                  width: 1.88vw;
                  height: 1.31vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.93vw;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.31vw;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  margin: 0.52vw 0 0 0.78vw;
                }
                .label_9 {
                  width: 1.25vw;
                  height: 1.25vw;
                  margin: 0.57vw 0 0 1.66vw;
                }
                .text_48 {
                  background-image: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(135, 145, 206, 1) 100%
                  );
                  width: 1.88vw;
                  height: 1.31vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.93vw;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 1.31vw;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  margin: 0.52vw 2.08vw 0 0.83vw;
                }
              }
            }
            .box_22 {
              background-color: rgba(138, 147, 201, 0.3);
              border-radius: 2px;
              width: 1.93vw;
              height: 0.16vw;
              margin: 0.46vw 0 0 95.98vw;
            }
            .image_21 {
              width: 100vw;
              height: 0.06vw;
              margin-top: 0.16vw;
            }
            .box_23 {
              height: 0.99vw;
              background: url(./img/SketchPng1031b39c26628ea3f673aa44e678ff5b0307d28c1fdcefc3144c79b6ad8ccf1a.png)
                0vw -0.06vw no-repeat;
              background-size: 93.9vw 1.14vw;
              width: 93.91vw;
              position: absolute;
              left: 0;
              top: 3.7vw;
              .group_24 {
                position: relative;
                width: 36.67vw;
                height: 0.47vw;
                background: url(./img/SketchPng4f3f5454a09f7b4e228e66fa142d41b47ddce486367077f069311523b769af74.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin: 0.26vw 0 0 33.54vw;
                .box_24 {
                  background-color: rgba(138, 147, 201, 0.4);
                  border-radius: 2px;
                  position: absolute;
                  left: 30.32vw;
                  top: -0.1vw;
                  width: 1.05vw;
                  height: 0.16vw;
                }
                .box_25 {
                  background-color: rgba(138, 147, 201, 0.2);
                  border-radius: 2px;
                  position: absolute;
                  left: 31.88vw;
                  top: -0.1vw;
                  width: 1.05vw;
                  height: 0.16vw;
                }
                .box_26 {
                  background-color: rgba(138, 147, 201, 0.1);
                  border-radius: 2px;
                  position: absolute;
                  left: 33.44vw;
                  top: -0.1vw;
                  width: 1.05vw;
                  height: 0.16vw;
                }
                .box_27 {
                  background-color: rgba(138, 147, 201, 0.3);
                  border-radius: 2px;
                  position: absolute;
                  left: 5.58vw;
                  top: -0.1vw;
                  width: 1.93vw;
                  height: 0.16vw;
                }
              }
            }
            .box_28 {
              position: absolute;
              left: -4.68vw;
              top: 0.42vw;
              width: 27.35vw;
              height: 3.75vw;
              background: url(./img/SketchPng23ac035b487469d5468183e970040279c5d221a880a47ba092820927c4face04.png)
                100% no-repeat;
              background-size: 100% 100%;
              .label_10 {
                width: 1.78vw;
                height: 2.3vw;
                margin: 0.52vw 0 0 7.13vw;
              }
              .group_32 {
                width: 13.75vw;
                height: 3.03vw;
                margin: 0.62vw 4.68vw 0 0;
                .text_49 {
                  background-image: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(199, 207, 243, 1) 100%
                  );
                  width: 8.75vw;
                  height: 2.09vw;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 1.45vw;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 2.09vw;
                  margin-left: 1.36vw;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
                .section_5 {
                  height: 0.89vw;
                  background: url(./img/SketchPng35d24bc1167d062a3550f34ee9a0a1ef5219ae697bd5ecfca023c5777c82e810.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  margin-top: 0.06vw;
                  width: 13.75vw;
                  .group_25 {
                    height: 0.58vw;
                    background: url(./img/SketchPngd30118be47d2468d7af566c0316736409d70476c34f6ab8d2b5e7e9fcfdcb000.png) -0.84vw -0.84vw
                      no-repeat;
                    background-size: 2.6vw 2.23vw;
                    width: 0.94vw;
                    margin: 0.26vw 0 0 6.35vw;
                    .group_26 {
                      width: 0.53vw;
                      height: 0.32vw;
                      background: url(./img/SketchPng13a67309e5940cb64f0e9ff1bcf6ededb4c5df0a6478368b671429acdd76e31c.png) -0.32vw -0.37vw
                        no-repeat;
                      background-size: 1.14vw 1.04vw;
                      margin: 0.05vw 0 0 0.2vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
