.page {
  position: relative;
  width: 10rem;
  height: 5.625rem;
  overflow: hidden;
  .box_1 {
    height: 5.625rem;
    background: url(./img/SketchPngbb6059bde37e68ee3ee2aa8c68602bde41d3d4a08c581290a475df0ad9cbd256.png)
      100% no-repeat;
    background-size: 100% 100%;
    width: 10rem;
    .section_1 {
      height: 5.625rem;
      background: url(./img/SketchPng003d839e0e4f6604a62d8d019e74e6879ac55ac571dfb59c7c9299e1136667b2.png)
        100% no-repeat;
      background-size: 100% 100%;
      width: 10rem;
      .box_2 {
        background-color: rgba(8, 12, 36, 0.7);
        border-radius: 8px;
        height: 5.625rem;
        width: 10rem;
        .group_1 {
          background-color: rgba(2, 12, 59, 0.8);
          height: 5.625rem;
          width: 10rem;
          position: relative;
          .box_29 {
            position: relative;
            width: 10rem;
            height: 5.209rem;
            margin-top: 0.422rem;
            .box_30 {
              width: 9.141rem;
              height: 0.209rem;
              margin: 0.178rem 0 0 0.652rem;
              .text_1 {
                width: 1.459rem;
                height: 0.146rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.104rem;
                font-family: PingFangSC-Medium;
                font-weight: 500;
                text-align: left;
                white-space: nowrap;
                line-height: 0.146rem;
                margin-top: 0.021rem;
              }
              .text_50 {
                width: 1.068rem;
                height: 0.146rem;
                overflow-wrap: break-word;
                color: rgba(195, 203, 239, 1);
                font-size: 0.104rem;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 0.146rem;
                margin-top: 0.027rem;
              }
              .label_11 {
                width: 0.125rem;
                height: 0.125rem;
                margin: 0.037rem 0 0 0.334rem;
              }
              .group_3 {
                width: 1.152rem;
                height: 0.209rem;
                background: url(./img/SketchPng26c6bc9dff4bab1214fafa9c84b91aea40326d7c93f82411c31228fe20f25fd5.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-left: 5.006rem;
                .text_2 {
                  width: 0.334rem;
                  height: 0.115rem;
                  overflow-wrap: break-word;
                  color: rgba(0, 237, 255, 1);
                  font-size: 0.083rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.115rem;
                  margin: 0.042rem 0 0 0.672rem;
                }
                .thumbnail_2 {
                  width: 0.084rem;
                  height: 0.084rem;
                  margin: 0.058rem 0 0 0.063rem;
                }
              }
            }
            .image_1 {
              width: 9.584rem;
              height: 0.006rem;
              margin: 0.011rem 0 0 0.209rem;
            }
            .box_31 {
              width: 9.584rem;
              height: 2.355rem;
              margin: 0.396rem 0 2.058rem 0.209rem;
              .group_4 {
                height: 2.355rem;
                background: url(./img/SketchPng08f90f54e2769f41da45798210c7b2063ce59a021fdebc995368edfc0bb71fda.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 6.073rem;
                position: relative;
                .block_17 {
                  width: 4.995rem;
                  height: 0.25rem;
                  margin: 0.167rem 0 0 0.099rem;
                  .section_2 {
                    width: 1.381rem;
                    height: 0.25rem;
                    background: url(./img/SketchPng4c3a9c448571642deed7319c06f9616b73a2857addc02317002397642f5f45bf.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                  }
                  .image_2 {
                    width: 1.381rem;
                    height: 0.25rem;
                  }
                }
                .block_18 {
                  width: 5.865rem;
                  height: 1.334rem;
                  margin: 0.167rem 0 0.438rem 0.105rem;
                  .section_6 {
                    width: 1.339rem;
                    height: 0.959rem;
                    .image_3 {
                      width: 1.157rem;
                      height: 0.047rem;
                      margin-left: 0.094rem;
                    }
                    .group_7 {
                      width: 1.339rem;
                      height: 0.907rem;
                      background: url(./img/SketchPngde3f09057184d63368c9f73e952f0ab2a1c514abfd3a5b488c5cff0b46c00630.png)
                        100% no-repeat;
                      background-size: 100% 100%;
                      margin-top: 0.006rem;
                    }
                  }
                  .section_7 {
                    width: 1.25rem;
                    height: 0.938rem;
                    margin: 0.396rem 0 0 0.021rem;
                    .text-wrapper_10 {
                      width: 0.761rem;
                      height: 0.146rem;
                      margin-left: 0.105rem;
                      .text_3 {
                        width: 0.438rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                        margin-top: 0.032rem;
                      }
                      .text_4 {
                        width: 0.245rem;
                        height: 0.146rem;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 0.125rem;
                        font-family: DINAlternate-Bold;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.146rem;
                        margin-left: -0.015rem;
                      }
                      .text_5 {
                        width: 0.073rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                        margin: 0.032rem 0 0 0.021rem;
                      }
                    }
                    .image-text_7 {
                      width: 0.573rem;
                      height: 0.115rem;
                      margin: 0.047rem 0 0 0.11rem;
                      .box_5 {
                        background-color: rgba(18, 224, 116, 1);
                        border-radius: 50%;
                        width: 0.042rem;
                        height: 0.042rem;
                        margin-top: 0.037rem;
                      }
                      .text-group_1 {
                        width: 0.5rem;
                        height: 0.115rem;
                        overflow-wrap: break-word;
                        color: rgba(18, 224, 116, 1);
                        font-size: 0.083rem;
                        font-family: PingFangSC-Medium;
                        font-weight: 500;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.115rem;
                      }
                    }
                    .image-text_8 {
                      width: 1.25rem;
                      height: 0.568rem;
                      margin-top: 0.063rem;
                      .image_4 {
                        width: 1.25rem;
                        height: 0.105rem;
                      }
                      .text-group_8 {
                        width: 1.141rem;
                        height: 0.355rem;
                        margin: 0.11rem 0 0 0.094rem;
                        .text_6 {
                          width: 1.141rem;
                          height: 0.105rem;
                          overflow-wrap: break-word;
                          color: rgba(199, 207, 243, 1);
                          font-size: 0.072rem;
                          font-weight: NaN;
                          text-align: left;
                          white-space: nowrap;
                          line-height: 0.105rem;
                        }
                        .text_7 {
                          width: 1.141rem;
                          height: 0.105rem;
                          overflow-wrap: break-word;
                          color: rgba(199, 207, 243, 1);
                          font-size: 0.072rem;
                          font-weight: NaN;
                          text-align: left;
                          white-space: nowrap;
                          line-height: 0.105rem;
                          margin-top: 0.021rem;
                        }
                        .text_8 {
                          width: 0.516rem;
                          height: 0.105rem;
                          overflow-wrap: break-word;
                          color: rgba(199, 207, 243, 1);
                          font-size: 0.072rem;
                          font-weight: NaN;
                          text-align: left;
                          white-space: nowrap;
                          line-height: 0.105rem;
                          margin-top: 0.021rem;
                        }
                      }
                    }
                  }
                  .box_6 {
                    width: 3.178rem;
                    height: 0.954rem;
                    background: url(./img/SketchPng26087f9f495cb55554706572ce2d275e163cb83547f1c209c7f2b467ae72bfda.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    margin: 0.016rem 0 0 0.079rem;
                  }
                }
                .group_8 {
                  position: absolute;
                  left: 0.099rem;
                  top: 0.719rem;
                  width: 1.349rem;
                  height: 1.417rem;
                  background: url(./img/SketchPngb054da0c7e6fe59ca5d9be9772d4c751bff67fb867ff3765e8902bf339423009.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .image_5 {
                    width: 0.532rem;
                    height: 0.823rem;
                    margin: 0.162rem 0 0 0.407rem;
                  }
                  .text_9 {
                    width: 0.308rem;
                    height: 0.115rem;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 0.083rem;
                    font-family: PingFangSC-Medium;
                    font-weight: 500;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.115rem;
                    margin: 0.105rem 0 0.214rem 0.521rem;
                  }
                  .group_9 {
                    height: 0.271rem;
                    background: url(./img/SketchPng0ca5ae8d9b632bf7f2dd1003b644ab36ffbcc1dc0a785d5eda38240f86013ad4.png) -0.006rem -0.006rem
                      no-repeat;
                    background-size: 1.349rem 0.277rem;
                    width: 1.339rem;
                    position: absolute;
                    left: 0.006rem;
                    top: -0.083rem;
                    .group_10 {
                      background-color: rgba(69, 75, 105, 1);
                      width: 0.11rem;
                      height: 0.021rem;
                      margin: 0.063rem 0 0 0.084rem;
                    }
                  }
                }
                .group_11 {
                  position: absolute;
                  left: 2.792rem;
                  top: 0.719rem;
                  width: 3.105rem;
                  height: 1.417rem;
                  background: url(./img/SketchPngf091b8f608720abbbc014cdec144a4ef1e04b66c12b512e83ae1ecf1415d6f44.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .group_27 {
                    width: 0.792rem;
                    height: 0.849rem;
                    margin: 0.355rem 0 0 0.125rem;
                    .image_6 {
                      width: 0.792rem;
                      height: 0.62rem;
                    }
                    .text_10 {
                      width: 0.308rem;
                      height: 0.115rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.083rem;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.115rem;
                      margin: 0.115rem 0 0 0.23rem;
                    }
                  }
                  .group_28 {
                    width: 1.25rem;
                    height: 0.938rem;
                    margin: 0.261rem 0 0 0.063rem;
                    .text-wrapper_11 {
                      width: 0.761rem;
                      height: 0.146rem;
                      margin-left: 0.125rem;
                      .text_11 {
                        width: 0.438rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                        margin-top: 0.032rem;
                      }
                      .text_12 {
                        width: 0.245rem;
                        height: 0.146rem;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 0.125rem;
                        font-family: DINAlternate-Bold;
                        font-weight: 700;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.146rem;
                        margin-left: -0.015rem;
                      }
                      .text_13 {
                        width: 0.073rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                        margin: 0.032rem 0 0 0.021rem;
                      }
                    }
                    .image-text_9 {
                      width: 0.573rem;
                      height: 0.115rem;
                      margin: 0.047rem 0 0 0.131rem;
                      .section_3 {
                        background-color: rgba(18, 224, 116, 1);
                        border-radius: 50%;
                        width: 0.042rem;
                        height: 0.042rem;
                        margin-top: 0.037rem;
                      }
                      .text-group_3 {
                        width: 0.5rem;
                        height: 0.115rem;
                        overflow-wrap: break-word;
                        color: rgba(18, 224, 116, 1);
                        font-size: 0.083rem;
                        font-family: PingFangSC-Medium;
                        font-weight: 500;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.115rem;
                      }
                    }
                    .image_7 {
                      width: 1.25rem;
                      height: 0.105rem;
                      margin-top: 0.063rem;
                    }
                    .text-group_9 {
                      width: 1.141rem;
                      height: 0.355rem;
                      margin: 0.11rem 0 0 0.11rem;
                      .text_14 {
                        width: 1.141rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                      }
                      .text_15 {
                        width: 1.141rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                        margin-top: 0.021rem;
                      }
                      .text_16 {
                        width: 0.516rem;
                        height: 0.105rem;
                        overflow-wrap: break-word;
                        color: rgba(199, 207, 243, 1);
                        font-size: 0.072rem;
                        font-weight: NaN;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.105rem;
                        margin-top: 0.021rem;
                      }
                    }
                  }
                  .group_29 {
                    width: 0.839rem;
                    height: 0.902rem;
                    margin: 0.303rem -0.011rem 0 0.047rem;
                    .image_8 {
                      width: 0.839rem;
                      height: 0.709rem;
                    }
                    .text_17 {
                      width: 0.474rem;
                      height: 0.115rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.083rem;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.115rem;
                      margin: 0.079rem 0 0 0.178rem;
                    }
                  }
                  .group_15 {
                    background-color: rgba(69, 75, 105, 1);
                    position: absolute;
                    left: 0.125rem;
                    top: -0.01rem;
                    width: 0.105rem;
                    height: 0.021rem;
                  }
                }
                .image-wrapper_2 {
                  height: 0.344rem;
                  background: url(./img/SketchPng22756d63fba0190f627f4459a42c64872e9322db1f4884dbb6bbd14712f6f38a.png) -0.006rem -0.006rem
                    no-repeat;
                  background-size: 3.188rem 0.349rem;
                  width: 3.178rem;
                  position: absolute;
                  left: 2.792rem;
                  top: 0.599rem;
                  .image_9 {
                    width: 1.771rem;
                    height: 0.047rem;
                    margin: -0.016rem 0 0 0.678rem;
                  }
                }
                .image_10 {
                  position: absolute;
                  left: 2.792rem;
                  top: 1.87rem;
                  width: 3.178rem;
                  height: 0.344rem;
                }
                .image_11 {
                  position: absolute;
                  left: 0.105rem;
                  top: 1.907rem;
                  width: 1.339rem;
                  height: 0.271rem;
                }
                .group_16 {
                  position: absolute;
                  left: 0.099rem;
                  top: 0.167rem;
                  width: 1.386rem;
                  height: 0.25rem;
                  background: url(./img/SketchPngc1131dfee6ef9b863b1a450d82a0d2c064636e1ff105e51d3c406f79d88ec4d8.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .box_7 {
                    width: 0.006rem;
                    height: 0.157rem;
                    background: url(./img/SketchPng5243dde6fe2743ff56d7a093dbdf084393840820114e6b623c184861d10cfa32.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    margin-top: 0.063rem;
                  }
                  .box_8 {
                    background-image: url(./img/e74d252c729c492c9b2468b2c8035bb1_mergeImage.png);
                    width: 1.256rem;
                    height: 0.245rem;
                    margin-top: 0.006rem;
                    .thumbnail_3 {
                      width: 0.084rem;
                      height: 0.084rem;
                      margin: 0.079rem 0 0 0.334rem;
                    }
                    .text_18 {
                      width: 0.49rem;
                      height: 0.146rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.104rem;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.146rem;
                      margin: 0.047rem 0.287rem 0 0.063rem;
                    }
                  }
                  .box_9 {
                    height: 0.25rem;
                    background: url(./img/SketchPngbc1707d70a7dc6496784d142fe8001e70da1776ba52ca1c31df3c4f669423a52.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    margin-left: -0.005rem;
                    width: 0.131rem;
                    .box_10 {
                      width: 1.167rem;
                      height: 0.006rem;
                      background: url(./img/SketchPng7ba0b55c094cd82689342276cc568312f2606fb2ec4cbfa80c7a1d09ca4c6a2f.png)
                        100% no-repeat;
                      background-size: 100% 100%;
                      margin-left: -1.161rem;
                    }
                  }
                }
                .label_1 {
                  position: absolute;
                  left: 1.386rem;
                  top: 0.167rem;
                  width: 0.198rem;
                  height: 0.25rem;
                }
                .group_17 {
                  position: absolute;
                  left: 3.714rem;
                  top: 0.167rem;
                  width: 1.386rem;
                  height: 0.25rem;
                  background: url(./img/SketchPnge655b4f9e753d9553492f3d5a2564c9800d592c86f8c99ef07d766b659cedcb6.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .box_11 {
                    height: 0.25rem;
                    background: url(./img/SketchPnge50cf4452d4a53332bb7eb2b933f0c0b6bb65d44e6341a4599437595767a61bc.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    width: 0.11rem;
                    .block_4 {
                      width: 1.256rem;
                      height: 0.006rem;
                      background: url(./img/SketchPngc2f97d8548d9193b2a2368da0858c2a884717fa205d2f6e53e7922ad7e5ac5d8.png)
                        100% no-repeat;
                      background-size: 100% 100%;
                      margin-left: 0.006rem;
                    }
                  }
                  .label_2 {
                    width: 0.131rem;
                    height: 0.25rem;
                  }
                  .box_12 {
                    position: absolute;
                    left: 0;
                    top: 0.006rem;
                    width: 1.256rem;
                    height: 0.245rem;
                    background: url(./img/f1f76ec8bc0f4a9984aa43fe2527e5d2_mergeImage.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    .thumbnail_4 {
                      width: 0.084rem;
                      height: 0.084rem;
                      margin: 0.079rem 0 0 0.391rem;
                    }
                    .text_19 {
                      width: 0.417rem;
                      height: 0.146rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.104rem;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.146rem;
                      margin: 0.047rem 0.303rem 0 0.063rem;
                    }
                  }
                }
                .label_3 {
                  position: absolute;
                  left: 5rem;
                  top: 0.167rem;
                  width: 0.198rem;
                  height: 0.25rem;
                }
                .group_18 {
                  position: absolute;
                  left: 1.605rem;
                  top: 0.209rem;
                  width: 2.115rem;
                  height: 0.167rem;
                  background: url(./img/SketchPng0f9e77e944ee60dcd603c30a56151e72bf7e983581d45c4705821732629bd13a.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .thumbnail_5 {
                    width: 0.084rem;
                    height: 0.084rem;
                    margin: 0.047rem 0 0 0.37rem;
                  }
                  .text_20 {
                    width: 0.334rem;
                    height: 0.115rem;
                    overflow-wrap: break-word;
                    color: rgba(18, 224, 116, 1);
                    font-size: 0.083rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.115rem;
                    margin: 0.027rem 0 0 0.042rem;
                  }
                  .text_21 {
                    width: 0.428rem;
                    height: 0.105rem;
                    overflow-wrap: break-word;
                    color: rgba(195, 203, 239, 1);
                    font-size: 0.072rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.105rem;
                    margin: 0.037rem 0 0 0.105rem;
                  }
                  .text_22 {
                    width: 0.303rem;
                    height: 0.105rem;
                    overflow-wrap: break-word;
                    color: rgba(195, 203, 239, 1);
                    font-size: 0.072rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.105rem;
                    margin: 0.037rem 0.412rem 0 0.042rem;
                  }
                }
              }
              .group_30 {
                width: 1.25rem;
                height: 0.938rem;
                margin: 0.98rem 0 0 0.053rem;
                .text-wrapper_12 {
                  width: 0.761rem;
                  height: 0.146rem;
                  margin-left: 0.11rem;
                  .text_23 {
                    width: 0.438rem;
                    height: 0.105rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.072rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.105rem;
                    margin-top: 0.032rem;
                  }
                  .text_24 {
                    width: 0.245rem;
                    height: 0.146rem;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 0.125rem;
                    font-family: DINAlternate-Bold;
                    font-weight: 700;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.146rem;
                    margin-left: -0.015rem;
                  }
                  .text_25 {
                    width: 0.073rem;
                    height: 0.105rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.072rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.105rem;
                    margin: 0.032rem 0 0 0.021rem;
                  }
                }
                .image-text_10 {
                  width: 0.573rem;
                  height: 0.115rem;
                  margin: 0.047rem 0 0 0.12rem;
                  .group_20 {
                    background-color: rgba(18, 224, 116, 1);
                    border-radius: 50%;
                    width: 0.042rem;
                    height: 0.042rem;
                    margin-top: 0.037rem;
                  }
                  .text-group_5 {
                    width: 0.5rem;
                    height: 0.115rem;
                    overflow-wrap: break-word;
                    color: rgba(18, 224, 116, 1);
                    font-size: 0.083rem;
                    font-family: PingFangSC-Medium;
                    font-weight: 500;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.115rem;
                  }
                }
                .image-text_11 {
                  width: 1.25rem;
                  height: 0.568rem;
                  margin-top: 0.063rem;
                  .image_12 {
                    width: 1.25rem;
                    height: 0.105rem;
                  }
                  .text-group_10 {
                    width: 1.141rem;
                    height: 0.355rem;
                    margin: 0.11rem 0 0 0.11rem;
                    .text_26 {
                      width: 1.141rem;
                      height: 0.105rem;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 0.072rem;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.105rem;
                    }
                    .text_27 {
                      width: 1.141rem;
                      height: 0.105rem;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 0.072rem;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.105rem;
                      margin-top: 0.021rem;
                    }
                    .text_28 {
                      width: 0.516rem;
                      height: 0.105rem;
                      overflow-wrap: break-word;
                      color: rgba(199, 207, 243, 1);
                      font-size: 0.072rem;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.105rem;
                      margin-top: 0.021rem;
                    }
                  }
                }
              }
              .group_21 {
                position: relative;
                width: 2.073rem;
                height: 2.355rem;
                background: url(./img/SketchPng6462907548f3e68350a26a0136e5b5c1ec9cfd4325b42bd4efa63c3970a2aa27.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-left: 0.136rem;
                .image_13 {
                  width: 1.381rem;
                  height: 0.25rem;
                  margin: 0.167rem 0 0 0.407rem;
                }
                .image_14 {
                  width: 1.719rem;
                  height: 0.047rem;
                  margin: 0.183rem 0 0 0.183rem;
                }
                .block_5 {
                  background-color: rgba(69, 75, 105, 1);
                  width: 0.105rem;
                  height: 0.021rem;
                  margin: 0.063rem 0 1.625rem 0.214rem;
                }
                .block_6 {
                  position: absolute;
                  left: 0.105rem;
                  top: 0.652rem;
                  width: 1.865rem;
                  height: 0.912rem;
                  background: url(./img/SketchPng87c8beca0008cac6d15f1705748fe6e76c75373546d249849b2d4defd3ba4922.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  .text-wrapper_5 {
                    width: 0.724rem;
                    height: 0.105rem;
                    overflow-wrap: break-word;
                    font-size: 0;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.105rem;
                    margin: 0.167rem 0 0 0.11rem;
                    .text_29 {
                      width: 0.724rem;
                      height: 0.105rem;
                      overflow-wrap: break-word;
                      color: rgba(189, 197, 233, 1);
                      font-size: 0.072rem;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.105rem;
                    }
                    .text_30 {
                      width: 0.724rem;
                      height: 0.105rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.072rem;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.105rem;
                    }
                  }
                  .text-wrapper_6 {
                    width: 0.662rem;
                    height: 0.105rem;
                    overflow-wrap: break-word;
                    font-size: 0;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.105rem;
                    margin: 0.042rem 0 0.495rem 0.11rem;
                    .text_31 {
                      width: 0.662rem;
                      height: 0.105rem;
                      overflow-wrap: break-word;
                      color: rgba(189, 197, 233, 1);
                      font-size: 0.072rem;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.105rem;
                    }
                    .text_32 {
                      width: 0.662rem;
                      height: 0.105rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.072rem;
                      font-weight: NaN;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.105rem;
                    }
                  }
                  .box_13 {
                    position: absolute;
                    left: 0.277rem;
                    top: 0.11rem;
                    width: 1.349rem;
                    height: 1.417rem;
                    background: url(./img/SketchPngb054da0c7e6fe59ca5d9be9772d4c751bff67fb867ff3765e8902bf339423009.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    .image-text_12 {
                      width: 1.073rem;
                      height: 0.808rem;
                      margin: 0.355rem 0 0 0.193rem;
                      .image_15 {
                        width: 1.073rem;
                        height: 0.646rem;
                      }
                      .text-group_7 {
                        width: 0.313rem;
                        height: 0.115rem;
                        overflow-wrap: break-word;
                        color: rgba(255, 255, 255, 1);
                        font-size: 0.083rem;
                        font-family: PingFangSC-Medium;
                        font-weight: 500;
                        text-align: left;
                        white-space: nowrap;
                        line-height: 0.115rem;
                        margin: 0.047rem 0 0 0.381rem;
                      }
                    }
                  }
                }
                .block_7 {
                  height: 0.271rem;
                  background: url(./img/SketchPng6ad5827351cb21cce2db2ea000e6e5e74f6ecf76d674a4753b4ff088d8e04d3b.png) -0.006rem -0.006rem
                    no-repeat;
                  background-size: 1.875rem 0.277rem;
                  width: 1.865rem;
                  position: absolute;
                  left: 0.105rem;
                  top: 0.652rem;
                  .group_22 {
                    background-color: rgba(69, 75, 105, 1);
                    width: 0.11rem;
                    height: 0.021rem;
                    margin: 0.204rem 0 0 0.11rem;
                  }
                }
                .image_16 {
                  position: absolute;
                  left: 0.105rem;
                  top: 1.922rem;
                  width: 1.865rem;
                  height: 0.271rem;
                }
                .block_8 {
                  height: 0.25rem;
                  background: url(./img/SketchPng88a75f09d98824bc443fa519ba2439117299c74cb7ea1040450ee8b79989faeb.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 1.396rem;
                  position: absolute;
                  left: 0.396rem;
                  top: 0.167rem;
                  .label_4 {
                    width: 0.12rem;
                    height: 0.25rem;
                  }
                  .box_14 {
                    position: absolute;
                    left: 0.006rem;
                    top: 0.006rem;
                    width: 1.256rem;
                    height: 0.245rem;
                    background: url(./img/b5d1487df6484918ad9f0fb11dd85b0a_mergeImage.png)
                      100% no-repeat;
                    background-size: 100% 100%;
                    .thumbnail_6 {
                      width: 0.084rem;
                      height: 0.084rem;
                      margin: 0.079rem 0 0 0.412rem;
                    }
                    .text_33 {
                      width: 0.495rem;
                      height: 0.146rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.104rem;
                      font-family: PingFangSC-Medium;
                      font-weight: 500;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.146rem;
                      margin: 0.047rem 0.204rem 0 0.063rem;
                    }
                  }
                }
                .label_5 {
                  position: absolute;
                  left: 0.282rem;
                  top: 0.167rem;
                  width: 0.198rem;
                  height: 0.25rem;
                }
              }
            }
            .group_2 {
              height: 0.209rem;
              background: url(./img/SketchPng322bb883e9b9c1c28850313a6c5119313e0651f8b468d4558a85afe360ef9738.png)
                100% no-repeat;
              background-size: 100% 100%;
              width: 1.152rem;
              position: absolute;
              left: 0.209rem;
              top: 0.188rem;
              .thumbnail_1 {
                width: 0.084rem;
                height: 0.047rem;
                margin: 0.162rem 0 0 0.152rem;
              }
            }
            .block_10 {
              background-color: rgba(5, 237, 255, 1);
              position: absolute;
              left: 0.308rem;
              top: 0.386rem;
              width: 0.188rem;
              height: 0.016rem;
            }
            .block_11 {
              position: absolute;
              left: 0.209rem;
              top: 0.563rem;
              width: 6.079rem;
              height: 0.24rem;
              background: url(./img/SketchPng4511a8bcfe723b0cdc11c126c79ba36f272447c188fafb38da99b0bff8cea4ca.png)
                100% no-repeat;
              background-size: 100% 100%;
              .box_16 {
                width: 0.146rem;
                height: 0.146rem;
                background: url(./img/SketchPng4d6198231818116a3dfe940aeca2ee0975a7263483a52a2771ed4bc22ac9a19e.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin: 0.047rem 0 0 0.105rem;
              }
              .text_36 {
                width: 0.417rem;
                height: 0.146rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.104rem;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 0.146rem;
                margin: 0.047rem 0 0 0.084rem;
              }
              .thumbnail_9 {
                width: 0.094rem;
                height: 0.094rem;
                margin: 0.068rem 0 0 0.125rem;
              }
              .text_37 {
                width: 0.188rem;
                height: 0.131rem;
                overflow-wrap: break-word;
                color: rgba(18, 224, 116, 1);
                font-size: 0.093rem;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 0.131rem;
                margin: 0.053rem 0 0 0.042rem;
              }
              .box_32 {
                width: 1.891rem;
                height: 0.167rem;
                background: url(./img/SketchPngf19c166c1647912b9525d9d8bafda5a614bad49eac92f2f60fde50ea731d0fd4.png)
                  100% no-repeat;
                background-size: 100% 100%;
                justify-content: flex-center;
                margin: 0.032rem 0 0 0.105rem;
                .text_51 {
                  width: 0.417rem;
                  height: 0.115rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.083rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.115rem;
                  margin: 0.027rem 0 0 0.105rem;
                }
                .text_52 {
                  width: 0.855rem;
                  height: 0.115rem;
                  overflow-wrap: break-word;
                  color: rgba(195, 203, 239, 1);
                  font-size: 0.083rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.115rem;
                  margin: 0.027rem 0 0 0.037rem;
                }
                .thumbnail_14 {
                  width: 0.042rem;
                  height: 0.073rem;
                  margin: 0.047rem 0.105rem 0 0.334rem;
                }
              }
              .text-wrapper_8 {
                height: 0.167rem;
                background: url(./img/SketchPng8591d357fa3b30645c4dc313e6e1a4153fce142602e629e8fb3b346330338c7a.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 0.568rem;
                margin: 0.032rem 0.084rem 0 2.235rem;
                .text_40 {
                  width: 0.334rem;
                  height: 0.115rem;
                  overflow-wrap: break-word;
                  color: rgba(5, 237, 255, 1);
                  font-size: 0.083rem;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.115rem;
                  margin: 0.027rem 0 0 0.12rem;
                }
              }
            }
            .block_12 {
              position: absolute;
              left: 7.719rem;
              top: 0.563rem;
              width: 2.073rem;
              height: 0.24rem;
              background: url(./img/SketchPng8b9b9af45c2ed824e37ca3cd47652b7f41a5ec5d48858a7851da9397da0243f1.png)
                100% no-repeat;
              background-size: 100% 100%;
              .label_6 {
                width: 0.125rem;
                height: 0.136rem;
                margin: 0.053rem 0 0 0.105rem;
              }
              .text_41 {
                width: 0.417rem;
                height: 0.146rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.104rem;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 0.146rem;
                margin: 0.047rem 0 0 0.084rem;
              }
              .thumbnail_12 {
                width: 0.094rem;
                height: 0.094rem;
                margin: 0.068rem 0 0 0.105rem;
              }
              .text_42 {
                width: 0.188rem;
                height: 0.131rem;
                overflow-wrap: break-word;
                color: rgba(18, 224, 116, 1);
                font-size: 0.093rem;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 0.131rem;
                margin: 0.053rem 0 0 0.042rem;
              }
              .text-wrapper_9 {
                height: 0.167rem;
                background: url(./img/SketchPng8591d357fa3b30645c4dc313e6e1a4153fce142602e629e8fb3b346330338c7a.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 0.568rem;
                margin: 0.032rem 0.084rem 0 0.266rem;
                .text_43 {
                  width: 0.334rem;
                  height: 0.115rem;
                  overflow-wrap: break-word;
                  color: rgba(5, 237, 255, 1);
                  font-size: 0.083rem;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.115rem;
                  margin: 0.027rem 0 0 0.12rem;
                }
              }
            }
            .block_13 {
              height: 0.198rem;
              background: url(./img/SketchPnga2730fe0b561c1b347637b932823e56089901b39a2c55a45a9705f0081188641.png)
                100% no-repeat;
              background-size: 100% 100%;
              width: 0.198rem;
              position: absolute;
              left: 0.303rem;
              top: 0.167rem;
              .box_19 {
                background-color: rgba(10, 32, 54, 1);
                border-radius: 50%;
                height: 0.125rem;
                width: 0.073rem;
                margin: 0.037rem 0 0 0.12rem;
                .block_14 {
                  background-color: rgba(5, 237, 255, 1);
                  border-radius: 50%;
                  height: 0.094rem;
                  width: 0.053rem;
                  margin: 0.021rem 0 0 0.016rem;
                  .image-wrapper_4 {
                    background-color: rgba(10, 32, 54, 1);
                    border-radius: 50%;
                    height: 0.063rem;
                    width: 0.037rem;
                    margin: 0.011rem 0 0 0.016rem;
                    .thumbnail_13 {
                      width: 0.027rem;
                      height: 0.027rem;
                      margin: 0.011rem 0 0 0.006rem;
                    }
                  }
                }
              }
            }
            .image_19 {
              position: absolute;
              left: 0.438rem;
              top: 0.131rem;
              width: 0.277rem;
              height: 0.271rem;
            }
          }
          .block_15 {
            position: absolute;
            left: 0;
            top: 0;
            width: 10rem;
            height: 0.422rem;
            background: url(./img/SketchPng8bfb9525b04946b9ee990ba895bbbf2fe1d617ecbe0fe17f1eb1499633546d0b.png)
              100% no-repeat;
            background-size: 100% 100%;
            .group_31 {
              width: 7.323rem;
              height: 0.23rem;
              margin: 0.11rem 0 0 2.678rem;
              .image-wrapper_5 {
                height: 0.209rem;
                background: url(./img/SketchPng7c0b08efd057f8b7d0a30415e72be9e4b4bebfb50e056712e01d0502b1ce3572.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-top: 0.011rem;
                width: 1.152rem;
                .image_20 {
                  width: 1.152rem;
                  height: 0.209rem;
                }
              }
              .image-wrapper_6 {
                height: 0.162rem;
                background: url(./img/SketchPnge0121ad55ee7efdab67077a35865dc2d9f0d20dee6f501fc4b053bffbf3c31f7.png)
                  0rem 0rem no-repeat;
                background-size: 0.245rem 0.162rem;
                width: 0.24rem;
                margin: 0.058rem 0 0 2.006rem;
                .label_7 {
                  width: 0.24rem;
                  height: 0.162rem;
                }
              }
              .text_44 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 0.589rem;
                height: 0.12rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.104rem;
                font-family: Galvji;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 0.12rem;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0.073rem 0 0 0.313rem;
              }
              .text_45 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 0.282rem;
                height: 0.131rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.093rem;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 0.131rem;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0.068rem 0 0 0.125rem;
              }
              .text_46 {
                width: 0.698rem;
                height: 0.198rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.166rem;
                font-family: Galvji;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 0.198rem;
                margin: 0.011rem 0 0 0.125rem;
              }
              .box_21 {
                width: 1.396rem;
                height: 0.23rem;
                background: url(./img/SketchPng1e4d73228a4b718bc3dc4e28d9c5f5c1a8fc66587312ac4e714816ee1f16709a.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-left: 0.402rem;
                .label_8 {
                  width: 0.131rem;
                  height: 0.115rem;
                  margin: 0.063rem 0 0 0.23rem;
                }
                .text_47 {
                  background-image: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(135, 145, 206, 1) 100%
                  );
                  width: 0.188rem;
                  height: 0.131rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.093rem;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.131rem;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  margin: 0.053rem 0 0 0.079rem;
                }
                .label_9 {
                  width: 0.125rem;
                  height: 0.125rem;
                  margin: 0.058rem 0 0 0.167rem;
                }
                .text_48 {
                  background-image: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(135, 145, 206, 1) 100%
                  );
                  width: 0.188rem;
                  height: 0.131rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.093rem;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.131rem;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  margin: 0.053rem 0.209rem 0 0.084rem;
                }
              }
            }
            .box_22 {
              background-color: rgba(138, 147, 201, 0.3);
              border-radius: 2px;
              width: 0.193rem;
              height: 0.016rem;
              margin: 0.047rem 0 0 9.599rem;
            }
            .image_21 {
              width: 10rem;
              height: 0.006rem;
              margin-top: 0.016rem;
            }
            .box_23 {
              height: 0.099rem;
              background: url(./img/SketchPng1031b39c26628ea3f673aa44e678ff5b0307d28c1fdcefc3144c79b6ad8ccf1a.png)
                0rem -0.006rem no-repeat;
              background-size: 9.391rem 0.115rem;
              width: 9.391rem;
              position: absolute;
              left: 0;
              top: 0.37rem;
              .group_24 {
                position: relative;
                width: 3.667rem;
                height: 0.047rem;
                background: url(./img/SketchPng4f3f5454a09f7b4e228e66fa142d41b47ddce486367077f069311523b769af74.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin: 0.027rem 0 0 3.355rem;
                .box_24 {
                  background-color: rgba(138, 147, 201, 0.4);
                  border-radius: 2px;
                  position: absolute;
                  left: 3.032rem;
                  top: -0.01rem;
                  width: 0.105rem;
                  height: 0.016rem;
                }
                .box_25 {
                  background-color: rgba(138, 147, 201, 0.2);
                  border-radius: 2px;
                  position: absolute;
                  left: 3.188rem;
                  top: -0.01rem;
                  width: 0.105rem;
                  height: 0.016rem;
                }
                .box_26 {
                  background-color: rgba(138, 147, 201, 0.1);
                  border-radius: 2px;
                  position: absolute;
                  left: 3.344rem;
                  top: -0.01rem;
                  width: 0.105rem;
                  height: 0.016rem;
                }
                .box_27 {
                  background-color: rgba(138, 147, 201, 0.3);
                  border-radius: 2px;
                  position: absolute;
                  left: 0.558rem;
                  top: -0.01rem;
                  width: 0.193rem;
                  height: 0.016rem;
                }
              }
            }
            .box_28 {
              position: absolute;
              left: -0.468rem;
              top: 0.042rem;
              width: 2.735rem;
              height: 0.375rem;
              background: url(./img/SketchPng23ac035b487469d5468183e970040279c5d221a880a47ba092820927c4face04.png)
                100% no-repeat;
              background-size: 100% 100%;
              .label_10 {
                width: 0.178rem;
                height: 0.23rem;
                margin: 0.053rem 0 0 0.714rem;
              }
              .group_32 {
                width: 1.375rem;
                height: 0.303rem;
                margin: 0.063rem 0.469rem 0 0;
                .text_49 {
                  background-image: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(199, 207, 243, 1) 100%
                  );
                  width: 0.875rem;
                  height: 0.209rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.145rem;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.209rem;
                  margin-left: 0.136rem;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
                .section_5 {
                  height: 0.089rem;
                  background: url(./img/SketchPng35d24bc1167d062a3550f34ee9a0a1ef5219ae697bd5ecfca023c5777c82e810.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  margin-top: 0.006rem;
                  width: 1.375rem;
                  .group_25 {
                    height: 0.058rem;
                    background: url(./img/SketchPngd30118be47d2468d7af566c0316736409d70476c34f6ab8d2b5e7e9fcfdcb000.png) -0.084rem -0.084rem
                      no-repeat;
                    background-size: 0.261rem 0.224rem;
                    width: 0.094rem;
                    margin: 0.027rem 0 0 0.636rem;
                    .group_26 {
                      width: 0.053rem;
                      height: 0.032rem;
                      background: url(./img/SketchPng13a67309e5940cb64f0e9ff1bcf6ededb4c5df0a6478368b671429acdd76e31c.png) -0.032rem -0.037rem
                        no-repeat;
                      background-size: 0.115rem 0.105rem;
                      margin: 0.006rem 0 0 0.021rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
