.page {
  position: relative;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  .box_1 {
    height: 1080px;
    background: url(./img/SketchPngbb6059bde37e68ee3ee2aa8c68602bde41d3d4a08c581290a475df0ad9cbd256.png)
      100% no-repeat;
    background-size: 100% 100%;
    width: 1920px;
    .box_2 {
      height: 1080px;
      background: url(./img/SketchPng003d839e0e4f6604a62d8d019e74e6879ac55ac571dfb59c7c9299e1136667b2.png)
        100% no-repeat;
      background-size: 100% 100%;
      width: 1920px;
      .group_1 {
        background-color: rgba(8, 12, 36, 0.7);
        border-radius: 8px;
        width: 1920px;
        height: 1080px;
        .box_3 {
          position: relative;
          width: 1920px;
          height: 81px;
          background: url(./img/SketchPng8bfb9525b04946b9ee990ba895bbbf2fe1d617ecbe0fe17f1eb1499633546d0b.png)
            100% no-repeat;
          background-size: 100% 100%;
          .block_1 {
            width: 1406px;
            height: 44px;
            margin: 21px 0 0 514px;
            .image-wrapper_1 {
              height: 40px;
              background: url(./img/SketchPng7c0b08efd057f8b7d0a30415e72be9e4b4bebfb50e056712e01d0502b1ce3572.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-top: 2px;
              width: 221px;
              .image_1 {
                width: 221px;
                height: 40px;
              }
            }
            .image-wrapper_2 {
              height: 31px;
              background: url(./img/SketchPnge0121ad55ee7efdab67077a35865dc2d9f0d20dee6f501fc4b053bffbf3c31f7.png)
                0px 0px no-repeat;
              background-size: 47px 31px;
              width: 46px;
              margin: 11px 0 0 385px;
              .label_1 {
                width: 46px;
                height: 31px;
              }
            }
            .text_1 {
              background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0,
                rgba(135, 145, 206, 1) 100%
              );
              width: 113px;
              height: 23px;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 20px;
              font-family: Galvji;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 23px;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              margin: 14px 0 0 60px;
            }
            .text_2 {
              background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0,
                rgba(135, 145, 206, 1) 100%
              );
              width: 54px;
              height: 25px;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 18px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 25px;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              margin: 13px 0 0 24px;
            }
            .text_3 {
              width: 134px;
              height: 38px;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 32px;
              font-family: Galvji;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 38px;
              margin: 2px 0 0 24px;
            }
            .box_4 {
              width: 268px;
              height: 44px;
              background: url(./img/SketchPng1e4d73228a4b718bc3dc4e28d9c5f5c1a8fc66587312ac4e714816ee1f16709a.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-left: 77px;
              .label_2 {
                width: 25px;
                height: 22px;
                margin: 12px 0 0 44px;
              }
              .text_4 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 36px;
                height: 25px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 18px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 25px;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 10px 0 0 15px;
              }
              .label_3 {
                width: 24px;
                height: 24px;
                margin: 11px 0 0 32px;
              }
              .text_5 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 36px;
                height: 25px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 18px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 25px;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 10px 40px 0 16px;
              }
            }
          }
          .block_2 {
            background-color: rgba(138, 147, 201, 0.3);
            border-radius: 2px;
            width: 37px;
            height: 3px;
            margin: 9px 0 0 1843px;
          }
          .image_2 {
            width: 1920px;
            height: 1px;
            margin-top: 3px;
          }
          .block_3 {
            height: 19px;
            background: url(./img/SketchPng1031b39c26628ea3f673aa44e678ff5b0307d28c1fdcefc3144c79b6ad8ccf1a.png)
              0px -1px no-repeat;
            background-size: 1803px 22px;
            width: 1803px;
            position: absolute;
            left: 0;
            top: 71px;
            .section_1 {
              position: relative;
              width: 704px;
              height: 9px;
              background: url(./img/SketchPng4f3f5454a09f7b4e228e66fa142d41b47ddce486367077f069311523b769af74.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 5px 0 0 644px;
              .box_5 {
                background-color: rgba(138, 147, 201, 0.4);
                border-radius: 2px;
                position: absolute;
                left: 582px;
                top: -2px;
                width: 20px;
                height: 3px;
              }
              .box_6 {
                background-color: rgba(138, 147, 201, 0.2);
                border-radius: 2px;
                position: absolute;
                left: 612px;
                top: -2px;
                width: 20px;
                height: 3px;
              }
              .box_7 {
                background-color: rgba(138, 147, 201, 0.1);
                border-radius: 2px;
                position: absolute;
                left: 642px;
                top: -2px;
                width: 20px;
                height: 3px;
              }
              .box_8 {
                background-color: rgba(138, 147, 201, 0.3);
                border-radius: 2px;
                position: absolute;
                left: 107px;
                top: -2px;
                width: 37px;
                height: 3px;
              }
            }
          }
          .block_4 {
            position: absolute;
            left: -90px;
            top: 8px;
            width: 525px;
            height: 72px;
            background: url(./img/SketchPng23ac035b487469d5468183e970040279c5d221a880a47ba092820927c4face04.png)
              100% no-repeat;
            background-size: 100% 100%;
            .group_2 {
              width: 227px;
              height: 42px;
              margin: 10px 0 0 138px;
              .label_4 {
                width: 36px;
                height: 42px;
              }
              .text_6 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(199, 207, 243, 1) 100%
                );
                width: 168px;
                height: 40px;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 28px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 40px;
                margin-top: 2px;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
            .group_3 {
              height: 17px;
              background: url(./img/SketchPng35d24bc1167d062a3550f34ee9a0a1ef5219ae697bd5ecfca023c5777c82e810.png)
                100% no-repeat;
              background-size: 100% 100%;
              width: 264px;
              margin: 1px 0 2px 171px;
              .block_5 {
                height: 11px;
                background: url(./img/SketchPngd30118be47d2468d7af566c0316736409d70476c34f6ab8d2b5e7e9fcfdcb000.png) -16px -16px
                  no-repeat;
                background-size: 50px 43px;
                width: 18px;
                margin: 5px 0 0 122px;
                .box_9 {
                  width: 10px;
                  height: 6px;
                  background: url(./img/SketchPng13a67309e5940cb64f0e9ff1bcf6ededb4c5df0a6478368b671429acdd76e31c.png) -6px -7px
                    no-repeat;
                  background-size: 22px 20px;
                  margin: 1px 0 0 4px;
                }
              }
            }
          }
        }
        .box_10 {
          background-color: rgba(2, 12, 59, 0.8);
          position: relative;
          width: 1920px;
          height: 987px;
          margin-top: 12px;
          .group_4 {
            width: 1840px;
            height: 42px;
            margin: 22px 0 0 40px;
            .image-wrapper_3 {
              height: 40px;
              background: url(./img/SketchPng322bb883e9b9c1c28850313a6c5119313e0651f8b468d4558a85afe360ef9738.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-top: 2px;
              width: 221px;
              .thumbnail_1 {
                width: 16px;
                height: 9px;
                margin: 31px 0 0 29px;
              }
            }
            .text_7 {
              width: 219px;
              height: 28px;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 20px;
              font-family: PingFangSC-Semibold;
              font-weight: 600;
              text-align: left;
              white-space: nowrap;
              line-height: 28px;
              margin: 4px 0 0 -136px;
            }
            .group_5 {
              width: 221px;
              height: 40px;
              background: url(./img/SketchPng26c6bc9dff4bab1214fafa9c84b91aea40326d7c93f82411c31228fe20f25fd5.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-left: 1315px;
              .text_8 {
                width: 64px;
                height: 22px;
                overflow-wrap: break-word;
                color: rgba(0, 237, 255, 1);
                font-size: 16px;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 22px;
                margin: 8px 0 0 129px;
              }
              .thumbnail_2 {
                width: 16px;
                height: 16px;
                margin: 11px 0 0 12px;
              }
            }
          }
          .image_3 {
            width: 1840px;
            height: 1px;
            margin-left: 40px;
          }
          .grid_1 {
            width: 1840px;
            height: 866px;
            flex-wrap: wrap;
            margin: 28px 0 28px 40px;
            .box_11 {
              position: relative;
              width: 904px;
              height: 417px;
              background: url(./img/SketchPnge7b734e8e1d5357e027826b19bbc5a4cd63172ca19319b11d87dc64c2470eaf3.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 0 32px 32px 0;
              &:nth-child(2n) {
                margin-right: 0;
              }
              &:nth-last-child(-n + 2) {
                margin-bottom: 0;
              }
              .box_12 {
                width: 752px;
                height: 371px;
                margin: 24px 0 0 60px;
                .image-text_1 {
                  width: 387px;
                  height: 371px;
                  .text-wrapper_1 {
                    height: 343px;
                    background: url(./img/SketchPng856ff74754b14f5113c10e63061aa02c2558439c5c19db089db520f7ced3576f.png) -1px
                      0px no-repeat;
                    background-size: 388px 344px;
                    width: 387px;
                    .text_9 {
                      background-image: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 1) 0,
                        rgba(102, 244, 255, 1) 100%
                      );
                      width: 104px;
                      height: 84px;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 72px;
                      font-family: DINAlternate-Bold;
                      font-weight: 700;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 84px;
                      -webkit-background-clip: text;
                      -webkit-text-fill-color: transparent;
                      margin: 73px 0 0 142px;
                    }
                  }
                  .text-group_1 {
                    width: 140px;
                    height: 28px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 20px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 28px;
                    margin-left: 124px;
                  }
                }
                .group_6 {
                  height: 286px;
                  border: 1.18494623655914px solid;
                  background: url(./img/SketchPng79f296cfc4447096a56d5f97c5189b741cfc93bc5ecfe6cf50aad3964a859ec1.png)
                    0px 0px no-repeat;
                  background-size: 285px 284px;
                  width: 286px;
                  position: relative;
                  margin: 64px -1px 0 80px;
                  .box_13 {
                    width: 244px;
                    height: 244px;
                    background: url(./img/SketchPng1a828f9adaec66d0360e56c2b85370a67bb62992df55f6e01e513feef8768e3e.png)
                      0px 0px no-repeat;
                    background-size: 245px 244px;
                    margin: 21.184946236559142px 0 0 22.184946236559085px;
                  }
                  .box_14 {
                    height: 259px;
                    background: url(./img/SketchPng6e7b46dac7667e1006719503538472235020791818cc5b69e16163db50e9f046.png)
                      0px -1px no-repeat;
                    background-size: 260px 260px;
                    width: 259px;
                    position: absolute;
                    left: 13px;
                    top: 11px;
                    .image-wrapper_4 {
                      box-shadow: inset -28px -5px 48px 0px
                        rgba(0, 237, 255, 0.06);
                      background-image: url(./img/6aa275525d034edeb12461c301eab6e4_mergeImage.png);
                      height: 193px;
                      width: 283px;
                      margin: 33px 0 0 -6px;
                      .image_4 {
                        width: 145px;
                        height: 147px;
                        margin: 24px 0 0 62px;
                      }
                    }
                    .image_5 {
                      position: absolute;
                      left: 108px;
                      top: 33px;
                      width: 121px;
                      height: 195px;
                    }
                    .box_15 {
                      border-radius: 50%;
                      height: 260px;
                      border: 4.739784946236559px solid rgba(72, 83, 132, 1);
                      width: 260px;
                      position: absolute;
                      left: 4px;
                      top: 4px;
                      .section_2 {
                        width: 246px;
                        height: 246px;
                        background: url(./img/SketchPng4b49c947743ad772a1ecde0e87e315c4f54c8b0e57e4ebc0cffa8518813c6f17.png) -5px -5px
                          no-repeat;
                        background-size: 257px 256px;
                        margin: 7.739784946236568px 0 0 7.739784946236568px;
                        .text-group_2 {
                          width: 93px;
                          height: 99px;
                          margin: 78px 0 0 80px;
                          .text_10 {
                            text-shadow: 0px 0px 7px rgba(166, 241, 245, 0.56);
                            width: 89px;
                            height: 70px;
                            overflow-wrap: break-word;
                            color: rgba(0, 237, 255, 1);
                            font-size: 59px;
                            font-family: DINAlternate-Bold;
                            font-weight: 700;
                            text-align: left;
                            white-space: nowrap;
                            line-height: 70px;
                            margin-left: 4px;
                          }
                          .text_11 {
                            width: 90px;
                            height: 25px;
                            overflow-wrap: break-word;
                            color: rgba(255, 255, 255, 1);
                            font-size: 18px;
                            font-family: PingFangSC-Medium;
                            font-weight: 500;
                            text-align: left;
                            white-space: nowrap;
                            line-height: 25px;
                            margin-top: 4px;
                          }
                        }
                      }
                    }
                  }
                }
              }
              .box_16 {
                background-color: rgba(69, 75, 105, 1);
                width: 21px;
                height: 4px;
                margin: 2px 0 16px 867px;
              }
              .box_17 {
                position: absolute;
                left: 0;
                top: 0;
                width: 904px;
                height: 44px;
                background: url(./img/SketchPng8868aa113dfba38c231acea60b9c028ca85645aa283085e712b7bf3f118dd01d.png)
                  0px -1px no-repeat;
                background-size: 904px 45px;
                .label_5 {
                  width: 24px;
                  height: 28px;
                  margin: 8px 0 0 32px;
                }
                .text_12 {
                  width: 120px;
                  height: 28px;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 20px;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 28px;
                  margin: 8px 0 0 16px;
                }
                .text-wrapper_2 {
                  height: 32px;
                  background: url(./img/SketchPngfd1b48da191da5996df755d11988292de8437951d84491c3569067cca8d1dd6f.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 136px;
                  margin: 6px 0 0 16px;
                  .text_13 {
                    width: 96px;
                    height: 22px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 16px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22px;
                    margin: 5px 0 0 20px;
                  }
                }
                .thumbnail_3 {
                  width: 18px;
                  height: 18px;
                  margin: 12px 0 0 24px;
                }
                .text_14 {
                  width: 36px;
                  height: 25px;
                  overflow-wrap: break-word;
                  color: rgba(0, 237, 255, 1);
                  font-size: 18px;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 25px;
                  margin: 8px 470px 0 12px;
                }
              }
            }
            .box_18 {
              position: relative;
              width: 904px;
              height: 417px;
              background: url(./img/SketchPng3fc3597a89727a972daa8fcd3f064e139933f0c4d379e23fed755b0a493d47e2.png)
                0px -1px no-repeat;
              background-size: 904px 418px;
              margin-bottom: 32px;
              .box_19 {
                width: 456px;
                height: 32px;
                margin: 6px 0 0 32px;
                .label_6 {
                  width: 28px;
                  height: 28px;
                  margin-top: 3px;
                }
                .text_15 {
                  width: 160px;
                  height: 28px;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 20px;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 28px;
                  margin: 3px 0 0 16px;
                }
                .group_7 {
                  width: 236px;
                  height: 32px;
                  background: url(./img/SketchPng4dcc117fef4dafbaf15089f252ee9f86455c127537b0bbba18679a3a3db7d3eb.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  margin-left: 16px;
                  .text_16 {
                    width: 144px;
                    height: 22px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 16px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 22px;
                    margin: 5px 0 0 20px;
                  }
                  .thumbnail_4 {
                    width: 14px;
                    height: 8px;
                    margin: 12px 16px 0 42px;
                  }
                }
              }
              .box_20 {
                width: 840px;
                height: 20px;
                margin: 37px 0 0 32px;
                .text_17 {
                  width: 31px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .image_6 {
                  width: 793px;
                  height: 1px;
                  margin-top: 9px;
                }
              }
              .box_21 {
                width: 838px;
                height: 20px;
                margin: 48px 0 0 34px;
                .text_18 {
                  width: 29px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .image_7 {
                  width: 793px;
                  height: 1px;
                  margin-top: 10px;
                }
              }
              .box_22 {
                width: 838px;
                height: 20px;
                margin: 49px 0 0 34px;
                .text_19 {
                  width: 29px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .image_8 {
                  width: 793px;
                  height: 1px;
                  margin-top: 10px;
                }
              }
              .box_23 {
                width: 832px;
                height: 20px;
                margin: 49px 0 0 40px;
                .text_20 {
                  width: 23px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .image_9 {
                  width: 793px;
                  height: 1px;
                  margin-top: 9px;
                }
              }
              .box_24 {
                width: 832px;
                height: 20px;
                margin: 47px 0 0 40px;
                .text_21 {
                  width: 23px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .image_10 {
                  width: 793px;
                  height: 1px;
                  margin-top: 11px;
                }
              }
              .text-wrapper_3 {
                width: 739px;
                height: 20px;
                margin: 5px 0 24px 60px;
                .text_22 {
                  width: 43px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .text_23 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 66px;
                }
                .text_24 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 72px;
                }
                .text_25 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 72px;
                }
                .text_26 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 72px;
                }
                .text_27 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 71px;
                }
                .text_28 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 73px;
                }
              }
              .image_11 {
                position: absolute;
                left: 188px;
                top: 85px;
                width: 1px;
                height: 274px;
              }
              .image_12 {
                position: absolute;
                left: 539px;
                top: 85px;
                width: 1px;
                height: 274px;
              }
              .image_13 {
                position: absolute;
                left: 305px;
                top: 85px;
                width: 1px;
                height: 274px;
              }
              .image_14 {
                position: absolute;
                left: 656px;
                top: 85px;
                width: 1px;
                height: 274px;
              }
              .box_25 {
                position: absolute;
                left: 79px;
                top: 110px;
                width: 793px;
                height: 249px;
                background: url(./img/SketchPng713810ab1c07182be28dc9d3d89597c5720d88d5c3300a4416e6fc08eb32ae9c.png) -1px
                  0px no-repeat;
                background-size: 794px 250px;
                .image_15 {
                  width: 793px;
                  height: 47px;
                }
                .text_29 {
                  width: 29px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 14px;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-top: 3px;
                }
                .image_16 {
                  width: 793px;
                  height: 1px;
                  margin: 1px 0 177px 0;
                }
                .image_17 {
                  position: absolute;
                  left: 343px;
                  top: -25px;
                  width: 1px;
                  height: 274px;
                }
                .image_18 {
                  position: absolute;
                  left: 694px;
                  top: -25px;
                  width: 1px;
                  height: 274px;
                }
              }
            }
            .box_26 {
              position: relative;
              width: 904px;
              height: 417px;
              background: url(./img/SketchPnge7b734e8e1d5357e027826b19bbc5a4cd63172ca19319b11d87dc64c2470eaf3.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 0 32px 32px 0;
              .section_3 {
                width: 904px;
                height: 44px;
                background: url(./img/SketchPng8868aa113dfba38c231acea60b9c028ca85645aa283085e712b7bf3f118dd01d.png)
                  0px -1px no-repeat;
                background-size: 904px 45px;
                .image-text_2 {
                  width: 180px;
                  height: 28px;
                  margin: 8px 0 0 32px;
                  .label_7 {
                    width: 28px;
                    height: 28px;
                  }
                  .text-group_3 {
                    width: 140px;
                    height: 28px;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 20px;
                    font-family: PingFangSC-Semibold;
                    font-weight: 600;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 28px;
                  }
                }
              }
              .section_4 {
                width: 840px;
                height: 52px;
                margin: 24px 0 0 32px;
                .text-group_4 {
                  width: 28px;
                  height: 52px;
                  .text_30 {
                    width: 28px;
                    height: 20px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 14px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 20px;
                  }
                  .text_31 {
                    width: 17px;
                    height: 20px;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 14px;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 20px;
                    margin: 12px 0 0 11px;
                  }
                }
                .image_19 {
                  width: 793px;
                  height: 1px;
                  margin-top: 42px;
                }
              }
              .section_5 {
                width: 829px;
                height: 30px;
                margin: 30px 0 0 43px;
                .text_32 {
                  width: 17px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .text_33 {
                  width: 17px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 14px;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin: 10px 0 0 19px;
                }
                .image_20 {
                  width: 793px;
                  height: 1px;
                  margin: 10px 0 0 -17px;
                }
              }
              .section_6 {
                width: 829px;
                height: 20px;
                margin: 20px 0 0 43px;
                .text_34 {
                  width: 17px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .image_21 {
                  width: 793px;
                  height: 1px;
                  margin-top: 10px;
                }
              }
              .section_7 {
                width: 829px;
                height: 20px;
                margin: 29px 0 0 43px;
                .text_35 {
                  width: 15px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .image_22 {
                  width: 793px;
                  height: 1px;
                  margin-top: 10px;
                }
              }
              .section_8 {
                width: 829px;
                height: 20px;
                margin: 30px 0 0 43px;
                .text_36 {
                  width: 15px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .image_23 {
                  width: 793px;
                  height: 1px;
                  margin-top: 10px;
                }
              }
              .section_9 {
                width: 829px;
                height: 20px;
                margin: 29px 0 0 43px;
                .text_37 {
                  width: 17px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .image_24 {
                  width: 793px;
                  height: 1px;
                  margin-top: 11px;
                }
              }
              .text-wrapper_4 {
                width: 739px;
                height: 20px;
                margin: 5px 0 0 60px;
                .text_38 {
                  width: 43px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .text_39 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 66px;
                }
                .text_40 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 72px;
                }
                .text_41 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 72px;
                }
                .text_42 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 72px;
                }
                .text_43 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 71px;
                }
                .text_44 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 73px;
                }
              }
              .section_10 {
                background-color: rgba(69, 75, 105, 1);
                width: 21px;
                height: 4px;
                margin: 4px 0 16px 867px;
              }
              .image_25 {
                position: absolute;
                left: 188px;
                top: 110px;
                width: 1px;
                height: 249px;
              }
              .image_26 {
                position: absolute;
                left: 539px;
                top: 110px;
                width: 1px;
                height: 249px;
              }
              .image_27 {
                position: absolute;
                left: 305px;
                top: 110px;
                width: 1px;
                height: 249px;
              }
              .image_28 {
                position: absolute;
                left: 656px;
                top: 110px;
                width: 1px;
                height: 249px;
              }
              .image-wrapper_5 {
                position: absolute;
                left: 79px;
                top: 235px;
                width: 793px;
                height: 128px;
                background: url(./img/SketchPng1cb91cc56b3fa6a59281780f1d1a97969b59c349de3eec6303042afbc56e069e.png) -1px -1px
                  no-repeat;
                background-size: 795px 129px;
                .image_29 {
                  position: absolute;
                  left: 343px;
                  top: -125px;
                  width: 1px;
                  height: 249px;
                }
                .image_30 {
                  position: absolute;
                  left: 694px;
                  top: -125px;
                  width: 1px;
                  height: 249px;
                }
              }
              .image_31 {
                position: absolute;
                left: 79px;
                top: 181px;
                width: 793px;
                height: 1px;
              }
            }
            .box_27 {
              position: relative;
              width: 904px;
              height: 417px;
              background: url(./img/SketchPnge7b734e8e1d5357e027826b19bbc5a4cd63172ca19319b11d87dc64c2470eaf3.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-bottom: 32px;
              .group_8 {
                width: 904px;
                height: 44px;
                background: url(./img/SketchPng8868aa113dfba38c231acea60b9c028ca85645aa283085e712b7bf3f118dd01d.png)
                  0px -1px no-repeat;
                background-size: 904px 45px;
                .image-text_3 {
                  width: 204px;
                  height: 28px;
                  margin: 8px 0 0 24px;
                  .label_8 {
                    width: 28px;
                    height: 28px;
                  }
                  .text-group_5 {
                    width: 160px;
                    height: 28px;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 20px;
                    font-family: PingFangSC-Semibold;
                    font-weight: 600;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 28px;
                  }
                }
              }
              .group_9 {
                width: 840px;
                height: 20px;
                margin: 31px 0 0 32px;
                .text_45 {
                  width: 31px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .image_32 {
                  width: 793px;
                  height: 1px;
                  margin-top: 9px;
                }
              }
              .group_10 {
                width: 838px;
                height: 20px;
                margin: 48px 0 0 34px;
                .text_46 {
                  width: 29px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .image_33 {
                  width: 793px;
                  height: 1px;
                  margin-top: 10px;
                }
              }
              .group_11 {
                width: 838px;
                height: 20px;
                margin: 49px 0 0 34px;
                .text_47 {
                  width: 29px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .image_34 {
                  width: 793px;
                  height: 1px;
                  margin-top: 10px;
                }
              }
              .group_12 {
                width: 832px;
                height: 20px;
                margin: 49px 0 0 40px;
                .text_48 {
                  width: 23px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .image_35 {
                  width: 793px;
                  height: 1px;
                  margin-top: 9px;
                }
              }
              .group_13 {
                width: 832px;
                height: 20px;
                margin: 47px 0 0 40px;
                .text_49 {
                  width: 23px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .image_36 {
                  width: 793px;
                  height: 1px;
                  margin-top: 11px;
                }
              }
              .text-wrapper_5 {
                width: 739px;
                height: 20px;
                margin: 5px 0 0 60px;
                .text_50 {
                  width: 43px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                }
                .text_51 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 66px;
                }
                .text_52 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 72px;
                }
                .text_53 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 72px;
                }
                .text_54 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 72px;
                }
                .text_55 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 71px;
                }
                .text_56 {
                  width: 45px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 14px;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-left: 73px;
                }
              }
              .group_14 {
                background-color: rgba(69, 75, 105, 1);
                width: 21px;
                height: 4px;
                margin: 4px 0 16px 867px;
              }
              .image_37 {
                position: absolute;
                left: 188px;
                top: 85px;
                width: 1px;
                height: 274px;
              }
              .image_38 {
                position: absolute;
                left: 539px;
                top: 85px;
                width: 1px;
                height: 274px;
              }
              .image_39 {
                position: absolute;
                left: 305px;
                top: 85px;
                width: 1px;
                height: 274px;
              }
              .image_40 {
                position: absolute;
                left: 656px;
                top: 85px;
                width: 1px;
                height: 274px;
              }
              .group_15 {
                position: absolute;
                left: 79px;
                top: 110px;
                width: 793px;
                height: 249px;
                background: url(./img/SketchPng713810ab1c07182be28dc9d3d89597c5720d88d5c3300a4416e6fc08eb32ae9c.png) -1px
                  0px no-repeat;
                background-size: 794px 250px;
                .image_41 {
                  width: 793px;
                  height: 47px;
                }
                .text_57 {
                  width: 29px;
                  height: 20px;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 14px;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 20px;
                  margin-top: 3px;
                }
                .image_42 {
                  width: 793px;
                  height: 1px;
                  margin: 1px 0 177px 0;
                }
                .image_43 {
                  position: absolute;
                  left: 343px;
                  top: -25px;
                  width: 1px;
                  height: 274px;
                }
                .image_44 {
                  position: absolute;
                  left: 694px;
                  top: -25px;
                  width: 1px;
                  height: 274px;
                }
              }
            }
          }
          .group_16 {
            background-color: rgba(5, 237, 255, 1);
            position: absolute;
            left: 59px;
            top: 62px;
            width: 36px;
            height: 3px;
          }
          .group_17 {
            height: 38px;
            background: url(./img/SketchPnga2730fe0b561c1b347637b932823e56089901b39a2c55a45a9705f0081188641.png)
              100% no-repeat;
            background-size: 100% 100%;
            width: 38px;
            position: absolute;
            left: 58px;
            top: 20px;
            .group_18 {
              background-color: rgba(10, 32, 54, 1);
              border-radius: 50%;
              height: 24px;
              width: 14px;
              margin: 7px 0 0 23px;
              .box_28 {
                background-color: rgba(5, 237, 255, 1);
                border-radius: 50%;
                height: 18px;
                width: 10px;
                margin: 4px 0 0 3px;
                .image-wrapper_6 {
                  background-color: rgba(10, 32, 54, 1);
                  border-radius: 50%;
                  height: 12px;
                  width: 7px;
                  margin: 2px 0 0 3px;
                  .thumbnail_5 {
                    width: 5px;
                    height: 5px;
                    margin: 2px 0 0 1px;
                  }
                }
              }
            }
          }
          .image_45 {
            position: absolute;
            left: 84px;
            top: 13px;
            width: 53px;
            height: 52px;
          }
        }
      }
    }
  }
}
