.page {
  position: relative;
  width: 10rem;
  height: 5.625rem;
  overflow: hidden;
  .box_1 {
    height: 5.625rem;
    background: url(./img/SketchPngbb6059bde37e68ee3ee2aa8c68602bde41d3d4a08c581290a475df0ad9cbd256.png)
      100% no-repeat;
    background-size: 100% 100%;
    width: 10rem;
    .box_2 {
      height: 5.625rem;
      background: url(./img/SketchPng003d839e0e4f6604a62d8d019e74e6879ac55ac571dfb59c7c9299e1136667b2.png)
        100% no-repeat;
      background-size: 100% 100%;
      width: 10rem;
      .group_1 {
        background-color: rgba(8, 12, 36, 0.7);
        border-radius: 8px;
        width: 10rem;
        height: 5.625rem;
        .box_3 {
          position: relative;
          width: 10rem;
          height: 0.422rem;
          background: url(./img/SketchPng8bfb9525b04946b9ee990ba895bbbf2fe1d617ecbe0fe17f1eb1499633546d0b.png)
            100% no-repeat;
          background-size: 100% 100%;
          .block_1 {
            width: 7.323rem;
            height: 0.23rem;
            margin: 0.11rem 0 0 2.678rem;
            .image-wrapper_1 {
              height: 0.209rem;
              background: url(./img/SketchPng7c0b08efd057f8b7d0a30415e72be9e4b4bebfb50e056712e01d0502b1ce3572.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-top: 0.011rem;
              width: 1.152rem;
              .image_1 {
                width: 1.152rem;
                height: 0.209rem;
              }
            }
            .image-wrapper_2 {
              height: 0.162rem;
              background: url(./img/SketchPnge0121ad55ee7efdab67077a35865dc2d9f0d20dee6f501fc4b053bffbf3c31f7.png)
                0rem 0rem no-repeat;
              background-size: 0.245rem 0.162rem;
              width: 0.24rem;
              margin: 0.058rem 0 0 2.006rem;
              .label_1 {
                width: 0.24rem;
                height: 0.162rem;
              }
            }
            .text_1 {
              background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0,
                rgba(135, 145, 206, 1) 100%
              );
              width: 0.589rem;
              height: 0.12rem;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 0.104rem;
              font-family: Galvji;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 0.12rem;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              margin: 0.073rem 0 0 0.313rem;
            }
            .text_2 {
              background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0,
                rgba(135, 145, 206, 1) 100%
              );
              width: 0.282rem;
              height: 0.131rem;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 0.093rem;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 0.131rem;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              margin: 0.068rem 0 0 0.125rem;
            }
            .text_3 {
              width: 0.698rem;
              height: 0.198rem;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 0.166rem;
              font-family: Galvji;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 0.198rem;
              margin: 0.011rem 0 0 0.125rem;
            }
            .box_4 {
              width: 1.396rem;
              height: 0.23rem;
              background: url(./img/SketchPng1e4d73228a4b718bc3dc4e28d9c5f5c1a8fc66587312ac4e714816ee1f16709a.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-left: 0.402rem;
              .label_2 {
                width: 0.131rem;
                height: 0.115rem;
                margin: 0.063rem 0 0 0.23rem;
              }
              .text_4 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 0.188rem;
                height: 0.131rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.093rem;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 0.131rem;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0.053rem 0 0 0.079rem;
              }
              .label_3 {
                width: 0.125rem;
                height: 0.125rem;
                margin: 0.058rem 0 0 0.167rem;
              }
              .text_5 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 0.188rem;
                height: 0.131rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.093rem;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 0.131rem;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0.053rem 0.209rem 0 0.084rem;
              }
            }
          }
          .block_2 {
            background-color: rgba(138, 147, 201, 0.3);
            border-radius: 2px;
            width: 0.193rem;
            height: 0.016rem;
            margin: 0.047rem 0 0 9.599rem;
          }
          .image_2 {
            width: 10rem;
            height: 0.006rem;
            margin-top: 0.016rem;
          }
          .block_3 {
            height: 0.099rem;
            background: url(./img/SketchPng1031b39c26628ea3f673aa44e678ff5b0307d28c1fdcefc3144c79b6ad8ccf1a.png)
              0rem -0.006rem no-repeat;
            background-size: 9.391rem 0.115rem;
            width: 9.391rem;
            position: absolute;
            left: 0;
            top: 0.37rem;
            .section_1 {
              position: relative;
              width: 3.667rem;
              height: 0.047rem;
              background: url(./img/SketchPng4f3f5454a09f7b4e228e66fa142d41b47ddce486367077f069311523b769af74.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 0.027rem 0 0 3.355rem;
              .box_5 {
                background-color: rgba(138, 147, 201, 0.4);
                border-radius: 2px;
                position: absolute;
                left: 3.032rem;
                top: -0.01rem;
                width: 0.105rem;
                height: 0.016rem;
              }
              .box_6 {
                background-color: rgba(138, 147, 201, 0.2);
                border-radius: 2px;
                position: absolute;
                left: 3.188rem;
                top: -0.01rem;
                width: 0.105rem;
                height: 0.016rem;
              }
              .box_7 {
                background-color: rgba(138, 147, 201, 0.1);
                border-radius: 2px;
                position: absolute;
                left: 3.344rem;
                top: -0.01rem;
                width: 0.105rem;
                height: 0.016rem;
              }
              .box_8 {
                background-color: rgba(138, 147, 201, 0.3);
                border-radius: 2px;
                position: absolute;
                left: 0.558rem;
                top: -0.01rem;
                width: 0.193rem;
                height: 0.016rem;
              }
            }
          }
          .block_4 {
            position: absolute;
            left: -0.468rem;
            top: 0.042rem;
            width: 2.735rem;
            height: 0.375rem;
            background: url(./img/SketchPng23ac035b487469d5468183e970040279c5d221a880a47ba092820927c4face04.png)
              100% no-repeat;
            background-size: 100% 100%;
            .group_2 {
              width: 1.183rem;
              height: 0.219rem;
              margin: 0.053rem 0 0 0.719rem;
              .label_4 {
                width: 0.188rem;
                height: 0.219rem;
              }
              .text_6 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(199, 207, 243, 1) 100%
                );
                width: 0.875rem;
                height: 0.209rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.145rem;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                text-align: left;
                white-space: nowrap;
                line-height: 0.209rem;
                margin-top: 0.011rem;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
            .group_3 {
              height: 0.089rem;
              background: url(./img/SketchPng35d24bc1167d062a3550f34ee9a0a1ef5219ae697bd5ecfca023c5777c82e810.png)
                100% no-repeat;
              background-size: 100% 100%;
              width: 1.375rem;
              margin: 0.006rem 0 0.011rem 0.891rem;
              .block_5 {
                height: 0.058rem;
                background: url(./img/SketchPngd30118be47d2468d7af566c0316736409d70476c34f6ab8d2b5e7e9fcfdcb000.png) -0.084rem -0.084rem
                  no-repeat;
                background-size: 0.261rem 0.224rem;
                width: 0.094rem;
                margin: 0.027rem 0 0 0.636rem;
                .box_9 {
                  width: 0.053rem;
                  height: 0.032rem;
                  background: url(./img/SketchPng13a67309e5940cb64f0e9ff1bcf6ededb4c5df0a6478368b671429acdd76e31c.png) -0.032rem -0.037rem
                    no-repeat;
                  background-size: 0.115rem 0.105rem;
                  margin: 0.006rem 0 0 0.021rem;
                }
              }
            }
          }
        }
        .box_10 {
          background-color: rgba(2, 12, 59, 0.8);
          position: relative;
          width: 10rem;
          height: 5.141rem;
          margin-top: 0.063rem;
          .group_4 {
            width: 9.584rem;
            height: 0.219rem;
            margin: 0.115rem 0 0 0.209rem;
            .image-wrapper_3 {
              height: 0.209rem;
              background: url(./img/SketchPng322bb883e9b9c1c28850313a6c5119313e0651f8b468d4558a85afe360ef9738.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-top: 0.011rem;
              width: 1.152rem;
              .thumbnail_1 {
                width: 0.084rem;
                height: 0.047rem;
                margin: 0.162rem 0 0 0.152rem;
              }
            }
            .text_7 {
              width: 1.141rem;
              height: 0.146rem;
              overflow-wrap: break-word;
              color: rgba(255, 255, 255, 1);
              font-size: 0.104rem;
              font-family: PingFangSC-Semibold;
              font-weight: 600;
              text-align: left;
              white-space: nowrap;
              line-height: 0.146rem;
              margin: 0.021rem 0 0 -0.709rem;
            }
            .group_5 {
              width: 1.152rem;
              height: 0.209rem;
              background: url(./img/SketchPng26c6bc9dff4bab1214fafa9c84b91aea40326d7c93f82411c31228fe20f25fd5.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-left: 6.849rem;
              .text_8 {
                width: 0.334rem;
                height: 0.115rem;
                overflow-wrap: break-word;
                color: rgba(0, 237, 255, 1);
                font-size: 0.083rem;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 0.115rem;
                margin: 0.042rem 0 0 0.672rem;
              }
              .thumbnail_2 {
                width: 0.084rem;
                height: 0.084rem;
                margin: 0.058rem 0 0 0.063rem;
              }
            }
          }
          .image_3 {
            width: 9.584rem;
            height: 0.006rem;
            margin-left: 0.209rem;
          }
          .grid_1 {
            width: 9.584rem;
            height: 4.511rem;
            flex-wrap: wrap;
            margin: 0.146rem 0 0.146rem 0.209rem;
            .box_11 {
              position: relative;
              width: 4.709rem;
              height: 2.172rem;
              background: url(./img/SketchPnge7b734e8e1d5357e027826b19bbc5a4cd63172ca19319b11d87dc64c2470eaf3.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 0 0.167rem 0.167rem 0;
              .box_12 {
                width: 3.917rem;
                height: 1.933rem;
                margin: 0.125rem 0 0 0.313rem;
                .image-text_1 {
                  width: 2.016rem;
                  height: 1.933rem;
                  .text-wrapper_1 {
                    height: 1.787rem;
                    background: url(./img/SketchPng856ff74754b14f5113c10e63061aa02c2558439c5c19db089db520f7ced3576f.png) -0.006rem
                      0rem no-repeat;
                    background-size: 2.021rem 1.792rem;
                    width: 2.016rem;
                    .text_9 {
                      background-image: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 1) 0,
                        rgba(102, 244, 255, 1) 100%
                      );
                      width: 0.542rem;
                      height: 0.438rem;
                      overflow-wrap: break-word;
                      color: rgba(255, 255, 255, 1);
                      font-size: 0.375rem;
                      font-family: DINAlternate-Bold;
                      font-weight: 700;
                      text-align: left;
                      white-space: nowrap;
                      line-height: 0.438rem;
                      -webkit-background-clip: text;
                      -webkit-text-fill-color: transparent;
                      margin: 0.381rem 0 0 0.74rem;
                    }
                  }
                  .text-group_1 {
                    width: 0.73rem;
                    height: 0.146rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.104rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.146rem;
                    margin-left: 0.646rem;
                  }
                }
                .group_6 {
                  height: 1.49rem;
                  border: 1.18494623655914px solid;
                  background: url(./img/SketchPng79f296cfc4447096a56d5f97c5189b741cfc93bc5ecfe6cf50aad3964a859ec1.png)
                    0rem 0rem no-repeat;
                  background-size: 1.485rem 1.48rem;
                  width: 1.49rem;
                  position: relative;
                  margin: 0.334rem -0.006rem 0 0.417rem;
                  .box_13 {
                    width: 1.271rem;
                    height: 1.271rem;
                    background: url(./img/SketchPng1a828f9adaec66d0360e56c2b85370a67bb62992df55f6e01e513feef8768e3e.png)
                      0rem 0rem no-repeat;
                    background-size: 1.277rem 1.271rem;
                    margin: 0.11rem 0 0 0.115rem;
                  }
                  .box_14 {
                    height: 1.349rem;
                    background: url(./img/SketchPng6e7b46dac7667e1006719503538472235020791818cc5b69e16163db50e9f046.png)
                      0rem -0.006rem no-repeat;
                    background-size: 1.355rem 1.355rem;
                    width: 1.349rem;
                    position: absolute;
                    left: 0.068rem;
                    top: 0.058rem;
                    .image-wrapper_4 {
                      box-shadow: inset -28px -5px 48px 0px
                        rgba(0, 237, 255, 0.06);
                      background-image: url(./img/6aa275525d034edeb12461c301eab6e4_mergeImage.png);
                      height: 1.006rem;
                      width: 1.474rem;
                      margin: 0.172rem 0 0 -0.032rem;
                      .image_4 {
                        width: 0.756rem;
                        height: 0.766rem;
                        margin: 0.125rem 0 0 0.323rem;
                      }
                    }
                    .image_5 {
                      position: absolute;
                      left: 0.563rem;
                      top: 0.172rem;
                      width: 0.631rem;
                      height: 1.016rem;
                    }
                    .box_15 {
                      border-radius: 50%;
                      height: 1.355rem;
                      border: 4.739784946236559px solid rgba(72, 83, 132, 1);
                      width: 1.355rem;
                      position: absolute;
                      left: 0.021rem;
                      top: 0.021rem;
                      .section_2 {
                        width: 1.282rem;
                        height: 1.282rem;
                        background: url(./img/SketchPng4b49c947743ad772a1ecde0e87e315c4f54c8b0e57e4ebc0cffa8518813c6f17.png) -0.027rem -0.027rem
                          no-repeat;
                        background-size: 1.339rem 1.334rem;
                        margin: 0.037rem 0 0 0.037rem;
                        .text-group_2 {
                          width: 0.485rem;
                          height: 0.516rem;
                          margin: 0.407rem 0 0 0.417rem;
                          .text_10 {
                            text-shadow: 0px 0px 7px rgba(166, 241, 245, 0.56);
                            width: 0.464rem;
                            height: 0.365rem;
                            overflow-wrap: break-word;
                            color: rgba(0, 237, 255, 1);
                            font-size: 0.307rem;
                            font-family: DINAlternate-Bold;
                            font-weight: 700;
                            text-align: left;
                            white-space: nowrap;
                            line-height: 0.365rem;
                            margin-left: 0.021rem;
                          }
                          .text_11 {
                            width: 0.469rem;
                            height: 0.131rem;
                            overflow-wrap: break-word;
                            color: rgba(255, 255, 255, 1);
                            font-size: 0.093rem;
                            font-family: PingFangSC-Medium;
                            font-weight: 500;
                            text-align: left;
                            white-space: nowrap;
                            line-height: 0.131rem;
                            margin-top: 0.021rem;
                          }
                        }
                      }
                    }
                  }
                }
              }
              .box_16 {
                background-color: rgba(69, 75, 105, 1);
                width: 0.11rem;
                height: 0.021rem;
                margin: 0.011rem 0 0.084rem 4.516rem;
              }
              .box_17 {
                position: absolute;
                left: 0;
                top: 0;
                width: 4.709rem;
                height: 0.23rem;
                background: url(./img/SketchPng8868aa113dfba38c231acea60b9c028ca85645aa283085e712b7bf3f118dd01d.png)
                  0rem -0.006rem no-repeat;
                background-size: 4.709rem 0.235rem;
                .label_5 {
                  width: 0.125rem;
                  height: 0.146rem;
                  margin: 0.042rem 0 0 0.167rem;
                }
                .text_12 {
                  width: 0.625rem;
                  height: 0.146rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.104rem;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.146rem;
                  margin: 0.042rem 0 0 0.084rem;
                }
                .text-wrapper_2 {
                  height: 0.167rem;
                  background: url(./img/SketchPngfd1b48da191da5996df755d11988292de8437951d84491c3569067cca8d1dd6f.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 0.709rem;
                  margin: 0.032rem 0 0 0.084rem;
                  .text_13 {
                    width: 0.5rem;
                    height: 0.115rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.083rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.115rem;
                    margin: 0.027rem 0 0 0.105rem;
                  }
                }
                .thumbnail_3 {
                  width: 0.094rem;
                  height: 0.094rem;
                  margin: 0.063rem 0 0 0.125rem;
                }
                .text_14 {
                  width: 0.188rem;
                  height: 0.131rem;
                  overflow-wrap: break-word;
                  color: rgba(0, 237, 255, 1);
                  font-size: 0.093rem;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.131rem;
                  margin: 0.042rem 2.448rem 0 0.063rem;
                }
              }
            }
            .box_18 {
              position: relative;
              width: 4.709rem;
              height: 2.172rem;
              background: url(./img/SketchPng3fc3597a89727a972daa8fcd3f064e139933f0c4d379e23fed755b0a493d47e2.png)
                0rem -0.006rem no-repeat;
              background-size: 4.709rem 2.178rem;
              margin-bottom: 0.167rem;
              .box_19 {
                width: 2.375rem;
                height: 0.167rem;
                margin: 0.032rem 0 0 0.167rem;
                .label_6 {
                  width: 0.146rem;
                  height: 0.146rem;
                  margin-top: 0.016rem;
                }
                .text_15 {
                  width: 0.834rem;
                  height: 0.146rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.104rem;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.146rem;
                  margin: 0.016rem 0 0 0.084rem;
                }
                .group_7 {
                  width: 1.23rem;
                  height: 0.167rem;
                  background: url(./img/SketchPng4dcc117fef4dafbaf15089f252ee9f86455c127537b0bbba18679a3a3db7d3eb.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  margin-left: 0.084rem;
                  .text_16 {
                    width: 0.75rem;
                    height: 0.115rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.083rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.115rem;
                    margin: 0.027rem 0 0 0.105rem;
                  }
                  .thumbnail_4 {
                    width: 0.073rem;
                    height: 0.042rem;
                    margin: 0.063rem 0.084rem 0 0.219rem;
                  }
                }
              }
              .box_20 {
                width: 4.375rem;
                height: 0.105rem;
                margin: 0.193rem 0 0 0.167rem;
                .text_17 {
                  width: 0.162rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .image_6 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin-top: 0.047rem;
                }
              }
              .box_21 {
                width: 4.365rem;
                height: 0.105rem;
                margin: 0.25rem 0 0 0.178rem;
                .text_18 {
                  width: 0.152rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .image_7 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin-top: 0.053rem;
                }
              }
              .box_22 {
                width: 4.365rem;
                height: 0.105rem;
                margin: 0.256rem 0 0 0.178rem;
                .text_19 {
                  width: 0.152rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .image_8 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin-top: 0.053rem;
                }
              }
              .box_23 {
                width: 4.334rem;
                height: 0.105rem;
                margin: 0.256rem 0 0 0.209rem;
                .text_20 {
                  width: 0.12rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .image_9 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin-top: 0.047rem;
                }
              }
              .box_24 {
                width: 4.334rem;
                height: 0.105rem;
                margin: 0.245rem 0 0 0.209rem;
                .text_21 {
                  width: 0.12rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .image_10 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin-top: 0.058rem;
                }
              }
              .text-wrapper_3 {
                width: 3.849rem;
                height: 0.105rem;
                margin: 0.027rem 0 0.125rem 0.313rem;
                .text_22 {
                  width: 0.224rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .text_23 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.344rem;
                }
                .text_24 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.375rem;
                }
                .text_25 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.375rem;
                }
                .text_26 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.375rem;
                }
                .text_27 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.37rem;
                }
                .text_28 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.381rem;
                }
              }
              .image_11 {
                position: absolute;
                left: 0.98rem;
                top: 0.443rem;
                width: 0.006rem;
                height: 1.428rem;
              }
              .image_12 {
                position: absolute;
                left: 2.808rem;
                top: 0.443rem;
                width: 0.006rem;
                height: 1.428rem;
              }
              .image_13 {
                position: absolute;
                left: 1.589rem;
                top: 0.443rem;
                width: 0.006rem;
                height: 1.428rem;
              }
              .image_14 {
                position: absolute;
                left: 3.417rem;
                top: 0.443rem;
                width: 0.006rem;
                height: 1.428rem;
              }
              .box_25 {
                position: absolute;
                left: 0.412rem;
                top: 0.573rem;
                width: 4.131rem;
                height: 1.297rem;
                background: url(./img/SketchPng713810ab1c07182be28dc9d3d89597c5720d88d5c3300a4416e6fc08eb32ae9c.png) -0.006rem
                  0rem no-repeat;
                background-size: 4.136rem 1.303rem;
                .image_15 {
                  width: 4.131rem;
                  height: 0.245rem;
                }
                .text_29 {
                  width: 0.152rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 0.072rem;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-top: 0.016rem;
                }
                .image_16 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin: 0.006rem 0 0.922rem 0;
                }
                .image_17 {
                  position: absolute;
                  left: 1.787rem;
                  top: -0.13rem;
                  width: 0.006rem;
                  height: 1.428rem;
                }
                .image_18 {
                  position: absolute;
                  left: 3.615rem;
                  top: -0.13rem;
                  width: 0.006rem;
                  height: 1.428rem;
                }
              }
            }
            .box_26 {
              position: relative;
              width: 4.709rem;
              height: 2.172rem;
              background: url(./img/SketchPnge7b734e8e1d5357e027826b19bbc5a4cd63172ca19319b11d87dc64c2470eaf3.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin: 0 0.167rem 0.167rem 0;
              .section_3 {
                width: 4.709rem;
                height: 0.23rem;
                background: url(./img/SketchPng8868aa113dfba38c231acea60b9c028ca85645aa283085e712b7bf3f118dd01d.png)
                  0rem -0.006rem no-repeat;
                background-size: 4.709rem 0.235rem;
                .image-text_2 {
                  width: 0.938rem;
                  height: 0.146rem;
                  margin: 0.042rem 0 0 0.167rem;
                  .label_7 {
                    width: 0.146rem;
                    height: 0.146rem;
                  }
                  .text-group_3 {
                    width: 0.73rem;
                    height: 0.146rem;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 0.104rem;
                    font-family: PingFangSC-Semibold;
                    font-weight: 600;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.146rem;
                  }
                }
              }
              .section_4 {
                width: 4.375rem;
                height: 0.271rem;
                margin: 0.125rem 0 0 0.167rem;
                .text-group_4 {
                  width: 0.146rem;
                  height: 0.271rem;
                  .text_30 {
                    width: 0.146rem;
                    height: 0.105rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.072rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.105rem;
                  }
                  .text_31 {
                    width: 0.089rem;
                    height: 0.105rem;
                    overflow-wrap: break-word;
                    color: rgba(199, 207, 243, 1);
                    font-size: 0.072rem;
                    font-weight: NaN;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.105rem;
                    margin: 0.063rem 0 0 0.058rem;
                  }
                }
                .image_19 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin-top: 0.219rem;
                }
              }
              .section_5 {
                width: 4.318rem;
                height: 0.157rem;
                margin: 0.157rem 0 0 0.224rem;
                .text_32 {
                  width: 0.089rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .text_33 {
                  width: 0.089rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 0.072rem;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin: 0.053rem 0 0 0.099rem;
                }
                .image_20 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin: 0.053rem 0 0 -0.089rem;
                }
              }
              .section_6 {
                width: 4.318rem;
                height: 0.105rem;
                margin: 0.105rem 0 0 0.224rem;
                .text_34 {
                  width: 0.089rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .image_21 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin-top: 0.053rem;
                }
              }
              .section_7 {
                width: 4.318rem;
                height: 0.105rem;
                margin: 0.152rem 0 0 0.224rem;
                .text_35 {
                  width: 0.079rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .image_22 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin-top: 0.053rem;
                }
              }
              .section_8 {
                width: 4.318rem;
                height: 0.105rem;
                margin: 0.157rem 0 0 0.224rem;
                .text_36 {
                  width: 0.079rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .image_23 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin-top: 0.053rem;
                }
              }
              .section_9 {
                width: 4.318rem;
                height: 0.105rem;
                margin: 0.152rem 0 0 0.224rem;
                .text_37 {
                  width: 0.089rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .image_24 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin-top: 0.058rem;
                }
              }
              .text-wrapper_4 {
                width: 3.849rem;
                height: 0.105rem;
                margin: 0.027rem 0 0 0.313rem;
                .text_38 {
                  width: 0.224rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .text_39 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.344rem;
                }
                .text_40 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.375rem;
                }
                .text_41 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.375rem;
                }
                .text_42 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.375rem;
                }
                .text_43 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.37rem;
                }
                .text_44 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.381rem;
                }
              }
              .section_10 {
                background-color: rgba(69, 75, 105, 1);
                width: 0.11rem;
                height: 0.021rem;
                margin: 0.021rem 0 0.084rem 4.516rem;
              }
              .image_25 {
                position: absolute;
                left: 0.98rem;
                top: 0.573rem;
                width: 0.006rem;
                height: 1.297rem;
              }
              .image_26 {
                position: absolute;
                left: 2.808rem;
                top: 0.573rem;
                width: 0.006rem;
                height: 1.297rem;
              }
              .image_27 {
                position: absolute;
                left: 1.589rem;
                top: 0.573rem;
                width: 0.006rem;
                height: 1.297rem;
              }
              .image_28 {
                position: absolute;
                left: 3.417rem;
                top: 0.573rem;
                width: 0.006rem;
                height: 1.297rem;
              }
              .image-wrapper_5 {
                position: absolute;
                left: 0.412rem;
                top: 1.224rem;
                width: 4.131rem;
                height: 0.667rem;
                background: url(./img/SketchPng1cb91cc56b3fa6a59281780f1d1a97969b59c349de3eec6303042afbc56e069e.png) -0.006rem -0.006rem
                  no-repeat;
                background-size: 4.141rem 0.672rem;
                .image_29 {
                  position: absolute;
                  left: 1.787rem;
                  top: -0.651rem;
                  width: 0.006rem;
                  height: 1.297rem;
                }
                .image_30 {
                  position: absolute;
                  left: 3.615rem;
                  top: -0.651rem;
                  width: 0.006rem;
                  height: 1.297rem;
                }
              }
              .image_31 {
                position: absolute;
                left: 0.412rem;
                top: 0.943rem;
                width: 4.131rem;
                height: 0.006rem;
              }
            }
            .box_27 {
              position: relative;
              width: 4.709rem;
              height: 2.172rem;
              background: url(./img/SketchPnge7b734e8e1d5357e027826b19bbc5a4cd63172ca19319b11d87dc64c2470eaf3.png)
                100% no-repeat;
              background-size: 100% 100%;
              margin-bottom: 0.167rem;
              .group_8 {
                width: 4.709rem;
                height: 0.23rem;
                background: url(./img/SketchPng8868aa113dfba38c231acea60b9c028ca85645aa283085e712b7bf3f118dd01d.png)
                  0rem -0.006rem no-repeat;
                background-size: 4.709rem 0.235rem;
                .image-text_3 {
                  width: 1.063rem;
                  height: 0.146rem;
                  margin: 0.042rem 0 0 0.125rem;
                  .label_8 {
                    width: 0.146rem;
                    height: 0.146rem;
                  }
                  .text-group_5 {
                    width: 0.834rem;
                    height: 0.146rem;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 0.104rem;
                    font-family: PingFangSC-Semibold;
                    font-weight: 600;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.146rem;
                  }
                }
              }
              .group_9 {
                width: 4.375rem;
                height: 0.105rem;
                margin: 0.162rem 0 0 0.167rem;
                .text_45 {
                  width: 0.162rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .image_32 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin-top: 0.047rem;
                }
              }
              .group_10 {
                width: 4.365rem;
                height: 0.105rem;
                margin: 0.25rem 0 0 0.178rem;
                .text_46 {
                  width: 0.152rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .image_33 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin-top: 0.053rem;
                }
              }
              .group_11 {
                width: 4.365rem;
                height: 0.105rem;
                margin: 0.256rem 0 0 0.178rem;
                .text_47 {
                  width: 0.152rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .image_34 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin-top: 0.053rem;
                }
              }
              .group_12 {
                width: 4.334rem;
                height: 0.105rem;
                margin: 0.256rem 0 0 0.209rem;
                .text_48 {
                  width: 0.12rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .image_35 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin-top: 0.047rem;
                }
              }
              .group_13 {
                width: 4.334rem;
                height: 0.105rem;
                margin: 0.245rem 0 0 0.209rem;
                .text_49 {
                  width: 0.12rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .image_36 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin-top: 0.058rem;
                }
              }
              .text-wrapper_5 {
                width: 3.849rem;
                height: 0.105rem;
                margin: 0.027rem 0 0 0.313rem;
                .text_50 {
                  width: 0.224rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                }
                .text_51 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.344rem;
                }
                .text_52 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.375rem;
                }
                .text_53 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.375rem;
                }
                .text_54 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.375rem;
                }
                .text_55 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.37rem;
                }
                .text_56 {
                  width: 0.235rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.072rem;
                  font-weight: NaN;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-left: 0.381rem;
                }
              }
              .group_14 {
                background-color: rgba(69, 75, 105, 1);
                width: 0.11rem;
                height: 0.021rem;
                margin: 0.021rem 0 0.084rem 4.516rem;
              }
              .image_37 {
                position: absolute;
                left: 0.98rem;
                top: 0.443rem;
                width: 0.006rem;
                height: 1.428rem;
              }
              .image_38 {
                position: absolute;
                left: 2.808rem;
                top: 0.443rem;
                width: 0.006rem;
                height: 1.428rem;
              }
              .image_39 {
                position: absolute;
                left: 1.589rem;
                top: 0.443rem;
                width: 0.006rem;
                height: 1.428rem;
              }
              .image_40 {
                position: absolute;
                left: 3.417rem;
                top: 0.443rem;
                width: 0.006rem;
                height: 1.428rem;
              }
              .group_15 {
                position: absolute;
                left: 0.412rem;
                top: 0.573rem;
                width: 4.131rem;
                height: 1.297rem;
                background: url(./img/SketchPng713810ab1c07182be28dc9d3d89597c5720d88d5c3300a4416e6fc08eb32ae9c.png) -0.006rem
                  0rem no-repeat;
                background-size: 4.136rem 1.303rem;
                .image_41 {
                  width: 4.131rem;
                  height: 0.245rem;
                }
                .text_57 {
                  width: 0.152rem;
                  height: 0.105rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 0.072rem;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.105rem;
                  margin-top: 0.016rem;
                }
                .image_42 {
                  width: 4.131rem;
                  height: 0.006rem;
                  margin: 0.006rem 0 0.922rem 0;
                }
                .image_43 {
                  position: absolute;
                  left: 1.787rem;
                  top: -0.13rem;
                  width: 0.006rem;
                  height: 1.428rem;
                }
                .image_44 {
                  position: absolute;
                  left: 3.615rem;
                  top: -0.13rem;
                  width: 0.006rem;
                  height: 1.428rem;
                }
              }
            }
          }
          .group_16 {
            background-color: rgba(5, 237, 255, 1);
            position: absolute;
            left: 0.308rem;
            top: 0.323rem;
            width: 0.188rem;
            height: 0.016rem;
          }
          .group_17 {
            height: 0.198rem;
            background: url(./img/SketchPnga2730fe0b561c1b347637b932823e56089901b39a2c55a45a9705f0081188641.png)
              100% no-repeat;
            background-size: 100% 100%;
            width: 0.198rem;
            position: absolute;
            left: 0.303rem;
            top: 0.105rem;
            .group_18 {
              background-color: rgba(10, 32, 54, 1);
              border-radius: 50%;
              height: 0.125rem;
              width: 0.073rem;
              margin: 0.037rem 0 0 0.12rem;
              .box_28 {
                background-color: rgba(5, 237, 255, 1);
                border-radius: 50%;
                height: 0.094rem;
                width: 0.053rem;
                margin: 0.021rem 0 0 0.016rem;
                .image-wrapper_6 {
                  background-color: rgba(10, 32, 54, 1);
                  border-radius: 50%;
                  height: 0.063rem;
                  width: 0.037rem;
                  margin: 0.011rem 0 0 0.016rem;
                  .thumbnail_5 {
                    width: 0.027rem;
                    height: 0.027rem;
                    margin: 0.011rem 0 0 0.006rem;
                  }
                }
              }
            }
          }
          .image_45 {
            position: absolute;
            left: 0.438rem;
            top: 0.068rem;
            width: 0.277rem;
            height: 0.271rem;
          }
        }
      }
    }
  }
}
