<template>
  <span @click="goBack">{{ title }}</span>
</template>
<script>
export default {
  name: "GoPageComponent",
  props: {
    urlStr: String,
    title: String,
  },
  methods: {
    goBack() {
      console.log(this.urlStr);
      this.$router.push(this.urlStr ? this.urlStr : -1);
    },
  },
};
</script>
<style scoped>
span {
  cursor: pointer !important;
  z-index: 9999;
}
</style>