<template>
  <div id="app">
    <LayoutPage />
  </div>
</template>

<script>
import LayoutPage from './layout'


export default {
  name: 'App',
  components: {
    LayoutPage
  },
  mounted() {
    this.setRootFontSize();
    // 监听窗口大小变化，实时更新字体大小
    window.addEventListener('resize', this.setRootFontSize);
  },
  destroyed() {
    window.removeEventListener('resize', this.setRootFontSize);
  },
  methods: {
    setRootFontSize() {
      console.log('监听窗口大小变化，实时更新字体大小');
      const screenWidth = window.innerWidth || document.documentElement.clientWidth;
      const html = document.getElementsByTagName('html')[0];
      const fontSize = screenWidth / 10;
      html.style.fontSize = fontSize + 'px';
      console.log('fontSize',window.innerWidth, fontSize);
    },

  },
}
</script>

<style lang="less">
// @import '@/styles/index.less';
@import '@/styles/common.less';
#app {
  margin:0;
  padding:0;
}
</style>
