<template>
  <div class="page flex-col">
    <div class="group_1 flex-col"></div>
    <div class="group_2 flex-col"><div class="box_1 flex-col"></div></div>
    <div class="group_3 flex-col"></div>
    <div class="group_4 flex-col">
      <img
        class="label_1"
        referrerpolicy="no-referrer"
        src="./assets/img/SketchPng1dd50500eb86e17ecf4dfd273561ac17f5232442031f06f48d09c4fa0061fdda.png"
      />
      <div class="box_75 flex-row">
        <div class="image-wrapper_1 flex-col">
          <img
            class="thumbnail_1"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng7ebb7b81236ea6e7894b1b21213a20bd09c64908b9cd08313b74007501e73498.png"
          />
        </div>
        <span class="text_1">数据库类型/数据库名称</span>
        <div class="image_1 flex-row justify-end">
          <!-- <span class="text_167">返回列表</span> -->
          <GoPageComponent class="text_167" urlStr="/shouye" title="返回列表" />
          <img
            class="thumbnail_15"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPngea77c310f7033dafb7fe8724486e2f5c005ec26d19b880df5f97a6656bd6de0e.png"
          />
        </div>
      </div>
      <img
        class="image_2"
        referrerpolicy="no-referrer"
        src="./assets/img/SketchPng9b7303c96db89883f0bd27e587a35d64f675c704e86afd38d0b71d48e4d85858.png"
      />
      <div class="box_76 flex-row justify-between">
        <div class="section_1 flex-row">
          <img
            class="label_3"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPnga4e6e7f97a53afc88b47225f6df1842e36c14363cf796394991edcf66e449094.png"
          />
          <span class="text_2">运行时间</span>
          <div class="block_1 flex-col">
            <div class="section_48 flex-row">
              <div class="image-wrapper_2 flex-col">
                <img
                  class="thumbnail_2"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng4c0a95571028497bb49fc26b668b78d2c2fa5d91d0e8757e84717f8e4672d19d.png"
                />
                <img
                  class="thumbnail_3"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPnga3d7ffd7ba94fdb1e963a2813ce69beaa51d9360d1722d46d5e0f75ff6ce53e8.png"
                />
              </div>
              <img
                class="image_3"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng760272854dca252192768e70dc45f00e6f023e96e0f090a16c9f236b72cd952c.png"
              />
              <div class="image-wrapper_3 flex-col">
                <img
                  class="thumbnail_4"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPnga3654aada832435a263da019ef2d698ce0d52b8530e7ecd20487a64d69c34ca9.png"
                />
                <img
                  class="thumbnail_5"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng68a66d9c21839ba052d948ebdee14f1ed30fcccbd4a4087883e19261d3272e5a.png"
                />
              </div>
            </div>
            <div class="section_49 flex-row">
              <img
                class="image_4"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng4fbd7bec3b16f6846fb5d525f51f5800f5664ee6e59f5b7dbe7347c9ff811a16.png"
              />
              <div class="text-wrapper_1">
                <span class="text_3">6.3</span>
                <span class="text_4">&nbsp;WEEK</span>
              </div>
              <img
                class="image_5"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng4fbd7bec3b16f6846fb5d525f51f5800f5664ee6e59f5b7dbe7347c9ff811a16.png"
              />
            </div>
            <div class="section_50 flex-row justify-between">
              <div class="image-wrapper_4 flex-col">
                <img
                  class="thumbnail_6"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng9acb92ae2b383fceb733763f9da101ccb6e71b2b08bfb975f9faedc6e0a00419.png"
                />
              </div>
              <div class="image-wrapper_5 flex-col">
                <img
                  class="thumbnail_7"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPng2a2f595c09e6c46226b2b456e9fc01dd8b41ac95f69a186cfd51bd8366ac96d2.png"
                />
              </div>
            </div>
            <div class="image-wrapper_17 flex-row">
              <img
                class="image_6"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngba3051253274fe3aa6d489f4d645695d359cf5e132fc4c07b03f567876acaf95.png"
              />
            </div>
          </div>
        </div>
        <div class="section_2 flex-col">
          <div class="box_77 flex-row justify-between">
            <img
              class="label_4"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng43bcd8d7f795ee70260e7026cd5ecc2ebe6b1a2e8731df5fc9d0684a5af6a60b.png"
            />
            <span class="text_5">TPS</span>
          </div>
          <div class="box_78 flex-row">
            <!-- <div class="text-wrapper_33 flex-col">
              <span class="text_6">1000</span>
              <span class="text_7">750</span>
              <span class="text_8">500</span>
              <span class="text_9">250</span>
              <span class="text_10">0</span>
            </div> -->
            <div class="group_57 flex-col">
              <LineCharts />
            </div>
            <!-- <div class="group_57 flex-col">
              <img
                class="image_7"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngd635ee57204dbc2f761077a96c062e7e1254086b543ec042664778c80eadf6c9.png"
              />
              <span class="text_11">840</span>
              <img
                class="image_8"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngd635ee57204dbc2f761077a96c062e7e1254086b543ec042664778c80eadf6c9.png"
              />
              <img
                class="image_9"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngd635ee57204dbc2f761077a96c062e7e1254086b543ec042664778c80eadf6c9.png"
              />
              <img
                class="image_10"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngd635ee57204dbc2f761077a96c062e7e1254086b543ec042664778c80eadf6c9.png"
              />
              <img
                class="image_11"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngd1b1657fd29c35dc8b61d2c617ba621413f01ab66375cf7dbf64aeaae92758db.png"
              />
              <img
                class="image_12"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngcaaea173d5604a797835524aa05f917b14f9869c019a7962000ad1cb410e061b.png"
              />
              <div class="text-wrapper_34 flex-row justify-between">
                <span class="text_12">04:00</span>
                <span class="text_13">06:00</span>
                <span class="text_14">08:00</span>
                <span class="text_15">10:00</span>
                <span class="text_16">12:00</span>
                <span class="text_17">14:00</span>
              </div>
            </div> -->
            <div class="section_4 flex-col">
              <div class="section_51 flex-row">
                <span class="text_18">Min</span>
                <span class="text_19">Max</span>
                <span class="text_20">Avg</span>
                <img
                  class="thumbnail_8"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPnga4ae37b42c5ae754c11014cf2133270da6aee36618919add590c26b47df9f1b5.png"
                />
              </div>
              <img
                class="image_13"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng207ff9ba25a3954985046b51e98d84aeb5a166d0d6a18189fb4bb1ffd3c14f1d.png"
              />
              <div class="section_52 flex-row">
                <div class="block_4 flex-col"></div>
                <span class="text_21">Commit</span>
                <span class="text_22">721.89</span>
                <span class="text_23">830.89</span>
                <span class="text_24">774.91</span>
              </div>
              <img
                class="image_14"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng207ff9ba25a3954985046b51e98d84aeb5a166d0d6a18189fb4bb1ffd3c14f1d.png"
              />
              <div class="section_53 flex-row">
                <div class="image-text_37 flex-row justify-between">
                  <div class="box_7 flex-col"></div>
                  <span class="text-group_1">Rollback</span>
                </div>
                <span class="text_25">0.08</span>
                <span class="text_26">0.12</span>
                <span class="text_27">0.11</span>
              </div>
            </div>
          </div>
          <!-- <img
            class="image_15"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng33044fbf538ae6d2fdfddc884d8b09c0d235d3ad546828f4de477634596f6d56.png"
          />
          <img
            class="image_16"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng33044fbf538ae6d2fdfddc884d8b09c0d235d3ad546828f4de477634596f6d56.png"
          />
          <img
            class="image_17"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng33044fbf538ae6d2fdfddc884d8b09c0d235d3ad546828f4de477634596f6d56.png"
          />
          <img
            class="image_18"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng33044fbf538ae6d2fdfddc884d8b09c0d235d3ad546828f4de477634596f6d56.png"
          />
          <img
            class="image_19"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng33044fbf538ae6d2fdfddc884d8b09c0d235d3ad546828f4de477634596f6d56.png"
          />
          <img
            class="image_20"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng3f508b1b5ddfaa1ab7b731e00a4255ba055d47705770cd28ad06e8d7561c5a1b.png"
          />
          <img
            class="image_21"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPnga36f79e356fb1706372dab0bddcb56327d90f33f0b72b4975ec6c632a8dcb94e.png"
          />
          <img
            class="image_22"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPngfd63362f4be7de7040d8a78b937fcd2829a44ac3946a68e1a42e9fdb56fb7450.png"
          /> -->
        </div>
      </div>
      <div class="grid_3 flex-row">
        <div class="group_8 flex-col">
          <div class="section_5 flex-row">
            <div class="image-text_38 flex-row justify-between">
              <img
                class="label_5"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng44375b5f86e110e276443f96f545f40711a26fd96d23ec8d6d02e91e5bd5841f.png"
              />
              <span class="text-group_2">QPS</span>
            </div>
          </div>
          <LineCharts />
          <!-- <div class="box_79 flex-row justify-between">
            <span class="text_28">1250</span>
            <img
              class="image_23"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <span class="text_29">1080</span>
          <div class="box_80 flex-row justify-between">
            <span class="text_30">1000</span>
            <img
              class="image_24"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="box_81 flex-row justify-between">
            <span class="text_31">750</span>
            <img
              class="image_25"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="box_82 flex-row justify-between">
            <span class="text_32">500</span>
            <img
              class="image_26"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="box_83 flex-row justify-between">
            <span class="text_33">250</span>
            <img
              class="image_27"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="box_84 flex-row justify-between">
            <span class="text_34">0</span>
            <img
              class="image_28"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="text-wrapper_35 flex-row justify-between">
            <span class="text_35">04:00</span>
            <span class="text_36">06:00</span>
            <span class="text_37">08:00</span>
            <span class="text_38">10:00</span>
            <span class="text_39">12:00</span>
            <span class="text_40">14:00</span>
          </div>
          <div class="section_12 flex-col"></div>
          <img
            class="image_29"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng9b1b4f199adaae7b679c0933f4c58e0a83c532f78767a443cd1eade5576636e5.png"
          />
          <img
            class="image_30"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng9b1b4f199adaae7b679c0933f4c58e0a83c532f78767a443cd1eade5576636e5.png"
          />
          <img
            class="image_31"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng9b1b4f199adaae7b679c0933f4c58e0a83c532f78767a443cd1eade5576636e5.png"
          />
          <img
            class="image_32"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng9b1b4f199adaae7b679c0933f4c58e0a83c532f78767a443cd1eade5576636e5.png"
          />
          <img
            class="image_33"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng9b1b4f199adaae7b679c0933f4c58e0a83c532f78767a443cd1eade5576636e5.png"
          />
          <img
            class="image_34"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng9b1b4f199adaae7b679c0933f4c58e0a83c532f78767a443cd1eade5576636e5.png"
          />
          <img
            class="image_35"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPngb839c18492e982f6ac9b3f9030a2a8dd7f3c584cc698b7acd1dabccfbf86db05.png"
          />
          <img
            class="image_36"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng94b2f3b95876aff905d5e9644f7e26a0f1209e8c3f9fc751c7b6008254cc2028.png"
          /> -->
        </div>
        <div class="group_9 flex-col">
          <div class="group_10 flex-row">
            <div class="image-text_39 flex-row justify-between">
              <img
                class="label_6"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng1ecbab7c960526567e75315cc5efe286aab3cc6c543a924d588994063223798b.png"
              />
              <span class="text-group_3">连接数</span>
            </div>
          </div>
          <div class="box_85 flex-row justify-between">
            <span class="text_41">1250</span>
            <div class="box_86 flex-col justify-between">
              <img
                class="image_37"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
              />
              <span class="text_42">1080</span>
            </div>
          </div>
          <div class="box_87 flex-row justify-between">
            <span class="text_43">1000</span>
            <img
              class="image_38"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="box_88 flex-row justify-between">
            <span class="text_44">750</span>
            <img
              class="image_39"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="box_89 flex-row justify-between">
            <span class="text_45">500</span>
            <img
              class="image_40"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="box_90 flex-row justify-between">
            <span class="text_46">250</span>
            <img
              class="image_41"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="box_91 flex-row justify-between">
            <span class="text_47">0</span>
            <div class="image-wrapper_7 flex-col">
              <img
                class="image_42"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng7379d728677351eb4eb4338f3c672bd9463aacd6f5172dbb55e56bf6b18931a7.png"
              />
              <img
                class="image_43"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng7379d728677351eb4eb4338f3c672bd9463aacd6f5172dbb55e56bf6b18931a7.png"
              />
              <img
                class="image_44"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng7379d728677351eb4eb4338f3c672bd9463aacd6f5172dbb55e56bf6b18931a7.png"
              />
              <img
                class="image_45"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng7379d728677351eb4eb4338f3c672bd9463aacd6f5172dbb55e56bf6b18931a7.png"
              />
              <img
                class="image_46"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng7379d728677351eb4eb4338f3c672bd9463aacd6f5172dbb55e56bf6b18931a7.png"
              />
              <img
                class="image_47"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng7379d728677351eb4eb4338f3c672bd9463aacd6f5172dbb55e56bf6b18931a7.png"
              />
            </div>
          </div>
          <div class="text-wrapper_36 flex-row justify-between">
            <span class="text_48">04:00</span>
            <span class="text_49">06:00</span>
            <span class="text_50">08:00</span>
            <span class="text_51">10:00</span>
            <span class="text_52">12:00</span>
            <span class="text_53">14:00</span>
          </div>
          <div class="group_17 flex-col">
            <div class="group_58 flex-row justify-between">
              <span class="text_54">Min</span>
              <span class="text_55">Max</span>
              <div class="image-text_40 flex-row justify-between">
                <span class="text-group_4">Avg</span>
                <img
                  class="thumbnail_9"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPnga4ae37b42c5ae754c11014cf2133270da6aee36618919add590c26b47df9f1b5.png"
                />
              </div>
            </div>
            <img
              class="image_48"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng0366c9c882b6efe2e6ca839c7ec7db01a68761f9ce77607b589f14144ffd7f41.png"
            />
            <div class="group_59 flex-row">
              <div class="image-text_41 flex-row justify-between">
                <div class="block_7 flex-col"></div>
                <span class="text-group_5">Connectiongs</span>
              </div>
              <span class="text_56">866</span>
              <span class="text_57">1000</span>
              <span class="text_58">972</span>
            </div>
          </div>
          <div class="group_18 flex-col"></div>
          <img
            class="image_49"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng8a7f91847473982d8c646814fcc2e675f6f0118c582d6d1edd40c6a28eb59313.png"
          />
          <img
            class="image_50"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng94b2f3b95876aff905d5e9644f7e26a0f1209e8c3f9fc751c7b6008254cc2028.png"
          />
        </div>
        <div class="group_19 flex-col">
          <div class="box_9 flex-row">
            <div class="image-text_42 flex-row justify-between">
              <img
                class="label_7"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng323493ae6e4082551708e4d93065543c9be4d9839509f9853d5ae302c9bcaf18.png"
              />
              <span class="text-group_6">活跃数</span>
            </div>
          </div>
          <div class="group_60 flex-row">
            <span class="text_59">1250</span>
            <span class="text_60">1080</span>
            <img
              class="image_51"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="group_61 flex-row justify-between">
            <span class="text_61">1000</span>
            <img
              class="image_52"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="group_62 flex-row justify-between">
            <span class="text_62">750</span>
            <img
              class="image_53"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="group_63 flex-row justify-between">
            <span class="text_63">500</span>
            <img
              class="image_54"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="group_64 flex-row justify-between">
            <span class="text_64">250</span>
            <img
              class="image_55"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="group_65 flex-row justify-between">
            <span class="text_65">0</span>
            <div class="image-wrapper_18 flex-col justify-between">
              <img
                class="image_56"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
              />
              <img
                class="image_57"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPnge35f99104c590ebb767c15bdc2a5f917ae21b06d803129848fae9fb597ecfedb.png"
              />
            </div>
          </div>
          <div class="text-wrapper_37 flex-row justify-between">
            <span class="text_66">04:00</span>
            <span class="text_67">06:00</span>
            <span class="text_68">08:00</span>
            <span class="text_69">10:00</span>
            <span class="text_70">12:00</span>
            <span class="text_71">14:00</span>
          </div>
          <div class="box_16 flex-col">
            <div class="text-wrapper_38 flex-row">
              <span class="text_72">Min</span>
              <span class="text_73">Max</span>
              <span class="text_74">Avg</span>
              <span class="text_75">Current</span>
            </div>
            <img
              class="image_58"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng0366c9c882b6efe2e6ca839c7ec7db01a68761f9ce77607b589f14144ffd7f41.png"
            />
            <div class="group_66 flex-row">
              <div class="image-text_43 flex-row justify-between">
                <div class="block_8 flex-col"></div>
                <span class="text-group_7"
                  >Peak&nbsp;Threads&nbsp;Connected</span
                >
              </div>
              <span class="text_76">866.00</span>
              <span class="text_77">1140.00</span>
              <span class="text_78">971.57</span>
              <span class="text_79">1040.00</span>
            </div>
            <img
              class="image_59"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng0366c9c882b6efe2e6ca839c7ec7db01a68761f9ce77607b589f14144ffd7f41.png"
            />
            <div class="group_67 flex-row">
              <div class="image-text_44 flex-row justify-between">
                <div class="section_13 flex-col"></div>
                <span class="text-group_8"
                  >Peak&nbsp;Threads&nbsp;Connected</span
                >
              </div>
              <span class="text_80">4.00</span>
              <span class="text_81">6.00</span>
              <span class="text_82">4.54</span>
              <span class="text_83">4.00</span>
            </div>
          </div>
          <div class="box_19 flex-col"></div>
          <div class="image-wrapper_9 flex-col">
            <img
              class="image_60"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng8a7f91847473982d8c646814fcc2e675f6f0118c582d6d1edd40c6a28eb59313.png"
            />
            <img
              class="image_61"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng94b2f3b95876aff905d5e9644f7e26a0f1209e8c3f9fc751c7b6008254cc2028.png"
            />
          </div>
        </div>
        <div class="group_20 flex-col">
          <div class="block_9 flex-row">
            <div class="image-text_45 flex-row justify-between">
              <img
                class="label_8"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng9fda3de5cbe9fe977114219edaae2991b8901152b144b5f36ab5d1e70c1b9a5c.png"
              />
              <span class="text-group_9">表锁</span>
            </div>
          </div>
          <div class="box_92 flex-row justify-between">
            <span class="text_84">0.250</span>
            <img
              class="image_62"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="box_93 flex-row justify-between">
            <span class="text_85">0.200</span>
            <img
              class="image_63"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="box_94 flex-row justify-between">
            <span class="text_86">0.150</span>
            <img
              class="image_64"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="box_95 flex-row justify-between">
            <span class="text_87">0.100</span>
            <img
              class="image_65"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="box_96 flex-row justify-between">
            <span class="text_88">0.050</span>
            <img
              class="image_66"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="box_97 flex-row justify-between">
            <span class="text_89">0.000</span>
            <img
              class="image_67"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngaa6b60b0fd2ef4e1b661ec7a8518a066ee893a5189f8a5f5b35df79930493caf.png"
            />
          </div>
          <div class="text-wrapper_39 flex-row justify-between">
            <span class="text_90">04:00</span>
            <span class="text_91">06:00</span>
            <span class="text_92">08:00</span>
            <span class="text_93">10:00</span>
            <span class="text_94">12:00</span>
            <span class="text_95">14:00</span>
          </div>
          <div class="block_16 flex-col">
            <div class="box_98 flex-row justify-between">
              <span class="text_96">Min</span>
              <span class="text_97">Max</span>
              <div class="image-text_46 flex-row justify-between">
                <span class="text-group_10">Avg</span>
                <img
                  class="thumbnail_10"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPnga4ae37b42c5ae754c11014cf2133270da6aee36618919add590c26b47df9f1b5.png"
                />
              </div>
            </div>
            <img
              class="image_68"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng0366c9c882b6efe2e6ca839c7ec7db01a68761f9ce77607b589f14144ffd7f41.png"
            />
            <div class="box_99 flex-row">
              <div class="image-text_47 flex-row justify-between">
                <div class="section_16 flex-col"></div>
                <span class="text-group_11"
                  >Table&nbsp;Locks&nbsp;Immediate</span
                >
              </div>
              <span class="text_98">0.20</span>
              <span class="text_99">0.23</span>
              <span class="text_100">0.21</span>
            </div>
            <img
              class="image_69"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng0366c9c882b6efe2e6ca839c7ec7db01a68761f9ce77607b589f14144ffd7f41.png"
            />
            <div class="box_100 flex-row">
              <div class="image-text_48 flex-row justify-between">
                <div class="box_20 flex-col"></div>
                <span class="text-group_12">Table&nbsp;Lockes&nbsp;Waited</span>
              </div>
              <span class="text_101">0.00</span>
              <span class="text_102">0.00</span>
              <span class="text_103">0.00</span>
            </div>
          </div>
          <div class="block_17 flex-col">
            <div class="image-wrapper_10 flex-col">
              <img
                class="image_70"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng2b208fa53e2d4ec7b63e32706700d05bd6224ae151fea8327c2d8bcfe5344450.png"
              />
            </div>
            <img
              class="image_71"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng94b2f3b95876aff905d5e9644f7e26a0f1209e8c3f9fc751c7b6008254cc2028.png"
            />
          </div>
          <span class="text_104">0.22</span>
        </div>
        <div class="group_21 flex-col">
          <div class="section_18 flex-row">
            <div class="image-text_49 flex-row justify-between">
              <img
                class="label_9"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngae79411bc947d5410287ed0006a3799b90962501c28ff29b59419df160d3bfa7.png"
              />
              <span class="text-group_13">内存</span>
            </div>
          </div>
          <div class="box_101 flex-row justify-between">
            <div class="text-group_21 flex-col justify-between">
              <span class="paragraph_1">
                30
                <br />
              </span>
              <span class="text_105">20</span>
            </div>
            <div class="section_54 flex-col">
              <span class="text_106">28</span>
              <img
                class="image_72"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng387651094951c34da46041579f7b8b4524df84c2560080e339f9769df249857d.png"
              />
              <img
                class="image_73"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng387651094951c34da46041579f7b8b4524df84c2560080e339f9769df249857d.png"
              />
            </div>
          </div>
          <div class="box_102 flex-row justify-between">
            <span class="text_107">10</span>
            <img
              class="image_74"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng387651094951c34da46041579f7b8b4524df84c2560080e339f9769df249857d.png"
            />
          </div>
          <div class="box_103 flex-row justify-between">
            <span class="text_108">0</span>
            <img
              class="image_75"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng387651094951c34da46041579f7b8b4524df84c2560080e339f9769df249857d.png"
            />
          </div>
          <div class="text-wrapper_40 flex-row justify-between">
            <span class="text_109">04:00</span>
            <span class="text_110">06:00</span>
            <span class="text_111">08:00</span>
            <span class="text_112">10:00</span>
            <span class="text_113">12:00</span>
            <span class="text_114">14:00</span>
          </div>
          <div class="section_23 flex-col">
            <div class="group_68 flex-row justify-between">
              <span class="text_115">Min</span>
              <span class="text_116">Max</span>
              <div class="image-text_50 flex-row justify-between">
                <span class="text-group_15">Avg</span>
                <img
                  class="thumbnail_11"
                  referrerpolicy="no-referrer"
                  src="./assets/img/SketchPnga4ae37b42c5ae754c11014cf2133270da6aee36618919add590c26b47df9f1b5.png"
                />
              </div>
            </div>
            <img
              class="image_76"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng0366c9c882b6efe2e6ca839c7ec7db01a68761f9ce77607b589f14144ffd7f41.png"
            />
            <div class="group_69 flex-row">
              <div class="image-text_51 flex-row justify-between">
                <div class="group_22 flex-col"></div>
                <span class="text-group_16">Thread&nbsp;Cache&nbsp;Size</span>
              </div>
              <span class="text_117">28.20</span>
              <span class="text_118">28.00</span>
              <span class="text_119">28.00</span>
            </div>
            <img
              class="image_77"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng0366c9c882b6efe2e6ca839c7ec7db01a68761f9ce77607b589f14144ffd7f41.png"
            />
            <div class="group_70 flex-row">
              <div class="image-text_52 flex-row justify-between">
                <div class="box_24 flex-col"></div>
                <span class="text-group_17">Threads&nbsp;Cached</span>
              </div>
              <span class="text_120">0.00</span>
              <span class="text_121">27.00</span>
              <span class="text_122">12.51</span>
            </div>
          </div>
          <div class="section_24 flex-col"></div>
          <div class="image-wrapper_11 flex-col">
            <img
              class="image_79"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng94b2f3b95876aff905d5e9644f7e26a0f1209e8c3f9fc751c7b6008254cc2028.png"
            />
          </div>
          <div class="image_80 flex-col">
            <img
              class="image_78"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPnga3ef9e42f8f66e48680e1e74dfb00b3f36ee1c9d3c28f436d3717579ad0f1124.png"
            />
          </div>
        </div>
        <div class="group_23 flex-col">
          <div class="section_25 flex-row justify-between">
            <div class="image-text_53 flex-row justify-between">
              <img
                class="label_10"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng8fb3f499c3cdf225dd715bf54624a16341a271a3bf8175131a9c70068fa60f9c.png"
              />
              <div class="text-group_18">
                <span class="text_123">大表监控</span>
                <span class="text_124">&nbsp;table.test</span>
              </div>
            </div>
            <img
              class="thumbnail_12"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngbfa5a1edc3b5d0343a946f3dc04058dc28f43178c946d03ed49436f658c79c4b.png"
            />
          </div>
          <div class="block_21 flex-row justify-between">
            <span class="text_125">5000</span>
            <img
              class="image_81"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngf4d2016d8861692ef25153c0047f777cf314c68dca80a6d1588aa04002c1d6dc.png"
            />
          </div>
          <div class="block_22 flex-row justify-between">
            <span class="text_126">4000</span>
            <img
              class="image_82"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngf4d2016d8861692ef25153c0047f777cf314c68dca80a6d1588aa04002c1d6dc.png"
            />
          </div>
          <div class="block_23 flex-row justify-between">
            <span class="text_127">3000</span>
            <img
              class="image_83"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngf4d2016d8861692ef25153c0047f777cf314c68dca80a6d1588aa04002c1d6dc.png"
            />
          </div>
          <div class="block_24 flex-row justify-between">
            <span class="text_128">2000</span>
            <img
              class="image_84"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngf4d2016d8861692ef25153c0047f777cf314c68dca80a6d1588aa04002c1d6dc.png"
            />
          </div>
          <div class="block_25 flex-row justify-between">
            <span class="text_129">1000</span>
            <img
              class="image_85"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngf4d2016d8861692ef25153c0047f777cf314c68dca80a6d1588aa04002c1d6dc.png"
            />
          </div>
          <div class="block_26 flex-row justify-between">
            <span class="text_130">0</span>
            <img
              class="image_86"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngf4d2016d8861692ef25153c0047f777cf314c68dca80a6d1588aa04002c1d6dc.png"
            />
          </div>
          <div class="text-wrapper_41 flex-row">
            <span class="text_131">6月1日</span>
            <span class="text_132">6月2日</span>
            <span class="text_133">6月3日</span>
            <span class="text_134">6月4日</span>
            <span class="text_135">6月5日</span>
            <span class="text_136">6月6日</span>
            <span class="text_137">6月7日</span>
          </div>
          <div class="section_32 flex-col"></div>
          <img
            class="image_87"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng91ca650e80a2e0c8df45e87858aa7a23c4ed558310548479b08ada9e3d887856.png"
          />
          <img
            class="image_88"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng91ca650e80a2e0c8df45e87858aa7a23c4ed558310548479b08ada9e3d887856.png"
          />
          <img
            class="image_89"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng91ca650e80a2e0c8df45e87858aa7a23c4ed558310548479b08ada9e3d887856.png"
          />
          <img
            class="image_90"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng91ca650e80a2e0c8df45e87858aa7a23c4ed558310548479b08ada9e3d887856.png"
          />
          <img
            class="image_91"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng91ca650e80a2e0c8df45e87858aa7a23c4ed558310548479b08ada9e3d887856.png"
          />
          <img
            class="image_92"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng91ca650e80a2e0c8df45e87858aa7a23c4ed558310548479b08ada9e3d887856.png"
          />
          <img
            class="image_93"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng02200eb713c2abf3dfa2960b34b0ef72e6d99eca69911a5f20dcde798c959875.png"
          />
          <img
            class="image_94"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPngac3c6b37ef83a3644ad4fd108efab8bab63d355b629df1b08c67df28dabff807.png"
          />
        </div>
      </div>
      <div class="box_25 flex-col">
        <img
          class="image_95"
          referrerpolicy="no-referrer"
          src="./assets/img/SketchPngdc7586e558f96f017a110e73ef9e8ecea4c93f3c1b78859c40d270e1d8a1b479.png"
        />
        <div class="block_27 flex-row justify-between">
          <span class="text_138">5000</span>
          <img
            class="image_96"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPngf4d2016d8861692ef25153c0047f777cf314c68dca80a6d1588aa04002c1d6dc.png"
          />
        </div>
        <div class="block_28 flex-row justify-between">
          <span class="text_139">4000</span>
          <img
            class="image_97"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPngf4d2016d8861692ef25153c0047f777cf314c68dca80a6d1588aa04002c1d6dc.png"
          />
        </div>
        <div class="block_29 flex-row justify-between">
          <span class="text_140">3000</span>
          <img
            class="image_98"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPngf4d2016d8861692ef25153c0047f777cf314c68dca80a6d1588aa04002c1d6dc.png"
          />
        </div>
        <div class="block_30 flex-row justify-between">
          <span class="text_141">2000</span>
          <img
            class="image_99"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPngf4d2016d8861692ef25153c0047f777cf314c68dca80a6d1588aa04002c1d6dc.png"
          />
        </div>
        <div class="block_31 flex-row justify-between">
          <span class="text_142">1000</span>
          <img
            class="image_100"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPngf4d2016d8861692ef25153c0047f777cf314c68dca80a6d1588aa04002c1d6dc.png"
          />
        </div>
        <div class="block_32 flex-row justify-between">
          <span class="text_143">0</span>
          <img
            class="image_101"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPngf4d2016d8861692ef25153c0047f777cf314c68dca80a6d1588aa04002c1d6dc.png"
          />
        </div>
        <div class="text-wrapper_42 flex-row">
          <span class="text_144">6月1日</span>
          <span class="text_145">6月2日</span>
          <span class="text_146">6月3日</span>
          <span class="text_147">6月4日</span>
          <span class="text_148">6月5日</span>
          <span class="text_149">6月6日</span>
          <span class="text_150">6月7日</span>
        </div>
        <div class="box_32 flex-col"></div>
        <img
          class="image_102"
          referrerpolicy="no-referrer"
          src="./assets/img/SketchPng91ca650e80a2e0c8df45e87858aa7a23c4ed558310548479b08ada9e3d887856.png"
        />
        <img
          class="image_103"
          referrerpolicy="no-referrer"
          src="./assets/img/SketchPng91ca650e80a2e0c8df45e87858aa7a23c4ed558310548479b08ada9e3d887856.png"
        />
        <img
          class="image_104"
          referrerpolicy="no-referrer"
          src="./assets/img/SketchPng91ca650e80a2e0c8df45e87858aa7a23c4ed558310548479b08ada9e3d887856.png"
        />
        <img
          class="image_105"
          referrerpolicy="no-referrer"
          src="./assets/img/SketchPng91ca650e80a2e0c8df45e87858aa7a23c4ed558310548479b08ada9e3d887856.png"
        />
        <img
          class="image_106"
          referrerpolicy="no-referrer"
          src="./assets/img/SketchPng91ca650e80a2e0c8df45e87858aa7a23c4ed558310548479b08ada9e3d887856.png"
        />
        <img
          class="image_107"
          referrerpolicy="no-referrer"
          src="./assets/img/SketchPng91ca650e80a2e0c8df45e87858aa7a23c4ed558310548479b08ada9e3d887856.png"
        />
        <img
          class="image_108"
          referrerpolicy="no-referrer"
          src="./assets/img/SketchPng02200eb713c2abf3dfa2960b34b0ef72e6d99eca69911a5f20dcde798c959875.png"
        />
        <img
          class="image_109"
          referrerpolicy="no-referrer"
          src="./assets/img/SketchPngac3c6b37ef83a3644ad4fd108efab8bab63d355b629df1b08c67df28dabff807.png"
        />
        <div class="box_33 flex-col">
          <div class="block_33 flex-row justify-between">
            <div class="image-text_54 flex-row justify-between">
              <img
                class="label_11"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng8fb3f499c3cdf225dd715bf54624a16341a271a3bf8175131a9c70068fa60f9c.png"
              />
              <div class="text-group_19">
                <span class="text_151">大表监控</span>
                <span class="text_152">&nbsp;table.test</span>
              </div>
            </div>
            <img
              class="thumbnail_13"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng00925bcd5f77f41b2af97dc407601cc63fb96b3d856030ccd172da0dc798db6a.png"
            />
          </div>
          <div class="block_34 flex-row justify-between">
            <div class="section_55 flex-col justify-between">
              <img
                class="image_110"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPngaea72838e8558fd4f36892d8755325bae66029b9d12d5e987a00574e73aac98e.png"
              />
              <span class="text_153"
                >其他表名称其他表名称其他表名称其他表名称其他表名称</span
              >
              <span class="text_154">其他表名称其他表名称其他表名称</span>
            </div>
            <div class="box_37 flex-col"></div>
          </div>
          <div class="block_35 flex-row">
            <div class="text-wrapper_12 flex-col">
              <span class="text_155"
                >其他表名称其他表名称其他表名称其他表名称其他表名称</span
              >
            </div>
          </div>
          <div class="text-wrapper_43 flex-row">
            <span class="text_156">其他表名称其他表名称</span>
          </div>
          <div class="text-wrapper_44 flex-row">
            <span class="text_157"
              >其他表名称其他表名称其他表名称其他表名称其他表名称</span
            >
          </div>
          <div class="text-wrapper_45 flex-row">
            <span class="text_158">其他表名称其他表名称其他表名称</span>
          </div>
          <div class="text-wrapper_46 flex-row">
            <span class="text_159"
              >其他表名称其他表名称其他表名称其他表名称其他表名称</span
            >
          </div>
          <div class="text-wrapper_47 flex-row">
            <span class="text_160">其他表名称其他表名称其他表名称</span>
          </div>
        </div>
      </div>
      <div class="box_39 flex-col"></div>
      <div class="box_40 flex-col">
        <div class="box_41 flex-col">
          <div class="section_33 flex-col">
            <div class="image-wrapper_12 flex-col">
              <img
                class="thumbnail_14"
                referrerpolicy="no-referrer"
                src="./assets/img/SketchPng88197cd2b9c3dc48251be6a5c6ebf2c885b7a67ed724b9ebb5221afaddbf8dd5.png"
              />
            </div>
          </div>
        </div>
      </div>
      <img
        class="image_111"
        referrerpolicy="no-referrer"
        src="./assets/img/SketchPng44781d68967be8424688cb5b22a32b8f68107c69835e4708f7c5fed4ed02b10d.png"
      />
      <div class="box_42 flex-col justify-end">
        <div class="group_71 flex-row">
          <div class="image-wrapper_13 flex-col align-center">
            <img
              class="image_112"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng26c6bc9dff4bab1214fafa9c84b91aea40326d7c93f82411c31228fe20f25fd5.png"
            />
          </div>
          <div class="image-wrapper_14 flex-col align-center">
            <img
              class="label_12"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPng30c418f404553b4ad40c0fc979d1f31cdfa0b791f81300a32e3a6c0f234c8921.png"
            />
          </div>
          <DateComponent class="text_161" />
          <WeekComponent class="text_162" />
          <TimeComponent class="text_163" />
          <div class="section_34 flex-row">
            <img
              class="label_13"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPnge3517ad951d2744c1894f48681bd5c9210c69946de29f5fb0b8931e986dac008.png"
            />
            <!-- <span class="text_164">返回</span> -->
            <GoPageComponent
              class="text_164"
              urlStr="/dizhangguanli"
              title="返回"
            />
            <img
              class="label_14"
              referrerpolicy="no-referrer"
              src="./assets/img/SketchPngfa967cc506e4ac42e52a0809cd2771253fee018790993a9637abeed85000c4b7.png"
            />
            <!-- <span class="text_165">全屏</span> -->
            <ScreenFull class="text_165" />
          </div>
        </div>
        <div class="box_44 flex-col"></div>
        <img
          class="image_113"
          referrerpolicy="no-referrer"
          src="./assets/img/SketchPng079e4f4832f4306d30df25083b4f6e39c65f0734a55ba0bff4e51f0978bce2a4.png"
        />
      </div>
      <div class="box_45 flex-col">
        <div class="group_24 flex-col">
          <div class="group_25 flex-col"></div>
          <div class="group_26 flex-col"></div>
          <div class="group_27 flex-col"></div>
          <div class="group_28 flex-col"></div>
        </div>
      </div>
      <div class="box_46 flex-col">
        <div class="group_72 flex-row justify-between">
          <img
            class="label_15"
            referrerpolicy="no-referrer"
            src="./assets/img/SketchPng901e00a3c69753d08c0a6d71e0889744cbb33a870b06f9961ae9399a3d5c7655.png"
          />
          <span class="text_166">数据库监控</span>
        </div>
        <div class="group_30 flex-col">
          <div class="section_35 flex-col">
            <div class="group_31 flex-col"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import LineCharts from "@/components/LineChart";
// import DateComponent from '../../components/DateTime/date'
// import WeekComponent from '../../components/DateTime/week'
// import TimeComponent from '../../components/DateTime/time'
// import ScreenFull from '../../components/ScreenFull'
import { fetchList, createArticle } from "@/api/article";
// import LineChart from "@/components/LineChart";

export default {
  data() {
    return {
      constants: {},
    };
  },
  components: {
    LineCharts,
  },
  created() {
    // this.getData();
  },
  methods: {
    getData() {
      fetchList().then((response) => {
        const { data } = response;
        console.log("返回数据1", data);
      });
      createArticle({
        test: "ab",
      }).then((response) => {
        const { data } = response;
        console.log("返回数据2", data);
      });
    },
  },
};
</script>
<style scoped lang="less" src="./assets/index.rem.less" />
