<template>
  <section class="app-main">
    <!-- <LayoutHeader msg="Welcome to Your Vue.js App" /> -->
    <keep-alive>
      <router-view />
    </keep-alive>
  </section>
</template>

<script>
// import LayoutHeader from '../components/Header'

export default {
  name: "LayoutPage",
  components: {
    // LayoutHeader
  },
  mouted() {
    console.log(this.$route);
  },
  computed: {
    key() {
      return this.$route.path;
    },
  },
  methods: {},
};
</script>

<style scoped>
.app-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.drawer-bg {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
}
</style>
