.page {
  position: relative;
  width: 10rem;
  height: 5.625rem;
  overflow: hidden;
  .section_1 {
    height: 5.625rem;
    background: url(./img/SketchPngbb6059bde37e68ee3ee2aa8c68602bde41d3d4a08c581290a475df0ad9cbd256.png)
      100% no-repeat;
    background-size: 100% 100%;
    width: 10rem;
    .section_2 {
      height: 5.625rem;
      background: url(./img/SketchPng9f029d79421bc458020af7f912e1e3a6db025da983a0046c1a6b63f11655e048.png)
        100% no-repeat;
      background-size: 100% 100%;
      width: 10rem;
      .block_1 {
        height: 5.625rem;
        background: url(./img/SketchPng06f11450480525826d45bf7c2066b6863ab07cf982e6d92a21aa1ecef8a58d4e.png) -0.782rem -0.782rem
          no-repeat;
        background-size: 11.563rem 7.188rem;
        width: 10rem;
        .section_3 {
          background-color: rgba(2, 12, 59, 0.9);
          height: 5.625rem;
          width: 10rem;
          position: relative;
          .group_14 {
            position: relative;
            width: 10rem;
            height: 5.209rem;
            margin-top: 0.422rem;
            .block_8 {
              width: 9.224rem;
              height: 0.209rem;
              margin: 0.214rem 0 0 0.2rem;
              .thumbnail_1 {
                width: 0.084rem;
                height: 0.084rem;
                margin-top: 0.068rem;
              }
              .text_1 {
                width: 0.204rem;
                height: 0.141rem;
                overflow-wrap: break-word;
                color: rgba(5, 237, 255, 1);
                font-size: 0.098rem;
                font-family: PingFangSC-Medium;
                font-weight: 500;
                text-align: left;
                white-space: nowrap;
                line-height: 0.141rem;
                margin: 0.037rem 0 0 0.058rem;
              }
              .group_3 {
                width: 0.823rem;
                height: 0.209rem;
                background: url(./img/SketchPngf59c3f234f1f948c76cc18397ded43be83baedcfb387815325233581b863dec3.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-left: 0.24rem;
                .group_4 {
                  width: 0.084rem;
                  height: 0.084rem;
                  border: 0.8px solid rgba(92, 102, 139, 1);
                  margin: 0.068rem 0 0 0.24rem;
                }
                .text_2 {
                  width: 0.204rem;
                  height: 0.141rem;
                  overflow-wrap: break-word;
                  color: rgba(199, 207, 243, 1);
                  font-size: 0.098rem;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.141rem;
                  margin: 0.037rem 0 0 0.058rem;
                }
                .text_3 {
                  width: 0.042rem;
                  height: 0.131rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 59, 78, 1);
                  font-size: 0.093rem;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.131rem;
                  margin: 0.047rem 0.157rem 0 0.042rem;
                }
              }
              .text-wrapper_1 {
                height: 0.167rem;
                background: url(./img/SketchPnge9ccd1cd60a544017879eec24f34972902040d78928b379b002652fbb0e2868f.png)
                  100% no-repeat;
                background-size: 100% 100%;
                width: 0.584rem;
                margin: 0.037rem 0 0 7.235rem;
                .text_4 {
                  width: 0.334rem;
                  height: 0.115rem;
                  overflow-wrap: break-word;
                  color: rgba(5, 237, 255, 1);
                  font-size: 0.083rem;
                  font-family: PingFangSC-Medium;
                  font-weight: 500;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.115rem;
                  margin: 0.027rem 0 0 0.125rem;
                }
              }
            }
            .block_9 {
              width: 9.11rem;
              height: 0.23rem;
              margin: 0.172rem 0 0 0.48rem;
              .text_5 {
                width: 0.167rem;
                height: 0.115rem;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.083rem;
                font-family: PingFangSC-Medium;
                font-weight: 500;
                text-align: left;
                white-space: nowrap;
                line-height: 0.115rem;
                margin-top: 0.058rem;
                margin-right:0.136rem;
              }
            //   .text_8 {
            //     width: 0.417rem;
            //     height: 0.115rem;
            //     overflow-wrap: break-word;
            //     color: rgba(199, 207, 243, 1);
            //     font-size: 0.083rem;
            //     font-family: PingFangSC-Medium;
            //     font-weight: 500;
            //     text-align: left;
            //     white-space: nowrap;
            //     line-height: 0.115rem;
            //     margin: 0.058rem 0 0 0.344rem;
            //   }
            //   .box_2 {
            //     position: relative;
            //     width: 2.146rem;
            //     height: 0.23rem;
            //     // background: url(./img/SketchPng1e61a25688087cbba40600be69e3ba852d228ed6be1802a95cb3a726fedc3e17.png)
            //     //   100% no-repeat;
            //     background-size: 100% 100%;
            //     .text_9 {
            //       width: 0.167rem;
            //       height: 0.115rem;
            //       overflow-wrap: break-word;
            //       color: rgba(255, 255, 255, 1);
            //       font-size: 0.083rem;
            //       font-weight: NaN;
            //       text-align: left;
            //       white-space: nowrap;
            //       line-height: 0.115rem;
            //       margin: 0.058rem 0 0 0.084rem;
            //     }
            //     .thumbnail_3 {
            //       width: 0.084rem;
            //       height: 0.053rem;
            //       margin: 0.089rem 0.105rem 0 1.709rem;
            //     }
            //     .image_2 {
            //       position: absolute;
            //       left: 0.021rem;
            //       top: -0.005rem;
            //       width: 2.115rem;
            //       height: 0.011rem;
            //     }
            //   }
            //   .text_10 {
            //     width: 0.417rem;
            //     height: 0.115rem;
            //     overflow-wrap: break-word;
            //     color: rgba(199, 207, 243, 1);
            //     font-size: 0.083rem;
            //     font-family: PingFangSC-Medium;
            //     font-weight: 500;
            //     text-align: left;
            //     white-space: nowrap;
            //     line-height: 0.115rem;
            //     margin: 0.058rem 0 0 0.334rem;
            //   }
            //   .box_3 {
            //     position: relative;
            //     width: 2.146rem;
            //     height: 0.23rem;
            //     // background: url(./img/SketchPng1e61a25688087cbba40600be69e3ba852d228ed6be1802a95cb3a726fedc3e17.png)
            //     //   100% no-repeat;
            //     background-size: 100% 100%;
            //     .text_11 {
            //       width: 0.167rem;
            //       height: 0.115rem;
            //       overflow-wrap: break-word;
            //       color: rgba(255, 255, 255, 1);
            //       font-size: 0.083rem;
            //       font-weight: NaN;
            //       text-align: left;
            //       white-space: nowrap;
            //       line-height: 0.115rem;
            //       margin: 0.058rem 0 0 0.084rem;
            //     }
            //     .thumbnail_4 {
            //       width: 0.084rem;
            //       height: 0.053rem;
            //       margin: 0.089rem 0.105rem 0 1.709rem;
            //     }
            //     .image_3 {
            //       position: absolute;
            //       left: 0.021rem;
            //       top: -0.005rem;
            //       width: 2.209rem;
            //       height: 0.011rem;
            //     }
            //   }
              .text_12 {
                width: 0.167rem;
                height: 0.115rem;
                overflow-wrap: break-word;
                color: rgba(199, 207, 243, 1);
                font-size: 0.083rem;
                font-family: PingFangSC-Medium;
                font-weight: 500;
                text-align: left;
                white-space: nowrap;
                line-height: 0.115rem;
                margin: 0.058rem 0 0 0.36rem;
              }
            }
            .image_4 {
              width: 9.584rem;
              height: 0.006rem;
              margin: 0.047rem 0 0 0.209rem;
            }
            .block_10 {
              width: 9.11rem;
              height: 0.131rem;
              margin: 0.089rem 0 0 0.48rem;
              .text_13 {
                width: 0.089rem;
                height: 0.115rem;
                overflow-wrap: break-word;
                color: rgba(255, 59, 78, 1);
                font-size: 0.083rem;
                text-align: left;
                white-space: nowrap;
                line-height: 0.115rem;
                margin-top: 0.011rem;
              }
              .thumbnail_5 {
                width: 0.094rem;
                height: 0.084rem;
                margin: 0.027rem 0 0 0.058rem;
              }
              .sqlname {
                width: 1.995rem;
                height: 0.131rem;
                color: rgba(255, 59, 78, 1);
                font-size: 0.093rem;
                text-align: left;
                line-height: 0.131rem;
                margin-left: 0.063rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
              .onelevel {
                width: 2.584rem;
                height: 0.115rem;
                color: rgba(255, 255, 255, 1);
                font-size: 0.083rem;
                text-align: left;
                line-height: 0.115rem;
                margin: 0.011rem 0 0 0.818rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
              .twolevel {
                width: 2.584rem;
                height: 0.115rem;
                color: rgba(255, 255, 255, 1);
                font-size: 0.083rem;
                text-align: left;
                line-height: 0.115rem;
                margin: 0.011rem 0 0 0.323rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
              .button {
                width: 0.33rem;
                height: 0.15rem;
                border: 1px solid #05e9fb;
                font-size: 0.08rem;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #05E9FB;
                line-height: 0.14rem;
                text-align: center;
                margin-left: 0.26rem;
              }
            }
          }
          .group_11 {
            position: absolute;
            left: 0;
            top: 0;
            width: 10rem;
            height: 0.422rem;
            background: url(./img/SketchPngf3e6c089446a913d785c01d8d742cf638a22b3ce5b533a1fd59d14a0e19d34fb.png)
              100% no-repeat;
            background-size: 100% 100%;
            .section_16 {
              width: 7.323rem;
              height: 0.23rem;
              margin: 0.11rem 0 0 2.678rem;
              .image-wrapper_1 {
                height: 0.209rem;
                background: url(./img/SketchPng86510cf0fd24e96f4955f168beb46db40e6198cb25a5eecb8dffc6ed9abe82b8.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-top: 0.011rem;
                width: 1.152rem;
                .image_8 {
                  width: 1.152rem;
                  height: 0.209rem;
                }
              }
              .image-wrapper_2 {
                height: 0.162rem;
                background: url(./img/SketchPngea27ddec90c965b2ab67f255069b1c0fe3abb348cd50f007ce49a7132e1db07f.png)
                  0rem 0rem no-repeat;
                background-size: 0.245rem 0.162rem;
                width: 0.24rem;
                margin: 0.058rem 0 0 2.006rem;
                .label_1 {
                  width: 0.24rem;
                  height: 0.162rem;
                }
              }
              .text_50 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 0.589rem;
                height: 0.12rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.104rem;
                font-family: Galvji;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 0.12rem;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0.073rem 0 0 0.313rem;
              }
              .text_51 {
                background-image: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0,
                  rgba(135, 145, 206, 1) 100%
                );
                width: 0.282rem;
                height: 0.131rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.093rem;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 0.131rem;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0.068rem 0 0 0.125rem;
              }
              .text_52 {
                width: 0.698rem;
                height: 0.198rem;
                overflow-wrap: break-word;
                color: rgba(255, 255, 255, 1);
                font-size: 0.166rem;
                font-family: Galvji;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 0.198rem;
                margin: 0.011rem 0 0 0.125rem;
              }
              .block_3 {
                width: 1.396rem;
                height: 0.23rem;
                background: url(./img/SketchPng3a84a939c2a495ae6c7f233d84f2bcc808634b07f771352fc921d82fe470970f.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin-left: 0.402rem;
                .label_2 {
                  width: 0.131rem;
                  height: 0.115rem;
                  margin: 0.063rem 0 0 0.23rem;
                }
                .text_53 {
                  background-image: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(135, 145, 206, 1) 100%
                  );
                  width: 0.188rem;
                  height: 0.131rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.093rem;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.131rem;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  margin: 0.053rem 0 0 0.079rem;
                }
                .label_3 {
                  width: 0.125rem;
                  height: 0.125rem;
                  margin: 0.058rem 0 0 0.167rem;
                }
                .text_54 {
                  background-image: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 1) 0,
                    rgba(135, 145, 206, 1) 100%
                  );
                  width: 0.188rem;
                  height: 0.131rem;
                  overflow-wrap: break-word;
                  color: rgba(255, 255, 255, 1);
                  font-size: 0.093rem;
                  font-family: PingFangSC-Semibold;
                  font-weight: 600;
                  text-align: left;
                  white-space: nowrap;
                  line-height: 0.131rem;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  margin: 0.053rem 0.209rem 0 0.084rem;
                }
              }
            }
            .block_4 {
              background-color: rgba(138, 147, 201, 0.3);
              border-radius: 2px;
              width: 0.193rem;
              height: 0.016rem;
              margin: 0.047rem 0 0 9.599rem;
            }
            .image_9 {
              width: 10rem;
              height: 0.006rem;
              margin-top: 0.016rem;
            }
            .block_5 {
              height: 0.099rem;
              background: url(./img/SketchPng929eceb0aafc9caddd2e0319762a1fb76d80a1cb43127520b5785b08fc563d02.png)
                0rem -0.006rem no-repeat;
              background-size: 9.391rem 0.115rem;
              width: 9.391rem;
              position: absolute;
              left: 0;
              top: 0.37rem;
              .block_6 {
                position: relative;
                width: 3.667rem;
                height: 0.047rem;
                background: url(./img/SketchPng08361d0bdf6a404878b4fabfefe941a8b8c2e1d9e3bc4c874992137b6853d5a4.png)
                  100% no-repeat;
                background-size: 100% 100%;
                margin: 0.027rem 0 0 3.355rem;
                .section_8 {
                  background-color: rgba(138, 147, 201, 0.4);
                  border-radius: 2px;
                  position: absolute;
                  left: 3.032rem;
                  top: -0.01rem;
                  width: 0.105rem;
                  height: 0.016rem;
                }
                .section_9 {
                  background-color: rgba(138, 147, 201, 0.2);
                  border-radius: 2px;
                  position: absolute;
                  left: 3.188rem;
                  top: -0.01rem;
                  width: 0.105rem;
                  height: 0.016rem;
                }
                .section_10 {
                  background-color: rgba(138, 147, 201, 0.1);
                  border-radius: 2px;
                  position: absolute;
                  left: 3.344rem;
                  top: -0.01rem;
                  width: 0.105rem;
                  height: 0.016rem;
                }
                .section_11 {
                  background-color: rgba(138, 147, 201, 0.3);
                  border-radius: 2px;
                  position: absolute;
                  left: 0.558rem;
                  top: -0.01rem;
                  width: 0.193rem;
                  height: 0.016rem;
                }
              }
            }
            .block_7 {
              position: absolute;
              left: -0.468rem;
              top: 0.042rem;
              width: 2.735rem;
              height: 0.375rem;
              background: url(./img/SketchPng757277eb1f102d1eca2cb4c533fbd9d4f0200dd8db127f071913f3f3b87587c7.png)
                100% no-repeat;
              background-size: 100% 100%;
              .group_15 {
                width: 1.646rem;
                height: 0.313rem;
                margin: 0.053rem 0 0 0.719rem;
                .block_11 {
                  width: 1.646rem;
                  height: 0.23rem;
                  .label_4 {
                    width: 0.188rem;
                    height: 0.219rem;
                  }
                  .text_55 {
                    background-image: linear-gradient(
                      180deg,
                      rgba(255, 255, 255, 1) 0,
                      rgba(199, 207, 243, 1) 100%
                    );
                    width: 0.875rem;
                    height: 0.209rem;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 0.145rem;
                    font-family: PingFangSC-Semibold;
                    font-weight: 600;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.209rem;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin: 0.011rem 0 0 0.12rem;
                  }
                  .text_56 {
                    width: 0.36rem;
                    height: 0.209rem;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 1);
                    font-size: 0.145rem;
                    font-family: PingFangSC-Medium;
                    font-weight: 500;
                    text-align: left;
                    white-space: nowrap;
                    line-height: 0.209rem;
                    margin: 0.021rem 0 0 0.105rem;
                  }
                }
                .section_13 {
                  height: 0.089rem;
                  background: url(./img/SketchPng8b6b84ec94291fc737ce39521602d4bf8a3dba38bead3877fa122c9c42b73715.png)
                    100% no-repeat;
                  background-size: 100% 100%;
                  width: 1.375rem;
                  margin: -0.006rem 0 0 0.172rem;
                  .box_5 {
                    height: 0.058rem;
                    background: url(./img/SketchPng7ae00392edcaf4c964bbff6b7e8f7e6ac17e46710f558f3adda5d3e5a41262c5.png) -0.084rem -0.084rem
                      no-repeat;
                    background-size: 0.261rem 0.224rem;
                    width: 0.094rem;
                    margin: 0.027rem 0 0 0.636rem;
                    .group_13 {
                      width: 0.053rem;
                      height: 0.032rem;
                      background: url(./img/SketchPngf5f0404a5fe7d06df962194bd9b0540c661b95be905e97c8e97f1e077ce918bb.png) -0.032rem -0.037rem
                        no-repeat;
                      background-size: 0.115rem 0.105rem;
                      margin: 0.006rem 0 0 0.021rem;
                    }
                  }
                }
              }
              .text_57 {
                width: 0.089rem;
                height: 0.209rem;
                overflow-wrap: break-word;
                color: rgba(255, 59, 78, 1);
                font-size: 0.145rem;
                font-family: PingFangSC-Medium;
                font-weight: 500;
                text-align: left;
                white-space: nowrap;
                line-height: 0.209rem;
                margin: 0.073rem 0.24rem 0 0.042rem;
              }
            }
          }
        }
      }
    }
  }
}